Repository runelite/plugin-hub, pull requests merged in 2020-06, with the labels that each got.

#334 WithesBMM: updated readme and fixed some issues
  plugins/withes-bronzemanmode
Labels: plugin change, ready to merge

#333 virtual-level-ups: Add max total fireworks
  plugins/virtual-level-ups
Labels: plugin change, ready to merge

#335 Updated bank tag generation to V1.1
  plugins/bank-tag-generation
Labels: plugin change

#336 time-to-level: add plugin
  plugins/time-to-level
Labels: plugin change

#341 Create xp-grapher
  plugins/xp-grapher
Labels: plugin change

#337 Withes bmm: added unique icons and changed credits
  plugins/withes-bronzemanmode
Labels: plugin change

#317 Add Crab Solver plugin
  plugins/crab-solver
Labels: plugin change, ready to merge

#343 Update Crab Solver (v1.1)
  plugins/crab-solver
Labels: plugin change

#344 fullscreen: add warning
  plugins/fullscreen
Labels: plugin change

#346 nmz utiltiies: Add storage barrel menu swap for left click 'Take'
  plugins/zom-nmz-util
Labels: plugin change

#345 update to 1.1
  plugins/equipment-inspector
Labels: plugin change

#347 time-to-level: fix NPE in config (v1.0.1)
  plugins/time-to-level
Labels: plugin change

#348 update 1.2
  plugins/equipment-inspector
Labels: plugin change

#350 Added alt-drag functionality.
  plugins/xp-grapher
Labels: plugin change

#351 Update Loot Logger (v2.1.1)
  plugins/loot-logger
Labels: plugin change

#352 Add Door Kicker
  plugins/door-kicker
Labels: plugin change

#354 Update Crab Solver (v1.2)
  plugins/crab-solver
Labels: plugin change

#353 Create wiki-search-shortcuts
  plugins/wiki-search-shortcuts
Labels: plugin change

#338 Updated bank-tag-generation PluginDependency
  plugins/bank-tag-generation
Labels: plugin change, ready to merge

#356 bitwarden: update warning and don't clear password
  plugins/bitwarden-plugin
Labels: plugin change

#355 Edit tray-notifications and chatbox-opacity plugins
  plugins/chatbox-opacity
  plugins/tray-notifications
Labels: plugin change

#357 Add Bank Screenshot plugin
  plugins/bank-screenshot
Labels: plugin change

#358 tray notifications: fix bottom corner notifications
  plugins/tray-notifications
Labels: plugin change

#359 bitwarden: add warning
  plugins/bitwarden-plugin
Labels: plugin change

#361 Create hide widgets
  plugins/hide-widgets
Labels: plugin change

#363 Update rune.cafe plugin
  plugins/rune-cafe-cashflow
Labels: plugin change

#364 Update xp-grapher
  plugins/xp-grapher
Labels: plugin change

#365 Update xp-grapher
  plugins/xp-grapher
Labels: plugin change

#369 SuppliesTracker: Remove itemcomp from swing thread
  plugins/supplies-tracker
Labels: plugin change

#366 Update Flipping Utilities (v1.3.2)
  plugins/flipping-utilities
Labels: plugin change

#368 Add clan chat logger plugin
  plugins/clan-chat-logger
Labels: plugin change

#367 Create PM Colors
  plugins/pm-colors
Labels: plugin change

#370 Update probability-calculator
  plugins/probability-calculator
Labels: plugin change

#373 chatbox-opacity plugin: add button background opacity config option
  plugins/chatbox-opacity
Labels: plugin change

#375 Update Flipping Utilities (v1.3.3)
  plugins/flipping-utilities
Labels: plugin change

#376 Create Analogue Timestamps
  plugins/analogue-timestamps
Labels: plugin change

#379 Resource Packs v1.0.5
  plugins/resource-packs
Labels: plugin change

#374 Add weight calculator plugin
  plugins/weight-calculator
Labels: plugin change

#371 Flipper Plugin
  plugins/flipper
Labels: plugin change

#378 Add Notification Messages plugin
  plugins/notification-messages
Labels: plugin change

#380 Analogue Timestamps - 1.0.1 - Load icons properly
  plugins/analogue-timestamps
Labels: plugin change

#382 Update Weight Calculator (v1.1)
  plugins/weight-calculator
Labels: plugin change

#383 Flipper: Forgot to add icon.png
  plugins/flipper
Labels: plugin change

#381 Add Pet Info Plugin
  plugins/pet-info
Labels: plugin change

#384 The 8ball plugin
  plugins/8ball-plugin
Labels: plugin change

#389 Update weight-calculator to v1.2
  plugins/weight-calculator
Labels: plugin change

#390 Update wellness-notifications
  plugins/wellness-notifications
Labels: plugin change

#386 Update notification-messages
  plugins/notification-messages
Labels: plugin change

#388 Update rune-cafe-cashflow
  plugins/rune-cafe-cashflow
Labels: plugin change

#342 package: use a single curl for downloading existing manifest chunks
  build_manifest.sh
  build_plugin.sh
Labels: enhancement

#393 8ball update (V 1.1)
  plugins/8ball-plugin
Labels: plugin change, ready to merge

#394 Update advanced notifications to 1.1.1
  plugins/advanced-notifications
Labels: plugin change, ready to merge

#405 Update weight-calculator to v1.2.1
  plugins/weight-calculator
Labels: plugin change

#401 Updated the another-bronzeman-mode plugin to the 1.6.20 API.
  plugins/another-bronzeman-mode
Labels: plugin change, ready to merge

#400 world-hider: fix clanchat rename
  plugins/world-hider
Labels: plugin change

#406 Update crowdsourcing with dialogue/music location/teleport/woodcutting
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#402 Update chat logger v1.1
  plugins/chat-logger
  plugins/clan-chat-logger
Labels: plugin change

#407 Update Pet Info plugin
  plugins/pet-info
Labels: plugin change

#403 add slayer-wiki plugin
  plugins/slayer-wiki
Labels: plugin change

#404 add RuneWatch plugin
  plugins/runewatch
Labels: plugin change

#408 runewatch: update to v1.2.0
  plugins/runewatch
Labels: plugin change

#410 8ball's 1.2 Update
  plugins/8ball-plugin
Labels: plugin change

#411 mse: various fixes and swaps
  plugins/menu-swapper-extended
Labels: plugin change, ready to merge

#409 update slayer-wiki
  plugins/slayer-wiki
Labels: plugin change

#412 Update Pet Info plugin
  plugins/pet-info
Labels: plugin change

#414 Update Notification Messages v1.1
  plugins/notification-messages
Labels: plugin change

#415 Add bank-tab-names
  plugins/bank-tab-names
Labels: plugin change

#413 WDR-banlist
  plugins/wdr-banlist
Labels: plugin change

#416 Update osrs-wiki-crowdsourcing
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#418 crowdsourcing: change movement/music to use W>L>W
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#419 resource-packs: update to 1.1
  plugins/resource-packs
Labels: plugin change

#424 Add death indicator plugin
  plugins/deathindicator
Labels: plugin change

#425 Add zoom plugin
  plugins/zoom
Labels: plugin change

#431 Update Banked Experience (v1.6)
  plugins/banked-experience
Labels: plugin change

#429 Update Pet-Info
  plugins/pet-info
Labels: plugin change

#427 Create cballxprate
  plugins/cballxprate
Labels: plugin change

#428 Update xp-grapher
  plugins/xp-grapher
Labels: plugin change
