Repository runelite/plugin-hub, pull requests merged in 2020-12, with the labels that each got.

#822 Update Flipping Utilities
  plugins/flipping-utilities
Labels: plugin change

#829 Updated quest-helper to v1.2.0
  plugins/quest-helper
Labels: plugin change

#827 Bump Dorgesh-Kaan lights plugin to v1.1
  plugins/dorgesh-kaan-lights
Labels: plugin change

#828 update trailblazer-clues to v1.4.3
  plugins/trailblazer-clues
Labels: plugin change

#815 Update/loottable 1.0.1
  plugins/loot-table
Labels: plugin change

#826 Create kph-tracker
  plugins/kph-tracker
Labels: plugin change

#830 Update Damage Counter to v1.4.3
  plugins/damage-counter
Labels: plugin change

#831 Update menu-swapper-extended
  plugins/menu-swapper-extended
Labels: plugin change

#824 Add easyparty plugin
  plugins/easyparty
Labels: plugin change

#833 Update resource-packs to 1.3.0
  plugins/resource-packs
Labels: plugin change

#832 Update Flipping Utilities
  plugins/flipping-utilities
Labels: plugin change

#834 Update http-server
  plugins/http-server
Labels: plugin change

#837 Added icon and discord support
  plugins/kph-tracker
Labels: plugin change

#839 Update Examine Tooltip to 1.4.1
  plugins/examine-tooltip
Labels: plugin change

#842 update trailblazer-clues to v1.4.4
  plugins/trailblazer-clues
Labels: plugin change

#843 Bugfix/loot table spaces
  plugins/loot-table
Labels: plugin change

#845 Updated quest-helper to v1.2.1
  plugins/quest-helper
Labels: plugin change

#835 Add Custom Settings Easter Eggs plugin
  plugins/custom-settings-easter-eggs
Labels: plugin change

#844 Emote Clue Items v1.0.3
  plugins/emote-clue-items
Labels: plugin change

#846 Emote Clue Items v1.0.4: set enabledByDefault to true.
  plugins/emote-clue-items
Labels: plugin change

#841 Add shared implings plugin
  plugins/shared-implings
Labels: plugin change

#847 Fix typo in author name for Custom Settings Easter Eggs
  plugins/custom-settings-easter-eggs
Labels: plugin change

#849 Update advanced notifications to 1.1.2
  plugins/advanced-notifications
Labels: plugin change

#852 Update essence-running
  plugins/essence-running
Labels: plugin change

#838 Create custom-item-hovers
  plugins/custom-item-hovers
Labels: plugin change

#848 Update SharedImplings to 0.2
  plugins/shared-implings
Labels: plugin change

#854 Update Smart Metronome and Annoyance Mute
  plugins/annoyance-mute
  plugins/smart-metronome
Labels: plugin change

#851 Update Damage Counter to v1.5.0
  plugins/damage-counter
Labels: plugin change

#853 Sharedimplingsv03
  plugins/shared-implings
Labels: plugin change

#858 update trailblazer-clues to v1.4.5
  plugins/trailblazer-clues
Labels: plugin change

#859 Update annoyance-mute
  plugins/annoyance-mute
Labels: plugin change

#857 Emote clue items v1.1.0
  plugins/emote-clue-items
Labels: plugin change

#855 Added Equipment Restrictor
  plugins/equipment-restrictor
Labels: plugin change

#862 Update discord-loot-logger
  plugins/discord-loot-logger
Labels: plugin change

#867 fixedmodehidechat: Remove getFixedViewport
  plugins/fixed-mode-hide-chat
Labels: bug, plugin change

#856 Create ban-list
  plugins/ban-list
Labels: plugin change

#863 Add rc pouch usage
  plugins/rc-pouch-usage
Labels: plugin change

#864 Cox Clipboard Plugin
  plugins/cox-clipboard
Labels: plugin change

#865 Emote Clue Items v1.2.0 - Optimised Widget Classifier
  plugins/emote-clue-items
Labels: plugin change

#866 update trailblazer-clues to v1.4.6
  plugins/trailblazer-clues
Labels: plugin change, ready to merge

#868 Update kph-tracker
  plugins/kph-tracker
Labels: plugin change

#870 Remove/plugin
  plugins/shared-implings
Labels: plugin change

#872 update specimen-cleaning
  plugins/specimen-cleaning
Labels: plugin change

#873 Added CoX Special Loot Hider plugin links
  plugins/cox-special-loot-hider
Labels: plugin change

#874 Add Profit Calculator
  plugins/profit-calculator
Labels: plugin change

#875 Update kph-tracker
  plugins/kph-tracker
Labels: plugin change

#878 updated Equipment Restrictor to v1.0.1
  plugins/equipment-restrictor
Labels: plugin change

#876 Update profit-calculator support link to match git repo address
  plugins/profit-calculator
Labels: plugin change

#877 Flipping-Utilities
  plugins/flipping-utilities
Labels: plugin change

#879 updated ban-list
  plugins/ban-list
Labels: plugin change

#882 Update decimal-prices
  plugins/decimal-prices
Labels: plugin change

#884 update Inventory Setups to version 1.9
  plugins/inventory-setups
Labels: plugin change

#883 Create do-not-kick
  plugins/do-not-kick
Labels: plugin change

#886 Update Inventory Setups to 1.9.1
  plugins/inventory-setups
Labels: plugin change

#887 Update Inventory-value-overlay to latest commit
  plugins/inventory-value-overlay
Labels: plugin change

#890 Trevor plugins: move away from WidgetHiddenChanged
  plugins/raid-points-overlay
  plugins/tob-healthbars
Labels: plugin change

#891 Update Kph tracker
  plugins/kph-tracker
Labels: plugin change

#892 Update menu-swapper-extended to v1.6
  plugins/menu-swapper-extended
Labels: plugin change

#889 Add combo-runes-only v1.0
  plugins/combo-runes-only
Labels: plugin change

#893 updated Equipment Restrictor
  plugins/equipment-restrictor
Labels: plugin change

#894 Bump profit-calculator to 1.1
  plugins/profit-calculator
Labels: plugin change

#895 rsn-hider: v1.2.3.4
  plugins/rsn-hider
Labels: plugin change

#897 Update MLM Upper Level Markers (1.2)
  plugins/mlm-upper-level-markers
Labels: plugin change

#902 update Equipment Restrictor to v1.0.2
  plugins/equipment-restrictor
Labels: plugin change

#896 Add "Unresponsive Cursor" Repository
  plugins/unresponsive-cursor
Labels: plugin change

#899 Visualmetronome
  plugins/visual-metronome
Labels: plugin change

#903 add better-teleport-menu
  plugins/better-teleport-menu
Labels: plugin change
