Repository runelite/plugin-hub, pull requests merged in 2020-05, with the labels that each got.

#256 tob damage plugin: refactor logout and reset handling
  plugins/tob-damage-counter
Labels: plugin change, ready to merge

#255 Update chat-transcripts
  plugins/chat-transcripts
Labels: plugin change

#254 Add Calculator plugin
  plugins/calculator
Labels: plugin change, ready to merge

#257 fixed-mode-hide-chat: Resize ToB darkness overlay when needed
  plugins/fixed-mode-hide-chat
Labels: plugin change

#258 PvpPerformanceTracker: damage dealt, magic hit luck, fight log
  plugins/pvp-performance-tracker
Labels: plugin change

#259 Update bank value tracker
  plugins/bank-value-tracker
Labels: plugin change

#261 Create probability-calculator
  plugins/probability-calculator
Labels: plugin change

#262 Update chat-transcripts
  plugins/chat-transcripts
Labels: plugin change

#263 Update probability-calculator
  plugins/probability-calculator
Labels: plugin change

#265 Update: Calculator (v1.0.1)
  plugins/calculator
Labels: plugin change

#266 Update: player-tile (v1.1)
  plugins/player-tile
Labels: plugin change

#268 lowercase-username: fixx dmm tags
  plugins/lowercase-usernames
Labels: plugin change

#267 Npc Spawns Plugin
  plugins/npc-spawns
Labels: plugin change

#269 world-hider: run more often and add mass hide
  plugins/world-hider
Labels: plugin change

#272 Remove Superior Size
  plugins/superior-size
Labels: plugin change

#273 Move plugins to central repo and add licenses
  plugins/emoji-madness
  plugins/fullscreen
  plugins/inventory-scrabble
  plugins/left-click-only
  plugins/lowercase-usernames
  plugins/world-hider
Labels: plugin change

#270 push-notifications: add plugin
  plugins/push-notifications
Labels: plugin change

#274 Update: Calculator (v1.1.0)
  plugins/calculator
Labels: plugin change

#275 Update Flipping Utilities (v1.3)
  plugins/flipping-utilities
Labels: plugin change

#271 Update Probability Calculator plugin
  plugins/probability-calculator
Labels: plugin change, ready to merge

#264 add bitwarden plugin
  plugins/bitwarden-plugin
Labels: plugin change

#260 Add influxdb stats plugin
  plugins/influxdb-stats
Labels: plugin change

#276 Add the volcanic mine stability tracker plugin
  plugins/vm-stability-tracker
Labels: plugin change, ready to merge

#277 rsn-hider: add plugin
  plugins/rsn-hider
Labels: plugin change

#278 Pvp performance tracker: Fail gracefully with corrupted fight history data
  plugins/pvp-performance-tracker
Labels: plugin change, ready to merge

#280 rsn-hider: v1.2.3
  plugins/rsn-hider
Labels: plugin change

#281 Create theatre-of-blood-stats
  plugins/theatre-of-blood-stats
Labels: plugin change

#288 Remove player-tile
  plugins/player-tile
Labels: plugin change

#289 Revert "Remove player-tile"
  plugins/player-tile
Labels: plugin change

#287 Update theatre-of-blood-stats
  plugins/theatre-of-blood-stats
Labels: plugin change

#291 Emojiscape - 1.3.4 - Load emojis on client thread
  plugins/emojiscape
Labels: plugin change

#284 Update chat-transcripts
  plugins/chat-transcripts
Labels: plugin change

#283 add gauntlet plugin
  plugins/gauntlet
Labels: plugin change

#292 Updated chompy-hunter to fix crash.
  plugins/chompy-hunter
Labels: plugin change

#293 Add Group Iron Man Plugin
  plugins/group-ironman
Labels: plugin change, ready to merge

#294 Pvp Performance Tracker: replace config storage w/ local file
  plugins/pvp-performance-tracker
Labels: plugin change

#295 Fix missing dependency verification for the bank-value-tracker plugin
  plugins/bank-value-tracker
Labels: plugin change

#297 Add data-export plugin to the plugin-hub
  plugins/data-export
Labels: plugin change

#298 inventory-scrabble: worn items and missing letters message
  plugins/inventory-scrabble
Labels: plugin change

#290 Revert "Revert "Remove player-tile""
  plugins/player-tile
Labels: plugin change, ready to merge

#299 Update chat-transcripts
  plugins/chat-transcripts
Labels: plugin change

#159 package: Add warning field to plugin manifest
  build_manifest.sh
  build_plugin.sh
  package.gradle
Labels: enhancement

#303 fixedmodehidechat: Add more triggers for chat unhiding
  plugins/fixed-mode-hide-chat
Labels: plugin change

#300 Update: Group Iron Man (v1.1.1)
  plugins/group-ironman
Labels: plugin change

#301 fake-iron-icon: v1.0.2
  plugins/fake-iron-icon
Labels: plugin change

#302 Update Skills Progress | Add virtual level and XP goal options
  plugins/skills-tab-progress-bars
Labels: plugin change

#305 Update influxdb-stats
  plugins/influxdb-stats
Labels: plugin change

#307 Update theatre-of-blood-stats
  plugins/theatre-of-blood-stats
Labels: plugin change

#309 bank-heatmap: update widget id
  plugins/bank-heatmap
Labels: plugin change

#311 mse: fix event names
  plugins/menu-swapper-extended
Labels: plugin change

#310 inventory-scrabble: add hard mode
  plugins/inventory-scrabble
Labels: plugin change

#306 Add resource-packs plugin
  plugins/resource-packs
Labels: plugin change, ready to merge

#312 clanchatcountryflags: add ability to switch world with a flag in friends list
  plugins/clan-chat-country-flags
Labels: plugin change

#313 Inventory-Setups-1.6
  plugins/inventory-setups
Labels: plugin change

#316 Update influxdb-stats
  plugins/influxdb-stats
Labels: plugin change

#315 bats-locator: add solution set
  plugins/bats-locator
Labels: plugin change

#314 Update Flipping Utilities (v1.3.1)
  plugins/flipping-utilities
Labels: plugin change

#318 Added wellness-notifications info
  plugins/wellness-notifications
Labels: plugin change

#320 Updated chompy hunter to include config and notifications.
  plugins/chompy-hunter
Labels: plugin change

#321 zulrah-helper: update to v1.2.0
  plugins/zulrah-helper
Labels: plugin change

#324 zulrah-helper: fix phase reset in instance regions
  plugins/zulrah-helper
Labels: plugin change, ready to merge

#325 Resource packs: release version 1.0.2
  plugins/resource-packs
Labels: plugin change

#323 heatmap: fix widget ids and update description
  plugins/bank-heatmap
Labels: plugin change

#326 mse: fix some swaps and add non-teleport swaps
  plugins/menu-swapper-extended
Labels: plugin change

#319 Add Magic Secateurs plugin
  plugins/magic-secateurs
Labels: plugin change

#327 Update influxdb-stats
  plugins/influxdb-stats
Labels: plugin change

#331 Fix grammar on NMZ Utilities
  plugins/zom-nmz-util
Labels: plugin change

#329 Magic Secateurs - Fix overlay showing when secateurs equipped
  plugins/magic-secateurs
Labels: plugin change

#330 resource-packs: add multiple resource packs and more textures
  plugins/resource-packs
Labels: plugin change

#332 Adds more textures that can be used
  plugins/resource-packs
Labels: plugin change

#322 Added Wiki Bank Tag Integration Plugin
  plugins/bank-tag-generation
Labels: plugin change
