Repository runelite/plugin-hub, pull requests merged in 2020-10, with the labels that each got.

#640 Update annoyance-mute to v1.2
  plugins/annoyance-mute
Labels: plugin change

#647 Update pet-info
  plugins/pet-info
Labels: plugin change

#646 Update tob-light-up to v1.1
  plugins/tob-light-up
Labels: plugin change

#642 update raid data tracker to v1.4.1
  plugins/raid-data-tracker
Labels: plugin change

#643 Update contextual-cursor to v1.2
  plugins/contextual-cursor
Labels: plugin change

#639 Create ba-minigame
  plugins/ba-minigame
Labels: plugin change

#641 Add crate-limiter
  plugins/crate-limiter
Labels: plugin change

#648 Update fight-cave-waves and virtual-level-ups
  plugins/fight-cave-waves
  plugins/virtual-level-ups
Labels: plugin change, ready to merge

#649 Update fishing-notifier and spec-regen-timer
  plugins/fishing-notifier
  plugins/spec-regen-timer
Labels: plugin change, ready to merge

#651 dance party: add plugin
  plugins/dance-party
Labels: plugin change

#650 update flipping-utilities
  plugins/flipping-utilities
Labels: plugin change, ready to merge

#652 Update contextual-cursor to v1.2.1
  plugins/contextual-cursor
Labels: plugin change

#653 Update dance-party
  plugins/dance-party
Labels: plugin change

#654 bank-diff: persist mode on client restart
  plugins/bank-diff
Labels: plugin change

#627 Add Tileman Mode Plugin
  plugins/tilemanmode
Labels: plugin change

#655 Update to v1.1
  plugins/ba-minigame
Labels: plugin change

#656 Update quest-helper to v1.0.1
  plugins/quest-helper
Labels: plugin change

#658 bank-screenshot: add frame screenshot
  plugins/bank-screenshot
Labels: plugin change, ready to merge

#659 update profit-tracker plugin
  plugins/profit-tracker
Labels: plugin change, ready to merge

#660 SuppliesTracker: Remove info panel
  plugins/supplies-tracker
Labels: plugin change

#633 Disable crowdsourcing plugin
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#661 SuppliesTracker: Add switch tracking button
  plugins/supplies-tracker
Labels: plugin change

#663 Update notification-messages to v1.1.2
  plugins/notification-messages
Labels: plugin change

#665 Add Stealing Artefacts plugin
  plugins/stealing-artefacts
Labels: plugin change

#667 Fix issue with npc highlighing in Stealing Artefacts
  plugins/stealing-artefacts
Labels: plugin change, ready to merge

#672 Make pm-colors plugin compatible with Java 11
  plugins/pm-colors
Labels: plugin change

#668 Update collection-log v1.2.2
  plugins/collection-log
Labels: plugin change, ready to merge

#673 Update quest-helper plugin
  plugins/quest-helper
Labels: plugin change, ready to merge

#674 Fix npc overlay for real this time in stealing artefacts
  plugins/stealing-artefacts
Labels: plugin change

#675 Tick counter
  plugins/tick-counter
Labels: plugin change, ready to merge

#676 Update resource-packs to 1.2.1
  plugins/resource-packs
Labels: plugin change, ready to merge

#677 Runelite custom rsn hider
  plugins/custom-rsn-hider
Labels: plugin change

#678 tickcounter: Make Zamorakian Spear ticks optional with default being on (useful for some clans at corp)
  plugins/tick-counter
Labels: plugin change, ready to merge

#679 tray notification plugin: add timeout delay option for notifications
  plugins/tray-notifications
Labels: plugin change, ready to merge

#680 Fix stealing artefacts highlighting for the umpteenth time
  plugins/stealing-artefacts
Labels: plugin change, ready to merge

#683 Stealing Artefacts: Artefacts to level
  plugins/stealing-artefacts
Labels: plugin change

#681 Add manifest for Dorgesh-Kaan lights plugin
  plugins/dorgesh-kaan-lights
Labels: plugin change

#691 Update optimal-quest-guide
  plugins/optimal-quest-guide
Labels: plugin change

#689 Update quest-helper plugin
  plugins/quest-helper
Labels: plugin change

#664 Create discord-rare-drop-notificater
  plugins/discord-rare-drop-notificater
Labels: plugin change

#686 Add Play Time plugin file to plugin-hub
  plugins/play-time
Labels: plugin change

#687 Add corp-ffa07 plugin
  plugins/corp-ffa07
Labels: plugin change

#688 Addition of RaidShamer plugin.
  plugins/raidshamer
Labels: plugin change

#690 Addition of osrs-streamers to plugin hub
  plugins/osrs-streamers
Labels: plugin change

#694 Update collection-log v1.2.3
  plugins/collection-log
Labels: plugin change, ready to merge

#693 OSRS Streamers version update
  plugins/osrs-streamers
Labels: plugin change

#695 Update discord-rare-drop-notificater 1.1
  plugins/discord-rare-drop-notificater
Labels: plugin change

#696 Update corp-ffa07
  plugins/corp-ffa07
Labels: plugin change, ready to merge

#685 Add Bank Memory plugin
  plugins/bank-memory
Labels: plugin change

#699 Update osrs-streamers
  plugins/osrs-streamers
Labels: plugin change

#700 Update osrs-streamers
  plugins/osrs-streamers
Labels: plugin change

#702 Update to InventorySetups 1.8
  plugins/inventory-setups
Labels: plugin change, ready to merge

#703 update dance-party and push-notifs
  plugins/dance-party
  plugins/push-notifications
Labels: plugin change

#697 Update virtual-level-ups to v1.1.2
  plugins/virtual-level-ups
Labels: plugin change

#701 package: rewrite build scripts
  .github/workflows/build.yml
  .travis.yml
  build_manifest.sh
  build_plugin.sh
  package.gradle
  package/.gitignore
  package/build.gradle
  package/gradle.properties
  package/gradle/verification-metadata.xml
  package/gradle/wrapper/gradle-wrapper.jar
  package/gradle/wrapper/gradle-wrapper.properties
  package/gradlew
  package/gradlew.bat
  package/initLib/build.gradle
  package/package/build.gradle
  package/package/src/main/java/net/runelite/pluginhub/packager/DisabledPluginException.java
  package/package/src/main/java/net/runelite/pluginhub/packager/ExternalPluginManifest.java
  package/package/src/main/java/net/runelite/pluginhub/packager/Packager.java
  package/package/src/main/java/net/runelite/pluginhub/packager/Plugin.java
  package/package/src/main/java/net/runelite/pluginhub/packager/PluginBuildException.java
  package/package/src/main/java/net/runelite/pluginhub/packager/UploadConfiguration.java
  package/package/src/main/java/net/runelite/pluginhub/packager/Util.java
  package/package/src/test/java/net/runelite/pluginhub/packager/PluginTest.java
  package/package/src/test/java/net/runelite/pluginhub/packager/UploadConfigurationTest.java
  package/settings.gradle
  package/target_init.gradle
  package/travis.sh
  repo_config.sh
  travis.sh
Labels: enhancement

#705 Add damage counter plugin
  plugins/damage-counter
Labels: plugin change

#708 Update InventorySetups to 1.8.1
  plugins/inventory-setups
Labels: plugin change, ready to merge

#709 [region-locker] Update region-locker to 1.6.29
  plugins/region-locker
Labels: plugin change

#710 Update OSRS Streamers
  plugins/osrs-streamers
Labels: plugin change

#707 Add Shortest Path plugin
  plugins/shortest-path
Labels: plugin change

#711 Update Bank Memory plugin to v1.1
  plugins/bank-memory
Labels: plugin change

#712 Update virtual-level-ups to v1.1.3
  plugins/virtual-level-ups
Labels: plugin change

#714 update resource-packs to 1.2.1.1
  plugins/resource-packs
Labels: plugin change

#716 Re-add shortest-path with fixed build.gradle
  plugins/shortest-path
Labels: plugin change

#713 Update quest-helper to v1.1.2
  plugins/quest-helper
Labels: plugin change

#684 Add Twitch Live Loadout Plugin
  plugins/twitch-live-loadout
Labels: plugin change

#717 Update Bank Memory plugin to v1.1.1 for bugfix
  plugins/bank-memory
Labels: plugin change

#715 Update Banked Experience (v1.6.3)
  plugins/banked-experience
Labels: plugin change

#718 Update shortest-path
  plugins/shortest-path
Labels: plugin change

#719 region-locker: Fix areas not unlocking
  plugins/region-locker
Labels: plugin change

#720 Update Twitch Live Loadout to 0.0.3
  plugins/twitch-live-loadout
Labels: plugin change

#724 add last-recall plugin
  plugins/last-recall
Labels: plugin change

#723 Add ToB Drop Chance plugin
  plugins/tob-drop-chance
Labels: plugin change

#721 Update influxdb-stats for leagues
  plugins/influxdb-stats
Labels: plugin change

#726 Update influxdb-stats
  plugins/influxdb-stats
Labels: plugin change

#728 last-recall: edit teleport message
  plugins/last-recall
Labels: plugin change

#725 package: enforce build script line length limits
  .github/workflows/build.yml
  package/package/src/main/java/net/runelite/pluginhub/packager/Plugin.java
Labels: enhancement
