Repository runelite/plugin-hub, pull requests merged in 2020-11, with the labels that each got.

#732 SuppliesTracker: Ibans blast fix
  plugins/supplies-tracker
Labels: plugin change

#729 Update quest-helper to v1.1.3
  plugins/quest-helper
Labels: plugin change

#734 Update Inventory Setups to 1.8.2
  plugins/inventory-setups
Labels: plugin change

#731 Merge new version
  plugins/runecrafting-tracker
Labels: plugin change

#730 Update Twitch Live Loadout to 0.0.4
  plugins/twitch-live-loadout
Labels: plugin change

#737 Update play-time to v1.0.1
  plugins/play-time
Labels: plugin change

#736 add guns-gains
  plugins/guns-gains
Labels: plugin change

#741 Add osleague plugin
  plugins/osleague
Labels: plugin change, ready to merge

#740 package: include update times and require licenses
  package/package/src/main/java/net/runelite/pluginhub/packager/Plugin.java
  package/package/src/test/java/net/runelite/pluginhub/packager/PluginTest.java
  package/upload/src/main/java/net/runelite/pluginhub/uploader/ExternalPluginManifest.java
Labels: enhancement

#744 Update osleague: Fix task mapping after 11/5 update; add filter warnings
  plugins/osleague
Labels: plugin change

#743 Update damage-counter
  plugins/damage-counter
Labels: plugin change

#735 Refactor Tob Drop Chance plugin
  plugins/tob-drop-chance
Labels: plugin change, ready to merge

#733 Spawn Marker plugin
  plugins/spawn-marker
Labels: plugin change

#739 Fire Beats: A plugin that plays remixes in game.
  plugins/fire-beats
Labels: plugin change

#745 Add Better Renderer plugin (beta)
  plugins/better-renderer
Labels: plugin change

#747 Update better-renderer to v1.1
  plugins/better-renderer
Labels: plugin change

#748 Update better-renderer to v1.2
  plugins/better-renderer
Labels: plugin change

#749 Fire beats: Fix for getting whitelist resource from jar on runtime.
  plugins/fire-beats
Labels: plugin change

#750 add trailblazer-clues
  plugins/trailblazer-clues
Labels: plugin change

#751 update trailblazer-clues to v1.0.1
  plugins/trailblazer-clues
Labels: plugin change

#753 Update menu-swapper-extended
  plugins/menu-swapper-extended
Labels: plugin change

#754 Update better-renderer to v1.3
  plugins/better-renderer
Labels: plugin change

#752 update trailblazer-clues to v1.1
  plugins/trailblazer-clues
Labels: plugin change

#755 add dont-eat-it
  plugins/dont-eat-it
Labels: plugin change

#756 Update quest-helper to v1.1.4
  plugins/quest-helper
Labels: plugin change, ready to merge

#757 Update Damage Counter to v1.2
  plugins/damage-counter
Labels: plugin change

#758 update dont-eat-it to v1.0.1
  plugins/dont-eat-it
Labels: plugin change, ready to merge

#759 update trailblazer-clues to v1.1.3
  plugins/trailblazer-clues
Labels: plugin change, ready to merge

#760 update trailblazer-clues to v1.2
  plugins/trailblazer-clues
Labels: plugin change, ready to merge

#761 update last-recall to v1.2
  plugins/last-recall
Labels: plugin change

#764 update trailblazer-clues to v1.2.1
  plugins/trailblazer-clues
Labels: plugin change

#765 Flipping-Utilities
  plugins/flipping-utilities
Labels: plugin change

#763 last-recall: add instance check
  plugins/last-recall
Labels: plugin change

#762 Add Cannon Highlighter
  plugins/cannon-highlighter
Labels: plugin change

#770 update trailblazer-clues to v1.2.2
  plugins/trailblazer-clues
Labels: plugin change

#769 last-recall: correct fremennik check
  plugins/last-recall
Labels: plugin change

#771 update trailblazer-clues to v1.2.3
  plugins/trailblazer-clues
Labels: plugin change

#767 Update OSRS Streamers to v1.1
  plugins/osrs-streamers
Labels: plugin change

#772 Update Damage Counter to v1.3
  plugins/damage-counter
Labels: plugin change

#773 Fire beats: Feature updates.
  plugins/fire-beats
Labels: plugin change

#774 update trailblazer-clues to v1.2.4
  plugins/trailblazer-clues
Labels: plugin change

#775 update trailblazer-clues to v1.2.5
  plugins/trailblazer-clues
Labels: plugin change

#777 Fire beats: Regeneration of gradle verification metadata.
  plugins/fire-beats
Labels: plugin change

#778 Update Osleague: Move Import Transformation into Web App
  plugins/osleague
Labels: plugin change

#783 Update better-renderer to v1.4
  plugins/better-renderer
Labels: plugin change

#784 update trailblazer-clues to v1.2.6
  plugins/trailblazer-clues
Labels: plugin change

#781 Update essence-running
  plugins/essence-running
Labels: plugin change

#779 update resource-packs to 1.2.1.2
  plugins/resource-packs
Labels: plugin change

#776 Update MLM Upper Level Markers to 1.1
  plugins/mlm-upper-level-markers
Labels: plugin change

#782 Create mouse-click-counter
  plugins/mouse-click-counter
Labels: plugin change

#768 [ItemRarity] Added ItemRarity to Plugins
  plugins/itemrarity
Labels: plugin change

#780 Update Corp FFA07 plugin
  plugins/corp-ffa07
Labels: plugin change

#786 Update better-renderer to v1.5
  plugins/better-renderer
Labels: plugin change

#788 Create model-exporter
  plugins/model-exporter
Labels: plugin change

#790 Update better-renderer to v1.6
  plugins/better-renderer
Labels: plugin change

#791 update trailblazer-clues to v1.3
  plugins/trailblazer-clues
Labels: plugin change

#789 Update model-exporter
  plugins/model-exporter
Labels: plugin change

#787 Update optimal-quest-guide
  plugins/optimal-quest-guide
Labels: plugin change

#785 World Location
  plugins/world-location
Labels: plugin change

#792 Re-enable crowdsourcing but only for varbits
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#794 Update model-exporter
  plugins/model-exporter
Labels: plugin change

#795 Update OSRS Streamers to v1.2
  plugins/osrs-streamers
Labels: plugin change

#793 Update quest-helper to v1.1.5
  plugins/quest-helper
Labels: plugin change

#796 Create patch-payment
  plugins/patch-payment
Labels: plugin change

#797 Update annoyance-mute to v1.3
  plugins/annoyance-mute
Labels: plugin change

#798 Update Damage Counter to v1.4.1
  plugins/damage-counter
Labels: plugin change

#799 Update payment-patch
  plugins/patch-payment
Labels: plugin change

#800 Fix quest-helper
  plugins/quest-helper
Labels: plugin change

#801 Add fossil island plugin
  plugins/fossil-island
Labels: plugin change

#804 Added compatibility with Examine Tooltip plugin
  plugins/patch-payment
Labels: plugin change

#807 update loot-logger to v2.2.2
  plugins/loot-logger
Labels: plugin change

#805 update examine-tooltip to v1.4
  plugins/examine-tooltip
Labels: plugin change

#808 update trailblazer-clues to v1.4
  plugins/trailblazer-clues
Labels: plugin change

#810 update trailblazer-clues to v1.4.1
  plugins/trailblazer-clues
Labels: plugin change

#809 update contextual-cursor to v1.2.2
  plugins/contextual-cursor
Labels: plugin change

#806 Flipping-Utilties
  plugins/flipping-utilities
Labels: plugin change

#803 Add hydrate reminder plugin
  plugins/hydrate-reminder
Labels: plugin change

#811 update trailblazer-clues to v1.4.2
  plugins/trailblazer-clues
Labels: plugin change

#814 Update Os league plugin: Remove hardcoded task count
  plugins/osleague
Labels: plugin change

#812 add quick-prayer-preview
  plugins/quick-prayer-preview
Labels: plugin change

#813 Update Damage Counter to v1.4.2
  plugins/damage-counter
Labels: plugin change

#817 Update/flipper 1.1.0
  plugins/flipper
Labels: plugin change

#821 Update annoyance-mute to v1.4
  plugins/annoyance-mute
Labels: plugin change

#820 Update Flipping-Utilities
  plugins/flipping-utilities
Labels: plugin change

#818 Update patch-payment
  plugins/patch-payment
Labels: plugin change

#819 Create specimen cleaning
  plugins/specimen-cleaning
Labels: plugin change
