Repository runelite/plugin-hub, pull requests merged in 2020-03, with the labels that each got.

#133 Update Loot Logger (v1.3)
  plugins/loot-logger
Labels: plugin change

#132 Update world-highligher
  plugins/world-highligher
Labels: plugin change

#130 Update ground-markers-with-labels
  plugins/ground-markers-with-labels
Labels: plugin change

#131 Volcanic Mine Plugin
  plugins/details
Labels: plugin change

#134 chatbox opacity plugin: band aid fix
  plugins/chatbox-opacity
Labels: plugin change

#135 chatbox opacity plugin: fix setting opacity in resizeable
  plugins/chatbox-opacity
Labels: plugin change

#138 Volcanic Mine update - add boulder movement notifications
  plugins/volcanic-mine
Labels: plugin change

#140 add tray notifications plugin
  plugins/tray-notifications
Labels: plugin change

#141 chatbox opacity plugin: revert band aid fix
  plugins/chatbox-opacity
Labels: plugin change

#142 Crab Stun Timers
  plugins/crab-stun-timers
Labels: plugin change, ready to merge

#143 Update Party Panel (v1.3)
  plugins/party-panel
Labels: plugin change

#144 Fix bug where random interval timer wouldn't get removed
  plugins/crab-stun-timers
Labels: plugin change, ready to merge

#145 Add Emoji Palette plugin
  plugins/emoji-palette
Labels: plugin change

#147 Fix fatal error, bump emoji-palette to version 1.1
  plugins/emoji-palette
Labels: plugin change

#148 Create zulrah-helper
  plugins/zulrah-helper
Labels: plugin change, ready to merge

#149 Update Crab Stun Timers plugin
  plugins/crab-stun-timers
Labels: plugin change

#139 emoji-madness: add reworked plugin
  plugins/emoji-madness
Labels: discussion, plugin change

#152 zulrah-helper: remove nav button from toolbar on shutDown
  plugins/zulrah-helper
Labels: plugin change, ready to merge

#154 fullscreen: add status popup if not working
  plugins/fullscreen
Labels: plugin change

#155 fullscreen: add a parent to the popup
  plugins/fullscreen
Labels: plugin change

#150 Release salamanders/swamp lizard for hunter training
  plugins/zom-leftclick-dropper
Labels: plugin change, ready to merge

#153 PvP Performance Tracker
  plugins/pvp-performance-tracker
Labels: plugin change, ready to merge

#158 world-hider: add plugin
  plugins/world-hider
Labels: plugin change

#156 Add advanced notifications
  plugins/advanced-notifications
Labels: plugin change, ready to merge

#160 Inventory Setups 1.5.1 - Bug Fixes
  plugins/inventory-setups
Labels: plugin change, ready to merge

#161 mse: only swap karamja gloves with wear
  plugins/menu-swapper-extended
Labels: plugin change, ready to merge

#163 InventorySetups-1.5.2 - More Bug Fixes
  plugins/inventory-setups
Labels: plugin change

#164 InventorySetups-1.5.3 - Even more bug fixes
  plugins/inventory-setups
Labels: plugin change

#165 Add the Bank Value plugin
  plugins/bank-value
Labels: plugin change

#166 bank-value: optimization: avoid calling game client every event
  plugins/bank-value
Labels: plugin change, ready to merge

#168 Add skills-tab-progress-bars plugin
  plugins/skills-tab-progress-bars
Labels: plugin change

#169 raid point overlay: add personal points percent and unique chance per…
  plugins/raid-points-overlay
Labels: plugin change

#170 raid point overlay: fix total and personal unique chances
  plugins/raid-points-overlay
Labels: plugin change, ready to merge

#167 Add Flipping Utilities
  plugins/flipping-utilities
Labels: plugin change

#172 Update Loot Logger (v1.3.1)
  plugins/loot-logger
Labels: plugin change

#175 Emojiscape - 1.3.3 - Change default Icon Mode to Append
  plugins/emojiscape
Labels: plugin change

#174 Update Flipping Utilities (v1.1)
  plugins/flipping-utilities
Labels: plugin change

#176 raid point overlay: Only show total chance when partysize > 1
  plugins/raid-points-overlay
Labels: plugin change

#177 Update skills-tab-progress-bars v0.2: Hide bars except for current sk…
  plugins/skills-tab-progress-bars
Labels: plugin change

#178 Pvp performance tracker: Add new statistic, various improvements
  plugins/pvp-performance-tracker
Labels: plugin change, ready to merge

#146 clanchatcountryflags: use ScriptPostFired event instead of ScripCallbackEvent
  plugins/clan-chat-country-flags
Labels: plugin change

#171 Add Virtual Level Ups plugin
  plugins/virtual-level-ups
Labels: plugin change

#179 Update Flipping Utilities (v1.1.1)
  plugins/flipping-utilities
Labels: plugin change

#180 Update Party Panel (v1.4)
  plugins/party-panel
Labels: plugin change, ready to merge

#181 Add Plugin for thieving nature rune chests
  plugins/nature-rune-chest
Labels: plugin change

#182 Add Health Notifier Plugin
  plugins/health-notifier
Labels: plugin change

#183 raid point overlay: add more unique chance config options
  plugins/raid-points-overlay
Labels: plugin change

#184 Update skills progress bars v0.3: Add indent option to match skill pa…
  plugins/skills-tab-progress-bars
Labels: plugin change

#185 raid point overlay: whoops fix mistake
  plugins/raid-points-overlay
Labels: plugin change

#187 Pvp performance tracker: fix 1tick gear offset bug
  plugins/pvp-performance-tracker
Labels: plugin change

#186 Add fake iron icon plugin
  plugins/fake-iron-icon
Labels: plugin change
