Repository runelite/plugin-hub, pull requests merged in 2020-07, with the labels that each got.

#434 Update resource-packs to 1.1.1
  plugins/resource-packs
Labels: plugin change

#433 Update PetInfo
  plugins/pet-info
Labels: plugin change

#432 Update xp-grapher
  plugins/xp-grapher
Labels: plugin change

#435 Update influxdb-stats
  plugins/influxdb-stats
Labels: plugin change

#436 Update xp-grapher
  plugins/xp-grapher
Labels: plugin change

#439 add tick counter
  plugins/tick-counter
Labels: plugin change

#440 Add Smart Metronome
  plugins/smart-metronome
Labels: plugin change

#438 Update xp-grapher
  plugins/xp-grapher
Labels: plugin change

#437 plugins/optimal-quest-guide
  plugins/optimal-quest-guide
Labels: plugin change

#443 update rune-cafe plugin
  plugins/rune-cafe-cashflow
Labels: plugin change

#442 Update friends-exporter
  plugins/friends-exporter
Labels: plugin change

#441 Update Notification Messages
  plugins/notification-messages
Labels: plugin change

#444 update resource-packs to 1.1.2
  plugins/resource-packs
Labels: plugin change

#445 Update world-hider
  plugins/world-hider
Labels: discussion, plugin change

#449 Update essence-running
  plugins/essence-running
Labels: plugin change

#450 update optimal-quest-guide
  plugins/optimal-quest-guide
Labels: plugin change

#455 Update Runite Rocks (v1.2)
  plugins/runite-rocks
Labels: plugin change

#453 update optimal-quest-guide
  plugins/optimal-quest-guide
Labels: plugin change

#452 Update friends-exporter
  plugins/friends-exporter
Labels: plugin change

#451 Update smart-metronome
  plugins/smart-metronome
Labels: plugin change

#457 Update friends-exporter
  plugins/friends-exporter
Labels: plugin change

#459 Add gnome restaurant plugin
  plugins/gnome-restaurant
Labels: plugin change

#458 Add Marks of Grace Counter Plugin
  plugins/marks-of-grace-counter
Labels: plugin change

#466 Effective Levels
  plugins/effective-level
Labels: plugin change

#467 update resource-packs to 1.1.3
  plugins/resource-packs
Labels: plugin change

#462 Update Marks of Grace Counter (1.1)
  plugins/marks-of-grace-counter
Labels: plugin change

#465 update gnome-restaurant plugin
  plugins/gnome-restaurant
Labels: plugin change

#464 Update smart-metronome
  plugins/smart-metronome
Labels: plugin change

#463 Add H.A.M Store Rooms plugin
  plugins/ham-store-rooms
Labels: plugin change

#460 Update pet-info to 2.0
  plugins/pet-info
Labels: plugin change

#468 Fixed onplayerdeath -> onactordeath change
  plugins/withes-bronzemanmode
Labels: plugin change

#456 add raid data tracker to the pluginhub
  plugins/raid-data-tracker
Labels: plugin change

#471 add armour trimmer plugin
  plugins/amrour-trimmer
Labels: plugin change

#417 add CoX external plugin
  plugins/cox-scouter-external
Labels: plugin change

#472 Update npc-overhead-dialogue
  plugins/npc-overhead-dialogue
Labels: plugin change

#473 Create cox-light-colors
  plugins/cox-light-colors
Labels: plugin change, ready to merge

#469 Update Marks of Grace Counter to 1.1.1
  plugins/marks-of-grace-counter
Labels: plugin change

#474 Add Daily Task Extensions Plugin
  plugins/daily-task-extensions
Labels: plugin change

#475 Fix wrong support link in daily-task-extensions
  plugins/daily-task-extensions
Labels: plugin change

#476 Update resource-packs to 1.1.4
  plugins/resource-packs
Labels: plugin change

#477 update CoX SE to 1.1
  plugins/cox-scouter-external
Labels: plugin change

#478 Update Daily Task Extensions to 1.0.1 (Config Refactor)
  plugins/daily-task-extensions
Labels: plugin change

#479 Update Marks of grace counter to 1.1.2
  plugins/marks-of-grace-counter
Labels: plugin change

#454 Emojiscape - 1.4 - Custom trigger file support
  plugins/emojiscape
Labels: plugin change

#480 update armour-trimmer to v1.1
  plugins/armour-trimmer
Labels: plugin change

#481 Update clan-chat-warnings
  plugins/clan-chat-warnings
Labels: plugin change

#483 Create preemptive-strike
  plugins/preemptive-strike
Labels: plugin change

#484 Update Cox light colors plugin
  plugins/cox-light-colors
Labels: plugin change

#485 Create eclectic-tracker
  plugins/eclectic-tracker
Labels: plugin change

#486 Emojiscape - 1.4.1 - Multi-trigger support
  plugins/emojiscape
Labels: plugin change

#487 Update CoX light colors
  plugins/cox-light-colors
Labels: plugin change

#488 InventorySetups 1.7
  plugins/inventory-setups
Labels: plugin change

#492 Updated Banked Experience (v1.6.1)
  plugins/banked-experience
Labels: plugin change

#491 Update eclectic-tracker
  plugins/eclectic-tracker
Labels: plugin change

#490 Add Annoyance Mute plugin
  plugins/annoyance-mute
Labels: plugin change

#493 Add High Alc Highlight Plugin
  plugins/high-alc-highlight
Labels: plugin change

#495 Update optimal-quest-guide
  plugins/optimal-quest-guide
Labels: plugin change

#494 update resource-packs to 1.1.5
  plugins/resource-packs
Labels: plugin change

#496 Add equipment screenshot plugin
  plugins/equipment-screenshot
Labels: plugin change

#498 Create underwater-agility
  plugins/underwater-agility
Labels: plugin change

#499 add equipment screenshot icon
  plugins/equipment-screenshot
Labels: plugin change

#500 Add Examine Tooltip Plugin
  plugins/examine-tooltip
Labels: plugin change

#501 Update Examine Tooltip to 1.1
  plugins/examine-tooltip
Labels: plugin change

#502 Update resource packs to 1.2.0
  plugins/resource-packs
Labels: plugin change

#503 Update annoyance-mute
  plugins/annoyance-mute
Labels: plugin change

#504 Update CoX Light Colors
  plugins/cox-light-colors
Labels: plugin change

#505 Update optimal-quest-guide
  plugins/optimal-quest-guide
Labels: plugin change

#482 Added zalcano plugin to the list
  plugins/zalcano
Labels: plugin change

#507 Add discord loot logger
  plugins/discord-loot-logger
Labels: plugin change

#506 Create plugin NMZ Optimal Points
  plugins/nmz-optimal-points
Labels: plugin change

#508 Update Examine Tooltip to 1.2 (RS3 style examines)
  plugins/examine-tooltip
Labels: plugin change

#510 Update Examine Tooltip to 1.2.1 (tiny fix)
  plugins/examine-tooltip
Labels: plugin change

#509 the-gauntlet
  plugins/the-gauntlet
Labels: plugin change

#511 Update Runite Rocks (v1.2.1)
  plugins/runite-rocks
Labels: plugin change

#513 Update tickcounter: swift blade and inquisitor's mace
  plugins/tick-counter
Labels: plugin change

#512 Update Examine Tooltip to 1.3 (Tooltip Fadeout)
  plugins/examine-tooltip
Labels: plugin change

#514 Update Examine Tooltip to 1.3.1
  plugins/examine-tooltip
Labels: plugin change

#515 Update Examine Tooltip to 1.3.2
  plugins/examine-tooltip
Labels: plugin change

#516 Update Annoyance Mute to 1.0.3
  plugins/annoyance-mute
Labels: plugin change

#517 Update Examine Tooltip to 1.3.3
  plugins/examine-tooltip
Labels: plugin change
