Repository runelite/plugin-hub, pull requests merged in 2021-08, with the labels that each got.

#1733 Update model-exporter
  plugins/model-exporter
Labels: plugin change

#1737 Update runewatch to v2.1.0
  plugins/runewatch
Labels: plugin change

#1736 Update sprite-markers
  plugins/sprite-markers
Labels: plugin change

#1735 Update camera-points to v2.1.0
  plugins/camera-points
Labels: plugin change

#1734 Update 'lingering-click-tooltips' to v1.2
  plugins/lingering-click-tooltips
Labels: plugin change

#1739 Add ectofuntus-info plugin
  plugins/ectofuntus-info
Labels: plugin added

#1740 Update Loot Logger (v3.1.2)
  plugins/loot-logger
Labels: plugin change

#1738 Create costume-room-highlighter
  plugins/costume-room-highlighter
Labels: plugin added

#1742 Update chat-logger to v1.4
  plugins/chat-logger
Labels: plugin change

#1747 Native Mac Notifications
  plugins/native-mac-notifications
Labels: plugin added

#1744 Update pvp-performance-tracker to v1.4.6
  plugins/pvp-performance-tracker
Labels: plugin change

#1745 Update world-location to v1.2
  plugins/world-location
Labels: plugin change

#1753 Update lingering-click-tooltips to v1.3
  plugins/lingering-click-tooltips
Labels: plugin change

#1750 Update annoyance-mute and notification-messages
  plugins/annoyance-mute
  plugins/notification-messages
Labels: plugin change

#1749 Update bot-detector to v.1.3.6
  plugins/bot-detector
Labels: plugin change

#1752 Update osrs-wiki-crowdsourcing to v1.6
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#1743 Update status-socket
  plugins/statussocket
Labels: plugin change

#1754 Update osrs-wiki-crowdsourcing to 1.6.1
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#1755 Update pvp-performance-tracker to v1.4.7
  plugins/pvp-performance-tracker
Labels: plugin change

#1756 Update npc-dialog-log to v1.3.1
  plugins/npc-dialog-log
Labels: plugin change

#1741 Update Pet-Info to 4.0 (load pet info from github)
  plugins/pet-info
Labels: plugin change

#1758 Update picture-in-picture to v1.2
  plugins/picture-in-picture
Labels: plugin change

#1757 Update Loot Logger (v3.1.3)
  plugins/loot-logger
Labels: plugin change

#1748 Create thrall-helper
  plugins/thrall-helper
Labels: plugin added

#1760 update loot-logger to v3.1.4
  plugins/loot-logger
Labels: plugin change

#1762 update emote-clue-items to v2.0.2
  plugins/emote-clue-items
Labels: plugin change

#1765 Update thrall-helper to v1.1
  plugins/thrall-helper
Labels: plugin change

#1766 update foodie-plugin to v1.1
  plugins/foodie-plugin
Labels: plugin change

#1761 Update Plugin Presets to v1.5.0
  plugins/plugin-presets
Labels: plugin change

#1767 Update quest-helper to v2.4.0
  plugins/quest-helper
Labels: plugin change

#1768 update clan event attendance
  plugins/clan-event-attendance
Labels: plugin change

#1764 Update 'lingering-click-tooltips' to v1.3.1
  plugins/lingering-click-tooltips
Labels: plugin change

#1774 update banked-experience to v2.0.6
  plugins/banked-experience
Labels: plugin change

#1775 Update ba-minigame to v1.4
  plugins/ba-minigame
Labels: plugin change

#1776 Update Wom-utils
  plugins/wom-utils
Labels: plugin change

#1777 Update ba-minigame to v1.41
  plugins/ba-minigame
Labels: plugin change

#1780 Update Wom-utils
  plugins/wom-utils
Labels: plugin change

#1771 Create rl-weather (Weather effects for OSRS)
  plugins/rl-weather
Labels: plugin added

#1773 Update Twitch Live Loadout Plugin to v0.0.5
  plugins/twitch-live-loadout
Labels: plugin change

#1770 Update Last Man Standing plugin to V1.5, Add Bot Detection
  plugins/lms-start-notifier
Labels: plugin change

#1779 Add Brewing Plugin
  plugins/brewing
Labels: plugin added

#1772 Update picture-in-picture to v1.3
  plugins/picture-in-picture
Labels: plugin change

#1778 Update ba-minigame to v1.42
  plugins/ba-minigame
Labels: plugin change

#1787 Update customizable-xp-drops to v1.2
  plugins/customizable-xp-drops
Labels: plugin change

#1781 Combat Achievements Timers Plugin
  plugins/ca-timers
Labels: plugin added

#1782 Update Brewing Plugin
  plugins/brewing
Labels: plugin change

#1785 Updates
  plugins/statussocket
Labels: plugin change

#1783 Add Region Chat
  package/verification-template/build.gradle
  plugins/region-chat
Labels: dependency change, plugin added

#1784 Create BloodShardNotifier
  plugins/blood-shard-notifier
Labels: plugin added

#1788 Update Region Chat to v1.0.1
  plugins/region-chat
Labels: plugin change

#1789 Update world-location
  plugins/world-location
Labels: plugin change

#1790 Update thrall-helper to v1.2
  plugins/thrall-helper
Labels: plugin change

#1791 Update Brewing Plugin
  plugins/brewing
Labels: plugin change

#1792 Fix attacking packet detection
  plugins/statussocket
Labels: plugin change

#1794 update object hider
  plugins/object-hider
Labels: plugin change

#1793 Update coxlightcolors to 1.3.2
  plugins/cox-light-colors
Labels: plugin change

#1795 Update Wom-utils
  plugins/wom-utils
Labels: plugin change

#1796 Update customizable-xp-drops to v1.2.1
  plugins/customizable-xp-drops
Labels: plugin change

#1797 Update banked-experience (v2.0.7)
  plugins/banked-experience
Labels: plugin change

#1798 Intial commit for Life Saver
  plugins/life-saver
Labels: plugin added

#1799 update crate-limiter to v1.1
  plugins/crate-limiter
Labels: plugin change

#1800 update quest-helper to v2.4.1
  plugins/quest-helper
Labels: plugin change

#1802 Another-bronzeman-mode: Fixed WorldType build problem.
  plugins/another-bronzeman-mode
Labels: plugin change

#1812 Update scapecloud
  plugins/scapecloud
Labels: plugin change

#1815 Update animation-transmog to v1.3.1
  plugins/animation-transmog
Labels: plugin change

#1817 Added skilling-notifications plugin.
  plugins/skilling-notifications
Labels: plugin added

#1813 Weapon Animation Replacer 2.0 - gear transmog, fake scythe swings.
  plugins/weapon-animation-replacer
Labels: plugin change

#1818 Update skilling-notifications
  plugins/skilling-notifications
Labels: plugin change

#1819 Update OSRSLog/ScapeCloud
  plugins/scapecloud
Labels: plugin change
