Repository runelite/plugin-hub, pull requests merged in 2021-10, with the labels that each got.

#1903 Gimptracker
  package/verification-template/build.gradle
  package/verification-template/gradle/verification-metadata.xml
  plugins/gimptracker
Labels: dependency change, plugin added

#1924 Update notification-messages
  plugins/notification-messages
Labels: plugin change

#1922 Update corp-ffa07
  plugins/corp-ffa07
Labels: plugin change

#1926 Update customizable-xp-drops to v1.2.2
  plugins/customizable-xp-drops
Labels: plugin change

#1927 Update radius markers
  plugins/radius-markers
Labels: plugin change

#1921 Update quest-helper to v2.6.0
  plugins/quest-helper
Labels: plugin change

#1928 Update infernalfc to v1.4
  plugins/infernalfc
Labels: plugin change

#1929 Update bitwarden-plugin to v1.2
  plugins/bitwarden-plugin
Labels: plugin change

#1917 Instant damage calculator
  plugins/instant-damage-calculator
Labels: plugin added

#1918 Add invalid movement plugin
  plugins/invalid-movement
Labels: plugin added

#1930 Add new plugin: Audible 2-Ticking
  plugins/audible-2ticking
Labels: plugin added

#1931 Update NPC ID plugin to v1.1
  plugins/npc-id
Labels: plugin change

#1934 Update one-click-summer-garden to v2.1.0
  plugins/one-click-summer-garden
Labels: plugin change

#1935 Update radius markers to v1.1
  plugins/radius-markers
Labels: plugin change

#1936 CA Timers Plugin Update
  plugins/ca-timers
Labels: plugin change

#1939 Updated gimptracker (1.0.1)
  plugins/gimptracker
Labels: plugin change

#1940 Update poh-storage to v1.1
  plugins/poh-storage
Labels: plugin change

#1942 Instant damage calculator
  plugins/instant-damage-calculator
Labels: plugin change

#1943 Update wom-utils
  plugins/wom-utils
Labels: plugin change

#1949 fake-iron-icon: 1.0.4
  plugins/fake-iron-icon
Labels: plugin change

#1950 (hotfix) Updated EmoteClueItems to v3.1.1.
  plugins/emote-clue-items
Labels: plugin change

#1951 Update resource packs to 1.4.4
  plugins/resource-packs
Labels: plugin change

#2040 Update greenscreen plugin
  plugins/green-screen
Labels: plugin change

#2033 Balloon Transport System - v0.4
  plugins/tictac7x-balloon
Labels: plugin change

#2034 Better godwars overlay
  plugins/better-godwars-overlay
Labels: plugin change

#2035 Instant damage calculator
  plugins/instant-damage-calculator
Labels: plugin change

#2041 Update tob damage counter plugin
  plugins/tob-damage-counter
Labels: plugin change

#2038 Runekit Update
  plugins/runekit
Labels: plugin change

#2039 Update Camera-Keys to v1.0.1
  plugins/camera-keys
Labels: plugin change

#1988 Phillips Hue Smart Light plugin added to hub
  package/verification-template/build.gradle
  package/verification-template/gradle/verification-metadata.xml
  plugins/phillip-hue-integration
Labels: dependency change, plugin added

#2027 Add Wintertodt Scouter
  plugins/wintertodt-scouter
Labels: plugin added

#2031 Update Friend live locations to v1.3
  plugins/friend-live-locations
Labels: plugin change

#2042 Update Banked Experience (v2.0.9)
  plugins/banked-experience
Labels: plugin change

#2043 update dps-calculator to v1.4.4
  plugins/dps-calculator
Labels: plugin change
