Repository runelite/plugin-hub, pull requests merged in 2021-06, with the labels that each got.

#1475 Create loot-splitter
  plugins/loot-splitter
Labels: plugin added

#1481 Update Runite Rocks (v1.2.2)
  plugins/runite-rocks
Labels: plugin change

#1482 Update drop simulator to v1.3.4
  plugins/drop-simulator
Labels: plugin change

#1484 Update resource-packs to 1.3.4
  plugins/resource-packs
Labels: plugin change

#1494 Update wom-utils
  plugins/wom-utils
Labels: plugin change

#1483 Update ItemRarity 1.2
  plugins/itemrarity
Labels: plugin change

#1486 Update Pre Eoc Xp Drops to v 1.0.1
  plugins/pre-eoc-xp-drops
Labels: plugin change

#1487 Update drop simulator to v 1.3.5
  plugins/drop-simulator
Labels: plugin change

#1489 Overlays and better config setup added + misc fixes
  plugins/loot-splitter
Labels: plugin change

#1491 FlippingUtilities
  plugins/flipping-utilities
Labels: plugin change

#1492 Flipper 1.2.9
  plugins/flipper
Labels: plugin change

#1493 Update Bot Detector to v1.3.4
  plugins/bot-detector
Labels: plugin change

#1496 Update clan event attendance
  plugins/clan-event-attendance
Labels: plugin change

#1497 Update theatre-of-blood-stats to v1.2.2
  plugins/theatre-of-blood-stats
Labels: plugin change

#1498 Update ping-grapher
  plugins/ping-grapher
Labels: plugin change

#1499 Update quest-helper to v2.1.1
  plugins/quest-helper
Labels: plugin change

#1480 Slash-Swapper Plugin added to the plugin hub
  plugins/slash-swapper
Labels: plugin added

#1506 Update herblorerecipes to v1.2.2
  plugins/herblorerecipes
Labels: plugin change

#1505 update osrs-wiki-crowdsourcing
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#1504 Update theatre-of-blood-stats to v1.2.3
  plugins/theatre-of-blood-stats
Labels: plugin change

#1509 [IRC v0.3] Colors, ID, sidebar
  plugins/irc
Labels: plugin change

#1514 Update ToB Infoboxes for Story/Normal/Hard modes
  plugins/tob-infoboxes
Labels: plugin change

#1501 watson clue tracker 1.0
  plugins/watson-clue-tracker
Labels: plugin added

#1503 AfkTimer v1
  plugins/afk-timer
Labels: plugin added

#1507 update transmog to v1.2.0
  plugins/transmog
Labels: plugin change

#1495 Add runedoku helper
  plugins/runedoku-helper
Labels: plugin added

#1508 Update infernalfc 1.2.2
  plugins/infernalfc
Labels: plugin change

#1511 Update Bot Detector to v1.3.4.1
  plugins/bot-detector
Labels: plugin change, ready to merge

#1502 Clue scroll juggling plugin 1.0
  plugins/clue-scroll-juggling
Labels: plugin added

#1516 Update theatre-of-blood-stats to v1.2.4
  plugins/theatre-of-blood-stats
Labels: plugin change

#1517 Update osrs-wiki-crowdsourcing
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#1515 Create healer-tracker plugin
  plugins/healer-tracker
Labels: plugin added

#1518 Update osrs-wiki-crowdsourcing
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#1519 Update osrs-wiki-crowdsourcing
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#1510 Cosmetics Network v1.0
  plugins/cosmetics
Labels: plugin added

#1521 Loot Splitter - Changed Chat Color
  plugins/loot-splitter
Labels: plugin change

#1522 Update osrs-wiki-crowdsourcing
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change, ready to merge

#1523 Update osrs-wiki-crowdsourcing
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#1530 Create item-interactions
  plugins/item-interactions
Labels: plugin added

#1533 update item-interactions
  plugins/item-interactions
Labels: plugin change

#1536 update item-interactions
  plugins/item-interactions
Labels: plugin change

#1531 update party-panel
  plugins/party-panel
Labels: plugin change

#1524 update osrs-wiki-crowdsourcing
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#1538 update item-interactions to v1.1
  plugins/item-interactions
Labels: plugin change

#1527 Update resource-packs to 1.4.0
  plugins/resource-packs
Labels: plugin change

#1528 Bump DPS Calc to 1.3
  plugins/dps-calculator
Labels: plugin change

#1535 Small change to 1.1a
  plugins/healer-tracker
Labels: plugin change

#1537 Update Zero remover
  plugins/zero-remover
Labels: plugin change

#1532 Update Plugin Presets to v1.4.1
  plugins/plugin-presets
Labels: plugin change

#1539 Update discord-rare-drop-notificater
  plugins/discord-rare-drop-notificater
Labels: plugin change

#1540 Loot Splitter - Fixing Quantity Split
  plugins/loot-splitter
Labels: plugin change

#1541 Create ClanChatToDiscordStreamer
  plugins/clan-chat-to-discord-streamer
Labels: plugin added

#1542 Update item-interactions
  plugins/item-interactions
Labels: plugin change

#1543 update inventory-summary to v1.2.1
  plugins/inventory-summary
Labels: plugin change

#1512 Added Barbarian Assault pb Tracking
  plugins/barbarian-assault-pbs
Labels: plugin added

#1545 Update item-interactions
  plugins/item-interactions
Labels: plugin change

#1500 bank tag layouts 1.4 - duplicate items
  plugins/bank-tag-layouts
Labels: plugin change, ready to merge

#1546 Update quest-helper to v2.1.2
  plugins/quest-helper
Labels: plugin change

#1549 fix watson clue tracker for changes in widget ids
  plugins/watson-clue-tracker
Labels: plugin change

#1551 Update resource-packs to 1.4.1
  plugins/resource-packs
Labels: plugin change

#1553 Bank tag layouts 1.4.1 - Please merge quickly! I messed up again and introduced some seriously annoying bugs!
  plugins/bank-tag-layouts
Labels: plugin change

#1554 bank tag layouts 1.4.2 - more bug fixes.
  plugins/bank-tag-layouts
Labels: plugin change

#1547 Update cox-clipboard version
  plugins/cox-clipboard
Labels: plugin change

#1550 add plank-sack
  plugins/plank-sack
Labels: plugin added

#1552 NPC ID
  plugins/npc-id
Labels: plugin added

#1555 Update Plugin Presets to v1.4.2
  plugins/plugin-presets
Labels: plugin change

#1556 Update menu-swapper-extended
  plugins/menu-swapper-extended
Labels: plugin change

#1564 update plank-sack to v1.1
  plugins/plank-sack
Labels: plugin change

#1563 update equipment-inspector
  plugins/equipment-inspector
Labels: plugin change

#1561 update bot-detector to v1.3.4.2
  plugins/bot-detector
Labels: plugin change

#1565 update npc-dialog-log to v1.2
  plugins/npc-dialog-log
Labels: plugin change

#1567 Fix compilation issue in fixed-mode-hide-chat
  plugins/fixed-mode-hide-chat
Labels: plugin change

#1568 Fix issues with chat unhiding and bank position in fixed-mode-hide-chat
  plugins/fixed-mode-hide-chat
Labels: plugin change

#1562 update barb-assault-pbs to v1.1.1
  plugins/barbarian-assault-pbs
Labels: plugin change

#1570 fixedmodehidechat: Properly handle ESC to close chat
  plugins/fixed-mode-hide-chat
Labels: plugin change

#1574 Update Discord Level Notifications to 1.2.2
  plugins/discord-level-notifications
Labels: plugin change

#1573 Update patch-payment
  plugins/patch-payment
Labels: plugin change

#1576 Update easyparty to v1.0.1
  plugins/easyparty
Labels: plugin change

#1571 Update plank-sack to v1.2
  plugins/plank-sack
Labels: plugin change

#1575 Update zero-remover
  plugins/zero-remover
Labels: plugin change

#1560 Update BossingInfo to v1.6 add loot tracking and HM tob support
  plugins/kph-tracker
Labels: plugin change

#1566 update discord-rare-drop-notificater
  plugins/discord-rare-drop-notificater
Labels: plugin change

#1558 exchange-logger: a logger for grand exchange events
  plugins/exchange-logger
Labels: plugin added

#1572 Update quest-helper to v2.2.0
  plugins/quest-helper
Labels: plugin change, ready to merge

#1569 Create spacebar-checker
  plugins/spacebar-checker
Labels: plugin added

#1559 Update chat-streamer
  plugins/chat-streamer
  plugins/clan-chat-to-discord-streamer
Labels: plugin added, plugin removed

#1557 Add tob-hm-timer
  plugins/tob-hm-timer
Labels: plugin added

#1579 Update tob-hm-timer to v1.0.1
  plugins/tob-hm-timer
Labels: plugin change

#1578 update contextual-cursor to v1.2.3
  plugins/contextual-cursor
Labels: plugin change

#1580 Update ba-minigame
  plugins/ba-minigame
Labels: plugin change

#1584 Update kph-tracker
  plugins/kph-tracker
Labels: plugin change

#1583 Update ba-minigame
  plugins/ba-minigame
Labels: plugin change

#1581 Update zero-remover
  plugins/zero-remover
Labels: plugin change

#1577 Add TobMistakeTracker v0.1
  plugins/tob-mistake-tracker
Labels: plugin added

#1586 Update coal-bag to v1.1
  plugins/coal-bag
Labels: plugin change

#1587 Update TobMistakeTracker to v0.2
  plugins/tob-mistake-tracker
Labels: plugin change

#1582 Update fashionscape to v1.1.8
  plugins/fashionscape
Labels: plugin change

#1588 Update quest-helper to v2.2.1
  plugins/quest-helper
Labels: plugin change

#1548 Update infernalfc
  plugins/infernalfc
Labels: plugin change

#1590 Update bank-tag-layouts to v1.4.3
  plugins/bank-tag-layouts
Labels: plugin change

#1585 Added wasted-bank-space plugin
  plugins/wasted-bank-space
Labels: plugin added

#1589 Added option to show the solution for the puzzle.
  plugins/runedoku-helper
Labels: plugin change

#1591 Update BA Plus
  plugins/baplus
Labels: plugin change

#1592 Update TobMistakeTracker
  plugins/tob-mistake-tracker
Labels: plugin change

#1595 Bump wiki crowdsourcing to v1.1
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#1597 Update osrs-wiki-crowdsourcing to v1.2
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#1600 Updates reveal mechanics
  plugins/cox-special-loot-hider
Labels: plugin change

#1599 Update tog-indicator to v1.1
  plugins/tog-indicator
Labels: plugin change

#1593 Create statussocket
  plugins/statussocket
Labels: plugin added

#1598 Update quest-helper to v2.2.2
  plugins/quest-helper
Labels: plugin change

#1603 Update theatre-of-blood-stats to v1.3
  plugins/theatre-of-blood-stats
Labels: plugin change

#1604 Updated chat streamer
  plugins/chat-streamer
Labels: plugin change

#1602 Classes of Gielinor
  plugins/classes-of-gielinor
Labels: plugin added

#1606 Update influxdb-stats
  plugins/influxdb-stats
Labels: plugin change

#1607 Update influxdb-stats
  plugins/influxdb-stats
Labels: plugin change

#1608 Update classes-of-gielinor to v1.1.1
  plugins/classes-of-gielinor
Labels: plugin change

#1612 Update classes-of-gielinor to v1.1.2
  plugins/classes-of-gielinor
Labels: plugin change
