Repository runelite/plugin-hub, pull requests merged in 2021-02, with the labels that each got.

#1052 Update MLM Upper Level Markers to 1.2.6
  plugins/mlm-upper-level-markers
Labels: plugin change

#1054 Added HotKey Support and bumped version to 1.2.0
  plugins/set-timer
Labels: plugin change

#1055 Update quest-helper to v1.4.5
  plugins/quest-helper
Labels: plugin change

#1056 update transmog to v1.1.2
  plugins/transmog
Labels: plugin change

#1051 Update to Inventory Setups 1.10
  plugins/inventory-setups
Labels: plugin change

#1053 Update pvp-performance-tracker to v1.4.2
  plugins/pvp-performance-tracker
Labels: plugin change

#1057 Update Inventory Setups to v1.10.1
  plugins/inventory-setups
Labels: plugin change

#1062 wom-utils: update lookup options
  plugins/wom-utils
Labels: plugin change

#1058 Update Annoyance Mute and Smart Metronome
  plugins/annoyance-mute
  plugins/smart-metronome
Labels: plugin change

#1063 Update osrs-logger to v0.3
  plugins/osrs-logger
Labels: plugin change

#1040 Add Ground Object Hider plugin
  plugins/object-hider
Labels: hold-for-release, plugin change

#1061 Add raids-dry-meter plugin
  plugins/raids-dry-meter
Labels: plugin change

#1064 Update Collection Log plugin to v1.2.6
  plugins/collection-log
Labels: plugin change

#1065 Update annoyance-mute to v1.4.4
  plugins/annoyance-mute
Labels: plugin change

#1066 Update quest-helper to v1.5.0
  plugins/quest-helper
Labels: plugin change

#1008 Add fashionscape plugin
  plugins/fashionscape
Labels: plugin change

#1067 Add multicolor-highlights
  plugins/multicolor-highlights
Labels: plugin change

#1068 update transmog to v1.1.3
  plugins/transmog
Labels: plugin change

#1069 update transmog to v1.1.4
  plugins/transmog
Labels: plugin change

#1070 Update fashionscape to v1.1.1
  plugins/fashionscape
Labels: plugin change

#1073 Bump task checker plugin to v1.2
  plugins/task-checker
Labels: plugin change

#1071 Create lms start notifier plugin
  plugins/lms-start-notifier
Labels: plugin change

#1075 Flipping Utilities
  plugins/flipping-utilities
Labels: plugin change

#1074 Update clan-chat-warnings
  plugins/clan-chat-warnings
Labels: plugin change

#1076 Update Improved Tears Interface to 1.1
  plugins/improved-tears-of-guthix-interface
Labels: plugin change

#1077 Update Collection Log to v1.3
  plugins/collection-log
Labels: plugin change

#1079 Update Daily Task Extensions to 1.1
  plugins/daily-task-extensions
Labels: plugin change

#1078 Update fight-cave-waves to v1.2
  plugins/fight-cave-waves
Labels: plugin change

#1072 Adding plug-in OSRSKillboard
  plugins/osrskillboard
Labels: plugin change

#1080 Update friends-exporter
  plugins/friends-exporter
Labels: plugin change

#1081 Update quest-helper to v1.6.0
  plugins/quest-helper
Labels: plugin change

#1082 Adding checks to ignore kills in Safe Minigames
  plugins/osrskillboard
Labels: plugin change

#1083 OSRSKillboard Plugin Update - Fixing backward logic.
  plugins/osrskillboard
Labels: plugin change

#1085 Update Bossing Info to v1.5.5
  plugins/kph-tracker
Labels: plugin change

#1084 update mlm-upper-level-markers to v1.2.7
  plugins/mlm-upper-level-markers
Labels: plugin change

#1086 Add lance-enhance plugin
  plugins/lance-enhance
Labels: plugin change

#1087 Update lance-enhance
  plugins/lance-enhance
Labels: plugin change

#1091 Update quest-helper to v1.6.1
  plugins/quest-helper
Labels: plugin change

#1090 Update Set Timer plugin to v1.2.1
  plugins/set-timer
Labels: plugin change

#1092 update inventory-summary to v1.2
  plugins/inventory-summary
Labels: plugin change

#1093 WOM-Utils Fix showing group icon for usernames with underscore
  plugins/wom-utils
Labels: plugin change

#1094 update FlippingUtilities
  plugins/flipping-utilities
Labels: plugin change

#1095 Update keepassxc
  plugins/keepassxc
Labels: plugin change

#1096 Bump profit-calculator to 1.1.1 to fix build for 1.7.0
  plugins/profit-calculator
Labels: plugin change

#1097 Emojiscape - 1.5 - Various fixes
  plugins/emojiscape
Labels: plugin change

#1059 Add TaskJingle plugin
  plugins/taskjingle
Labels: plugin change

#1088 Update fashionscape plugin to v1.1.2
  plugins/fashionscape
Labels: plugin change

#1098 Emojiscape & Analoge Timestamps - update username
  plugins/analogue-timestamps
  plugins/emojiscape
Labels: plugin change

#1099 Fix verification metadata for raid-data-tracker
  plugins/raid-data-tracker
Labels: plugin change

#1101 Update Pm colors to compile with 1.7.0
  plugins/pm-colors
Labels: plugin change

#1102 update tray notifications
  plugins/tray-notifications
Labels: plugin change

#1104 Fire Beats Updates: Dependency verification, bug, and log fixes
  plugins/fire-beats
Labels: plugin change

#1100 Update optimal-quest-guide
  plugins/optimal-quest-guide
Labels: plugin change

#1105 Update Examine Tooltip to v1.4.2
  plugins/examine-tooltip
Labels: plugin change

#1107 Update LMS plugin to V1.1 always show arrow to safe zones
  plugins/lms-start-notifier
Labels: plugin change

#1108 Bugfix/fix after 1.7
  plugins/loot-table
Labels: plugin change

#1109 Update annoyance-mute to v1.5
  plugins/annoyance-mute
Labels: plugin change

#1110 Bump task checker to v1.2.1
  plugins/task-checker
Labels: plugin change

#1111 Update Last Man Standing plugin to V1.3
  plugins/lms-start-notifier
Labels: plugin change

#1112 Update OSRSkillboard
  plugins/osrskillboard
Labels: plugin change

#1114 Clan roster helper - Add highlighting on clan members
  plugins/clan-roster-helper-plugin
Labels: plugin change

#1116 Updating OSRSKillboard Plugin
  plugins/osrskillboard
Labels: plugin change

#1113 Create ba-role-randomizer plugin
  plugins/ba-role-randomizer
Labels: plugin change

#1117 Update Collection log plugin to v1.3.1
  plugins/collection-log
Labels: plugin change

#1118 Another-bronzeman-mode: Added collection-log and unlock-removal functionality.
  plugins/another-bronzeman-mode
Labels: plugin change

#1119 Update visual-metronome to V1.2.1
  plugins/visual-metronome
Labels: plugin change

#1115 Update discord-rare-drop-notificater plugin for RL version 1.7.0
  plugins/discord-rare-drop-notificater
Labels: plugin change

#1120 Update quest-helper to v1.6.2
  plugins/quest-helper
Labels: plugin change

#1121 Update OSRSKillboard
  plugins/osrskillboard
Labels: plugin change

#1123 Update ba-role-randomizer
  plugins/ba-role-randomizer
Labels: plugin change

#1125 Update wom-utils
  plugins/wom-utils
Labels: plugin change

#1124 Update discord-rare-drop-notificater
  plugins/discord-rare-drop-notificater
Labels: plugin change

#1132 Update npc-dialog-log
  plugins/npc-dialog-log
Labels: plugin change

#1131 Update Last Man Standing to V1.4
  plugins/lms-start-notifier
Labels: plugin change

#1129 Drop simulator
  plugins/drop-simulator
Labels: plugin change, ready to merge

#1089 Create AfterDark-PvM-Loot-Tracker
  plugins/afterdark-pvm-loot-tracker
Labels: plugin change, ready to merge

#1130 Add Monster Menu HP plugin
  plugins/menuhp
Labels: plugin change

#1133 Update Model Exporter
  plugins/model-exporter
Labels: plugin change

#1134 Add "Bank Tag Layouts" plugin
  plugins/bank-tag-layouts
Labels: plugin change

#1137 Removed import causing global consciousness plugin build to fail. Re-submitting with updated version/hash.
  plugins/global-consciousness
Labels: plugin change

#1138 Update patch-payment
  plugins/patch-payment
Labels: plugin change

#1141 Update quest-helper to v1.6.3
  plugins/quest-helper
Labels: plugin change

#1143 Update cox-additions
  plugins/cox-additions
Labels: plugin change

#1139 Update visual-metronome to V1.2.2
  plugins/visual-metronome
Labels: plugin change

#1140 Update Monster Menu HP Plugin to 1.1
  plugins/menuhp
Labels: plugin change

#1145 Update Bossing Info to 1.5.9
  plugins/kph-tracker
Labels: plugin change

#1146 Updated Bone Running to 1.7.1
  plugins/bone-running
Labels: plugin change

#1148 Update NMZ Optional Points Plugin
  plugins/nmz-optimal-points
Labels: plugin change

#1157 update map-waypoints to v1.4
  plugins/map-waypoints
Labels: plugin change
