Repository runelite/plugin-hub, pull requests merged in 2021-03, with the labels that each got.

#1156 Update Drop Simulator to v1.1
  plugins/drop-simulator
Labels: plugin change

#1159 Flipping Utilities
  plugins/flipping-utilities
Labels: plugin change

#1024 Add "Hotkeyable Menu Swaps" plugin to plugin hub
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#1136 Camera Points Plugin
  plugins/camera-points
Labels: plugin change

#1149 Create current-world plugin
  plugins/current-world
Labels: plugin change

#1150 Add Miasma Tiles plugin
  plugins/miasma-tiles
Labels: plugin change

#1155 Create bot-detector
  plugins/bot-detector
Labels: plugin change

#1160 ProximityScape - Discord
  plugins/proximityscape-discord
Labels: plugin change

#1163 Fixes issues when hopping between worlds
  plugins/inventory-value-overlay
Labels: plugin change

#1164 Update optimal-quest-guide
  plugins/optimal-quest-guide
Labels: plugin change

#1165 Removed System.out.println() from bot-detector
  plugins/bot-detector
Labels: plugin change

#1161 Added option to ignore friend ranks
  plugins/clan-roster-helper-plugin
Labels: plugin change

#1166 update map-waypoints to v1.5
  plugins/map-waypoints
Labels: plugin change

#1162 Added Elysium Events plugin
  .idea/.gitignore
  .idea/compiler.xml
  .idea/gradle.xml
  .idea/jarRepositories.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/plugin-hub.iml
  .idea/vcs.xml
  plugins/elysiumevents-plugin
Labels: plugin change

#1167 update model-dumper to v1.2.1
  plugins/model-exporter
Labels: plugin change

#1169 Update current-world to v1.1
  plugins/current-world
Labels: plugin change

#1171 FlippingUtilities
  plugins/flipping-utilities
Labels: plugin change

#1173 Changed the Receive Server for bot-detector
  plugins/bot-detector
Labels: plugin change

#1168 Add protect item notifier plugin.
  plugins/protect-item-notifier
Labels: plugin change

#1176 Update quest-helper v1.6.4
  plugins/quest-helper
Labels: plugin change

#1174 Resized icons and added a PVP only config item.
  plugins/protect-item-notifier
Labels: plugin change

#1177 Update quest-helper to v1.6.5
  plugins/quest-helper
Labels: plugin change

#1180 Added Automatic Sending/Notifications, Added Icon - Bot Detector
  plugins/bot-detector
Labels: plugin change

#1181 Update proximityscape-discord
  plugins/proximityscape-discord
Labels: plugin change

#1183 Update clan-roster-helper-plugin
  plugins/clan-roster-helper-plugin
Labels: plugin change

#1175 Add Discord Level Notifications Plugin
  plugins/discord-level-notifications
Labels: plugin change

#1182 Add Coal Bag plugin
  plugins/coal-bag
Labels: plugin change

#1184 Update influxdb-stats
  plugins/influxdb-stats
Labels: plugin change

#1185 update current-world to v1.2
  plugins/current-world
Labels: plugin change

#1189 Add Method Observer Plugin
  plugins/method-observer
Labels: plugin change

#1186 Update raid data tracker to v1.4.2
  plugins/raid-data-tracker
Labels: plugin change

#1190 Left click dropper: Remove generic item requirement
  plugins/zom-leftclick-dropper
Labels: plugin change

#1192 Right-Click Group Lookup and Panel - Bot Detector
  plugins/bot-detector
Labels: plugin change

#1191 nmz util Remove rock cake guzzle
  plugins/zom-nmz-util
Labels: plugin change

#1194 Fix left click dropper commit number
  plugins/zom-leftclick-dropper
Labels: plugin change

#1188 Update discord level notifications 1.1.0
  plugins/discord-level-notifications
Labels: plugin change

#1198 Zalcano utility plugin updated
  plugins/zalcano
Labels: plugin change

#1199 Add temple tracker plugin
  plugins/temple-tracker
Labels: plugin change

#1200 Update pet-info to 3.0
  plugins/pet-info
Labels: plugin change

#1202 Add tob-notice-board plugin
  plugins/tob-notice-board
Labels: plugin change

#1204 Update visual-metronome to V1.2.3
  plugins/visual-metronome
Labels: plugin change

#1205 Update annoyance-mute to v1.6
  plugins/annoyance-mute
Labels: plugin change

#1207 Update Bossing Info plugin - Update Cerb timeout time
  plugins/kph-tracker
Labels: plugin change

#1196 Add clan-event-attendance
  plugins/clan-event-attendance
Labels: plugin change

#1206 Create keybinds-overlay
  plugins/keybinds-overlay
Labels: plugin change

#1203 Flipper 1.2.0 update
  plugins/flipper
Labels: plugin change

#1211 Update Elysium Events plugin to use Google Sheets API
  package/verification-template/build.gradle
  package/verification-template/gradle/verification-metadata.xml
  plugins/elysiumevents-plugin
Labels: dependency change, plugin change

#1212 FlippingUtilities
  plugins/flipping-utilities
Labels: plugin change

#1213 Update drop-simulator to v1.2
  plugins/drop-simulator
Labels: plugin change

#1210 Added Vial Smasher Plugin
  plugins/vial-smasher
Labels: plugin change

#1214 Refactored Elysium Events to Clan Events
  plugins/elysiumevents-plugin
Labels: plugin change

#1223 Update clan-event-attendance to V1.2
  plugins/clan-event-attendance
Labels: plugin change

#1222 update visual-metronome to V1.3
  plugins/visual-metronome
Labels: plugin change

#1221 Update Clan Events Plugin
  plugins/elysiumevents-plugin
Labels: plugin change

#1215 Update do-not-kick
  plugins/do-not-kick
Labels: plugin change

#1216 Update keybinds-overlay
  plugins/keybinds-overlay
Labels: plugin change

#1218 add coffin-counter
  plugins/coffin-counter
Labels: plugin change

#1217 create Force Recolor plugin
  plugins/force-recolor
Labels: plugin change

#1220 Create inferno-splits-logger
  plugins/inferno-splits-logger
Labels: plugin change

#1226 Update clan-event-attendance to V1.3
  plugins/clan-event-attendance
Labels: plugin change

#1227 Update annoyance-mute to v1.6.1
  plugins/annoyance-mute
Labels: plugin change

#1224 Update pvp-performance-tracker to v1.4.3
  plugins/pvp-performance-tracker
Labels: plugin change

#1232 update coffin-counter to v1.0.1
  plugins/coffin-counter
Labels: plugin change

#1229 Feature/flipper 1.2.1
  plugins/flipper
Labels: plugin change

#1231 Update osrskillboard to 1.0.0
  plugins/osrskillboard
Labels: plugin change

#1233 Update pet-info to v3.0
  plugins/pet-info
Labels: plugin change

#1236 Update lance-enhance to v1.0.1
  plugins/lance-enhance
Labels: plugin change

#1234 Add shooting stars plugin
  plugins/shooting-stars
Labels: plugin change

#1235 Add Shooting Stars to Clipboard plugin
  plugins/shooting-stars-to-clipboard
Labels: plugin change

#1238 update shooting-stars-to-clipboard
  plugins/shooting-stars-to-clipboard
Labels: plugin change

#1248 Bump one-click-summer-garden to 1.2
  plugins/one-click-summer-garden
Labels: plugin change

#1247 Update clan-event-attendance
  plugins/clan-event-attendance
Labels: plugin change

#1239 Update inferno-splits-logger
  plugins/inferno-splits-logger
Labels: plugin change

#1241 Add option to reduce chat spam
  plugins/shooting-stars-to-clipboard
Labels: plugin change

#1230 Update Bank Tag Layouts to v1.1
  plugins/bank-tag-layouts
Labels: plugin change

#1243 Update Emojiscape to 1.6
  plugins/emojiscape
Labels: plugin change

#1246 Create Animation Transmog
  plugins/animation-transmog
Labels: plugin change

#1240 Update drop-simulator to v1.3
  plugins/drop-simulator
Labels: plugin change

#1201 Panel Updates, Changes to API Calls - Bot Detector
  plugins/bot-detector
Labels: plugin change

#1242 Bump shooting-stars to 1.1
  plugins/shooting-stars
Labels: plugin change

#1245 Shooting Stars Tracking
  plugins/shooting-stars-tracking
Labels: plugin change

#1249 Add Weapon Animation Replacer
  plugins/weapon-animation-replacer
Labels: plugin change

#1250 Updating flipper to 1.2.2
  plugins/flipper
Labels: plugin change

#1251 Update quest-helper to v1.7.0
  plugins/quest-helper
Labels: plugin change

#1252 update shooting-stars to v1.2
  plugins/shooting-stars
Labels: plugin change

#1262 update drop-simulator to v1.3.1
  plugins/drop-simulator
Labels: plugin change

#1256 update shooting-stars-tracking
  plugins/shooting-stars-tracking
Labels: plugin change

#1259 update animation-transmog
  plugins/animation-transmog
Labels: plugin change

#1258 update visual-metronome to v1.3.1
  plugins/visual-metronome
Labels: plugin change

#1255 update cox-additions
  plugins/cox-additions
Labels: plugin change

#1254 update resource-packs to 1.3.1.1
  plugins/resource-packs
Labels: plugin change

#1263 add ping-grapher
  plugins/ping-grapher
Labels: plugin change

#1267 Update quest-helper to v1.7.1
  plugins/quest-helper
Labels: plugin change

#1264 add star-lore
  plugins/star-lore
Labels: plugin change

#1266 FlippingUtilities
  plugins/flipping-utilities
Labels: plugin change

#1268 Update pet-info
  plugins/pet-info
Labels: plugin change

#1269 update ping-grapher
  plugins/ping-grapher
Labels: plugin change

#1261 package: Increase build.gradle column limit to 120
  package/package/src/main/java/net/runelite/pluginhub/packager/Plugin.java
Labels: package change

#1270 NMZ Optimal Points 1.2.0
  plugins/nmz-optimal-points
Labels: plugin change

#1271 Bank tag layouts v1.2
  plugins/bank-tag-layouts
Labels: plugin change

#1272 Weapon animation replacer v1.0.1
  plugins/weapon-animation-replacer
Labels: plugin change

#1273 update ping-grapher
  plugins/ping-grapher
Labels: plugin change

#1276 update wom-utils
  plugins/wom-utils
Labels: plugin change

#1275 update drop-simulator to v1.3.2
  plugins/drop-simulator
Labels: plugin change

#1274 update animation-transmog
  plugins/animation-transmog
Labels: plugin change

#1280 update bank-tag-layouts to v1.2.1
  plugins/bank-tag-layouts
Labels: plugin change

#1282 Update quest-helper to v1.7.2
  plugins/quest-helper
Labels: plugin change

#1278 update gnome-restaurant to v1.1
  plugins/gnome-restaurant
Labels: plugin change

#1283 Update fishing-notifier
  plugins/fishing-notifier
Labels: plugin change

#1287 NMZ plugin 1.2.1 - Bug Fix
  plugins/nmz-optimal-points
Labels: plugin change

#1294 Update Pet-Info to v3.1.2
  plugins/pet-info
Labels: plugin change

#1279 add tempoross
  plugins/tempoross
Labels: plugin change

#1277 Create volcanic-mine-pre-reset-notifier
  plugins/volcanic-mine-pre-reset-notifier
Labels: plugin change

#1284 Update raids clipboard
  plugins/cox-clipboard
Labels: plugin change

#1288 Update orb-hider
  plugins/orb-hider
Labels: plugin change

#1289 Update Annoyance Mute and ToB Notice Board
  plugins/annoyance-mute
  plugins/tob-notice-board
Labels: plugin change

#1291 Bump shooting stars plugin to v1.3
  plugins/shooting-stars
Labels: plugin change

#1298 update inferno-splits-logger
  plugins/inferno-splits-logger
Labels: plugin change, ready to merge

#1285 update flipper to v1.2.3
  plugins/flipper
Labels: plugin change

#1299 update gnome-restaurant to v1.2
  plugins/gnome-restaurant
Labels: plugin change, ready to merge

#1297 add wilderness-teleports
  plugins/wilderness-teleports
Labels: plugin change

#1295 add random-event-analytics
  plugins/random-event-analytics
Labels: plugin change

#1296 update animation-transmog
  plugins/animation-transmog
Labels: plugin change
