Repository runelite/plugin-hub, pull requests merged in 2021-11, with the labels that each got.

#2032 Add camera-fun plugin
  plugins/camera-fun
Labels: plugin added

#2037 Update account-chat-filter
  plugins/account-chat-filter
Labels: plugin change

#2044 Update Mahogany Homes (v1.3)
  plugins/mahogany-homes
Labels: plugin change

#2046 Left click dropper
  plugins/zom-leftclick-dropper
Labels: plugin change

#2049 Update quest-helper to v2.6.1
  plugins/quest-helper
Labels: plugin change

#2048 Add Rogues' Den plugin
  plugins/rogues-den
Labels: plugin added

#2057 update wintertodt-scouter to v1.1
  plugins/wintertodt-scouter
Labels: plugin change

#2053 add xp-drop-extended
  plugins/xp-drop-extended
Labels: plugin added

#2050 update skilling-notifications to v1.5
  plugins/skilling-notifications
Labels: plugin change

#2059 update xp-drop-extended to v1.1
  plugins/xp-drop-extended
Labels: plugin change

#2036 Create runelogger
  plugins/runelogger
Labels: plugin added

#2052 update better-skill-tooltips to v1.1
  plugins/better-skill-tooltips
Labels: plugin change

#2054 update subtle-virtual-levels to v1.1
  plugins/subtle-virtual-levels
Labels: plugin change

#2062 update transmog to v1.2.2
  plugins/transmog
Labels: plugin change

#2064 Update 117hd to v1.0.8
  plugins/117hd
Labels: plugin change

#2066 update transmog to v1.2.3
  plugins/transmog
Labels: plugin change

#2067 update transmog to v1.2.4
  plugins/transmog
Labels: plugin change

#2051 update phillip-hue-integration
  plugins/phillip-hue-integration
Labels: plugin change

#2069 update transmog to v1.2.5
  plugins/transmog
Labels: plugin change

#2068 Update mahogany-homes to v1.4
  plugins/mahogany-homes
Labels: plugin change

#2065 Update pvp-performance-tracker to v1.5.0
  plugins/pvp-performance-tracker
Labels: plugin change

#2070 Weapon animation replacer - fix flickering bug
  plugins/weapon-animation-replacer
Labels: plugin change

#2076 Update skills-tab-progress-bars to v1.0
  plugins/skills-tab-progress-bars
Labels: plugin change

#2075 update dps-calculator to v1.4.5
  plugins/dps-calculator
Labels: plugin change

#2071 weapon charges - fix upgraded ibans staff
  plugins/weapon-charges-2
Labels: plugin change

#2073 Add Unregistered Hypercam 2 Plugin
  plugins/unregistered-hypercam-2
Labels: plugin added

#2061 Update Clan event attendance
  plugins/clan-event-attendance
Labels: plugin change

#2063 Improved Rooftops - v0.3
  plugins/tictac7x-rooftops
Labels: plugin added

#2060 Skills Generator
  plugins/boredgenerator
Labels: plugin change

#2072 Update Runelogger
  plugins/runelogger
Labels: plugin change

#2077 Update account-chat-filter
  plugins/account-chat-filter
Labels: plugin change

#2058 Add text to speech plugin
  plugins/tts
Labels: plugin added

#2079 Skills Generator: hotfix: removed chunk loading glitch, also added a reset points button.
  plugins/boredgenerator
Labels: plugin change

#2080 Update skills-tab-progress-bars to v1.1
  plugins/skills-tab-progress-bars
Labels: plugin change

#2078 Update radius markers to v1.2
  plugins/radius-markers
Labels: plugin change

#2082 Update discord-notifications
  plugins/discord-notifications
Labels: plugin change

#2083 Update npc-spawns
  plugins/npc-spawns
Labels: plugin change

#2084 Rooftop Agility Improved - v0.4.1
  plugins/tictac7x-rooftops
Labels: plugin change

#2090 Rooftop Agility Improved - v0.4.2
  plugins/tictac7x-rooftops
Labels: plugin change

#2094 Update tob-mistake-tracker to v2.2
  plugins/tob-mistake-tracker
Labels: plugin change

#2085 Update skilling-notifications to v1.6
  plugins/skilling-notifications
Labels: plugin change

#2091 Update friend-live-locations
  plugins/friend-live-locations
Labels: plugin change

#2095 Update dps-calculator to v1.4.6
  plugins/dps-calculator
Labels: plugin change

#2100 Update quest-helper to v2.6.2
  plugins/quest-helper
Labels: plugin change

#2101 Update InventorySetups to use new RunepouchRune API
  plugins/inventory-setups
Labels: plugin change

#2107 Update menu-swapper-extended
  plugins/menu-swapper-extended
Labels: plugin change

#2088 [Requires Runelite 1.8.3] Bank tag layouts 1.4.8 - fix scrollbar flickering
  plugins/bank-tag-layouts
Labels: plugin change, hold for release

#2055 Add GIMPlugin
  plugins/gim-plugin
Labels: plugin added

#2103 update Equipment Screenshot to v1.0.5
  plugins/equipment-screenshot
Labels: plugin change

#2089 Add sextant locator
  plugins/sextant-locator
Labels: plugin added

#2092 Sulliuscep run - v0.1
  plugins/tictac7x-sulliuscep
Labels: plugin added

#2097 Rooftop Agility Improved - v0.4.4
  plugins/tictac7x-rooftops
Labels: plugin change

#2098 Create agility-pyramid-slider-block-timer
  plugins/agility-pyramid-slider-block-timer
Labels: plugin added

#2099 Update Runelogger to 0.2.1
  plugins/runelogger
Labels: plugin change

#2102 Balloon Transport System - v0.4.1
  plugins/tictac7x-balloon
Labels: plugin change

#2105 Update tts to 1.01
  plugins/tts
Labels: plugin change

#2110 Update rainbow-rave to v1.0.3
  plugins/rainbow-rave
Labels: plugin change

#2109 Updating discord-notifications
  plugins/discord-notifications
Labels: plugin change

#2106 Update gauntlet-minimap to v1.2.2
  plugins/gauntlet-minimap
Labels: plugin change

#2104 Update effective-level to v1.1
  plugins/effective-level
Labels: plugin change

#2081 Add Qolting plugin
  plugins/qolting
Labels: plugin added

#2108 Add herbi-afk plugin
  plugins/herbi-afk
Labels: plugin added

#2113 Update account-chat-filter
  plugins/account-chat-filter
Labels: plugin change

#2118 (Hotfix) Update camera-smoothing to v1.1
  plugins/camera-smoothing
Labels: plugin change

#2114 Update Monster Menu HP to 1.1.2
  plugins/menuhp
Labels: plugin change

#2096 Add line of sight plugin
  plugins/line-of-sight
Labels: plugin added

#2116 Update Qolting to v1.1
  plugins/qolting
Labels: plugin change

#2117 Motherlode Mine Improved - v0.2
  plugins/tictac7x-motherlode
Labels: plugin added

#2115 Death Party Plugin
  plugins/death-party
Labels: plugin added

#2119 Update skilling-notifications
  plugins/skilling-notifications
Labels: plugin change

#2121 Update herbi-afk
  plugins/herbi-afk
Labels: plugin change

#2122 Bump shooting stars plugin to 1.5.1
  plugins/shooting-stars
Labels: plugin change

#2127 Update osrs-wiki-crowdsourcing
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#2123 Osrslog update 1.0.7
  plugins/scapecloud
Labels: plugin change

#2124 Update ba-minigame to v1.43
  plugins/ba-minigame
Labels: plugin change

#2125 Exchange logger
  plugins/exchange-logger
Labels: plugin change

#2126 Update text to speech to 1.02
  plugins/tts
Labels: plugin change

#2128 Green Thumb update
  plugins/green-thumb
Labels: plugin change

#2130 weapon animation replacer 2.0.3
  plugins/weapon-animation-replacer
Labels: plugin change

#2131 Update Camera-Keys to v1.0.2
  plugins/camera-keys
Labels: plugin change

#2129 Add AFK Countdown
  plugins/afk-countdown
Labels: plugin added

#2120 Added a Trouble Brewing plugin
  plugins/trouble-brewing
Labels: plugin added

#2134 Update skills-tab-progress-bars to v1.2
  plugins/skills-tab-progress-bars
Labels: plugin change

#2136 rainbow rave 1.0.4, fix math and update tags
  plugins/rainbow-rave
Labels: plugin change

#2132 add prifddinas plugin
  plugins/prifddinas
Labels: plugin added

#2133 Update quest-helper to v2.7.0
  plugins/quest-helper
Labels: plugin change

#2137 Update c-engineer-completed to v0.3
  plugins/c-engineer-completed
Labels: plugin change

#2138 Update afk-countdown
  plugins/afk-countdown
Labels: plugin change
