Repository runelite/plugin-hub, pull requests merged in 2021-04, with the labels that each got.

#1303 update animation-transmog to v1.0.2
  plugins/animation-transmog
Labels: plugin change

#1302 update quest-helper to v2.0.0
  plugins/quest-helper
Labels: plugin change

#1265 InfernalFC
  plugins/infernalfc
Labels: plugin change

#1300 Add Active Prices in trade screen
  plugins/zom-active-prices-trade
Labels: plugin change

#1306 Fire beats bug fixes.
  plugins/fire-beats
Labels: plugin change

#1305 Update clan chat logger to v1.2
  package/verification-template/build.gradle
  package/verification-template/gradle/verification-metadata.xml
  plugins/chat-logger
Labels: dependency change, plugin change

#1307 Flipper 1.2.4
  plugins/flipper
Labels: plugin change

#1253 Add blue-prox-chat
  package/verification-template/build.gradle
  package/verification-template/gradle/verification-metadata.xml
  plugins/blue-prox-chat
Labels: dependency change, plugin added

#1309 Update infernalfc
  plugins/infernalfc
Labels: plugin change

#1310 update wom-utils
  plugins/wom-utils
Labels: plugin change

#1293 Introduce irc-plugin
  plugins/irc
Labels: plugin added

#1312 blue-prox-chat: 1.0.1
  plugins/blue-prox-chat
Labels: plugin change

#1314 update animation-transmog to v1.1.0
  plugins/animation-transmog
Labels: plugin change

#1315 Bugfix OSRS Streamers for the MenuOptionClicked update
  plugins/osrs-streamers
Labels: plugin change

#1316 Feature/flipper 1.2.4
  plugins/flipper
Labels: plugin change

#1317 Update raids-clipboard plugin
  plugins/cox-clipboard
Labels: plugin change

#1318 update visualmetronome to v1.3.2
  plugins/visual-metronome
Labels: plugin change

#1292 Create weapon-charges
  plugins/weapon-charges
Labels: plugin added

#1321 Update Collection log plugin to v1.4
  plugins/collection-log
Labels: plugin change

#1322 update animation-transmog to v1.1.1
  plugins/animation-transmog
Labels: plugin change

#1323 Update volcanic-mine-pre-reset-notifier
  plugins/volcanic-mine-pre-reset-notifier
Labels: plugin change

#1326 Volcanic mine pre reset notifier
  plugins/volcanic-mine-pre-reset-notifier
Labels: plugin change

#1327 Update Clan Events
  plugins/elysiumevents-plugin
Labels: plugin change

#1320 Update weapon-charges
  plugins/weapon-charges
Labels: plugin change

#1304 create stack-value
  plugins/stack-value
Labels: plugin change

#1329 Update ba-minigame
  plugins/ba-minigame
Labels: plugin change

#1328 Imbued heart notifier
  plugins/imbued-heart-notifier
Labels: plugin added

#1290 Update Inventory Setups to v1.10.2
  plugins/inventory-setups
Labels: plugin change

#1332 Mouse click counter
  plugins/mouse-click-counter
Labels: plugin change

#1334 Update probability-calculator
  plugins/probability-calculator
Labels: plugin change, ready to merge

#1335 add fish-barrel
  plugins/fish-barrel
Labels: plugin added

#1336 Update volcanic-mine-pre-reset-notifier
  plugins/volcanic-mine-pre-reset-notifier
Labels: plugin change

#1331 Bank Tag Layouts v1.3 - Inventory setups support.
  plugins/bank-tag-layouts
Labels: plugin change

#1333 Update infernalfc 1.2
  plugins/infernalfc
Labels: plugin change

#1340 Bank tag layouts 1.3.1 - bug fixes.
  plugins/bank-tag-layouts
Labels: plugin change

#1337 update animation-transmog to v1.2.0
  plugins/animation-transmog
Labels: plugin change

#1341 update fish-barrel to v1.1
  plugins/fish-barrel
Labels: plugin change

#1343 Update InfernalFC
  plugins/infernalfc
Labels: plugin change

#1344 Update bot-detector V0.2
  plugins/bot-detector
Labels: plugin change

#1345 Update Cox Light Colors plugin to 1.3
  plugins/cox-light-colors
Labels: plugin change

#1346 Update CoX Scouter to 1.2.1
  plugins/cox-scouter-external
Labels: plugin change

#1348 Update quest-helper to v2.0.1
  plugins/quest-helper
Labels: plugin change

#1349 Updating ItemRarity to include Options for GE/HA Pricing
  plugins/itemrarity
Labels: plugin change

#1286 Add broadcaster
  package/verification-template/build.gradle
  package/verification-template/gradle/verification-metadata.xml
  plugins/broadcaster
Labels: dependency change, plugin added

#1339 Create spring-garden
  plugins/spring-garden
Labels: plugin added

#1313 Cm auto splitter
  plugins/cm-auto-splitter
Labels: plugin added

#1330 Add interactive chat plugin
  plugins/interactive-chat
Labels: plugin added

#1350 force recolor: v1.1 color grouping
  plugins/force-recolor
Labels: plugin change

#1353 update cox-scouter-external to v1.2.2
  plugins/cox-scouter-external
Labels: plugin change, ready to merge

#1358 FlippingUtilities
  plugins/flipping-utilities
Labels: plugin change

#1352 update life-saving-jewellery to v1.0.3
  plugins/life-saving-jewellery
Labels: plugin change

#1355 Cm auto splitter 1.1
  plugins/cm-auto-splitter
Labels: plugin change

#1356 Update ba-minigame
  plugins/ba-minigame
Labels: plugin change

#1359 Update Cox Light Colors plugin to 1.3.1
  plugins/cox-light-colors
Labels: plugin change

#1360 Update Monster Menu HP Plugin to 1.1.1
  plugins/menuhp
Labels: plugin change

#1361 Update interactive chat to v1.0.1
  plugins/interactive-chat
Labels: plugin change

#1362 Update more-fireworks
  plugins/more-fireworks
Labels: plugin change

#1367 Update corp-ffa07
  plugins/corp-ffa07
Labels: plugin change

#1365 Update Loot Logger (v2.3)
  plugins/loot-logger
Labels: plugin change

#1366 Updated Banked Experience (v2.0)
  plugins/banked-experience
Labels: plugin change

#1364 add last-seen-online plugin
  plugins/last-seen-online
Labels: plugin added

#1368 mse: update swap method
  plugins/menu-swapper-extended
Labels: plugin change

#1381 Update quest-helper v2.0.2
  plugins/quest-helper
Labels: plugin change

#1369 Active Trade prices
  plugins/zom-active-prices-trade
Labels: plugin change

#1370 Updating to flipper 1.2.6
  plugins/flipper
Labels: plugin change

#1372 Update clan-event-attendance
  plugins/clan-event-attendance
Labels: plugin change

#1374 Cm auto splitter 1.2
  plugins/cm-auto-splitter
Labels: plugin change

#1377 minor adjustments to last-seen-online and life-saving-jewellery plugins
  plugins/last-seen-online
  plugins/life-saving-jewellery
Labels: plugin change

#1379 Update Banked Experience (v2.0.1)
  plugins/banked-experience
Labels: plugin change

#1375 add friend-list-viewer plugin
  plugins/friend-list-viewer
Labels: plugin added

#1384 update nexus-map to v1.0.1
  plugins/nexus-map
Labels: plugin change
