Repository runelite/plugin-hub, pull requests merged in 2022-02, with the labels that each got.

#2359 Update wiki-sync to 2.0
  plugins/wikisync
Labels: plugin change

#2311 Update Collection log plugin to v2.0
  plugins/collection-log
Labels: plugin change

#2356 Update analogue-timestamps to 1.1
  plugins/analogue-timestamps
Labels: plugin change

#2360 region-locker: Fix hovered chunk in map
  plugins/region-locker
Labels: plugin change

#2361 customizable-xp-drops to v1.3.1
  plugins/customizable-xp-drops
Labels: plugin change

#2362 Update FlippingUtilities
  plugins/flipping-utilities
Labels: plugin change

#2301 Create ticktracker
  plugins/ticktracker
Labels: plugin added

#2363 Adding new Party Play plugin to hub.
  plugins/party-play
Labels: plugin added

#2372 Update ticktracker
  plugins/ticktracker
Labels: plugin change

#2373 Update shattered-relics-fragment-presets (v1.2)
  plugins/shattered-relics-fragment-presets
Labels: plugin change

#2348 improved fragment ui 1.0
  plugins/improved-fragment-ui
Labels: plugin added

#2368 Update Runite Rocks (v1.3)
  plugins/runite-rocks
Labels: plugin change

#2369 Update Banked Experience (v2.1.2)
  plugins/banked-experience
Labels: plugin change

#2370 Re-enable Party Panel plugin
  plugins/party-panel
Labels: plugin change

#2306 Add Snow Tracker Plugin
  plugins/snow-tracker
Labels: plugin added

#2330 Add xp-drop-notify plugin
  plugins/xp-drop-notify
Labels: plugin added

#2339 Create combat-information
  plugins/combat-information
Labels: plugin added

#2353 Break reminder plugin
  plugins/break-reminder
Labels: plugin added

#2355 Create pyramid-plunder-counter
  plugins/pyramid-plunder-counter
Labels: plugin added

#2374 Add League Chat Broadcasts plugin
  plugins/league-chat-broadcasts
Labels: plugin added

#2277 Add Herb Farming Calculator plugin
  plugins/herb-farm-calculator
Labels: plugin added

#589 Add Music replacer
  plugins/music-replacer
Labels: plugin added

#2376 Update league-chat-broadcasts
  plugins/league-chat-broadcasts
Labels: plugin change

#2377 Update Flipping Utilities
  plugins/flipping-utilities
Labels: plugin change

#2378 update shattered-relic-xp to v1.6
  plugins/shattered-relic-xp
Labels: plugin change

#2379 Update flipping-utilities
  plugins/flipping-utilities
Labels: plugin change

#2382 update shattered-relic-xp to v1.7
  plugins/shattered-relic-xp
Labels: plugin change

#2387 Update quest-helper to v2.8.3
  plugins/quest-helper
Labels: plugin change

#2389 update shattered-relics-fragment-presets to v1.3
  plugins/shattered-relics-fragment-presets
Labels: plugin change

#2390 update shattered-relic-xp to v1.8
  plugins/shattered-relic-xp
Labels: plugin change

#2386 update clan-event-attendance to v1.4.3
  plugins/clan-event-attendance
Labels: plugin change

#2384 update flipping-utilities
  plugins/flipping-utilities
Labels: plugin change

#2391 update improved-fragment-ui to v1.0.1
  plugins/improved-fragment-ui
Labels: plugin change

#2392 update improved-fragment-ui to v1.0.2
  plugins/improved-fragment-ui
Labels: plugin change

#2400 Update 117hd to v1.0.14
  plugins/117hd
Labels: plugin change

#2380 Update camera-keys to v1.0.3
  plugins/camera-keys
Labels: plugin change

#2381 Update Tasks-Tracker: Add filters & refactor to use varbits instead of scraping
  plugins/tasks-tracker
Labels: plugin change

#2383 Update hunllef-helper to v1.2.1
  plugins/hunllef-helper
Labels: plugin change

#2394 Update Loot Logger (v3.2.1)
  plugins/loot-logger
Labels: plugin change

#2396 Update discord-rare-drop-notificater
  plugins/discord-rare-drop-notificater
Labels: plugin change

#2398 Bank Tag Layouts 1.4.14 - bug fix.
  plugins/bank-tag-layouts
Labels: plugin change

#2399 Update music-replacer
  plugins/music-replacer
Labels: plugin change

#2418 Update Collection log plugin to v2.0.1
  plugins/collection-log
Labels: plugin change

#2416 Update customizable-xp-drops to v1.3.2
  plugins/customizable-xp-drops
Labels: plugin change

#2414 Update weapon-animation-replacer to v2.2.1
  plugins/weapon-animation-replacer
Labels: plugin change

#2415 Update bone-running
  plugins/bone-running
Labels: plugin change

#2403 Update tictac7x-balloon to v0.5.1
  plugins/tictac7x-balloon
Labels: plugin change

#2402 Update flipping-utilities
  plugins/flipping-utilities
Labels: plugin change

#2401 Update shattered-relics-fragment-presets to v1.4
  plugins/shattered-relics-fragment-presets
Labels: plugin change

#2419 Update music-replacer
  plugins/music-replacer
Labels: plugin change

#2287 Add autocast-utilities
  plugins/autocast-utilities
Labels: plugin added

#2253 Add Loot Lookup Plugin
  package/verification-template/build.gradle
  plugins/loot-lookup
Labels: dependency change, plugin added

#2393 Storage v0.1 - Bank/Inventory overlays
  plugins/tictac7x-storage
Labels: plugin added

#2395 Transferred ownership + no longer clashing names
  plugins/zalcano
Labels: plugin change

#2409 Update loading-lines
  plugins/loading-lines
Labels: plugin change

#2420 update shattered-relic-xp to v1.9
  plugins/shattered-relic-xp
Labels: plugin change

#2425 update shattered-relic-xp to v1.11
  plugins/shattered-relic-xp
Labels: plugin change

#2423 update gim-plugin to v2.1
  plugins/gim-plugin
Labels: plugin change

#2427 update shattered-relic-xp to v1.12
  plugins/shattered-relic-xp
Labels: plugin change

#2422 update shortest-path to v1.6
  plugins/shortest-path
Labels: plugin change

#2430 Update customizable-xp-drops to v1.3.3
  plugins/customizable-xp-drops
Labels: plugin change

#2424 Update loot-lookup to v1.1.0
  plugins/loot-lookup
Labels: plugin change
