Repository runelite/plugin-hub, pull requests merged in 2022-08, with the labels that each got.

#3077 Update taskjingle plugin
  plugins/taskjingle
Labels: plugin change

#3078 update one-click-summer-garden to v2.2.0
  plugins/one-click-summer-garden
Labels: plugin change

#3079 Updated Pickpocket Info with a New Feature
  plugins/pickpocket-info
Labels: plugin change

#3081 Update shooting-stars-tracking
  plugins/shooting-stars-tracking
Labels: plugin change

#3084 Update temple-osrs to v 1.1.3
  plugins/temple-osrs
Labels: plugin change

#3085 Update loot-lookup to v1.1.6
  plugins/loot-lookup
Labels: plugin change

#3091 Update c-engineer-completed to v1.0.1
  plugins/c-engineer-completed
Labels: plugin change

#3088 Update infernalfc
  plugins/infernalfc
Labels: plugin change

#3094 Updated shift remapping and added functionality
  plugins/shift-remapping
Labels: plugin change

#3095 Update better-npc-highlight
  plugins/better-npc-highlight
Labels: plugin change

#3097 Update quest-helper to v3.1.1
  plugins/quest-helper
Labels: plugin change

#3099 Update toggle-chat
  plugins/toggle-chat
Labels: plugin change

#3050 Refreshed the Organized Crime Plugin
  plugins/shayzien-organised-crime
Labels: plugin change

#3098 Update shortest-path to v1.9
  plugins/shortest-path
Labels: plugin change

#3100 Update Fight Cave Waves
  plugins/fight-cave-waves
Labels: plugin change

#3086 customizable-xp-drops to v1.5.8
  plugins/customizable-xp-drops
Labels: plugin change

#3102 Update friend-live-locations
  plugins/friend-live-locations
Labels: plugin change

#2967 Add RS3 Music
  plugins/rs3-music
Labels: plugin added

#3065 Update music-replacer
  plugins/music-replacer
Labels: plugin change

#3103 Updated gradle and added all option
  plugins/monster-hp-percentage
Labels: plugin change

#3104 Bank Tag Layouts 1.4.16 - fix jogl disaster.
  plugins/bank-tag-layouts
Labels: plugin change

#3105 Update RS3 music
  plugins/rs3-music
Labels: plugin change

#3109 Update-default-showall-setting
  plugins/monster-hp-percentage
Labels: plugin change

#3072 Update Pluging Presets to v2.0
  plugins/plugin-presets
Labels: plugin change

#3106 Added issue 1 for config color x ticks
  plugins/betteroverload
Labels: plugin change

#3074 update Notification Panel to v1.0.1
  plugins/notification-panel
Labels: plugin change

#3089 Slayer Assistant - Fix Bug Loading Specific Images
  plugins/slayer-assistant
Labels: plugin change

#3110 Update Twitch Live Loadout Plugin to v1.0.3
  plugins/twitch-live-loadout
Labels: plugin change

#3111 Updated Nylo Death Indicators to v1.0.2
  plugins/nylo-death-indicators
Labels: plugin change

#3112 Update pvp-performance-tracker to v1.5.5
  plugins/pvp-performance-tracker
Labels: plugin change

#3114 Updated Inferno Stats to v2.1.1
  plugins/inferno-stats
Labels: plugin change

#3113 Update cox-additions
  plugins/cox-additions
Labels: plugin change

#3116 Weapon charges 0.4.1 - runelite API compatibility fix.
  plugins/weapon-charges-2
Labels: plugin change

#3115 Update skilling-notifications
  plugins/skilling-notifications
Labels: plugin change

#3117 Update gim-plugin to 2.5.1
  plugins/gim-plugin
Labels: plugin change

#3070 Add nm-autosplitter
  plugins/nm-autosplitter
Labels: plugin added

#3093 update thenwefight to 0.3.0
  plugins/thenwefight
Labels: plugin change

#3080 Update startierindicator
  plugins/startierindicator
Labels: plugin change

#2981 Add hue-ambiance plugin
  plugins/phillip-hue-integration
Labels: plugin change

#3119 [region-locker] Add jogl dependency
  plugins/region-locker
Labels: plugin change

#3121 update gpu-legacy
  plugins/gpu-legacy
Labels: plugin change

#2252 Add video recorder
  plugins/video-recorder
Labels: plugin added

#3123 Update nm-autosplitter
  plugins/nm-autosplitter
Labels: plugin change

#3124 Update Party Panel (v3.0.2)
  plugins/party-panel
Labels: plugin change

#3125 Update Plugin Presets to v2.1
  plugins/plugin-presets
Labels: plugin change

#3126 Update hue plugin
  plugins/phillip-hue-integration
Labels: plugin change

#3127 Update action-progress to 1.04
  plugins/action-progress
Labels: plugin change

#3130 Update Tob Damage Counter to v1.2
  plugins/tob-damage-counter
Labels: plugin change

#3046 Update Pathfinder to possible new maintainer and newer version
  plugins/pathfinder
Labels: plugin change

#3005 Add SnailMan Mode Plugin
  plugins/snailman-mode
Labels: plugin added

#3132 update visualmetronome to V1.4
  plugins/visual-metronome
Labels: plugin change

#3138 update vm-stability-tracker
  plugins/vm-stability-tracker
Labels: plugin change

#3139 Update Bot Detector to v1.3.8
  plugins/bot-detector
Labels: plugin change

#3083 add dryness calculator plugin
  plugins/dryness-calculator
Labels: plugin added

#3140 Update improved-tile-indicators
  plugins/improved-tile-indicators
Labels: plugin change

#3092 Create resting
  plugins/resting
Labels: plugin added

#3118 Add GE Filters v1.0
  plugins/ge-filters
Labels: plugin added

#3120 Added UniversalDiscordNotifications
  plugins/universal-discord-notifications
Labels: plugin added

#3141 Update monkey-metrics
  plugins/monkey-metrics
Labels: plugin change

#3122 Update NeverScapeAlone to v2.4.0-alpha
  plugins/neverscapealone
Labels: plugin change

#3129 Update Default Tab - v1.0.1
  plugins/defaulttab
Labels: plugin change

#3135 Path marker
  plugins/path-marker
Labels: plugin added

#3134 Add seaweed-spore-notifier plugin
  plugins/seaweed-spore-notifier
Labels: plugin added

#3133 Fight Caves Spawn Predictor Release - v1.0.0
  plugins/spawnpredictor
Labels: plugin added

#3142 Update Stealing Artefacts to new version
  plugins/stealing-artefacts
Labels: plugin change

#3144 Update personalcurrencytracker
  plugins/personalcurrencytracker
Labels: plugin change

#3145 Update theatre-of-blood-stats
  plugins/theatre-of-blood-stats
Labels: plugin change

#3136 Add MadDwarf plugin
  plugins/mad-dwarf
Labels: plugin added

#3137 Create cox-analytics
  plugins/cox-analytics
Labels: plugin added

#3146 update spawnpredictor to v1.0.1
  plugins/spawnpredictor
Labels: plugin change

#3147 Added inventory-count plugin
  plugins/inventory-count
Labels: plugin added

#3148 Update f2p-star-assist
  plugins/f2p-star-assist
Labels: plugin change

#3149 Update NeverScapeAlone to v2.5.0-alpha
  plugins/neverscapealone
Labels: plugin change

#3151 Update path-marker (simple bugfix)
  plugins/path-marker
Labels: plugin change

#3152 Update mad-dwarf
  plugins/mad-dwarf
Labels: plugin change

#3153 Updated UniversalDiscordNotifier
  plugins/universal-discord-notifications
Labels: plugin change

#3154 Update discord-notifications to v1.5.0
  plugins/discord-notifications
Labels: plugin change

#3155 Update NeverScapeAlone to v2.6.0-alpha
  plugins/neverscapealone
Labels: plugin change

#3156 update visual-metronome to V1.4.1
  plugins/visual-metronome
Labels: plugin change

#3157 Update nm-autosplitter
  plugins/nm-autosplitter
Labels: plugin change

#3159 Update snailman-mode
  plugins/snailman-mode
Labels: plugin change

#3161 Update ge-filters to v1.0.1
  plugins/ge-filters
Labels: plugin change

#3158 Update resting
  plugins/resting
Labels: plugin change

#3162 Create inferno-autosplitter
  plugins/inferno-autosplitter
Labels: plugin added

#3163 update nm-autosplitter
  plugins/nm-autosplitter
Labels: plugin change

#3164 Update inferno-autosplitter
  plugins/inferno-autosplitter
Labels: plugin change

#3165 Update 117HD to 1.1.3
  plugins/117hd
Labels: plugin change

#3166 Update f2p-star-assist
  plugins/f2p-star-assist
Labels: plugin change

#3167 Update shortest-path
  plugins/shortest-path
Labels: plugin change

#3169 Update cm-auto-splitter
  plugins/cm-auto-splitter
Labels: plugin change

#3168 Add item-retrieval-warning
  plugins/item-retrieval-warning
Labels: plugin added

#3170 Classes of Gielinor 1.2.4
  plugins/classes-of-gielinor
Labels: plugin change

#3171 Rainbow rave 1.2 gay flags + bug fixes.
  plugins/rainbow-rave
Labels: plugin change

#3176 Update godbook to v1.0.2
  plugins/godbook
Labels: plugin change

#3173 Update ba-role-randomizer to v2.1.2
  plugins/ba-role-randomizer
Labels: plugin change

#3172 Update party-panel to v3.0.3
  plugins/party-panel
Labels: plugin change

#3177 Update discord-death-notifications
  plugins/discord-death-notifications
Labels: plugin change

#3183 update keepassxc to 1.1.2
  plugins/keepassxc
Labels: plugin change

#3185 Update path-marker to v1.02
  plugins/path-marker
Labels: plugin change

#3184 Update improved-tile-indicators
  plugins/improved-tile-indicators
Labels: plugin change

#3181 Update no-examine
  plugins/no-examine
Labels: plugin change

#3175 Update influxdb-stats
  plugins/influxdb-stats
Labels: plugin change

#3178 Update snailman-mode to 1.0.2
  plugins/snailman-mode
Labels: plugin change

#3179 Add animatedicons plugin
  plugins/animatedicons
Labels: plugin added

#3182 Update music-replacer
  plugins/music-replacer
Labels: plugin change

#3174 Update NeverScapeAlone to v2.10.0-alpha
  plugins/neverscapealone
Labels: plugin change

#3187 Update seaweed-spore-notifier to v1.1.1
  plugins/seaweed-spore-notifier
Labels: plugin change

#3188 Update set-timer to version 2.0.0
  plugins/set-timer
Labels: plugin change

#3189 Update FlippingUtilities
  plugins/flipping-utilities
Labels: plugin change

#3194 Update Pre-Eoc-Xp-Drops to v1.1.1 - Performance Fix
  plugins/pre-eoc-xp-drops
Labels: plugin change

#3195 Update Snailman to 1.0.3
  plugins/snailman-mode
Labels: plugin change

#3053 Create Discord Notifications + Split Tracker Plugin
  plugins/discordnotificationsaio
Labels: plugin added

#3193 Item stats banking
  plugins/item-stats-banking
Labels: plugin added

#3198 Update dryness-calculator
  plugins/dryness-calculator
Labels: plugin change

#3196 update visual-metronome to 1.4.2
  plugins/visual-metronome
Labels: plugin change

#3197 Update NeverScapeAlone to v2.11.1-alpha
  plugins/neverscapealone
Labels: plugin change

#3199 Updates random-event-analytics to 2c265a
  plugins/random-event-analytics
Labels: plugin change

#3201 Update star-calling-assist
  plugins/star-calling-assist
Labels: plugin change

#3200 Bank Tag Layouts 1.4.17 remove --debug stuff.
  plugins/bank-tag-layouts
Labels: plugin change

#3202 Qolting; hotfix (Added southern region)
  plugins/qolting
Labels: plugin change

#3203 Update Damage Counter to v1.8
  plugins/damage-counter
Labels: plugin change

#3204 enriath author updates
  plugins/better-skill-tooltips
  plugins/coffin-counter
  plugins/crate-limiter
  plugins/dont-eat-it
  plugins/home-enforcer
  plugins/inventory-summary
  plugins/quick-prayer-preview
  plugins/shattered-relic-xp
  plugins/star-lore
  plugins/subtle-virtual-levels
Labels: plugin change

#3205 enriath author updates, but with code changes!
  plugins/contextual-cursor
  plugins/door-kicker
  plugins/master-scroll-book
  plugins/plank-sack
  plugins/transmog
Labels: plugin change

#3191 Created fight-cave-helper
  plugins/fight-cave-helper
Labels: plugin added

#3206 update transmog to v1.3.1
  plugins/transmog
Labels: plugin change

#3207 update transmog to v1.3.2
  plugins/transmog
Labels: plugin change

#3216 Update Hub Party Panel (v3.1)
  plugins/party-panel
Labels: plugin change

#3218 revert transmog to v1.2.6
  plugins/transmog
Labels: plugin change

#3215 Update Inventory Setups to v1.14 and Bank Tag Layouts to 1.4.18
  plugins/bank-tag-layouts
  plugins/inventory-setups
Labels: plugin change, non-author plugin change

#3222 Update clan-activity-tracker
  plugins/clan-activity-tracker
Labels: plugin change

#3210 update contextual-cursor to v1.3.1
  plugins/contextual-cursor
Labels: plugin change

#3238 Update osrs-wiki-crowdsourcing
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#3221 Update blindfold
  plugins/blindfold
Labels: plugin change

#3232 Update lms-start-notifier - Fix build failure for hiscores api change
  plugins/lms-start-notifier
Labels: plugin change

#3240 Update wom-utils
  plugins/wom-utils
Labels: plugin change

#3231 Update startierindicator - Fix Failed to build for hiscore api changes
  plugins/startierindicator
Labels: plugin change

#3242 Update resting
  plugins/resting
Labels: plugin change

#3248 Update Animation Transmog (v1.3.3)
  plugins/animation-transmog
Labels: plugin change

#3249 add tombs-of-amascut
  plugins/tombs-of-amascut
Labels: plugin added

#3243 Bank Tag Layouts 1.4.19 - API change compatibility and toa rune pouch support.
  plugins/bank-tag-layouts
Labels: plugin change

#3209 Update nylo-death-indicators to version 1.0.3
  plugins/nylo-death-indicators
Labels: plugin change

#3217 Update BarrowsDoorHighlighter to pick color for highlighted doors.
  plugins/barrows-door-highlighter
Labels: plugin change

#3224 Update Inventory Setups to v1.14.1
  plugins/inventory-setups
Labels: plugin change

#3208 Update clan-tracker Plugin
  plugins/clan-tracker
Labels: plugin change

#3250 Hotfix for Inventory Setups Runepouch
  plugins/inventory-setups
Labels: plugin change

#3251 fix grammar in readme
  README.md
Labels: package change

#3254 update tombs-of-amascut to v1.1.0
  plugins/tombs-of-amascut
Labels: plugin change

#3244 Add Invocation Screenshot plugin
  plugins/invocation-screenshot
Labels: plugin added

#3252 Update Hub Party Panel (v3.1.1)
  plugins/party-panel
Labels: plugin change

#3260 update tombs-of-amascut to v1.2.0
  plugins/tombs-of-amascut
Labels: plugin change
