Repository runelite/plugin-hub, pull requests merged in 2022-06, with the labels that each got.

#2707 Adding Ranking System plugin
  plugins/ranking-system
Labels: plugin added

#2760 Add 'blindfold' plugin
  plugins/blindfold
Labels: plugin added

#2743 Polywoof Update
  plugins/polywoof
Labels: plugin change

#2770 Update ba role randomizer to v2.1.0
  plugins/ba-role-randomizer
Labels: plugin change

#2772 Update temple-osrs to v1.0.3
  plugins/temple-osrs
Labels: plugin change

#2783 Update quest-helper to v3.0.5
  plugins/quest-helper
Labels: plugin change

#2782 Update total-cost
  plugins/total-cost
Labels: plugin change

#2780 Update tob-light-colors
  plugins/tob-light-colors
Labels: plugin change

#2779 Update tictac7x-daily to v0.1.3
  plugins/tictac7x-daily
Labels: plugin change

#2774 Update loot-lookup to v1.1.5
  plugins/loot-lookup
Labels: plugin change

#2781 Update model-exporter
  plugins/model-exporter
Labels: plugin change

#2778 Update Discord Party Panel (v2.0)
  plugins/party-panel
Labels: plugin change

#2784 Add Global F Keys plugin
  plugins/global-f-keys
Labels: plugin added

#2785 Update global-f-keys to latest version
  plugins/global-f-keys
Labels: plugin change

#2786 Update Iron Value to 1.1
  plugins/iron-value
Labels: plugin change

#2787 Update Banked Experience (v2.4.1)
  plugins/banked-experience
Labels: plugin change

#2788 Plugin/feature/salve amulet checker
  plugins/salve-amulet-checker
Labels: plugin change

#2791 Update to version 1.1.1; escape closes interfaces properly now
  plugins/global-f-keys
Labels: plugin change

#2777 Ultimate nmz
  plugins/ultimate-nmz
Labels: plugin change

#2790 Update better-discord-loot-logger
  plugins/better-discord-loot-logger
Labels: plugin change

#2792 Update temple-osrs to v1.0.4
  plugins/temple-osrs
Labels: plugin change

#2794 Update gim-plugin to v2.4.1
  plugins/gim-plugin
Labels: plugin change

#2797 Update Ranking System to version 1.0.2
  plugins/ranking-system
Labels: plugin change

#2789 Create rc-lap-tracker
  plugins/rc-lap-tracker
Labels: plugin added

#2796 Add one-click-tiles plugin, addon to tileman mode
  plugins/one-click-tiles
Labels: plugin added

#2822 Runelite 1.8.22 compatibility
  plugins/watchdog
Labels: plugin change

#2824 Update `custom-item-hovers` to v1.1.2
  plugins/custom-item-hovers
Labels: plugin change

#2803 Update temple-osrs to v1.0.5
  plugins/temple-osrs
Labels: plugin change

#2814 Update one-click-tiles
  plugins/one-click-tiles
Labels: plugin change

#2801 region-locker: Fix encoding issue
  plugins/region-locker
Labels: plugin change

#2804 Update Collection log plugin to v2.2.2
  plugins/collection-log
Labels: plugin change

#2819 Bump Bank XP Value to version 1.2.1
  plugins/bank-xp-value
Labels: plugin change

#2825 Update to version 1.1.2
  plugins/global-f-keys
Labels: plugin change

#2827 Update temple-osrs to v1.1.0
  plugins/temple-osrs
Labels: plugin change

#2821 v0.2 - Bowstrings, ogre arrows added, miscellania region check
  plugins/tictac7x-daily
Labels: plugin change

#2820 Weapon Animation Replacer 2.2.3 - Colossal blade, ui improvements.
  plugins/weapon-animation-replacer
Labels: plugin change

#2799 Added new plugin ItemDropSound
  plugins/item-drop-sound
Labels: plugin added

#2802 Create group-tilemanmode-addon
  plugins/group-tilemanmode-addon
Labels: plugin added

#2798 Add No Examine
  plugins/no-examine
Labels: plugin added

#2826 update easy-pharaoh-sceptre to v2.0.0
  plugins/easy-pharaoh-sceptre
Labels: plugin change

#2828 update cox-scouter-external to 1.2.5
  plugins/cox-scouter-external
Labels: plugin change

#2829 Update Ranking System to version 1.0.3
  plugins/ranking-system
Labels: plugin change

#2830 Weapon charges 0.3 - Crystal bow, bofa, crystal armour.
  plugins/weapon-charges-2
Labels: plugin change

#2832 Update group-tilemanmode-addon
  plugins/group-tilemanmode-addon
Labels: plugin change

#2835 Update ba-minigame to 1.66
  plugins/ba-minigame
Labels: plugin change

#2834 move easy-pharaoh-sceptre repository
  plugins/easy-pharaoh-sceptre
Labels: plugin change

#2795 update dps-calculator to v2.0.0
  package/verification-template/build.gradle
  package/verification-template/gradle/verification-metadata.xml
  plugins/dps-calculator
Labels: plugin change, dependency change

#2837 update easy-teleports to v2.0.0
  plugins/easy-pharaoh-sceptre
Labels: plugin change

#2836 Update "Dude, Where's My Stuff?" to v1.2.1
  plugins/dude-wheres-my-stuff
Labels: plugin change

#2838 Update Collection log plugin to v2.2.3
  plugins/collection-log
Labels: plugin change

#2816 Polywoof Update
  plugins/polywoof
Labels: plugin change

#2800 Add Easy Giant's Foundry plugin
  plugins/easy-giantsfoundry
Labels: plugin added

#2833 Add ba-call-highlight plugin
  plugins/ba-call-highlight
Labels: plugin added

#2839 Add plugin info for Blast Furnace Trainer.
  plugins/blast-furnace-trainer
Labels: plugin added

#2840 update dps-calculator to v2.1.0
  plugins/dps-calculator
Labels: plugin change

#2817 Update Clan Events Plugin
  plugins/elysiumevents-plugin
Labels: plugin change

#2841 Update blast-furnace-trainer
  plugins/blast-furnace-trainer
Labels: plugin change

#2842 Update osrs-events: Allow placeholder items in bank notification to have 0 as quantity
  plugins/osrs-events
Labels: plugin change

#2844 Add alone-man-mode plugin to hub
  plugins/alone-man-mode
Labels: plugin added

#2793 Create OWM-CHAT Plugin Submission
  plugins/owm-chat
Labels: plugin added

#2847 Update easy-giantsfoundry to v1.0.3
  plugins/easy-giantsfoundry
Labels: plugin change

#2257 Update rl-weather
  plugins/rl-weather
Labels: plugin change

#2846 Update clan events
  plugins/elysiumevents-plugin
Labels: plugin change

#2848 Update npc-overhead-dialogue
  plugins/npc-overhead-dialogue
Labels: plugin change

#2850 upgrade dps-calculator to v2.1.1
  plugins/dps-calculator
Labels: plugin change

#2851 Update Party Panel (v2.1)
  plugins/party-panel
Labels: plugin change

#2853 Update shortest-path to v1.7
  plugins/shortest-path
Labels: plugin change

#2849 Change ownership of discord-notifications
  plugins/discord-notifications
Labels: plugin change

#2856 Update customizable-xp-drops to v1.5.5
  plugins/customizable-xp-drops
Labels: plugin change

#2860 Update Time Tracking Reminder to 1.3.0
  plugins/time-tracking-reminder
Labels: plugin change

#2859 Update shortest-path to v1.8
  plugins/shortest-path
Labels: plugin change

#2871 Create phoenix-necklace-jingle
  plugins/phoenix-necklace-jingle
Labels: plugin added

#2876 Update star-calling-assist - Fix location spelling error
  plugins/star-calling-assist
Labels: plugin change

#2855 tob-qol-improvements: Add simple plugin for QoL improvements at ToB
  plugins/tob-qol-improvements
Labels: plugin added

#2864 Create ClientAntiDrag Plugin
  plugins/client-anti-drag
Labels: plugin added

#2878 Update damage counter
  plugins/damage-counter
Labels: plugin change, non-author plugin change

#2883 update outdated instructions for creating LICENSE file
  README.md
Labels: package change

#2877 update the-gauntlet to v1.0.0
  plugins/the-gauntlet
Labels: plugin change

#2880 Update camera-points plugin to v2.2.1
  plugins/camera-points
Labels: plugin change

#2852 add stat track plugin
  plugins/stat-track
Labels: plugin added

#2857 Create PartyHealthStatus plugin.
  plugins/party-health-status
Labels: plugin added

#2885 Party health status Update
  plugins/party-health-status
Labels: plugin change

#2881 Update and take ownership of Health Notifier.
  plugins/health-notifier
Labels: plugin change

#2889 Fix no-examine
  plugins/no-examine
Labels: plugin change

#2888 update stat track plugin version: avoid blocking on http calls to avoid in-game stutter
  plugins/stat-track
Labels: plugin change

#2891 weapon animation replacer 2.2.4 - fix bug.
  plugins/weapon-animation-replacer
Labels: plugin change

#2890 Health notifier 1.1.1 - bug fixes.
  plugins/health-notifier
Labels: plugin change

#2868 Create dice
  plugins/dice
Labels: plugin added

#2887 Update easy-empty to v1.2
  plugins/easy-empty
Labels: plugin change

#2886 Add nightmare timers plugin
  plugins/nightmare-timers
Labels: plugin added

#2893 Update npc-idle-timer-plugin v1.2
  plugins/npc-idle-timer-plugin
Labels: plugin change

#2894 Update afk-countdown v2
  plugins/afk-countdown
Labels: plugin change

#2879 Create World Cycle Plugin
  plugins/world-cycle
Labels: plugin added

#2892 Update PartyHealthStatus to v1.1
  plugins/party-health-status
Labels: plugin change

#2899 Update quest-helper to 3.0.6
  plugins/quest-helper
Labels: plugin change, hold for release

#2904 Add large-models
  plugins/large-models
Labels: plugin added

#2896 Alone man mode bug fix
  plugins/alone-man-mode
Labels: plugin change

#2903 Update easy giants foundry + add author
  plugins/easy-giantsfoundry
Labels: plugin change

#2905 World-Cycle bug fixes
  plugins/world-cycle
Labels: plugin change

#2882 Update friend-live-locations
  plugins/friend-live-locations
Labels: plugin change

#2907 Update easy-empty to v1.3.0
  plugins/easy-empty
Labels: plugin change

#2815 addition gamesense plugin file
  plugins/gamesense
Labels: plugin added

#2909 Update quest-helper
  plugins/quest-helper
Labels: plugin change

#2911 Update aqp-finder
  plugins/aqp-finder
Labels: plugin change

#2912 update regex-bank-search
  plugins/regex-bank-search
Labels: plugin change

#2913 Fix Dude, Where's My Stuff?
  plugins/dude-wheres-my-stuff
Labels: plugin change

#2916 Update camera-smoothing
  plugins/camera-smoothing
Labels: plugin change

#2915 Update Flipping Utilities: fix broken build
  plugins/flipping-utilities
Labels: plugin change

#2918 Weapon Charges 1.8.25 API compatibility update.
  plugins/weapon-charges-2
Labels: plugin change

#2923 Update camera-points for new RuneLite version
  plugins/camera-points
Labels: plugin change

#2902 Add toggle chat plugin - needs 1.8.25
  plugins/toggle-chat
Labels: hold for release, plugin added
