Repository runelite/plugin-hub, pull requests merged in 2022-01, with the labels that each got.

#2258 Update world country flags to 1.2
  plugins/clan-chat-country-flags
Labels: plugin change

#2151 Added new plugin Name Change Detector
  plugins/name-change-detector
Labels: plugin added

#2238 Add WikiSync plugin
  plugins/wikisync
Labels: plugin added

#2210 Notification when you are close to level
  plugins/xp-to-level-notification
Labels: plugin added

#2244 Create gauntlet-calculator
  plugins/gauntlet-calculator
Labels: plugin added

#2245 Update Banked Experience (v2.1.1)
  plugins/banked-experience
Labels: plugin change

#2247 Add "Darklighting" Plugin
  plugins/darklighting
Labels: plugin added

#2242 Add Pm Highlight
  plugins/pm-highlight
Labels: plugin added

#2243 Update qolting to v1.2
  plugins/qolting
Labels: plugin change

#2249 Update c-engineer-completed to v0.4
  plugins/c-engineer-completed
Labels: plugin change

#2250 Update to 1.3.2
  plugins/barbarian-assault-pbs
Labels: plugin change

#2251 Update coxlightcolors to 1.3.3
  plugins/cox-light-colors
Labels: plugin change

#2254 Update ba-minigame
  plugins/ba-minigame
Labels: plugin change

#2255 Update Green Thumb
  plugins/green-thumb
Labels: plugin change

#2256 Update InventorySetups to support gradle 7.3.2
  plugins/inventory-setups
Labels: plugin change

#2259 Update sprite-markers
  plugins/sprite-markers
Labels: plugin change

#2224 Add Hidden Drop Party plugin
  plugins/hidden-drop-party
Labels: plugin added

#2260 Update Pre-Eoc-Xp-Drops to v1.1
  plugins/pre-eoc-xp-drops
Labels: plugin change

#2261 Update plugin to version 2022.01.1
  plugins/monkey-business
Labels: plugin change

#2262 Update Pm highlight to version 1.0.3
  plugins/pm-highlight
Labels: plugin change

#2263 Update 117hd to v1.0.12
  plugins/117hd
Labels: plugin change

#2264 Update ba-minigame
  plugins/ba-minigame
Labels: plugin change

#2265 Update Barbarian Assault pbs to 1.3.3
  plugins/barbarian-assault-pbs
Labels: plugin change

#2267 Update Pm Highlight to version 1.0.4
  plugins/pm-highlight
Labels: plugin change

#2268 Update pvp-performance-tracker to v1.5.1
  plugins/pvp-performance-tracker
Labels: plugin change

#2269 Update Loot Logger (v3.2)
  plugins/loot-logger
Labels: plugin change

#2270 [Tileman Mode] Fix MenuEntry Instatiation
  plugins/tilemanmode
Labels: plugin change

#2273 time-to-level: v1.0.2 release
  plugins/time-to-level
Labels: plugin change

#2266 Better godwars overlay
  plugins/better-godwars-overlay
Labels: plugin change

#2274 Update wom-utils
  plugins/wom-utils
Labels: plugin change

#2275 Update 117hd to v1.0.13
  plugins/117hd
Labels: plugin change

#2248 Create bank-equipment-stat-filter
  plugins/bank-equipment-stat-filter
Labels: plugin added

#2280 Add the nex nostalgia plugin
  plugins/nexnostalgia
Labels: plugin added

#2281 Update nex nostalgia plugin
  plugins/nexnostalgia
Labels: plugin change

#2272 Bank Tag Layouts 1.4.12
  plugins/bank-tag-layouts
Labels: plugin change

#2276 OSRSEvents: Update sending rate of bank, invo, armour messages.
  plugins/osrs-events
Labels: plugin change

#2279 update visual-metronome to 1.3.7
  plugins/visual-metronome
Labels: plugin change

#2282 Update fashionscape to 1.1.14
  plugins/fashionscape
Labels: plugin change

#2285 Update hidden drop party to 2022.01.3
  plugins/hidden-drop-party
Labels: plugin change

#2286 Update bank-memory for v1.2.0
  plugins/bank-memory
Labels: plugin change

#2291 Update force-recolor
  plugins/force-recolor
Labels: plugin change

#2293 Update maple-xp-bar
  plugins/maple-xp-bar
Labels: plugin change

#2294 update dps-calculator to v1.4.12
  plugins/dps-calculator
Labels: plugin change

#2295 Updated Emote Clue Items to v3.3.1.
  plugins/emote-clue-items
Labels: plugin change

#2283 Update Bot Detector to v1.3.7.2
  plugins/bot-detector
Labels: plugin change

#2284 weapon animation replacer 2.1 clean up code and add more animations
  plugins/weapon-animation-replacer
Labels: plugin change

#2298 Update osrs-wiki-crowdsourcing
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#2299 update bossing info 1.8, added nex support
  plugins/kph-tracker
Labels: plugin change

#2302 Update osrs-wiki-crowdsourcing
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#2303 Update osrs-wiki-crowdsourcing
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#2307 Update leftclick-dropper to v1.6
  plugins/zom-leftclick-dropper
Labels: plugin change

#2310 Update shortest-path to v1.4
  plugins/shortest-path
Labels: plugin change

#2305 Update pm-highlight to v1.0.5
  plugins/pm-highlight
Labels: plugin change

#2315 Update quest-helper to 2.8.2
  plugins/quest-helper
Labels: plugin change

#2319 Weapon animation replacer - model loading API compatibility + a little other stuff.
  plugins/weapon-animation-replacer
Labels: plugin change, hold for release

#2320 Supplies tracker: Api Fix
  plugins/supplies-tracker
Labels: plugin change, hold for release

#2321 Update wom-utils
  plugins/wom-utils
Labels: plugin change

#2323 add shattered-relic-xp
  plugins/shattered-relic-xp
Labels: plugin added

#2332 Update last-recall
  plugins/last-recall
Labels: plugin change

#2333 update shattered-relic-xp to v1.1
  plugins/shattered-relic-xp
Labels: plugin change

#2300 Update customizable-xp-drops to v1.3
  plugins/customizable-xp-drops
Labels: plugin change

#2309 Hotkeyable menu swaps 1.1
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#2312 Watson clue tracker 1.0.6
  plugins/watson-clue-tracker
Labels: plugin change

#2313 Bank tag layouts 1.4.13
  plugins/bank-tag-layouts
Labels: plugin change

#2317 Update ba-minigame to 1.55
  plugins/ba-minigame
Labels: plugin change

#2322 Update nex nostalgia
  plugins/nexnostalgia
Labels: plugin change

#2324 Bump bankxpvalue to version 1.2
  plugins/bank-xp-value
Labels: plugin change

#2326 Update Pm Highlight to version 1.1.0
  plugins/pm-highlight
Labels: plugin change

#2331 Update shortest-path to v1.5
  plugins/shortest-path
Labels: plugin change

#2335 update shattered-relic-xp to v1.2
  plugins/shattered-relic-xp
Labels: plugin change

#2334 region-locker: Update to 1.8.10
  plugins/region-locker
Labels: plugin change

#2337 update shattered-relic-xp to v1.3
  plugins/shattered-relic-xp
Labels: plugin change

#2327 Combat Tasks & League tracker plugin
  plugins/tasks-tracker
Labels: plugin added

#2341 update shattered-relic-xp to v1.4
  plugins/shattered-relic-xp
Labels: plugin change

#2336 Add Shattered Relics Fragment Presets plugin
  plugins/shattered-relics-fragment-presets
Labels: plugin added

#2342 (Bug Fix) Update tasks-tracker to move json into github
  plugins/tasks-tracker
Labels: plugin change

#2347 Update tasks-tracker
  plugins/tasks-tracker
Labels: plugin change

#2345 Update shooting-stars to v1.6
  plugins/shooting-stars
Labels: plugin change

#2340 Update ba-minigame
  plugins/ba-minigame
Labels: plugin change

#2350 Update shattered-relics-fragment-presets to 1.1
  plugins/shattered-relics-fragment-presets
Labels: plugin change

#2352 Update hunllef-helper to v1.2.0
  plugins/hunllef-helper
Labels: plugin change

#2278 Add tick timestamp plugin
  plugins/tick-timestamp
Labels: plugin added

#2351 Update Barbarian Assault Personal Bests to 1.4.0
  plugins/barbarian-assault-pbs
Labels: plugin change

#2297 Clue steps
  plugins/clue-steps
Labels: plugin added

#2328 Add plugin Inferno Tracker
  plugins/inferno-tracker
Labels: plugin added
