Repository runelite/plugin-hub, pull requests merged in 2022-11, with the labels that each got.

#3384 Create Sound Swapper Plugin
  plugins/sound-swapper
Labels: plugin added

#3474 Create energy-info
  plugins/energy-info
Labels: plugin added

#3480 Add Item Charges Improved plugin
  plugins/tictac7x-charges
Labels: plugin added

#3479 Create low-detail-chambers
  plugins/low-detail-chambers
Labels: plugin added

#3489 Add spooky mode to snailman mode
  plugins/snailman-mode
Labels: plugin change

#3488 Add Jungle Japes Indicator plugin
  plugins/jungle-japes-indicator
Labels: plugin added

#3507 Update 117HD to v1.2.4
  plugins/117hd
Labels: plugin change

#3471 Create more-bank-fillers
  plugins/more-bank-fillers
Labels: plugin added

#3492 Update forsen-lines
  plugins/forsen-lines
Labels: plugin change

#3490 Add RuneProfile Plugin
  plugins/runeprofile
Labels: plugin added

#3503 Update runecrafting-tracker
  plugins/runecrafting-tracker
Labels: plugin change

#3521 Update examine-tooltip to v1.4.4
  plugins/examine-tooltip
Labels: plugin change

#3525 Update link to Jagex's rules on 3rd party clients
  README.md
Labels: package change

#3497 Add Dink to the plugin hub
  plugins/dink
Labels: plugin added

#3495 Update the-gauntlet to v1.2.0
  plugins/the-gauntlet
Labels: plugin change

#3498 Update party-defence-tracker
  plugins/party-defence-tracker
Labels: plugin change

#3500 Add attacktimer plugin
  plugins/attacktimer
Labels: plugin added

#3502 Update bird-run-alert
  plugins/bird-run-alert
Labels: plugin change

#3504 Updated kitten-tracker to v1.1.193
  plugins/kitten-tracker
Labels: plugin change, non-author plugin change

#3505 Update high alc plugin to 1.1.2
  plugins/high-alc-highlight
Labels: plugin change

#3508 Update LootbagUtilities to latest version
  plugins/lootbag-utilities
Labels: plugin change

#3506 Toa points tracker
  plugins/toa-points-tracker
Labels: plugin added

#3537 update tombs-of-amascut to v2.1.0
  plugins/tombs-of-amascut
Labels: plugin change

#3395 Toa custom presets
  plugins/toa-custom-presets
Labels: plugin added

#3441 Update Ground Item Sounds
  plugins/ground-item-sounds
Labels: plugin change

#3538 update tombs-of-amascut to v2.2.0
  plugins/tombs-of-amascut
Labels: plugin change

#3465 Create recently-killed-highlight
  plugins/recently-killed-highlight
Labels: plugin added

#3460 Created Clan Broadcast Filter
  plugins/guild-spam-filter
Labels: plugin added

#3514 customizable-xp-drops to v1.6.2
  plugins/customizable-xp-drops
Labels: plugin change

#3522 region-locker: Update region goal tracker name
  plugins/region-locker
Labels: plugin change

#3539 tiny update to toa-points-tracker
  plugins/toa-points-tracker
Labels: plugin change

#3509 Update easy-blastfurnace to v1.4.0
  plugins/easy-blastfurnace
Labels: plugin change

#3515 Update profit-tracker to the latest runelite.
  plugins/profit-tracker
Labels: plugin change

#3519 Update RuneProfile to v1.0.1
  plugins/runeprofile
Labels: plugin change

#3543 update tombs-of-amascut to v2.2.1
  plugins/tombs-of-amascut
Labels: plugin change

#3520 Update jungle-japes-indicator to v1.1
  plugins/jungle-japes-indicator
Labels: plugin change

#3496 Update discordnotificationsaio
  plugins/discordnotificationsaio
Labels: plugin change

#3516 Add Calcusource Xp Updater
  plugins/calcusource-xp-updater
Labels: plugin added

#3523 Add Easy Unnote plugin
  plugins/easy-unnote
Labels: plugin added

#3528 Update pickpocket-helper
  plugins/pickpocket-helper
Labels: plugin change

#3545 update tombs-of-amascut to v2.2.2
  plugins/tombs-of-amascut
Labels: plugin change

#3529 Create zeahrctracker
  plugins/zeahrctracker
Labels: plugin added

#3530 Update pyramid-plunder-counter
  plugins/pyramid-plunder-counter
Labels: plugin change

#3533 Update Dude, Where's My Stuff? to 1.4.0
  plugins/dude-wheres-my-stuff
Labels: plugin change

#3534 Add turael skipping plugin
  plugins/turael-skipping
Labels: plugin added

#3540 Update the-gauntlet to v1.2.1
  plugins/the-gauntlet
Labels: plugin change

#3541 Update SoundSwapper Plugin
  plugins/sound-swapper
Labels: plugin change

#3542 Update high alc plugin to allow ironment to ignore GE price
  plugins/high-alc-highlight
Labels: plugin change

#3544 [Taskman] small bugfix to load sidepanel upong relogging
  plugins/taskman
Labels: plugin change

#3548 update tombs-of-amascut to v2.2.3
  plugins/tombs-of-amascut
Labels: plugin change

#3546 ToA points tracker: Mvp from drops + Smaller panel for fixed screen
  plugins/toa-points-tracker
Labels: plugin change

#3550 Disable Zeahrctracker
  plugins/zeahrctracker
Labels: plugin change

#3517 Create extended-hitsplats
  plugins/extended-hitsplats
Labels: plugin added

#3531 Updates random-event-analytics
  plugins/random-event-analytics
Labels: plugin change

#3532 Add metronome infobox plugin
  plugins/metronome-infobox
Labels: plugin added

#3524 Watchdog: Move TTS into an opt-in config and add debounce setting to Alerts
  plugins/watchdog
Labels: plugin change

#3551 Update bot-detector to v1.3.9
  plugins/bot-detector
Labels: plugin change

#3552 Update transcriber to v1.4
  plugins/transcriber
Labels: plugin change

#3554 Add custom ID field to Prop Hunt
  plugins/prop-hunt
Labels: plugin change

#3555 Update purchase-progress to v1.1.2
  plugins/purchase-progress
Labels: plugin change

#3513 Create 3D-Weather
  plugins/3d-weather
Labels: plugin added

#3556 Update Calcusource Xp Tracker on Hop
  plugins/calcusource-xp-updater
Labels: plugin change

#3558 Polywoof Update
  plugins/polywoof
Labels: plugin change

#3559 Update zeahrctracker
  plugins/zeahrctracker
Labels: plugin change

#3561 Update metronome-infobox plugin
  plugins/metronome-infobox
Labels: plugin change

#3527 Add OSRS player count plugin
  plugins/osrs-player-count
Labels: plugin added

#3566 Update 3D Weather
  plugins/3d-weather
Labels: plugin change

#3562 Update zeahrctracker
  plugins/zeahrctracker
Labels: plugin change

#3560 Create impling-saver
  plugins/impling-saver
Labels: plugin added

#3572 Update 3D Weather
  plugins/3d-weather
Labels: plugin change

#3563 Update quest-helper to v3.1.5
  plugins/quest-helper
Labels: plugin change

#3567 Add Unpotted Reminder 1.0.1
  plugins/unpotted-reminder
Labels: plugin added

#3569 Update purchase-progress to v1.2.0
  plugins/purchase-progress
Labels: plugin change

#3564 Update RuneProfile Plugin to v1.0.2
  plugins/runeprofile
Labels: plugin change

#3568 Updated Clan Spam Filter to version 1.1
  plugins/guild-spam-filter
Labels: plugin change

#3573 Update c-engineer-completed to v1.0.2
  plugins/c-engineer-completed
Labels: plugin change

#3547 PvMTickCounter
  plugins/pvmtickcounter
Labels: plugin added

#3574 add quest Splits plugin
  plugins/quest-splits
Labels: plugin added

#3570 Add crop-circle-tracker plugin
  plugins/crop-circle-tracker
Labels: plugin added

#3576 Update recently-killed-highlight
  plugins/recently-killed-highlight
Labels: plugin change

#3577 Update time-tracking-reminder to 1.4.1
  plugins/time-tracking-reminder
Labels: plugin change

#3578 Clan Spam Filter bug fix
  plugins/guild-spam-filter
Labels: plugin change

#3580 Fixed readme preview image
  plugins/toa-custom-presets
Labels: plugin change

#3581 Watchdog: v1.3.0 Import/Export and Enable toggle
  plugins/watchdog
Labels: plugin change

#3582 Update left click dropper to allow new line delimter
  plugins/zom-leftclick-dropper
Labels: plugin change

#3583 update imbued fart to 1.1.0
  plugins/imbued-fart
Labels: plugin change

#3587 Update pvmtickcounter to 1.1
  plugins/pvmtickcounter
Labels: plugin change

#3588 Add qsr-auto-splitter plugin
  plugins/qsr-auto-splitter
Labels: plugin added

#3589 bump hue plugin version
  plugins/phillip-hue-integration
Labels: plugin change

#3591 Create inventory-notifier
  plugins/inventory-notifier
Labels: plugin added

#3592 Update zeahrctracker
  plugins/zeahrctracker
Labels: plugin change

#3593 Update crop-circle-tracker to 1.1.0
  plugins/crop-circle-tracker
Labels: plugin change

#3594 Update turael-skipping to v1.0.4
  plugins/turael-skipping
Labels: plugin change

#3595 Instant Inventory v1.0.0
  plugins/instant-inventory
Labels: plugin added

#3590 Impling saver
  plugins/impling-saver
Labels: plugin change

#3597 Update Plugin Presets to v2.3.2
  plugins/plugin-presets
Labels: plugin change

#3602 [Taskman] Update backend URL
  plugins/taskman
Labels: plugin change

#3608 Updated herb-sack-price-check
  plugins/herb-sack-price-check
Labels: plugin change

#3612 Update quest-helper to v3.1.8
  plugins/quest-helper
Labels: plugin change

#3615 Update quest helper to v3.1.7
  plugins/quest-helper
Labels: plugin change

#3617 Update cox-additions
  plugins/cox-additions
Labels: plugin change

#3618 Update Dude, Where's My Stuff? to work with RL 1.9.4
  plugins/dude-wheres-my-stuff
Labels: plugin change
