Repository runelite/plugin-hub, pull requests merged in 2022-04, with the labels that each got.

#2508 Update Bossing Info to 1.8.5
  plugins/kph-tracker
Labels: plugin change

#2509 update riftguardian to v1.0.0
  plugins/riftguardian
Labels: plugin change

#2510 Add Tob Light Colors plugin
  plugins/tob-light-colors
Labels: plugin added

#2511 Update ba-minigame to v1.64
  plugins/ba-minigame
Labels: plugin change

#2512 Update loot-lookup to v1.1.2
  plugins/loot-lookup
Labels: plugin change

#2513 Add easy-blastfurnace plugin
  plugins/easy-blastfurnace
Labels: plugin added

#2514 Update jar-generator plugin
  plugins/jar-generator
Labels: plugin change

#2522 Update shooting-stars to v1.6.1
  plugins/shooting-stars
Labels: plugin change

#2518 Update ba-minigame to v1.65
  plugins/ba-minigame
Labels: plugin change

#2517 Updated godbook to v1.0.1
  plugins/godbook
Labels: plugin change

#2515 Update c-engineer-completed to v1.0
  plugins/c-engineer-completed
Labels: plugin change

#2516 Update riftguardian to v1.1.0
  plugins/riftguardian
Labels: plugin change

#2519 Update easy-blastfurnace to v1.1.0
  plugins/easy-blastfurnace
Labels: plugin change

#2523 Add Bank Regex Search plugin
  plugins/regex-bank-search
Labels: plugin added

#2388 Camdozaal v1.1 - Migrate Camdozaal plugin from old repo to new one.
  plugins/camdozaal
Labels: plugin change

#2524 Add Chop Chop Stop plugin
  plugins/chop-chop-stop
Labels: plugin added

#2525 Updated Brewing Plugin to v2.0
  plugins/brewing
Labels: plugin change

#2526 Update jar-generator
  plugins/jar-generator
Labels: plugin change

#2528 Update gim-plugin to v2.3
  plugins/gim-plugin
Labels: plugin change

#2527 Create Entrana Plugin
  plugins/entrana
Labels: plugin added

#2521 Polywoof Plugin
  plugins/polywoof
Labels: plugin added

#2531 Update easy-blastfurnace to v1.1.1
  plugins/easy-blastfurnace
Labels: plugin change

#2530 Create stronghold-of-security plugin
  plugins/stronghold-of-security
Labels: plugin added

#2534 Update npc-dialogue
  plugins/npc-dialogue
Labels: plugin change

#2533 region-locker: Fix shader animations
  plugins/region-locker
Labels: plugin change

#2539 Update raid-player-names
  plugins/raid-player-names
Labels: plugin change

#2543 Update tictac7x-storage
  plugins/tictac7x-storage
Labels: plugin change

#2544 update regex-bank-search
  plugins/regex-bank-search
Labels: plugin change

#2545 Update star-calling-assist
  plugins/star-calling-assist
Labels: plugin change

#2532 Polywoof Update
  plugins/polywoof
Labels: plugin change

#2546 Clan activity tracker
  plugins/clan-activity-tracker
Labels: plugin change

#2537 Add Easy Empty plugin
  plugins/easy-empty
Labels: plugin added

#2538 Update Collection log plugin to v2.1
  plugins/collection-log
Labels: plugin change

#2547 Update ticktracker
  plugins/ticktracker
Labels: plugin change

#2548 Polywoof Update
  plugins/polywoof
Labels: plugin change

#2549 Update Inventory Setups to no longer use deprecated varbit API
  plugins/inventory-setups
Labels: plugin change, hold for release

#2552 Update bank-heatmap
  plugins/bank-heatmap
Labels: plugin change

#2551 Update lootbag-utilities to use new varbit api
  plugins/lootbag-utilities
Labels: plugin change

#2576 Changing plugin ownership
  plugins/ba-minigame
Labels: plugin change

#2579 Hotkeyable Menu Swaps 1.1.1 - 1.8.18 API compatibility.
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#2575 Update Green Thumb
  plugins/green-thumb
Labels: plugin change

#2573 Update tts to v1.05
  plugins/tts
Labels: plugin change

#2572 Updated Chat Translator
  plugins/chat-translator
Labels: plugin change

#2570 Rainbow Rave 1.0.5 - 1.8.18-SNAPSHOT API compatibility.
  plugins/rainbow-rave
Labels: plugin change

#2571 Clue Scroll Juggling 1.0.1 - 1.8.18-SNAPSHOT API compatibility.
  plugins/clue-scroll-juggling
Labels: plugin change

#2566 Update Flipping Utilities
  plugins/flipping-utilities
Labels: plugin change

#2564 Tithe improved to 0.3.2
  plugins/tictac7x-tithe
Labels: plugin change

#2555 Update riftguardian to v1.2.0
  plugins/riftguardian
Labels: plugin change

#2556 Update c-engineer-completed repository back to m0bilebtw
  plugins/c-engineer-completed
Labels: plugin change

#2560 Update theatre-of-blood-stats
  plugins/theatre-of-blood-stats
Labels: plugin change

#2562 Update combo-runes-only to v2.0.0
  plugins/combo-runes-only
Labels: plugin change

#2553 Polywoof Update
  plugins/polywoof
Labels: plugin change

#2581 Update Flipping Utilities
  plugins/flipping-utilities
Labels: plugin change

#2577 Weapon Charges 0.2.2 1.8.18 API compatibility.
  plugins/weapon-charges-2
Labels: plugin change

#2578 Action progress 1.03
  plugins/action-progress
Labels: plugin change

#2568 Add "Dude, Where's My Stuff?" plugin
  plugins/dude-wheres-my-stuff
Labels: plugin added

#2550 Create Butler plugin
  plugins/butler
Labels: plugin added

#2559 Change ownership and rewrite slash-swapper plugin
  plugins/slash-swapper
Labels: plugin change

#2563 vengeance-helper
  plugins/vengeance-helper
Labels: plugin added

#2586 Updated Emote Clue Items to v4.0.0.
  plugins/emote-clue-items
Labels: plugin change

#2588 Slash swapper - Update description - no code changed
  plugins/slash-swapper
Labels: plugin change

#2601 Clue Scroll Juggling 1.0.2
  plugins/clue-scroll-juggling
Labels: plugin change

#2584 1.8.18.1 updates + a couple new features
  plugins/impling-finder
Labels: plugin change

#2602 Update runedoku-helper plugin repo and fix build issue
  plugins/runedoku-helper
Labels: plugin change

#2591 Replace Startierindicator with star-info plugin / change ownership
  plugins/startierindicator
Labels: plugin change

#2606 update herblorerecipes to v1.6.1
  plugins/herblorerecipes
Labels: plugin change

#2604 update impling-finder
  plugins/impling-finder
Labels: plugin change

#2597 update npc-dialogue
  plugins/npc-dialogue
Labels: plugin change

#2594 update imbued-heart-notifier
  plugins/imbued-heart-notifier
Labels: plugin change

#2607 Update startierindicator
  plugins/startierindicator
Labels: plugin change

#2603 Update loot-lookup to v1.1.3
  plugins/loot-lookup
Labels: plugin change

#2593 Update statussocket
  plugins/statussocket
Labels: plugin change

#2595 Slash swapper - fix some major bugs
  plugins/slash-swapper
Labels: plugin change

#2599 Update thrall-helper to 1.4
  plugins/thrall-helper
Labels: plugin change

#2608 Update action-progress 1.03.1
  plugins/action-progress
Labels: plugin change

#2618 Update quest-helper to v3.0.3
  plugins/quest-helper
Labels: plugin change

#2621 Update fashionscape to 1.1.16
  plugins/fashionscape
Labels: plugin change

#2609 Update entrana - Just add 8 constants to map
  plugins/entrana
Labels: plugin change

#2611 Updated Guardians of the Rift Helper
  plugins/guardians-of-the-rift-helper
Labels: plugin change

#2614 Update NMZ Optimal Points to latest commit, fixes gradle issues
  plugins/nmz-optimal-points
Labels: plugin change

#2615 Update herb-farm-calculator
  plugins/herb-farm-calculator
Labels: plugin change

#2616 Update pvp-performance-tracker to v1.5.4
  plugins/pvp-performance-tracker
Labels: plugin change

#2613 Polywoof Update
  plugins/polywoof
Labels: plugin change

#2610 Update Collection log plugin to v2.2
  plugins/collection-log
Labels: plugin change

#2620 Update "Dude, Where's My Stuff?" plugin to 1.1.0
  plugins/dude-wheres-my-stuff
Labels: plugin change

#2624 Update startierindicator
  plugins/startierindicator
Labels: plugin change

#2590 Create Ultimate-NMZ
  plugins/ultimate-nmz
Labels: plugin added

#2617 Add the Group Iron Panel plugin
  plugins/group-iron-panel
Labels: plugin added

#2625 Update Easy Empty to v1.1
  plugins/easy-empty
Labels: plugin change

#2627 Update "Dude, Where's My Stuff?" plugin to 1.1.1
  plugins/dude-wheres-my-stuff
Labels: plugin change

#2589 Add Group Ironmen Tracker plugin
  plugins/group-ironmen-tracker
Labels: plugin added

#2628 update one-click-summer-garden to v2.1.2
  plugins/one-click-summer-garden
Labels: plugin change

#2629 Update startierindicator
  plugins/startierindicator
Labels: plugin change

#2630 Create Self Healing Notifications
  plugins/self-healing-notifications
Labels: plugin added
