Repository runelite/plugin-hub, pull requests merged in 2022-07, with the labels that each got.

#2930 Update Camera-Keys to v1.0.4
  plugins/camera-keys
Labels: plugin change

#2901 Add Instant Idle Notify plugin
  plugins/instant-idle-notify
Labels: plugin added

#2908 updated readme
  README.md
Labels: package change, non-author plugin change

#2910 Update skilling-notifications
  plugins/skilling-notifications
Labels: plugin change

#2917 Update PartyHealthStatus to v1.2
  plugins/party-health-status
Labels: plugin change

#2919 Update easy-empty to v1.3.1
  plugins/easy-empty
Labels: plugin change

#2924 Update easy-blastfurnace to v1.1.3
  plugins/easy-blastfurnace
Labels: plugin change

#2931 tob-qol: Add p2 verzik area sounds mute
  plugins/tob-qol-improvements
Labels: plugin change

#2932 Updated itemdropsound to version 1.1
  plugins/item-drop-sound
Labels: plugin change

#2928 Create Vengeance-Tracker plugin
  plugins/vengeance-tracker
Labels: plugin added

#2937 Add gpu-legacy
  plugins/gpu-legacy
Labels: plugin added

#2933 Revert to key listener
  plugins/toggle-chat
Labels: plugin change

#2936 Update quest-helper to v3.0.7
  plugins/quest-helper
Labels: plugin change

#2938 Update instant-idle-notify
  plugins/instant-idle-notify
Labels: plugin change

#2939 weapon charges 0.4.0 - add serp helm
  plugins/weapon-charges-2
Labels: plugin change

#2940 Update patch-payment
  plugins/patch-payment
Labels: plugin change

#2941 Update temple-osrs to v1.1.1
  plugins/temple-osrs
Labels: plugin change

#2874 Add cox-qol plugin
  plugins/cox-qol
Labels: plugin added

#2926 Create konar-milestone-reminder
  plugins/konar-milestone-reminder
Labels: plugin added

#2945 Update temple-osrs to v1.1.2
  plugins/temple-osrs
Labels: plugin change

#2943 Update InventorySetups to Vv1.13
  plugins/inventory-setups
Labels: plugin change

#2922 ToB QoL - Plugin Release - v1.0.0
  plugins/tobqol
Labels: plugin added

#2949 Update music-replacer
  plugins/music-replacer
Labels: plugin change

#2944 Update global f keys to 1.2.0
  plugins/global-f-keys
Labels: plugin change

#2948 Update inventory-value-overlay
  plugins/inventory-value-overlay
Labels: plugin change

#2946 ToB QoL - v1.0.2 - Small Fixes
  plugins/tobqol
Labels: plugin change

#2895 Added new Monster HP Percentage Plugin
  plugins/monster-hp-percentage
Labels: plugin added

#2921 Update Flipping Utilities
  plugins/flipping-utilities
Labels: plugin change

#2958 Update f2p-star-assist
  plugins/f2p-star-assist
Labels: plugin change

#2862 Create Party Defence Tracker
  plugins/party-defence-tracker
Labels: plugin added

#2927 Add clan-tracker Plugin
  plugins/clan-tracker
Labels: plugin added

#2983 fixed-mode-hide-chat: fix issue with fast dragging in bank
  plugins/fixed-mode-hide-chat
Labels: plugin change

#2984 Update no-examine to v1.2
  plugins/no-examine
Labels: plugin change

#2872 Hotkeyable menu swaps 2.0 - custom swaps.
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#2900 create rseye-connector
  plugins/rseye-connector
Labels: plugin added

#2884 update dps-calculator to v2.3.0
  plugins/dps-calculator
Labels: plugin change

#2951 Update Inventory Setups to v1.13.1
  plugins/inventory-setups
Labels: plugin change

#2954 Update VengTracker to 1.1
  plugins/vengeance-tracker
Labels: plugin change

#2955 Update plugin: Decimal Prices
  plugins/decimal-prices
Labels: plugin change

#2956 Add In Game Timer Plugin
  plugins/in-game-timer
Labels: plugin added

#2957 Add meepspeak plugin
  plugins/meepspeak
Labels: plugin added

#2992 custom swaps 2.0.1
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#2898 Create Fake Stats Plugin
  plugins/fake-stats
Labels: plugin added

#2959 Create elysiumattendance-plugin
  plugins/elysiumattendance-plugin
Labels: plugin added

#2960 Update Flipping Utilities
  plugins/flipping-utilities
Labels: plugin change

#2962 Update essence-running
  plugins/essence-running
Labels: plugin change

#2875 Update object-hider
  plugins/object-hider
Labels: plugin change

#2963 Update clan-tracker plugin
  plugins/clan-tracker
Labels: plugin change

#2964 create neverscapealone v1.0.0-alpha
  plugins/neverscapealone
Labels: plugin added

#2968 Update star-calling-assist
  plugins/star-calling-assist
Labels: plugin change

#2965 Update health not resetting on regen
  plugins/monster-hp-percentage
Labels: plugin change

#2906 add thenwefight plugin
  plugins/thenwefight
Labels: plugin added

#2970 Create Guest Indicators plugin
  plugins/guest-indicators
Labels: plugin added

#2971 Update customizable-xp-drops to v1.5.6
  plugins/customizable-xp-drops
Labels: plugin change

#2975 Create f2p-highlight
  plugins/f2p-highlight
Labels: plugin added

#2976 Create custom-death-sound
  plugins/custom-death-sound
Labels: plugin added

#2977 update clan-member-list-sort
  plugins/clan-member-list-sort
Labels: plugin change

#2978 Update Sotetseg defence, add more spec weps
  plugins/party-defence-tracker
Labels: plugin change

#2982 Update better-discord-loot-logger
  plugins/better-discord-loot-logger
Labels: plugin change

#2985 update gamesense
  plugins/gamesense
Labels: plugin change

#2986 Update radius markers to v1.4
  plugins/radius-markers
Labels: plugin change

#2987 osrs-events: Fix bank item bug sending bad quantity for placeholder PT 2
  plugins/osrs-events
Labels: plugin change

#2991 Update Time Tracking Reminder to 1.4.0
  plugins/time-tracking-reminder
Labels: plugin change

#2993 Update startierindicator - one liner enum change
  plugins/startierindicator
Labels: plugin change

#2994 update thenwefight to 0.2.1
  plugins/thenwefight
Labels: plugin change

#2997 Updated to later version of the plugin that allows notifications when…
  plugins/blast-furnace-trainer
Labels: plugin change

#2999 Update ba role randomizer to v2.1.1
  plugins/ba-role-randomizer
Labels: plugin change

#2998 Update camera-points plugin to v2.2.2
  plugins/camera-points
Labels: plugin change

#2950 Update Dude, Where's My Stuff? to v1.3.0
  plugins/dude-wheres-my-stuff
Labels: plugin change

#2995 Update no-examine to v1.3
  plugins/no-examine
Labels: plugin change

#2990 ToB QoL - v1.0.4 - Bug Fixes, Small Adds
  plugins/tobqol
Labels: plugin change

#3007 [HotFix] Updated Emote Clue Items to v4.0.2.
  plugins/emote-clue-items
Labels: plugin change

#3008 Fix Dude, Where's My Stuff? to work with RL 1.8.27
  plugins/dude-wheres-my-stuff
Labels: plugin change

#3009 rainbow rave 1.8.27 api fix.
  plugins/rainbow-rave
Labels: plugin change

#3010 Update Mahogany Homes (v1.5)
  plugins/mahogany-homes
Labels: plugin change

#3017 Update wom-utils
  plugins/wom-utils
Labels: plugin change

#3018 Update Runite Rocks (v1.3.1)
  plugins/runite-rocks
Labels: plugin change

#3022 update gnome restaurant plugin
  plugins/gnome-restaurant
Labels: plugin change

#2952 Update supplies-tracker
  plugins/supplies-tracker
Labels: plugin change

#2989 Update shooting-star-tracking
  plugins/shooting-stars-tracking
Labels: plugin change

#2996 Cat V Rat Plugin
  plugins/catvrat
Labels: plugin added

#3002 Update NeverScapeAlone to v1.0.2-alpha
  plugins/neverscapealone
Labels: plugin change

#3003 Update lms-start-notifier - fix build failure 1.8.27
  plugins/lms-start-notifier
Labels: plugin change

#3006 updated the plugin to commit 65f0a198d9edd82650bcfbe8e30d86823aecddbc…
  plugins/salve-amulet-checker
Labels: plugin change

#3012 Update maple-xp-bar
  plugins/maple-xp-bar
Labels: plugin change

#3015 Update easy-giantsfoundry - v1.0.5
  plugins/easy-giantsfoundry
Labels: plugin change

#3014 Update Flipping Utilities
  plugins/flipping-utilities
Labels: plugin change

#3013 Default Tab - Release
  plugins/defaulttab
Labels: plugin added

#3024 Update Mahogany Homes (v1.5.1)
  plugins/mahogany-homes
Labels: plugin change

#3023 Update Inventory Setups to v1.13.2
  plugins/inventory-setups
Labels: plugin change

#3026 Update monkey-metrics to v1.0.1
  plugins/monkey-metrics
Labels: plugin change

#3030 Update stealing artefacts plugin
  plugins/stealing-artefacts
Labels: plugin change

#3001 Adding config option to calculate profit.
  plugins/inventory-value-overlay
Labels: plugin change

#3019 Update clan-member-list-sort
  plugins/clan-member-list-sort
Labels: plugin change

#3025 update visual-metronome to V1.3.8
  plugins/visual-metronome
Labels: plugin change

#3027 Update roof-toggle
  plugins/roof-toggle
Labels: plugin change

#3029 Update meepspeak to v1.1
  plugins/meepspeak
Labels: plugin change

#3031 Update Hub Party Panel (v3.0.1)
  plugins/party-panel
Labels: plugin change

#3032 Update Loot Logger (v.3.2.2)
  plugins/loot-logger
Labels: plugin change

#3028 Update quest-helper to 3.1.0
  plugins/quest-helper
Labels: plugin change

#3037 Update no-examine to v1.4
  plugins/no-examine
Labels: plugin change

#3039 ToB QoL - Small Fix for v1.0.4
  plugins/tobqol
Labels: plugin change

#3040 Update wintertodt-scouter v1.2
  plugins/wintertodt-scouter
Labels: plugin change

#3041 Update nightmare-timers
  plugins/nightmare-timers
Labels: plugin change

#3042 Update Fake Stats to v0.2.5
  plugins/fake-stats
Labels: plugin change

#3044 Update input-recolor finally
  plugins/input-recolor
Labels: plugin change

#3045 Update Clan Events
  plugins/elysiumevents-plugin
Labels: plugin change

#3004 Update mlm-upper-level-markers to v1.3
  plugins/mlm-upper-level-markers
Labels: plugin change

#3038 Update Classes of Gielinor
  plugins/classes-of-gielinor
Labels: plugin change

#3036 Update customizable-xp-drops to v1.5.7
  plugins/customizable-xp-drops
Labels: plugin change

#3054 update visual-metronome to v1.3.8.1
  plugins/visual-metronome
Labels: plugin change

#3055 Update tob-hm-timer to v1.0.2
  plugins/tob-hm-timer
Labels: plugin change

#3057 Update shooting-stars-tracking - 1 line change
  plugins/shooting-stars-tracking
Labels: plugin change

#2920 Add Nylo Death Indicators Plugin
  plugins/nylo-death-indicators
Labels: plugin added

#2942 Add Better NPC Highlight
  plugins/better-npc-highlight
Labels: plugin added

#3000 Create discord-collection-logger
  plugins/discord-collection-logger
Labels: plugin added

#3011 Adding World Heatmap Plugin
  plugins/world-heatmap
Labels: plugin added

#3060 Update Nylo Death Indicators to v1.0.1 - One Line Change
  plugins/nylo-death-indicators
Labels: plugin change

#3034 added altar-of-net plugin
  plugins/altar-of-net
Labels: plugin added

#3056 add Notification Panel plugin
  plugins/notification-panel
Labels: plugin added

#3016 Add House Advertisement Plus plugin
  plugins/house-advertisement-plus
Labels: plugin added

#3049 Create shift-remapping
  plugins/shift-remapping
Labels: plugin added

#3069 update combo-runes-only to v2.0.1
  plugins/combo-runes-only
Labels: plugin change

#3063 Update aqp-finder
  plugins/aqp-finder
Labels: plugin change

#3066 Fix NPE in Stealing-Artefacts
  plugins/stealing-artefacts
Labels: plugin change

#3068 Update FlippingUtilities
  plugins/flipping-utilities
Labels: plugin change

#3067 Updated GECalc to fix reported issue
  plugins/gecalc
Labels: plugin change

#3071 update dps-calculator to v2.3.1
  plugins/dps-calculator
Labels: plugin change

#3076 Update House Advertisement Plus to v1.0.1
  plugins/house-advertisement-plus
Labels: plugin change

#3075 Update cox-clipboard
  plugins/cox-clipboard
Labels: plugin change

#3064 Update 117HD to 1.1.2
  plugins/117hd
Labels: plugin change

#3090 Update House Advertisement Plus to 1.0.2
  plugins/house-advertisement-plus
Labels: plugin change
