Repository runelite/plugin-hub, pull requests merged in 2022-05, with the labels that each got.

#2631 update dps-calculator to v1.5.2
  plugins/dps-calculator
Labels: plugin change

#2633 Update "Dude, Where's My Stuff?" plugin to 1.1.2
  plugins/dude-wheres-my-stuff
Labels: plugin change

#2635 Update entrana - Add book of the dead to allowed list
  plugins/entrana
Labels: plugin change

#2636 Fix left click dropper for the recent inventory changes
  plugins/zom-leftclick-dropper
Labels: plugin change

#2643 Update wom-utils
  plugins/wom-utils
Labels: plugin change

#2637 Update group ironmen tracker plugin to v1.1
  plugins/group-ironmen-tracker
Labels: plugin change

#2644 Update not-empty
  plugins/not-empty
Labels: plugin change

#2646 Update loot-lookup to v1.1.4
  plugins/loot-lookup
Labels: plugin change

#2641 Update easy-blastfurnace to v1.1.2
  plugins/easy-blastfurnace
Labels: plugin change

#2642 track correct ui widget for minigame presence
  plugins/guardians-of-the-rift-helper
Labels: plugin change, non-author plugin change

#2652 Update Group Iron Panel to 1.1.0
  plugins/group-iron-panel
Labels: plugin change

#2653 Update Improved tile indicators (extremely small update)
  plugins/improved-tile-indicators
Labels: plugin change

#2634 Add easy-pharaoh-sceptre
  plugins/easy-pharaoh-sceptre
Labels: plugin added

#2598 Add Time Tracking Reminder plugin
  plugins/time-tracking-reminder
Labels: plugin added

#2596 Slayer Assistant Plugin
  plugins/slayer-assistant
Labels: plugin added

#2654 update 117hd to d60a9215cf6313388a621fb1b12df04cb6b67e57
  plugins/117hd
Labels: plugin change

#2664 Fix naming clash with RuneLite slayer plugin
  plugins/slayer-assistant
Labels: plugin change

#2671 update contextual-cursor to v1.2.8
  plugins/contextual-cursor
Labels: plugin change

#2663 Update customizable-xp-drops to v1.5
  plugins/customizable-xp-drops
Labels: plugin change

#2659 Weapon charges 0.2.4
  plugins/weapon-charges-2
Labels: plugin change

#2645 Update gim-plugin to v2.4
  plugins/gim-plugin
Labels: plugin change

#2662 Update Inferno Stats to v2.1
  plugins/inferno-stats
Labels: plugin change

#2655 Update osrs-wiki-crowdsourcing
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#2626 Add `authors` field to co-authored plugins
  plugins/bot-detector
  plugins/discord-rare-drop-notificater
  plugins/flipping-utilities
  plugins/input-recolor
  plugins/osrs-wiki-crowdsourcing
  plugins/wikisync
Labels: plugin change, non-author plugin change

#2657 Update "Dude, Where's My Stuff?" plugin to 1.1.3
  plugins/dude-wheres-my-stuff
Labels: plugin change

#2660 Update ultimate-nmz plugin
  plugins/ultimate-nmz
Labels: plugin change

#2661 Update group ironmen tracker to v1.2
  plugins/group-ironmen-tracker
Labels: plugin change

#2668 Update herblorerecipes to 1.6.2
  plugins/herblorerecipes
Labels: plugin change

#2665 Update Flipping Utilities
  plugins/flipping-utilities
Labels: plugin change

#2670 Update Slayer Assistant Plugin
  plugins/slayer-assistant
Labels: plugin change

#2676 runewatch: v2.2.1
  plugins/runewatch
Labels: plugin change

#2677 Update Inferno Stats to v2.1.1
  plugins/inferno-stats
Labels: plugin change

#2678 update slayer-assistant to v1.0.3
  plugins/slayer-assistant
Labels: plugin change

#2680 Update osrs-wiki-crowdsourcing
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#2696 update coffin-counter to v1.1.1
  plugins/coffin-counter
Labels: plugin change

#2684 v0.3.2 - Inventory optional whitelist, hide overlays when widgets visible, improved 0 slots
  plugins/tictac7x-storage
Labels: plugin change

#2689 zulrah-helper: v1.3.0 release
  plugins/zulrah-helper
Labels: plugin change

#2690 Watchdog: Improved stat drain logic and made logs DEBUG level
  plugins/watchdog
Labels: plugin change

#2691 Update time-tracking-reminder
  plugins/time-tracking-reminder
Labels: plugin change

#2692 Update quest-helper to v3.0.4
  plugins/quest-helper
Labels: plugin change

#2695 update f2p-star-assist
  plugins/f2p-star-assist
Labels: plugin change

#2702 Polywoof Update
  plugins/polywoof
Labels: plugin change

#2693 Update herblorerecipes
  plugins/herblorerecipes
Labels: plugin change

#2651 Add my lizardman shaman minion spawn sound plugin
  plugins/lizardman-shaman-minion-spawn-sound
Labels: plugin added

#2658 Add snakeman mode plugin
  plugins/snakeman-mode
Labels: plugin added

#2709 v0.3.3 - Fix inventory whitelist toggle and whitelist itself
  plugins/tictac7x-storage
Labels: plugin change

#2706 Update model-exporter to v1.4.1
  plugins/model-exporter
Labels: plugin change

#2686 v0.1 - Daily infoboxes to annoy you
  plugins/tictac7x-daily
Labels: plugin added

#2675 Betteroverload
  plugins/betteroverload
Labels: plugin added

#2656 added plugin file for salve-amulet-checker
  plugins/salve-amulet-checker
Labels: plugin added

#2669 Add Koivel Stat Tracking Dashboard Plugin
  plugins/koivel
Labels: plugin added

#2698 Added Mage Arena 2 Memory Plugin
  plugins/mage-arena-2-memory
Labels: plugin added

#2704 rainbow rave 1.1 - mouse cursor trail.
  plugins/rainbow-rave
Labels: plugin change

#2705 Update customizable-xp-drops to v1.5.1
  plugins/customizable-xp-drops
Labels: plugin change

#2710 Update oef-sound (fix for not working sound in a jar)
  plugins/oef-sound
Labels: plugin change

#2714 update shooting-stars to v1.6.2
  plugins/shooting-stars
Labels: plugin change

#2716 update unidentified-herbs
  plugins/unidentified-herbs
Labels: plugin change

#2708 Add Better Discord Loot Logger Plugin
  plugins/better-discord-loot-logger
Labels: plugin added

#2711 Update Twitch Live Loadout Plugin to v1.0.1
  plugins/twitch-live-loadout
Labels: plugin change

#2712 Update Time Tracking Reminder
  plugins/time-tracking-reminder
Labels: plugin change

#2713 Fixed image paths ~?
  plugins/mage-arena-2-memory
Labels: plugin change

#2683 created combat-level-calc
  plugins/combat-level-calc
Labels: plugin added

#2717 update f2p-star-assist
  plugins/f2p-star-assist
Labels: plugin change

#2718 Fixed image path in combat lvl calc
  plugins/combat-level-calc
Labels: plugin change

#2720 zulrah-helper: v1.4.1
  plugins/zulrah-helper
Labels: plugin change

#2721 Combat level calc
  plugins/combat-level-calc
Labels: plugin change

#2722 Mage arena 2 memory
  plugins/mage-arena-2-memory
Labels: plugin change

#2681 Create sacredoil
  plugins/sacredoil
Labels: plugin added

#2725 Update BA role randomizer to v2.0.3
  plugins/ba-role-randomizer
Labels: plugin change

#2715 Polywoof Update
  package/verification-template/build.gradle
  package/verification-template/gradle/verification-metadata.xml
  plugins/polywoof
Labels: plugin change, dependency change

#2724 Add Recently banked items plugin
  plugins/recently-banked-items
Labels: plugin added

#2726 Mage arena 2 memory update
  plugins/mage-arena-2-memory
Labels: plugin change

#2727 Update betteroverload
  plugins/betteroverload
Labels: plugin change

#2697 Add apm plugin
  plugins/apm
Labels: plugin added

#2730 Update koivel
  plugins/koivel
Labels: plugin change

#2731 Disable daily-task-extensions
  plugins/daily-task-extensions
Labels: plugin change

#2732 Final Mage arena 2 memory update
  plugins/mage-arena-2-memory
Labels: plugin change

#2741 v0.4.8.1 - Fix splashit player check, make it possible to enable debu…
  plugins/tictac7x-rooftops
Labels: plugin change

#2679 Update music-mask
  plugins/music-mask
Labels: plugin change

#2752 Update music-mask
  plugins/music-mask
Labels: plugin change

#2753 update music-mask
  plugins/music-mask
Labels: plugin change

#2733 Add spam filter plugin
  plugins/spamfilter
Labels: plugin added

#2739 Update Twitch Live Loadout Plugin to v1.0.2
  plugins/twitch-live-loadout
Labels: plugin change

#2736 Create tedious-collection-log
  plugins/tedious-collection-log
Labels: plugin added

#2734 Update BA role randomizer to v2.0.5
  plugins/ba-role-randomizer
Labels: plugin change

#2754 Disable "Improved fragments UI"
  plugins/improved-fragment-ui
Labels: plugin change

#2744 Add Imbued fart
  plugins/imbued-fart
Labels: plugin added

#2763 update imbued fart to 1.0.1
  plugins/imbued-fart
Labels: plugin change

#2745 Create total-cost
  plugins/total-cost
Labels: plugin added

#2747 update apm
  plugins/apm
Labels: plugin change

#2748 Update Koivel
  plugins/koivel
Labels: plugin change

#2751 Update f2p-star-assist
  plugins/f2p-star-assist
Labels: plugin change

#2761 Update to Clanmate Export
  plugins/clanmate-export
Labels: plugin change

#2764 Update tts to 1.06
  plugins/tts
Labels: plugin change

#2767 Update customizable-xp-drops to v1.5.4
  plugins/customizable-xp-drops
Labels: plugin change

#2768 Update Collection log plugin to v2.2.1
  plugins/collection-log
Labels: plugin change

#2769 update imbued-fart to 1.0.2
  plugins/imbued-fart
Labels: plugin change
