Repository runelite/plugin-hub, pull requests merged in 2022-10, with the labels that each got.

#3397 update tombs-of-amascut to v2.0.4
  plugins/tombs-of-amascut
Labels: plugin change

#3393 Update 117HD to v1.2.0
  plugins/117hd
Labels: plugin change

#3346 Add toa-mistake-tracker
  plugins/toa-mistake-tracker
Labels: plugin added

#3233 Create pickpocket-helper
  plugins/pickpocket-helper
Labels: plugin added

#3315 Add Prop Hunt Plugin
  plugins/prop-hunt
Labels: plugin added

#3298 Update butler plugin to point to new repo
  plugins/butler
Labels: plugin change

#3407 Revert "Update 117HD to v1.2.0"
  plugins/117hd
Labels: plugin change, non-author plugin change

#3377 add challenge-mode-indicator plugin
  plugins/challenge-mode-indicator
Labels: plugin added

#3410 Update toa-mistake-tracker to v1.1
  plugins/toa-mistake-tracker
Labels: plugin change

#3417 update 117HD to v1.2.1
  plugins/117hd
Labels: plugin change

#3059 Add touch-bar plugin
  plugins/touch-bar
Labels: plugin added

#3424 Update 117HD to v1.2.1.2
  plugins/117hd
Labels: plugin change

#3425 Update toa-mistake-tracker to v1.2
  plugins/toa-mistake-tracker
Labels: plugin change

#3365 add skills-organizer plugin
  plugins/skills-organizer
Labels: plugin added

#3349 Update Twitch Live Loadout Plugin to v1.1.0
  plugins/twitch-live-loadout
Labels: plugin change

#3409 collection-log-shout
  plugins/collection-log-shout
Labels: plugin added

#3428 Update NeverScapeAlone to v3.0.1-alpha
  plugins/neverscapealone
Labels: plugin change

#3387 updated plugin
  plugins/grimy-animation
Labels: plugin change

#3388 Added Offline Chat Icon Plugin
  plugins/offline-chat-icon
Labels: plugin added

#3394 Update basqh
  plugins/basqh
Labels: plugin change

#3396 Update radius-markers to v1.5
  plugins/radius-markers
Labels: plugin change

#3389 Update purchase-progress to v1.1.1
  plugins/purchase-progress
Labels: plugin change

#3398 add godwars-protection-overlay plugin
  plugins/godwars-protection-overlay
Labels: plugin added

#3400 Update custom-death-sound
  plugins/custom-death-sound
Labels: plugin change

#3391 Add Ground Item Sounds hub plugin
  plugins/ground-item-sounds
Labels: plugin added

#3401 Update transcriber to v1.1
  plugins/transcriber
Labels: plugin change

#3402 Add Hit Sounds v1.0.0
  plugins/hit-sounds
Labels: plugin added

#3405 Update Banked Experience (v2.2.1)
  plugins/banked-experience
Labels: plugin change

#3406 Create glory-counter
  plugins/glory-counter
Labels: plugin added

#3414 Update easy-blastfurnace to v1.3.0
  plugins/easy-blastfurnace
Labels: plugin change

#3411 Update PersonalCurrencyTracker to v1.1
  plugins/personalcurrencytracker
Labels: plugin change

#3413 Dpshelper
  plugins/dps-helper
Labels: plugin added

#3415 Update item-retrieval-warning
  plugins/item-retrieval-warning
Labels: plugin change

#3416 Create Looting Bag Value plugin
  plugins/looting-bag-value
Labels: plugin added

#3371 add alch-blocker plugin
  plugins/alch-blocker
Labels: plugin added

#3418 Update npc-dialogue
  plugins/npc-dialogue
Labels: plugin change

#3420 Update supplies-tracker - Added 4 Constants in switch statement
  plugins/supplies-tracker
Labels: plugin change

#3404 Update startierindicator to v1.1.1
  plugins/startierindicator
Labels: plugin change

#3421 [Taskman] added website support
  plugins/taskman
Labels: plugin change

#3422 Update bank-xp-value
  plugins/bank-xp-value
Labels: plugin change

#3426 Update cox-clipboard
  plugins/cox-clipboard
Labels: plugin change

#3427 Update Mahogany Homes (v1.5.2)
  plugins/mahogany-homes
Labels: plugin change

#3431 Weapon Charges 0.4.2 - add all avas devices.
  plugins/weapon-charges-2
Labels: plugin change

#3412 Update pickpocket-helper
  plugins/pickpocket-helper
Labels: plugin change

#3429 Update Resting
  plugins/resting
Labels: plugin change

#3430 Update afk-countdown
  plugins/afk-countdown
Labels: plugin change

#3432 Update skills-tab-progress-bars to v1.3
  plugins/skills-tab-progress-bars
Labels: plugin change

#3444 Update 117HD to v1.2.2
  plugins/117hd
Labels: plugin change

#3450 Update 117HD to v1.2.2.1
  plugins/117hd
Labels: plugin change

#3423 Update CoX Additions to 1.1.0
  plugins/cox-qol
Labels: plugin change

#3433 Daily tasks - v0.2.1
  plugins/tictac7x-daily
Labels: plugin change

#3434 Update transcriber to v1.2
  plugins/transcriber
Labels: plugin change

#3435 Update cox-analytics
  plugins/cox-analytics
Labels: plugin change

#3436 Update thrall-helper to 1.6
  plugins/thrall-helper
Labels: plugin change

#3354 Drop Sounds plugin
  plugins/dropsounds
Labels: plugin added

#3438 Offline Chat Icon - Bug fix to handle RSN with spaces in them
  plugins/offline-chat-icon
Labels: plugin change

#3440 Update Hit Sounds to v1.0.1
  plugins/hit-sounds
Labels: plugin change

#3443 Create prayer-volume-control
  plugins/prayer-volume-control
Labels: plugin added

#3452 Update quest-helper to 3.1.3
  plugins/quest-helper
Labels: plugin change

#3453 Update wom-utils
  plugins/wom-utils
Labels: plugin change

#3455 update debug
  plugins/debug
Labels: plugin change

#3461 Update wom-utils
  plugins/wom-utils
Labels: plugin change

#3467 Update dropsounds to v1.0.2
  plugins/dropsounds
Labels: plugin change

#3463 Update forsen-lines
  plugins/forsen-lines
Labels: plugin change

#3457 Update looting-bag-value to v1.0.1
  plugins/looting-bag-value
Labels: plugin change

#3462 Update 117HD to v1.2.3
  plugins/117hd
Labels: plugin change

#3473 Fix to quest-helper
  plugins/quest-helper
Labels: plugin change

#3476 Update bot-detector to v1.3.8.3
  plugins/bot-detector
Labels: plugin change

#3477 Update wom-utils
  plugins/wom-utils
Labels: plugin change

#3445 Toa modern: life no more
  plugins/toa-modern
Labels: plugin added

#3447 [Taskman] Added !taskman chat command
  plugins/taskman
Labels: plugin change

#3449 Create specimen-cleaning-extended
  plugins/specimen-cleaning-extended
Labels: plugin added

#3448 add system tray inventory count plugin
  plugins/system-tray-inventory-count
Labels: plugin added

#3451 Update the-gauntlet to v1.1.0
  plugins/the-gauntlet
Labels: plugin change

#3446 Update Plugin Presets to v2.3.1
  plugins/plugin-presets
Labels: plugin change

#3437 Update dps-helper
  plugins/dps-helper
Labels: plugin change

#3454 Update transcriber to v1.3
  plugins/transcriber
Labels: plugin change

#3456 customizable-xp-drops to v1.6.1
  plugins/customizable-xp-drops
Labels: plugin change

#3484 customizable-xp-drops to v1.6.1.1
  plugins/customizable-xp-drops
Labels: plugin change

#3486 customizable-xp-drops to v1.6.1.2
  plugins/customizable-xp-drops
Labels: plugin change

#3494 update dps-calculator to v2.3.2
  plugins/dps-calculator
Labels: plugin change

#3459 Add nex sound replacer plugin
  plugins/nex-sound-replacer
Labels: plugin added

#3464 Self Healing Notifications Update
  plugins/self-healing-notifications
Labels: plugin change

#3470 Added Friend Sound Plugin
  plugins/marty-walkup
Labels: plugin added

#3475 V0.2.2 - kingdom varbit handling
  plugins/tictac7x-daily
Labels: plugin change

#3478 update clan event attendance
  plugins/clan-event-attendance
Labels: plugin change

#3481 Update bot-detector to v1.3.8.4
  plugins/bot-detector
Labels: plugin change

#3482 Update Collection log plugin to v2.2.4
  plugins/collection-log
Labels: plugin change

#3483 Weapon Animation Replacer 2.2.5 - gson bug fix + add tumeken's shadow animations.
  plugins/weapon-animation-replacer
Labels: plugin change

#3487 Weapon charges 0.4.3 tumeken's shadow, ranged cape (t), vorkaths head ranged cape.
  plugins/weapon-charges-2
Labels: plugin change

#3491 Update godwars-protection-overlay
  plugins/godwars-protection-overlay
Labels: plugin change
