Repository runelite/plugin-hub, pull requests merged in 2022-09, with the labels that each got.

#3276 update tombs-of-amascut to v1.2.1
  plugins/tombs-of-amascut
Labels: plugin change

#3271 Update Group Iron Panel to 1.2.1
  plugins/group-iron-panel
Labels: plugin change

#3268 Added Toggleable Navigation Button
  plugins/salve-amulet-checker
Labels: plugin change

#3266 Update partyreadycheck
  plugins/partyreadycheck
Labels: plugin change

#3269 Update emoji-palette to add rows automatically with new emojis
  plugins/emoji-palette
Labels: plugin change

#3272 Update easy-blastfurnace to v1.2.0
  plugins/easy-blastfurnace
Labels: plugin change

#3277 Update FlippingUtilities
  plugins/flipping-utilities
Labels: plugin change

#3287 Update discordnotificationsaio
  plugins/discordnotificationsaio
Labels: plugin change

#3235 Update Bot Detector to v1.3.8.1
  plugins/bot-detector
Labels: plugin change

#3291 update tombs-of-amascut to v1.3.0
  plugins/tombs-of-amascut
Labels: plugin change

#3262 Update Animation Transmog (v1.4.0)
  plugins/animation-transmog
Labels: plugin change

#3278 Update FlippingUtilities
  plugins/flipping-utilities
Labels: plugin change

#3289 Update fashionscape to 1.1.17
  plugins/fashionscape
Labels: plugin change

#3288 Update osrs-wiki-crowdsourcing
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#3292 Update chat-sounds
  plugins/chat-sounds
Labels: plugin change

#3300 update tombs-of-amascut to v1.4.0
  plugins/tombs-of-amascut
Labels: plugin change

#3304 update tombs-of-amascut to v1.5.0
  plugins/tombs-of-amascut
Labels: plugin change

#3303 Fix Dude, Where's My Stuff? to work with RL 1.8.33
  plugins/dude-wheres-my-stuff
Labels: plugin change

#3306 update tombs-of-amascut to v1.5.1
  plugins/tombs-of-amascut
Labels: plugin change

#3297 Update startierindicator to v1.1.0
  plugins/startierindicator
Labels: plugin change

#3305 Update group-ironmen-tracker v1.3
  plugins/group-ironmen-tracker
Labels: plugin change

#3302 Update afk-countdown v1.3
  plugins/afk-countdown
Labels: plugin change

#3234 Update animatedicons
  plugins/animatedicons
Labels: plugin change

#3293 Update bot-detector to v1.3.8.2
  plugins/bot-detector
Labels: plugin change

#3295 Update tray-indicators to v1.1.1
  plugins/tray-indicators
Labels: plugin change

#3229 Update magic-secateurs
  plugins/magic-secateurs
Labels: plugin change

#3310 Update discord-rare-drop-notificater
  plugins/discord-rare-drop-notificater
Labels: plugin change

#3245 Update Raids clipboard
  plugins/cox-clipboard
Labels: plugin change

#3227 Update NeverScapeAlone to v2.21.0-alpha
  plugins/neverscapealone
Labels: plugin change

#3265 Update shortest-path to v1.9.1
  plugins/shortest-path
Labels: plugin change

#3281 Update Advanced Notifications to 1.2.0
  plugins/advanced-notifications
Labels: plugin change

#3299 Update Animation Transmog (v2.0.0)
  plugins/animation-transmog
Labels: plugin change

#3284 customizable-xp-drops to v1.5.9
  plugins/customizable-xp-drops
Labels: plugin change

#3318 Fix Data Migration bug in Inventory Setups
  plugins/inventory-setups
Labels: plugin change

#3320 Update animation-transmog to v2.0.1
  plugins/animation-transmog
Labels: plugin change

#3317 Updated native-mac-notifications
  plugins/native-mac-notifications
Labels: plugin change

#3311 Update banked-experience to v2.2
  plugins/banked-experience
Labels: plugin change

#3313 Update gim-plugin to v2.5.2
  plugins/gim-plugin
Labels: plugin change

#3312 Update equipment-screenshot to v1.0.9
  plugins/equipment-screenshot
Labels: plugin change

#3319 Update slayer-assistant to v1.1.0
  plugins/slayer-assistant
Labels: plugin change

#3301 Update Discord-Collection-Logger
  plugins/discord-collection-logger
Labels: plugin change

#3321 update transmog to v1.3.4
  plugins/transmog
Labels: plugin change

#3228 adding EventsAPI Plugin to PluginHub
  plugins/eventsapi
Labels: plugin added

#3326 Update loot logger (v3.3.1)
  plugins/loot-logger
Labels: plugin change

#3327 Update fashionscape to 1.1.18
  plugins/fashionscape
Labels: plugin change

#3328 Update supplies-tracker to v3.0.1
  plugins/supplies-tracker
Labels: plugin change

#3324 customizable-xp-drops to v1.6.0
  plugins/customizable-xp-drops
Labels: plugin change

#3323 Update animation-transmog to v2.0.2
  plugins/animation-transmog
Labels: plugin change

#3239 ToB QoL - v1.1.0 release
  plugins/tobqol
Labels: plugin change

#3338 [Tiny] Update party-play to fix breakage
  plugins/party-play
Labels: plugin change

#3340 add chinbompa
  plugins/chinbompa
Labels: plugin added

#3341 update keepassxc to 1.1.3
  plugins/keepassxc
Labels: plugin change

#3333 Update: Xp to level notification
  plugins/xp-to-level-notification
Labels: plugin change

#3330 Update discord-collection-logger
  plugins/discord-collection-logger
Labels: plugin change

#3334 Update nylo-death-indicators to version 1.0.4
  plugins/nylo-death-indicators
Labels: plugin change

#3329 Update easy-blastfurnace to v1.2.1
  plugins/easy-blastfurnace
Labels: plugin change

#3335 Update Resting
  plugins/resting
Labels: plugin change

#3331 MonsterHP: Update font and caught NPE
  plugins/monster-hp-percentage
Labels: plugin change

#3336 Update Raids Clipboard
  plugins/cox-clipboard
Labels: plugin change

#3339 Update NeverScapeAlone to v2.21.1-alpha
  plugins/neverscapealone
Labels: plugin change

#3347 update transmog to v1.3.5
  plugins/transmog
Labels: plugin change

#3357 Update shortest-path
  plugins/shortest-path
Labels: plugin change

#3348 Update resting
  plugins/resting
Labels: plugin change

#3258 Create zebak-roar-chat
  plugins/zebak-roar-chat
Labels: plugin added

#3263 Taskman plugin
  plugins/taskman
Labels: plugin added

#3358 updated magic secateurs plugin
  plugins/magic-secateurs
Labels: plugin change

#3283 Create gim-bank-discord
  plugins/gim-bank-discord
Labels: plugin added

#3308 grimy animation
  plugins/grimy-animation
Labels: plugin added

#3286 Create maxhitalert
  plugins/maxhitalert
Labels: plugin added

#3337 Update tasks-tracker
  plugins/tasks-tracker
Labels: plugin change

#3342 Update cox-clipboard
  plugins/cox-clipboard
Labels: plugin change

#3343 Updated guardians-of-the-rift-helper to v1.02
  plugins/guardians-of-the-rift-helper
Labels: plugin change

#3344 Update pvp-performance-tracker to v1.5.6
  plugins/pvp-performance-tracker
Labels: plugin change

#3351 Update betteroverload
  plugins/betteroverload
Labels: plugin change

#3359 Re-enable and update spamfilter
  plugins/spamfilter
Labels: plugin change

#3364 disabled plugin
  plugins/dead-traps
Labels: plugin change

#3366 Update shortest-path
  plugins/shortest-path
Labels: plugin change

#3367 Add zom-ignore-list-updater
  plugins/zom-ignore-list-updater
Labels: plugin added, non-author plugin change

#3190 Add basqh
  plugins/basqh
Labels: plugin added

#3372 update tombs-of-amascut to v2.0.0
  plugins/tombs-of-amascut
Labels: plugin change

#3280 Update rseye-connector - add raids to loot update
  plugins/rseye-connector
Labels: plugin change

#3352 Update PM Highlight to v1.2.0
  plugins/pm-highlight
Labels: plugin change

#3368 Update zom-ignore-list-updater
  plugins/zom-ignore-list-updater
Labels: plugin change

#3219 AFK Movement Alerter plugin
  plugins/afk-movement-alerter
Labels: plugin added

#3374 update tombs-of-amascut to v2.0.1
  plugins/tombs-of-amascut
Labels: plugin change

#3345 Add purchase progress plugin
  plugins/purchase-progress
Labels: plugin added

#3353 Update easy-blastfurnace to v1.2.2
  plugins/easy-blastfurnace
Labels: plugin change

#3325 Create clock-blocker
  plugins/clock-blocker
Labels: plugin added

#3376 update easy-teleports to v2.1.0
  plugins/easy-pharaoh-sceptre
Labels: plugin change

#3279 Add forsen-lines
  plugins/forsen-lines
Labels: plugin added

#3381 Update purchase-progress to v1.0.1
  plugins/purchase-progress
Labels: plugin change

#3307 Tombs of Amascut Puzzle Helper
  plugins/tombs-of-amascut-puzzle-helper
Labels: plugin added

#3373 Update sandstone-buckets-counter to 1.1
  plugins/sandstone-buckets-counter
Labels: plugin change, non-author plugin change

#3375 update inventory-count to v1.0.1
  plugins/inventory-count
Labels: plugin change

#3379 Update model-exporter
  plugins/model-exporter
Labels: plugin change

#3385 Update BAS Queue Helper plugin
  plugins/basqh
Labels: plugin change

#3355 Update chat-success-rates to v1.1
  plugins/chat-success-rates
Labels: plugin change

#3356 Add transcriber
  plugins/transcriber
Labels: plugin added

#3361 Create ScoutingStats
  plugins/scouting-stats
Labels: plugin added

#3390 update tombs-of-amascut to v2.0.2
  plugins/tombs-of-amascut
Labels: plugin change

#3392 update tombs-of-amascut to v2.0.3
  plugins/tombs-of-amascut
Labels: plugin change
