Repository runelite/plugin-hub, pull requests merged in 2023-05, with the labels that each got.

#4289 Update combat-roll
  plugins/combat-roll
Labels: plugin change

#4181 Create Collapsible-Modern-Chat-Plugin
  plugins/collapsible-modern-chat
Labels: plugin added

#4274 Update party-defence-tracker
  plugins/party-defence-tracker
Labels: plugin change

#4276 Update easy-unnote to v1.2.0
  plugins/easy-unnote
Labels: plugin change

#4277 Update 3DWeather to v1.2
  plugins/3d-weather
Labels: plugin change

#4268 Update tictac7x-rooftops
  plugins/tictac7x-rooftops
Labels: plugin change

#4282 Discord Screenshot - Added overlay functionality
  plugins/discord-screenshot
Labels: plugin change

#4284 Updates random-event-analytics to 0344f12
  plugins/random-event-analytics
Labels: plugin change

#4255 Add gotr-leech
  plugins/gotr-leech
Labels: plugin added

#4239 Create Total-Selling-Price
  plugins/total-selling-price
Labels: plugin added

#4287 Update nekos
  plugins/nekos
Labels: plugin change

#4288 Update tempoross to 1.4
  plugins/tempoross
Labels: plugin change

#4290 Update ba-minigame to 1.70
  plugins/ba-minigame
Labels: plugin change

#4292 Watchdog: v2.10.0 - Spawned alerts, threaded notifications, and regex validation
  plugins/watchdog
Labels: plugin change

#4293 Update ping-grapher to 1.5.2
  plugins/ping-grapher
Labels: plugin change

#4297 AFK GOTR fix
  plugins/zom-afk-gotr
Labels: plugin change

#4298 Update Collection log plugin to v3.0.1
  plugins/collection-log
Labels: plugin change

#4245 Add GIM Improve Plugin for GIM Collection Logs of Split Chat
  plugins/gimimprove
Labels: plugin added

#4296 DMWatch 1.3a
  plugins/dmwatch
Labels: plugin change

#4300 Update 117HD to v1.2.7
  plugins/117hd
Labels: plugin change

#4280 Create afkspot-finder
  plugins/afkspot-finder
Labels: plugin added

#4299 Create slayer-additions
  plugins/slayer-additions
Labels: plugin added

#4271 Add ScapeGPT plugin to plugin hub
  plugins/scapegpt
Labels: plugin added

#4304 Update random hopper for keybinds
  plugins/random-hopper
Labels: plugin change

#4303 Update Inventory Setups to v1.15
  plugins/inventory-setups
Labels: plugin change

#4305 Update 117 HD to 1.2.7.1
  plugins/117hd
Labels: plugin change

#4318 Update 117HD to v1.2.7.2
  plugins/117hd
Labels: plugin change

#4320 Update quest-helper to 4.0.5
  plugins/quest-helper
Labels: plugin change

#4316 Update Collection log plugin to v3.0.2
  plugins/collection-log
Labels: plugin change

#4315 Update inventory total
  plugins/inventory-total
Labels: plugin change

#4310 Watchdog: v2.10.1 - Fix inventory alert detecting amount of items in inventory
  plugins/watchdog
Labels: plugin change

#4313 Update slayer-additions
  plugins/slayer-additions
Labels: plugin change

#4314 Update clue-steps
  plugins/clue-steps
Labels: plugin change

#4294 Add ivegotwood plugin
  plugins/ive-got-wood
Labels: plugin added

#4324 Add seed vault/group storage support & bugfixes
  plugins/herblorerecipes
Labels: plugin change

#4325 Update inventory total
  plugins/inventory-total
Labels: plugin change

#4326 Add world hopping timer and toggle for disable outside of pvp
  plugins/combat-logout-timer
Labels: plugin change

#4327 Update tictac7x-rooftops
  plugins/tictac7x-rooftops
Labels: plugin change

#4328 Create custom-item-tags
  plugins/custom-item-tags
Labels: plugin added

#4306 Update boss-health-indicator
  plugins/boss-health-indicators
Labels: plugin change

#4331 Update Dink to v1.5.0
  plugins/dink
Labels: plugin change

#4338 Update the-gauntlet to v1.5.1
  plugins/the-gauntlet
Labels: plugin change

#4340 Update object IDs
  plugins/gauntlet-minimap
Labels: plugin change

#4346 Update 117HD to 1.2.8
  plugins/117hd
Labels: plugin change, hold for release

#4349 Update region-locker
  plugins/region-locker
Labels: plugin change

#4351 Update 117HD to v1.2.8.1
  plugins/117hd
Labels: plugin change

#4358 Update 117HD to v1.2.8.2
  plugins/117hd
Labels: plugin change

#4361 update optimal-quest-guide
  plugins/optimal-quest-guide
Labels: plugin change

#4362 Update 117HD to v1.2.8.3
  plugins/117hd
Labels: plugin change

#4367 Update 117HD to v1.2.8.4
  plugins/117hd
Labels: plugin change

#4369 Update Bossing Info- Fix abnormally large icon (It was chonky).
  plugins/kph-tracker
Labels: plugin change

#4321 DMWatch 1.4a
  plugins/dmwatch
Labels: plugin change

#4322 Weapon animation replacer 3.3.1 - auto hide/show arms/hair/jaw
  plugins/weapon-animation-replacer
Labels: plugin change

#4332 Update no-bad-alchs to 1.1.0
  plugins/no-bad-alchs
Labels: plugin change

#4371 update debug
  plugins/debug
Labels: plugin change

#4357 Update blindfold
  plugins/blindfold
Labels: plugin change

#4376 Update 117HD to v1.2.8.5
  plugins/117hd
Labels: plugin change

#4373 Update the-gauntlet
  plugins/the-gauntlet
Labels: plugin change

#4308 bump philips-hue-integration plugin version
  plugins/phillip-hue-integration
Labels: plugin change

#4333 Update sound-swapper
  plugins/sound-swapper
Labels: plugin change

#4295 Add mute-all plugin
  plugins/mute-all
Labels: plugin added

#4336 Update Ivegotwood
  plugins/ive-got-wood
Labels: plugin change

#4337 update ba-call-highlight to v1.0
  plugins/ba-call-highlight
Labels: plugin change

#4341 Update rsn-hider to v1.2.4
  plugins/rsn-hider
Labels: plugin change

#4342 Update collapsible-modern-chat
  plugins/collapsible-modern-chat
Labels: plugin change

#4347 Update cox-qol
  plugins/cox-qol
Labels: plugin change

#4279 Create calculatorpro
  plugins/calculator-pro
Labels: plugin added

#4385 Update 117HD to v1.2.8.6
  plugins/117hd
Labels: plugin change

#4386 Update 117HD to v1.2.8.7
  plugins/117hd
Labels: plugin change

#4378 Update tog-crowdsourcing - Nav icon too large
  plugins/tog-crowdsourcing
Labels: plugin change

#4390 Update 117HD to v1.2.8.8
  plugins/117hd
Labels: plugin change

#4285 Create no-new-items
  plugins/no-new-items
Labels: plugin added

#4348 Impling saver
  plugins/impling-saver
Labels: plugin change

#4330 Update basqh
  plugins/basqh
Labels: plugin change

#4319 Create lazy-farming
  plugins/lazy-farming
Labels: plugin added

#4343 Add identificator
  plugins/identificator
Labels: plugin added

#4359 Dynamic inventory tags (v1.1.1)
  plugins/dynamic-inventory-tags
Labels: plugin change

#4360 Update group-ironmen-tracker to v1.5
  plugins/group-ironmen-tracker
Labels: plugin change

#4395 Rainbow rave 1.2.5 - fix some config/profile change related stuff.
  plugins/rainbow-rave
Labels: plugin change

#4350 Update inventory total
  plugins/inventory-total
Labels: plugin change

#4370 Update Twitch Live Loadout to v2.0.0
  plugins/twitch-live-loadout
Labels: plugin change

#4377 Updated Clan Spam Filter
  plugins/guild-spam-filter
Labels: plugin change

#4372 DMWatch 1.5
  plugins/dmwatch
Labels: plugin change

#4379 Ultimate vm
  plugins/ultimate-vm
Labels: plugin change

#4380 Update random-event-hider
  plugins/random-event-hider
Labels: plugin change

#4329 Create Max Hit Calculator Plugin
  plugins/max-hit-calculator
Labels: plugin added

#4339 Create attack-sound
  plugins/attack-sound
Labels: plugin added

#4375 Update clan-chat-webhook
  plugins/clan-chat-webhook
Labels: plugin change

#4407 Charges Improved v0.2.8
  plugins/tictac7x-charges
Labels: plugin change

#4392 Update Dink to v1.5.1
  plugins/dink
Labels: plugin change

#4389 Bump bank-xp-value to v1.2.2
  plugins/bank-xp-value
Labels: plugin change

#4391 Update 117HD to v1.2.8.9
  plugins/117hd
Labels: plugin change

#4401 Update profit-tracker to the latest version.
  plugins/profit-tracker
Labels: plugin change

#4422 Update fashionscape to 1.2.1
  plugins/fashionscape
Labels: plugin change
