Repository runelite/plugin-hub, pull requests merged in 2023-11, with the labels that each got.

#5138 Update random-event-hider
  plugins/random-event-hider
Labels: plugin change, hold for release

#5140 Annoyance Mute update
  plugins/annoyance-mute
Labels: plugin change

#5095 Add Keris Cam
  plugins/zom-keris-cam
Labels: plugin added

#5119 Corner tile indicators 1.1.1- bug fix.
  plugins/corner-tile-indicators
Labels: plugin change

#5123 Update fashionscape to 1.2.3
  plugins/fashionscape
Labels: plugin change

#5145 Update Lazy Farming
  plugins/lazy-farming
Labels: plugin change

#5136 Update treecount plugin to v1.4 (forestry part 2 changes)
  plugins/treecount
Labels: plugin change

#5151 Update time-tracking-reminder
  plugins/time-tracking-reminder
Labels: plugin change

#5042 Update party-defence-tracker
  plugins/party-defence-tracker
Labels: plugin change

#5166 Update wom-utils
  plugins/wom-utils
Labels: plugin change

#5158 Attempt to send custom header again
  plugins/calcusource-xp-updater
Labels: plugin change

#5115 Update Dink to v1.6.5
  plugins/dink
Labels: plugin change

#5131 Update skilling notifications
  plugins/skilling-notifications
Labels: plugin change

#5026 tob-qol: release v1.2.0
  plugins/tobqol
Labels: plugin change

#5171 Updating to 1.5 and re-enabling tempoross plugin
  plugins/tempoross
Labels: plugin change

#5172 Skilling notifications
  plugins/skilling-notifications
Labels: plugin change

#5093 Added Posiedien's Leagues Planner to the pluginhub
  plugins/posiedien-leagues-planner
Labels: plugin added

#5097 Watchdog: v3.0.0 - Alert Hub
  plugins/watchdog
Labels: plugin change

#5083 Update star-calling-assist
  plugins/star-calling-assist
Labels: plugin change

#5085 Update arceuus-timers 1.4
  plugins/arceuus-timers
Labels: plugin change

#5089 update "gp per hour" to 1.2
  plugins/gp-per-hour
Labels: plugin change

#5094 DropTracker - bugfixes
  plugins/droptracker
Labels: plugin change

#5100 Convert "Spirit Tree Map" to AIO "Teleport Maps" Plugin
  plugins/spirit-tree-map
Labels: plugin change

#5102 Updating Bone Running Plugin
  plugins/bone-running
Labels: plugin change

#5103 Add resource-area-notifier
  plugins/resource-area-notifier
Labels: plugin added

#5104 Updated Clan Spam Filter
  plugins/guild-spam-filter
Labels: plugin change

#5105 Update client-resizer
  plugins/client-resizer
Labels: plugin change

#5107 Update ccclogspamhider
  plugins/ccclogspamhider
Labels: plugin change

#5112 Weapon animation replacer 3.5.2 - bug fixes and data updates.
  plugins/weapon-animation-replacer
Labels: plugin change

#5116 Update clan-chat-warnings to version 1.2.0
  plugins/clan-chat-warnings
Labels: plugin change, non-author plugin change

#5117 Update Quest Helper to 4.2.0
  plugins/quest-helper
Labels: plugin change

#5118 Update easy-blastfurnace to v1.4.3
  plugins/easy-blastfurnace
Labels: plugin change

#5125 Create ChatPanel
  plugins/chatpanel
Labels: plugin added

#5127 Update hd-minimap
  plugins/hd-minimap
Labels: plugin change

#5129 Update friend-finder to v1.3.0 [sololegends]
  plugins/friend-finder
Labels: plugin change

#5130 update tile packs
  plugins/tile-packs
Labels: plugin change

#5132 Update pet-info
  plugins/pet-info
Labels: plugin change

#5099 Update discord-screenshot, multiple webhooks, hotkeys & added delay
  plugins/discord-screenshot
Labels: plugin change

#5113 Update imadrum-money
  plugins/imadrum-money
Labels: plugin change

#5133 Update osrsprofile
  plugins/osrsprofile
Labels: plugin change

#5134 Re-enable qolting after memory-usage reduction
  plugins/qolting
Labels: plugin change

#5175 update large-logout
  plugins/large-logout
Labels: plugin change

#5176 enable last-recall
  plugins/last-recall
Labels: plugin change

#5135 Update rc-lap-tracker
  plugins/rc-lap-tracker
Labels: plugin change

#5139 Updates random-event-analytics | Count Check & Better Strange Plant Handling
  plugins/random-event-analytics
Labels: plugin change

#5144 Update startierindicator to v1.2.0
  plugins/startierindicator
Labels: plugin change

#5147 Update Plugin Presets to v2.8
  plugins/plugin-presets
Labels: plugin change

#5150 Update group-ironmen-tracker 1.5.3
  plugins/group-ironmen-tracker
Labels: plugin change

#5149 Update world-location to v1.3
  plugins/world-location
Labels: plugin change

#5143 Update default-minimap-zoom
  plugins/default-minimap-zoom
Labels: plugin change

#5165 Update wilderness-slayer to v1.0.1
  plugins/wilderness-slayer
Labels: plugin change

#5188 Update quest-helper 4.2.1
  plugins/quest-helper
Labels: plugin change

#5141 Update Dude Where's My Stuff? to v2.4.0
  plugins/dude-wheres-my-stuff
Labels: plugin change

#5154 Update xp-meter to v1.1.0
  plugins/xp-meter
Labels: plugin change

#5155 Update FlippingUtilities
  plugins/flipping-utilities
Labels: plugin change

#5156 Update statussocket
  plugins/statussocket
Labels: plugin change

#5148 Update weapon-charges-2 to 0.6.0
  plugins/weapon-charges-2
Labels: plugin change

#5162 Update ZeroDeaths
  plugins/zero-deaths
Labels: plugin change

#5161 Update compost-helper
  plugins/compost-helper
Labels: plugin change

#5167 Update PvMTickCounter
  plugins/pvmtickcounter
Labels: plugin change

#5170 Update aerial-fishing-timers to 1.1
  plugins/aerial-fishing-timers
Labels: plugin change

#5173 Update consumable-cooldowns to 1.1.2
  plugins/consumable-cooldowns
Labels: plugin change

#5174 Update time-tracking-reminder
  plugins/time-tracking-reminder
Labels: plugin change

#5152 Daily Tasks v0.3
  plugins/tictac7x-daily
Labels: plugin change

#5178 Update 3D Weather to v1.2.1
  plugins/3d-weather
Labels: plugin change

#5177 Update customizable-xp-drops to v1.8.1
  plugins/customizable-xp-drops
Labels: plugin change

#5163 Update log-master
  plugins/log-master
Labels: plugin change

#5179 Upgrading tempoross to 1.6 for further performance improvements
  plugins/tempoross
Labels: plugin change

#5180 Update Random Screenshot
  plugins/random-screenshot
Labels: plugin change

#5197 Update boss-health-indicators to version 1.1
  plugins/boss-health-indicators
Labels: plugin change

#5181 Update startierindicator Shooting Star Info - remove debug messages
  plugins/startierindicator
Labels: plugin change

#5199 Leagues animation fix [Hold for runelite update].
  plugins/leagues-animation-fix
Labels: hold for release, plugin added

#5205 leagues animation fix 1.1 - cancel stalling animations early.
  plugins/leagues-animation-fix
Labels: plugin change

#5206 update better-teleport-menu to v1.4
  plugins/better-teleport-menu
Labels: plugin change

#5207 Update 117HD to v1.2.10.11
  plugins/117hd
Labels: plugin change

#5202 Update log-master
  plugins/log-master
Labels: plugin change

#5210 Update c-engineer-completed to v1.0.7
  plugins/c-engineer-completed
Labels: plugin change

#5213 leagues animation fix 1.1.1 add more animations.
  plugins/leagues-animation-fix
Labels: plugin change

#5212 Update log-master
  plugins/log-master
Labels: plugin change

#5203 Weapon charges 0.6.1 leagues update.
  plugins/weapon-charges-2
Labels: plugin change

#5217 Update max-hit-calculator to 1.10.0
  plugins/max-hit-calculator
Labels: plugin change

#5209 Update Dink to v1.7.1
  plugins/dink
Labels: plugin change

#5223 Add null check around tiles before accessing its property
  plugins/object-hider
Labels: plugin change

#5157 Add bank notes plugin
  plugins/zom-bank-note-plugin
Labels: plugin added

#5235 update tombs-of-amascut to v2.6.1
  plugins/tombs-of-amascut
Labels: plugin change

#5237 update wom-utils
  plugins/wom-utils
Labels: plugin change

#5234 Update Banked Experience (v2.4.1)
  plugins/banked-experience
Labels: plugin change

#5242 Update max-hit-calculator to v1.10.1
  plugins/max-hit-calculator
Labels: plugin change

#5231 Update PC Rewards to 1.2.3
  plugins/pcrewards
Labels: plugin change

#5228 Create undying-retribution-timer
  plugins/undying-retribution-timer
Labels: plugin added

#5198 Update time-tracking-reminder
  plugins/time-tracking-reminder
Labels: plugin change

#5218 Update skills-tab-progress-bars to v1.3.2
  plugins/skills-tab-progress-bars
Labels: plugin change

#5219 Update vengeance-helper
  plugins/vengeance-helper
Labels: plugin change

#5224 Update treecount plugin v1.5.1 (bugs)
  plugins/treecount
Labels: plugin change

#5183 Update tree-despawn-timer to 1.3.0
  plugins/tree-despawn-timer
Labels: plugin change

#5250 Update last-recall
  plugins/last-recall
Labels: plugin change

#5222 Updating DropTracker to v2.1
  plugins/droptracker
Labels: plugin change

#5251 update transmog to v1.3.6
  plugins/transmog
Labels: plugin change

#5248 Update undying-retribution-timer
  plugins/undying-retribution-timer
Labels: plugin change

#5240 Update Loot Logger (v4.1)
  plugins/loot-logger
Labels: plugin change

#5185 Update action-progress
  plugins/action-progress
Labels: plugin change

#5186 Update rc-lap-tracker
  plugins/rc-lap-tracker
Labels: plugin change

#5191 Fixing puzzle room point cap for crondis puzzle.
  plugins/toa-points-tracker
Labels: plugin change

#5253 Take ownership of the Stealing Artefacts plugin
  plugins/stealing-artefacts
Labels: plugin change, non-author plugin change

#5254 Update Stealing Artefacts to v1.2
  plugins/stealing-artefacts
Labels: plugin change

#5252 Update max-hit-calculator to v1.10.2
  plugins/max-hit-calculator
Labels: plugin change

#5256 Update last-recall
  plugins/last-recall
Labels: plugin change

#5255 Update Undying retribution timer
  plugins/undying-retribution-timer
Labels: plugin change

#5259 update better-teleport-menu to v1.5
  plugins/better-teleport-menu
Labels: plugin change

#5233 Update 117 HD to v1.3
  plugins/117hd
Labels: plugin change
