Repository runelite/plugin-hub, pull requests merged in 2023-10, with the labels that each got.

#4966 Update not-enough-runes to v1.4
  plugins/not-enough-runes
Labels: plugin change

#4959 Update nylo-death-indicators to v1.0.10
  plugins/nylo-death-indicators
Labels: plugin change

#4954 Add platz plugin
  plugins/platz
Labels: plugin added

#4960 Skilling notifications
  plugins/skilling-notifications
Labels: plugin change

#4964 Update max-hit-calculator
  plugins/max-hit-calculator
Labels: plugin change

#4965 Add Spirit Tree Map plugin
  plugins/spirit-tree-map
Labels: plugin added

#4968 Update pleae to 1.1.0
  plugins/pleae
Labels: plugin change

#4969 Update tictac7x-daily to v0.2.5
  plugins/tictac7x-daily
Labels: plugin change

#4972 Slash Swapper update
  plugins/slash-swapper
Labels: plugin change

#4976 annoyance-mute fix teleport... again
  plugins/annoyance-mute
Labels: plugin change

#4977 afk gotr: Notify on below 150 points when portal spawns
  plugins/zom-afk-gotr
Labels: plugin change

#4978 Update Imadrum Money plugin
  plugins/imadrum-money
Labels: plugin change

#4987 Create LogLocked plugin
  plugins/loglocked
Labels: plugin added

#4919 Update random hopper to v1.1
  plugins/random-hopper
Labels: plugin change

#4949 Update cox-special-loot-hider
  plugins/cox-special-loot-hider
Labels: plugin change

#4956 Rainbow rave 1.3.0 - tile indicators.
  plugins/rainbow-rave
Labels: plugin change

#4946 Update total-selling-price to 1.1
  plugins/total-selling-price
Labels: plugin change

#4985 weapon animation replacer 3.4.2 bugfix.
  plugins/weapon-animation-replacer
Labels: plugin change

#4991 Fix Not Enough Runes
  plugins/not-enough-runes
Labels: plugin change

#4994 Rainbow rave 1.3.1 - fix tile indicators always being on on plugin startup.
  plugins/rainbow-rave
Labels: plugin change

#4883 Create Thrall Damage Counter
  plugins/thrall-damage-counter
Labels: plugin added

#4889 create histogram plugin
  plugins/histogram
Labels: plugin added

#4818 Add new plugin casket-sounds that plays a sound when you receive a Reward Casket
  plugins/casket-sounds
Labels: plugin added

#4916 New TrackScape Connector plugin
  plugins/trackscape-connector
Labels: plugin added

#4920 Add infinite money bag tracker v1
  plugins/infinite-money-bag-tracker
Labels: plugin added

#4923 Add duke-barrel-swap plugin
  plugins/duke-barrel-swap
Labels: plugin added

#4910 New plugin - Sololegends - temple-trek-bog-helper
  plugins/temple-trek-bog-helper
Labels: plugin added

#4932 Add "GP Per Hour" Plugin
  plugins/gp-per-hour
Labels: plugin added

#4982 Update acoldone-clogging
  plugins/acoldone-clogging
Labels: plugin change

#4984 Update tray-indicators
  plugins/tray-indicators
Labels: plugin change

#4990 Update charge calc
  plugins/charge-calc
Labels: plugin change

#4992 Updated Clan Spam Filter
  plugins/guild-spam-filter
Labels: plugin change

#4995 Update random-event-hider
  plugins/random-event-hider
Labels: plugin change

#5005 Update LogLocked- Small fix
  plugins/loglocked
Labels: plugin change

#5022 Update osrs-wiki-crowdsourcing
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#5027 Move wom-utils repository
  plugins/wom-utils
Labels: plugin change

#5029 Update osrs-wiki-crowdsourcing
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#5007 Update platz plugin
  plugins/platz
Labels: plugin change

#5024 runewatch: update to v2.3.2
  plugins/runewatch
Labels: plugin change

#5032 Update LogLocked
  plugins/loglocked
Labels: plugin change

#5015 Update Loot Logger (v4.0)
  plugins/loot-logger
Labels: plugin change

#5020 Update line-markers to v1.2
  plugins/line-markers
Labels: plugin change

#5017 Update tictac7x-rooftops to 0.5.3
  plugins/tictac7x-rooftops
Labels: plugin change

#5021 Update instant-damage-calculator
  plugins/instant-damage-calculator
Labels: plugin change

#5000 Update profit-tracker
  plugins/profit-tracker
Labels: plugin change

#5001 Update tree-despawn-timer to 1.1.0
  plugins/tree-despawn-timer
Labels: plugin change

#5002 Update duck-duck-goose to 1.0.1
  plugins/duck-duck-goose
Labels: plugin change

#4971 Update Creator's Kit to v1.1.2
  plugins/creators-kit
Labels: plugin change

#4996 Update spirit-tree-map to v1.0.2
  plugins/spirit-tree-map
Labels: plugin change

#4813 Add citizens plugin
  plugins/citizens
Labels: plugin added

#5006 Update random hopper to v1.2
  plugins/random-hopper
Labels: plugin change

#5003 Always start submitters on join cc and shutoff on logoff
  plugins/trackscape-connector
Labels: plugin change

#5009 Update random-event-hider
  plugins/random-event-hider
Labels: plugin change

#5013 custom menu swaps readme update.
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#5053 Rename wom-utils plugin package
  plugins/wom-utils
Labels: plugin change

#4997 Update "GP Per Hour" to 1.1
  plugins/gp-per-hour
Labels: plugin change

#5016 Update tictac7x-charges to v0.3.2
  plugins/tictac7x-charges
Labels: plugin change

#5019 Update quest-helper to 4.1.4
  plugins/quest-helper
Labels: plugin change

#5010 Update and rename Low Detail Raids v1.0 to Automatic Low Detail v1.1
  plugins/low-detail-raids
Labels: plugin change

#5039 Disable sailing-skill
  plugins/sailing-skill
Labels: plugin change

#4876 Create chat-filter-updater
  plugins/chat-filter-updater
Labels: plugin added

#4983 add aerial-fishing-timers plugin
  plugins/aerial-fishing-timers
Labels: plugin added

#4989 Save Evil Creatures Plugin Request
  plugins/save-evil-creatures
Labels: plugin added

#5004 Create new plugin ntfyer
  plugins/ntfyer
Labels: plugin added

#5008 Add XP Meter plugin
  plugins/xp-meter
Labels: plugin added

#5011 Add ZMI game object hider
  plugins/zmi
Labels: plugin added

#5055 update tombs-of-amascut to v2.6.0
  plugins/tombs-of-amascut
Labels: plugin change

#4862 Update the-gauntlet to v1.9
  plugins/the-gauntlet
Labels: plugin change

#5018 Update log-master
  plugins/log-master
Labels: plugin change

#4980 Create pk-loot-splitter plugin v1.0.0
  plugins/pk-loot-splitter
Labels: plugin added

#5033 Update chat-success-rates to v1.2
  plugins/chat-success-rates
Labels: plugin change

#5044 Update toggle-chat
  plugins/toggle-chat
Labels: plugin change

#5035 Add option to highlight Blood / Soul altars
  plugins/zom-dense-essence
Labels: plugin change

#5038 Update better-npc-highlight
  plugins/better-npc-highlight
Labels: plugin change

#5041 Update resting to v1.1.4
  plugins/resting
Labels: plugin change

#5037 Update Shooting Star Info to v1.1.3
  plugins/startierindicator
Labels: plugin change

#5036 Update cox-qol
  plugins/cox-qol
Labels: plugin change

#5046 update histogram
  plugins/histogram
Labels: plugin change

#5047 Update LogLocked
  plugins/loglocked
Labels: plugin change

#5048 Update partyreadycheck
  plugins/partyreadycheck
Labels: plugin change

#5045 Resolves duplicate WS messages
  plugins/trackscape-connector
Labels: plugin change

#5023 Add Named Pets plugin
  plugins/named-pets
Labels: plugin added

#4909 Add compost helper plugin
  plugins/compost-helper
Labels: plugin added

#4810 Update VoiceScape
  package/verification-template/build.gradle
  package/verification-template/gradle/verification-metadata.xml
  plugins/voicescape
Labels: plugin change, dependency change

#5054 Update CC Clog Spam Hider
  plugins/ccclogspamhider
Labels: plugin change

#5056 Annoyance Mute: Mute Magic Trees
  plugins/annoyance-mute
Labels: plugin change

#5031 Update star-calling-assist
  plugins/star-calling-assist
Labels: plugin change

#5062 Remove reflection and add missing account build
  plugins/wom-utils
Labels: plugin change

#5064 Update Plugin Presets to v2.7
  plugins/plugin-presets
Labels: plugin change

#4907 Update action-progress
  plugins/action-progress
Labels: plugin change

#5059 Weapon Animation Replacer 3.5.0 - custom projectile ids.
  plugins/weapon-animation-replacer
Labels: plugin change

#5025 Create Spec Overlay
  plugins/spec-overlay
Labels: plugin added

#5034 Ignore list Alert
  plugins/zom-ignore-list-updater
Labels: plugin change

#5043 Add NPC labels plugin
  plugins/npc-labels
Labels: plugin added

#5065 Revert "Update wom-utils (#5062)"
  plugins/wom-utils
Labels: plugin change, non-author plugin change

#5066 Add missing regular.png file
  plugins/wom-utils
Labels: plugin change

#5057 Update inferno-stats to v2.1.4
  plugins/inferno-stats
Labels: plugin change

#5061 Add Impolite Slayer plugin
  plugins/impolite-slayer
Labels: plugin added

#5049 Add click minimap orbs plugin
  plugins/click-minimap-orbs
Labels: plugin added

#5063 Added funnybossnames
  plugins/funnybossnames
Labels: plugin added

#5028 Create vardorvis-health-tracker
  plugins/vardorvis-heal-tracker
Labels: plugin added

#5067 Update NPC labels
  plugins/npc-labels
Labels: plugin change

#5068 Update time-tracking-reminder
  plugins/time-tracking-reminder
Labels: plugin change

#5069 Update funnybossnames
  plugins/funnybossnames
Labels: plugin change

#5070 Fix overlay issue on dense runecrafting plugin
  plugins/zom-dense-essence
Labels: plugin change

#5051 Committing my new external plugin. Loot Broadcast Party uses the party system to broadcasts collection logs, valuable items, level ups, and CAs to each party member.
  plugins/loot-broadcast-party
Labels: plugin added

#5073 Update loot-broadcast-party -- Fixing issue on startup.
  plugins/loot-broadcast-party
Labels: plugin change

#5079 Dense Essence: Null the Altars on LOADING gamestate
  plugins/zom-dense-essence
Labels: plugin change

#5074 Costume room highlighter update (change 1)
  plugins/costume-room-highlighter
Labels: plugin change

#5072 Update JebScape to v0.2.0
  plugins/jebscape
Labels: plugin change

#5077 Update funnybossnames
  plugins/funnybossnames
Labels: plugin change

#5078 Add ZeroDeath's plugin
  plugins/zero-deaths
Labels: plugin added

#5080 Update npc-dialogue
  plugins/npc-dialogue
Labels: plugin change, non-author plugin change

#5075 Update citizens plugin
  plugins/citizens
Labels: plugin change

#5084 Update blindfold
  plugins/blindfold
Labels: plugin change

#5108 Disable tasks-tracker
  plugins/tasks-tracker
Labels: plugin change, non-author plugin change

#5090 Update wom-utils
  plugins/wom-utils
Labels: plugin change

#5086 Annoyance Mute update
  plugins/annoyance-mute
Labels: plugin change

#5081 Update chat-success-rates
  plugins/chat-success-rates
Labels: plugin change

#5109 Update osrs-wiki-crowdsourcing
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change, non-author plugin change

#5114 Update tree-despawn-timer to 1.2.0
  plugins/tree-despawn-timer
Labels: plugin change

#5120 Update model-exporter
  plugins/model-exporter
Labels: plugin change
