Repository runelite/plugin-hub, pull requests merged in 2023-03, with the labels that each got.

#3965 Use client.getItemCount and ItemComposition instead of the ItemId class (reverting changes to build.gradle as well)
  plugins/npc-collection-log
Labels: plugin change

#3909 Update Smart Chat Input Color to 1.3.0
  plugins/input-recolor
Labels: plugin change

#3911 Update Tithe Farm Improved - v0.3.4
  plugins/tictac7x-tithe
Labels: plugin change

#3915 Add optional right click limit to prop hunt
  plugins/prop-hunt
Labels: plugin change

#3920 Update Plugin Presets to v2.6
  plugins/plugin-presets
Labels: plugin change

#3917 AFK GOTR
  plugins/zom-afk-gotr
Labels: plugin change

#3921 Update Damage Counter
  plugins/damage-counter
Labels: plugin change

#3922 update clan fight performance tracker to v1.2.1
  plugins/clan-fight-performance-tracker
Labels: plugin change

#3930 Unranked kc tracker
  plugins/unranked-kc-tracker
Labels: plugin added

#3932 update clan kdr to v1.3
  plugins/clan-kdr
Labels: plugin change

#3933 Update Dink to v1.3.1
  plugins/dink
Labels: plugin change

#3937 Update path-marker
  plugins/path-marker
Labels: plugin change

#3813 Comment out prints
  plugins/tictac7x-charges
Labels: plugin change

#3940 Create cool-2h
  plugins/cool-2h
Labels: plugin added

#3896 Update clear-unsent-messages
  plugins/clear-unsent-messages
Labels: plugin change

#3852 Updated Guild Spam Filter
  plugins/guild-spam-filter
Labels: plugin change

#3883 Create Sailing Skill
  plugins/sailing-skill
Labels: plugin added

#3980 v0.2.2 - Item Charges Improved
  plugins/tictac7x-charges
Labels: plugin change

#3941 Create OSRSParaTodos
  plugins/osrs-para-todos
Labels: plugin added

#3848 Create regular expression item counter
  plugins/item-counter
Labels: plugin added

#3942 Update Mouseover Text Disabler to v1.0.1
  plugins/mouseover-text-disabler
Labels: plugin change

#3943 Update party-defence-tracker
  plugins/party-defence-tracker
Labels: plugin change

#3912 Update random-event-hider
  plugins/random-event-hider
Labels: plugin change

#3944 Update client-resizer
  plugins/client-resizer
Labels: plugin change

#3880 Create giant-foundry-item-values
  plugins/giant-foundry-item-values
Labels: plugin added

#3865 Create discord-chat-logger
  plugins/discord-chat-logger
Labels: plugin added

#3945 Update gim-bank-discord
  plugins/gim-bank-discord
Labels: plugin change

#3946 Clan Events: Added async call to Google sheets API
  plugins/elysiumevents-plugin
Labels: plugin change

#3947 Update FlippingUtilities
  plugins/flipping-utilities
Labels: plugin change

#3948 Nex KC Helper
  plugins/nex-kc-helper
Labels: plugin added

#3916 Fairy ring butterflies
  plugins/fairy-ring-butterflies
Labels: plugin added

#3961 Update Inventory Setups to v1.14.3
  plugins/inventory-setups
Labels: plugin change

#3939 Add Health Notifications Plugin
  plugins/health-notifications
Labels: plugin added

#3950 Update aqp-finder
  plugins/aqp-finder
Labels: plugin change

#3952 Update crop-circle-tracker
  plugins/crop-circle-tracker
Labels: plugin change

#3927 Afk threshold plugin
  plugins/afk-threshold
Labels: plugin added

#3925 Update combat-roll to v1.1
  plugins/combat-roll
Labels: plugin change

#3953 Update temple-osrs v1.2
  plugins/temple-osrs
Labels: plugin change

#3957 Update Ferox Restore Alert
  plugins/ferox-restore-alert
Labels: plugin change

#3958 Update Dude Where's My Stuff? to v1.4.1
  plugins/dude-wheres-my-stuff
Labels: plugin change

#3998 Add Chat-channel Watcher
  plugins/cc-watcher
Labels: plugin added

#4002 update quest-helper to 3.2.3
  plugins/quest-helper
Labels: plugin change

#3954 Create httpeventserver
  plugins/httpeventserver
Labels: plugin added

#3962 Update guardians-of-the-rift-helper
  plugins/guardians-of-the-rift-helper
Labels: plugin change

#3974 Update bank-tag-layouts to v1.4.20
  plugins/bank-tag-layouts
Labels: plugin change

#3966 Update npc-collection-log
  plugins/npc-collection-log
Labels: plugin change

#3964 Update did-i-compost to v1.0.1
  plugins/did-i-compost
Labels: plugin change

#3999 Update resource-packs to 1.4.6
  plugins/resource-packs
Labels: plugin change

#3956 Create clan-chat-webhook
  plugins/clan-chat-webhook
Labels: plugin added

#3934 Update default-minimap-zoom
  plugins/default-minimap-zoom
Labels: plugin change

#3949 Create party-heartbeat
  plugins/party-heartbeat
Labels: plugin added

#3967 Update Nylo Stats
  plugins/nylo-stats
Labels: plugin change

#3969 Create Loot console logger
  plugins/loot-console-logger
Labels: plugin added

#3970 Add GloopyLite plugin
  plugins/gloopylite
Labels: plugin added

#3971 Create gauntlet-resource-map
  plugins/gauntlet-resource-map
Labels: plugin added

#3973 Update rsn-hider
  plugins/rsn-hider
Labels: plugin change

#4003 Sulliuscep run v0.1.1 - remove deprecated widget methods
  plugins/tictac7x-sulliuscep
Labels: plugin change

#4007 Rooftop Agility Improved v0.4.8.2 - Remove deprecated code, cleanup
  plugins/tictac7x-rooftops
Labels: plugin change

#3976 Fixing InventoryValue Ignored Items Bug
  plugins/inventory-value-overlay
Labels: plugin change

#4014 Motherlode Mine Improved v0.3.1
  plugins/tictac7x-motherlode
Labels: plugin change

#4012 Balloon Transport System v0.6
  plugins/tictac7x-balloon
Labels: plugin change

#4021 Rainbow Rave 1.2.3 - stop using removed API.
  plugins/rainbow-rave
Labels: plugin change

#4022 Update FlippingUtilities
  plugins/flipping-utilities
Labels: plugin change

#4023 update optimal-quest-guide
  plugins/optimal-quest-guide
Labels: plugin change

#4027 Update IRC - use new API
  plugins/irc
Labels: plugin change

#4031 Update 117HD to v1.2.6.2
  plugins/117hd
Labels: plugin change

#4032 Update 117HD to v1.2.6.3
  plugins/117hd
Labels: plugin change

#4033 Update tictac7x-rooftops
  plugins/tictac7x-rooftops
Labels: plugin change

#3975 Update herb-farm-calculator
  plugins/herb-farm-calculator
Labels: plugin change

#3979 Update splitter
  plugins/splitter
Labels: plugin change

#3864 Update chompy-hunter
  plugins/chompy-hunter
Labels: plugin change

#3951 Update monster-hp-percentage
  plugins/monster-hp-percentage
Labels: plugin change

#4039 Update 117HD to v1.2.6.4
  plugins/117hd
Labels: plugin change

#4000 Update clan-chat-country-flags to v1.2.1
  plugins/clan-chat-country-flags
Labels: plugin change

#3977 Update gim-plugin to v2.6
  plugins/gim-plugin
Labels: plugin change

#4037 Update tts to 1.07
  plugins/tts
Labels: plugin change

#3959 Create world-finder
  plugins/world-finder
Labels: plugin added

#4009 Update Bossing info- Remove Println's
  plugins/kph-tracker
Labels: plugin change

#4040 Update 117HD to v1.2.6.5
  plugins/117hd
Labels: plugin change

#3972 Update blue-prox-chat to 2.0
  plugins/blue-prox-chat
Labels: plugin change

#3996 Update combat-roll
  plugins/combat-roll
Labels: plugin change

#3992 Update resting to v1.1
  plugins/resting
Labels: plugin change

#4052 Bugfix Resting v1.11
  plugins/resting
Labels: plugin change

#3984 Updates max-skill-trim
  plugins/max-skill-trim
Labels: plugin change

#3987 Fight Caves Spawn Predictor - v1.1.0
  plugins/spawnpredictor
Labels: plugin change

#3988 Update thrall-helper to v1.7
  plugins/thrall-helper
Labels: plugin change

#3990 NPC idle timer, small fixes
  plugins/npc-idle-timer-plugin
Labels: plugin change

#3991 Updated Emote Clue Items to 4.2.0.
  plugins/emote-clue-items
Labels: plugin change

#3994 Update AFK threshold to include new animation ID for infernal eel imcando hammer crushing
  plugins/afk-threshold
Labels: plugin change

#4038 Update customizable-xp-drops to v1.7.2.3
  plugins/customizable-xp-drops
Labels: plugin change, hold for release

#4054 Weapon charges 0.4.5 - 1.9.13-SNAPSHOT api compatibility + bugfixes.
  plugins/weapon-charges-2
Labels: plugin change

#4034 Update nylo-death-indicators to v1.0.5
  plugins/nylo-death-indicators
Labels: plugin change

#4001 Update party-defence-tracker
  plugins/party-defence-tracker
Labels: plugin change

#4056 Update Smart Chat Input Color to 1.4.0
  plugins/input-recolor
Labels: plugin change

#4055 Disable NeverScapeAlone
  plugins/neverscapealone
Labels: plugin change

#4043 Update time-tracking-reminder to 1.5.1
  plugins/time-tracking-reminder
Labels: plugin change

#4060 Update skills-tab-progress-bars to v1.3.1 (fix build issue)
  plugins/skills-tab-progress-bars
Labels: plugin change

#4061 added commit hash that fixes build failure due to the recent Varp API…
  plugins/salve-amulet-checker
Labels: plugin change

#4065 update better-skill-tooltips to v1.1.1
  plugins/better-skill-tooltips
Labels: plugin change

#3997 Update Prop Hunt to 1.1
  plugins/prop-hunt
Labels: plugin change

#3995 Create discord-group-bank-notifications
  plugins/discord-group-bank-notifications
Labels: plugin added

#4004 Update Inventory Setups to v1.14.4
  plugins/inventory-setups
Labels: plugin change

#4011 Add auto retaliate warning
  plugins/auto-retaliate-warning
Labels: plugin added

#4017 Update path-marker
  plugins/path-marker
Labels: plugin change

#3986 Create Mini bars
  plugins/mini-bars
Labels: plugin added

#4019 Create hold-your-ground
  plugins/hold-your-ground
Labels: plugin added

#4020 update visual-metronome
  plugins/visual-metronome
Labels: plugin change

#4025 Update guest-indicators 1.0.1 - Fix bugs from 1.9.12
  plugins/guest-indicators
Labels: plugin change

#4026 Create aerial-fishing plugin
  plugins/aerial-fishing
Labels: plugin added

#4030 Storage v0.4 - rewrite and simplify the plugin
  plugins/tictac7x-storage
Labels: plugin change

#4074 Update resource-packs to 1.4.6.1
  plugins/resource-packs
Labels: plugin change

#4075 update abexs-idle-notifier
  plugins/abexs-idle-notifier
Labels: plugin change

#4035 Update tictac7x-motherlode
  plugins/tictac7x-motherlode
Labels: plugin change

#4058 Updates max-skill-trim to new VarPlayer API
  plugins/max-skill-trim
Labels: plugin change

#4079 Update picture-in-picture
  plugins/picture-in-picture
Labels: plugin change

#4081 update better-teleport-menu to 1.2
  plugins/better-teleport-menu
Labels: plugin change

#4041 Decimal prices
  plugins/decimal-prices
Labels: plugin change

#4042 Update clan-chat-webhook to v1.0.1
  plugins/clan-chat-webhook
Labels: plugin change

#4015 Update party-heartbeat
  plugins/party-heartbeat
Labels: plugin change

#4044 Update radius-markers to v1.7
  plugins/radius-markers
Labels: plugin change

#4045 Update qsr-auto-splitter to v1.0.3
  plugins/qsr-auto-splitter
Labels: plugin change

#4018 Update loot-console-logger to v1.1.1
  plugins/loot-console-logger
Labels: plugin change

#4046 Update clan-list-exporter to v1.1
  plugins/clan-list-exporter
Labels: plugin change

#4077 Update resource-packs to v1.4.8
  plugins/resource-packs
Labels: plugin change

#4066 Update plank-sack to v1.3.1
  plugins/plank-sack
Labels: plugin change

#4047 Update ccwatcher to v1.1
  plugins/cc-watcher
Labels: plugin change

#4071 Imbued fart 1.2.0
  plugins/imbued-fart
Labels: plugin change

#4050 Update GOTR to 1.4
  plugins/zom-afk-gotr
Labels: plugin change

#4036 Create wilderness-player-alarm
  plugins/wilderness-player-alarm
Labels: plugin added

#4087 Update birdhouse-overlay
  plugins/birdhouse-overlay
Labels: plugin change

#4051 Add Line Markers
  plugins/line-markers
Labels: plugin added

#4049 Update fairy-ring-butterflies
  plugins/fairy-ring-butterflies
Labels: plugin change

#3993 Update JebScape to v0.1.2
  plugins/jebscape
Labels: plugin change

#4080 Update theatre-of-blood-stats to v1.3.2
  plugins/theatre-of-blood-stats
Labels: plugin change

#4082 Update resting to v1.12
  plugins/resting
Labels: plugin change

#4098 Update ge-filters
  plugins/ge-filters
Labels: plugin change

#4064 Item Charges Improved v0.2.5
  plugins/tictac7x-charges
Labels: plugin change

#4006 Ultimate vm
  plugins/ultimate-vm
Labels: plugin added

#4073 Update Region Locker
  plugins/region-locker
Labels: plugin change

#4085 Storage v0.5 - searchable bank panel
  plugins/tictac7x-storage
Labels: plugin change

#4086 Update camera-points to v2.3.1
  plugins/camera-points
Labels: plugin change

#4089 Update Line Markers
  plugins/line-markers
Labels: plugin change

#4090 update clan kdr to v1.3.1
  plugins/clan-kdr
Labels: plugin change

#4099 Fix region locker compute shader instability
  plugins/region-locker
Labels: plugin change

#4062 Add poll-screenshot plugin
  plugins/poll-screenshot
Labels: plugin added

#4084 Update wilderness-warnings
  plugins/wilderness-warnings
Labels: plugin change

#4095 Update theatre-of-blood-stats to v1.3.3
  plugins/theatre-of-blood-stats
Labels: plugin change

#4094 Update account-chat-filter
  plugins/account-chat-filter
Labels: plugin change, non-author plugin change

#4091 Update OSRSParaTodos
  plugins/osrs-para-todos
Labels: plugin change

#4092 Watchdog: v2.8.0 - Custom screen flash duration
  plugins/watchdog
Labels: plugin change
