Repository runelite/plugin-hub, pull requests merged in 2023-01, with the labels that each got.

#3726 update debug
  plugins/debug
Labels: plugin change

#3728 Update Party Panel (v3.2.1)
  plugins/party-panel
Labels: plugin change

#3736 Update qsr-auto-splitter to v1.0.2
  plugins/qsr-auto-splitter
Labels: plugin change

#3730 Update dryness-calculator
  plugins/dryness-calculator
Labels: plugin change

#3725 Update 3d-weather
  plugins/3d-weather
Labels: plugin change

#3690 Update c-engineer-completed to v1.0.3
  plugins/c-engineer-completed
Labels: plugin change

#3745 update debug
  plugins/debug
Labels: plugin change

#3678 Update shortest-path to v1.9.3
  plugins/shortest-path
Labels: plugin change

#3688 customizable-xp-drops to v1.6.3
  plugins/customizable-xp-drops
Labels: plugin change

#3687 Update cannon-highlighter
  plugins/cannon-highlighter
Labels: plugin change

#3692 Update inventory total
  plugins/inventory-total
Labels: plugin change

#3744 Update dice
  plugins/dice
Labels: plugin change

#3740 Update cox-special-loot-hider to v1.2
  plugins/cox-special-loot-hider
Labels: plugin change

#3724 Update inventory-value-overlay to v1.3
  plugins/inventory-value-overlay
Labels: plugin change

#3722 Update clan-kdr
  plugins/clan-kdr
Labels: plugin change

#3700 Update discordnotificationsaio
  plugins/discordnotificationsaio
Labels: plugin change

#3705 Add item-reminders plugin
  plugins/item-reminders
Labels: plugin added

#3695 [Taskman] Small bugfixes
  plugins/taskman
Labels: plugin change

#3710 Update stopmisclickingtiles
  plugins/stopmisclickingtiles
Labels: plugin change

#3723 Update Dink to v1.1.3
  plugins/dink
Labels: plugin change

#3674 add chatclip plugin
  plugins/chatclip
Labels: plugin added

#3676 add clan fight performance tracker
  plugins/clan-fight-performance-tracker
Labels: plugin added

#3681 Add clear-unsent-messages
  plugins/clear-unsent-messages
Labels: plugin added

#3685 Add emotes plugin
  plugins/emotes
Labels: plugin added

#3694 Adds max-skill-trim plugin.
  plugins/max-skill-trim
Labels: plugin added

#3698 F2p highlight
  plugins/f2p-highlight
Labels: plugin change

#3707 Wilderness Warnings
  plugins/wilderness-warnings
Labels: plugin added

#3718 Add boss hp reorder plugin
  plugins/boss-hp-reorder
Labels: plugin added

#3699 HD Minimap
  plugins/hd-minimap
Labels: plugin added

#3683 Update Alternate MLM Overlay, no longer unmaintained
  plugins/mlm-alternate-overlays
Labels: plugin change

#3721 add party-hotkeys plugin
  plugins/party-hotkeys
Labels: plugin added

#3751 Update quest-helper to v1.3.9
  plugins/quest-helper
Labels: plugin change

#3752 disable slashswapper plugin
  plugins/slash-swapper
Labels: plugin change

#3711 New plugin Untrimmed Warning
  plugins/untrimmed-warning
Labels: plugin added

#3693 Add fire-timer plugin
  plugins/fire-timer
Labels: plugin added

#3686 add help icons that link to pack sources, and add 11 new packs
  plugins/tile-packs
Labels: plugin change

#3731 Adds cape counter plugin
  plugins/cape-counter
Labels: plugin added

#3677 Add RelicScape plugin
  plugins/relicscape
Labels: plugin added

#3727 Create xp-relic-sound plugin
  plugins/xp-relic-sound
Labels: plugin added

#3733 Create Pandemic Scape
  plugins/pandemic-scape
Labels: plugin added

#3712 Add random-event-hider
  plugins/random-event-hider
Labels: plugin added

#3735 Add Dynamic Entity Hider
  plugins/dynamic-entity-hider
Labels: plugin added

#3734 Create Normal Ancient Teleports plugin
  plugins/normal-ancient-teleports
Labels: plugin added

#3739 Add the 1Password plugin support!
  plugins/onepassword-plugin
Labels: plugin added

#3746 Update basqh
  plugins/basqh
Labels: plugin change

#3747 update the-gauntlet
  plugins/the-gauntlet
Labels: plugin change

#3748 Update item-reminders
  plugins/item-reminders
Labels: plugin change

#3749 Update pvmtickcounter
  plugins/pvmtickcounter
Labels: plugin change

#3755 Update Dink to v1.2.0
  plugins/dink
Labels: plugin change

#3757 Update c-engineer-completed to v1.0.3 (fixed)
  plugins/c-engineer-completed
Labels: plugin change

#3756 Update temple-osrs to v 1.1.5
  plugins/temple-osrs
Labels: plugin change

#3716 Add default-minimap-zoom
  plugins/default-minimap-zoom
Labels: plugin added

#3760 Update Unpotted reminder to 1.0.4
  plugins/unpotted-reminder
Labels: plugin change

#3763 Update tile-packs author
  plugins/tile-packs
Labels: plugin change

#3737 Add level-up-quest-requirements
  plugins/level-up-quest-requirements
Labels: plugin added

#3704 Dialogue Extractor
  plugins/dialogue-extractor
Labels: plugin added

#3697 Add remaining-casts
  plugins/remaining-casts
Labels: plugin added

#3761 Add handegg discord webhook plugin
  plugins/handegg-discord-webhook
Labels: plugin added

#3754 Update quest-helper to v2.3.0
  plugins/quest-helper
Labels: plugin change

#3769 Watchdog: v2.0.1 - Fix data loss potential bug
  plugins/watchdog
Labels: plugin change

#3766 Update remaining-casts
  plugins/remaining-casts
Labels: plugin change

#3772 Add missing animation ID to handegg webhook plugin
  plugins/handegg-discord-webhook
Labels: plugin change

#3770 Update pyramid-plunder-counter
  plugins/pyramid-plunder-counter
Labels: plugin change

#3777 add final handegg
  plugins/handegg-discord-webhook
Labels: plugin change

#3765 customizable-xp-drops to v1.7.0
  plugins/customizable-xp-drops
Labels: plugin change

#3782 Update resource-packs to 1.4.5
  plugins/resource-packs
Labels: plugin change

#3775 Update optimal-quest-guide
  plugins/optimal-quest-guide
Labels: plugin change

#3776 update visual-metronome to V1.4.3
  plugins/visual-metronome
Labels: plugin change

#3778 Update imbued heart notifier
  plugins/imbued-heart-notifier
Labels: plugin change

#3780 Update remaining-casts
  plugins/remaining-casts
Labels: plugin change

#3779 Add ability to enter custom NPC bonus XP multipliers in plugin config
  plugins/instant-damage-calculator
Labels: plugin change

#3781 Update examine-tooltip to v1.4.5
  plugins/examine-tooltip
Labels: plugin change

#3783 Create Boss Name Replacer Plugin
  plugins/boss-name-replacer
Labels: plugin added

#3789 Update Boss Name Replacer to v1.1
  plugins/boss-name-replacer
Labels: plugin change

#3788 AFK GOTR - Alerts you when to start/stop leeching
  plugins/zom-afk-gotr
Labels: plugin added

#3802 Update Collection log plugin to v2.3.1
  plugins/collection-log
Labels: plugin change

#3812 update debug
  plugins/debug
Labels: plugin change

#3764 Fix slash swapper
  plugins/slash-swapper
Labels: plugin change

#3801 update readme for ticktracker
  plugins/ticktracker
Labels: plugin change

#3806 Disable pandemic-scape
  plugins/pandemic-scape
Labels: plugin change

#3793 Bas queue helper update
  plugins/basqh
Labels: plugin change

#3831 update tombs-of-amascut to v2.3.0
  plugins/tombs-of-amascut
Labels: plugin change

#3790 Update Boss name replacer v1.2
  plugins/boss-name-replacer
Labels: plugin change

#3791 Impling saver
  plugins/impling-saver
Labels: plugin change

#3792 AFK GOTR - Fix Info boxes going away
  plugins/zom-afk-gotr
Labels: plugin change

#3794 Update BA Role Randomizer to v2.2.0
  plugins/ba-role-randomizer
Labels: plugin change

#3798 Update Dink to v1.2.1
  plugins/dink
Labels: plugin change

#3824 Update Hub Party Panel (v3.2.3)
  plugins/party-panel
Labels: plugin change

#3834 Update Dink to v1.2.2
  plugins/dink
Labels: plugin change

#3842 Slash swapper change author to zom from jzomdev
  plugins/slash-swapper
Labels: plugin change

#3844 Update item-filler
  plugins/item-filler
Labels: plugin change, non-author plugin change
