Repository runelite/plugin-hub, pull requests merged in 2023-04, with the labels that each got.

#4120 Update Corp FFA - Add voidwaker to banned items
  plugins/corp-ffa07
Labels: plugin change

#4122 tobqol - v1.1.2
  plugins/tobqol
Labels: plugin change

#4123 Update JebScape to v0.1.3
  plugins/jebscape
Labels: plugin change

#4124 Update Dink to v1.3.2
  plugins/dink
Labels: plugin change

#4116 Npc accessibility tagger update
  plugins/npc-accessibility-tagger
Labels: plugin change

#4125 Create PartyPoints
  plugins/party-points
Labels: plugin added

#4126 Ultimate vm
  plugins/ultimate-vm
Labels: plugin change

#4127 Update visualmetronome to V1.4.5
  plugins/visual-metronome
Labels: plugin change

#4128 Update c-engineer-completed to v1.0.4
  plugins/c-engineer-completed
Labels: plugin change

#4129 Bump gloopylite to v1.1
  plugins/gloopylite
Labels: plugin change

#4132 Update nylo-death-indicators to v1.0.6
  plugins/nylo-death-indicators
Labels: plugin change

#4133 Update infernostats to v2.1.3
  plugins/inferno-stats
Labels: plugin change

#4107 Weapon Animation Replacer 2.3.0 - add pagination for search.
  plugins/weapon-animation-replacer
Labels: plugin change

#4135 Update discord-notifications to v1.6.0
  plugins/discord-notifications
Labels: plugin change

#4154 update visualmetronome to V1.4.5.1
  plugins/visual-metronome
Labels: plugin change

#4130 Create player-pronouns
  plugins/player-pronouns
Labels: plugin added

#4138 Add no-bad-alchs plugin
  plugins/no-bad-alchs
Labels: plugin added

#4096 Request to add Wintertodt Solo Helper
  plugins/wintertodt-solo-helper
Labels: plugin added

#4155 Update player-pronouns
  plugins/player-pronouns
Labels: plugin change

#4156 Update no-bad-alchs to v0.8.1
  plugins/no-bad-alchs
Labels: plugin change

#4157 Update player-pronouns
  plugins/player-pronouns
Labels: plugin change

#4145 Update party-panel to v3.2.4
  plugins/party-panel
Labels: plugin change

#4136 Update weapon-charges-2 to v0.5.0
  plugins/weapon-charges-2
Labels: plugin change

#4140 Update tictac7x-charges to v0.2.6
  plugins/tictac7x-charges
Labels: plugin change

#4146 Update nex-kc-helper
  plugins/nex-kc-helper
Labels: plugin change

#4147 Update time-tracking-reminder to v1.6.0
  plugins/time-tracking-reminder
Labels: plugin change

#4150 Update watson-clue-tracker to v1.1.0
  plugins/watson-clue-tracker
Labels: plugin change

#4141 Update brewing to v3.0
  plugins/brewing
Labels: plugin change

#4029 Update Dude, Where's My Stuff? to v2.0.0
  plugins/dude-wheres-my-stuff
Labels: plugin change

#4144 Create duck-duck-goose
  plugins/duck-duck-goose
Labels: plugin added

#4101 Create toa-gear-check
  plugins/toa-gear-check
Labels: plugin added

#4161 Fix brewing v3.0 update - invalid resource path
  plugins/brewing
Labels: plugin change

#4115 Create visual-ticks
  plugins/visual-ticks
Labels: plugin added

#4072 Update action-progress
  plugins/action-progress
Labels: plugin change

#4160 Update pm-highlight to v1.2.1
  plugins/pm-highlight
Labels: plugin change

#4149 Update pyramid-plunder-counter
  plugins/pyramid-plunder-counter
Labels: plugin change

#4151 Update Veng tracker to 1.2
  plugins/vengeance-tracker
Labels: plugin change

#4152 Update Bossing Info to support Jagex Accounts
  plugins/kph-tracker
Labels: plugin change

#4153 Updated guild spam filter
  plugins/guild-spam-filter
Labels: plugin change

#4097 Create crosshair-cursor
  plugins/crosshair-cursor
Labels: plugin added

#4139 Add DMWatch plugin.
  plugins/dmwatch
Labels: plugin added

#4131 Create whos-gonna-poop
  plugins/whos-gonna-poop
Labels: plugin added

#4159 Update Random hopper
  plugins/random-hopper
Labels: plugin change

#4162 Add Username Screenshot Plugin
  plugins/username-screenshot
Labels: plugin added

#4166 Update VengTracker to support always on top RL setting
  plugins/vengeance-tracker
Labels: plugin change

#4163 Clan Spam Filter - Fixed bugs after previous update
  plugins/guild-spam-filter
Labels: plugin change

#4164 DMWatch quick patch
  plugins/dmwatch
Labels: plugin change

#4165 Add ImaDrum Money plugin
  plugins/imadrum-money
Labels: plugin added

#4143 Add time-played plugin
  plugins/time-played
Labels: plugin added

#4195 update tombs-of-amascut to v2.3.4
  plugins/tombs-of-amascut
Labels: plugin change

#4194 Update action-progress
  plugins/action-progress
Labels: plugin change

#4168 Update skilling-notifications
  plugins/skilling-notifications
Labels: plugin change

#4171 Create discord-screenshot
  plugins/discord-screenshot
Labels: plugin added

#4172 Update toa-mistake-tracker to v1.4
  plugins/toa-mistake-tracker
Labels: plugin change

#4173 DMWatch patch
  plugins/dmwatch
Labels: plugin change

#4174 Updates max-skill-trim to fix startup bug.
  plugins/max-skill-trim
Labels: plugin change

#4176 Update no-bad-alchs to v0.9.0
  plugins/no-bad-alchs
Labels: plugin change

#4182 Add Item-Hunter plugin
  plugins/item-hunter
Labels: plugin added

#4183 Arceuus Timers initial bugfixes and code refactoring
  plugins/arceuus-timers
Labels: plugin change

#4119 Create Custom Drops Sounds
  plugins/custom-drop-sounds
Labels: plugin added

#4185 Update music-mask
  plugins/music-mask
Labels: plugin change

#4186 Update FlippingUtilities
  plugins/flipping-utilities
Labels: plugin change

#4187 Update health-notifications to v1.0.1
  plugins/health-notifications
Labels: plugin change

#4188 Create date-overlay
  plugins/date-overlay
Labels: plugin added

#4189 Update player-pronouns
  plugins/player-pronouns
Labels: plugin change

#4197 Update action-progress
  plugins/action-progress
Labels: plugin change

#4199 Update discord-screenshot
  plugins/discord-screenshot
Labels: plugin change

#4070 toa-supplies
  plugins/toa-supplies
Labels: plugin added

#4202 Update no-bad-alchs to 1.0.0
  plugins/no-bad-alchs
Labels: plugin change

#4203 Update tictac7x-storage
  plugins/tictac7x-storage
Labels: plugin change

#4204 Rooftops Agility Improved - v0.5
  plugins/tictac7x-rooftops
Labels: plugin change

#4207 Update date-overlay
  plugins/date-overlay
Labels: plugin change

#4205 Meme Effects
  plugins/meme-effects
Labels: plugin added

#4192 PC Rewards
  plugins/pcrewards
Labels: plugin added

#4201 Create nekos
  plugins/nekos
Labels: plugin added

#4209 Weapon Animation Replacer 3.2.0 - Profiles support, add some unequippable items.
  plugins/weapon-animation-replacer
Labels: plugin change

#4211 Update custom-drop-sounds
  plugins/custom-drop-sounds
Labels: plugin change

#4067 Update quest-helper to 3.2.4
  plugins/quest-helper
Labels: plugin change, hold for release

#4214 Update Resting to v1.1.3
  plugins/resting
Labels: plugin change

#4215 Update mlm-upper-level-markers to v1.3.1
  plugins/mlm-upper-level-markers
Labels: plugin change

#4216 Weapon Charges 0.5.1 - runelite 1.9.14 api compatibility
  plugins/weapon-charges-2
Labels: plugin change

#4219 Update Runite Rocks (v1.3.2)
  plugins/runite-rocks
Labels: plugin change

#4175 Update quest-helper 4.0.0
  plugins/quest-helper
Labels: plugin change

#4106 Updating tempoross version.
  plugins/tempoross
Labels: plugin change

#4218 Ultimate vm - bug fixes and new team manager feature
  plugins/ultimate-vm
Labels: plugin change

#4220 Update music-mask
  plugins/music-mask
Labels: plugin change

#4222 Update Dude, Where's My Stuff? to v2.1.0
  plugins/dude-wheres-my-stuff
Labels: plugin change

#4221 Create dynamic-inventory-tags
  plugins/dynamic-inventory-tags
Labels: plugin added

#4225 Update Dink to v1.3.3
  plugins/dink
Labels: plugin change

#4213 Create aerial-tick-colors
  plugins/aerial-tick-colors
Labels: plugin added

#4226 Update quest-helper to 4.0.1
  plugins/quest-helper
Labels: plugin change

#4230 Custom Menu Swaps 2.0.3 - performance improvement.
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#4256 Introduce hitsplat-tracker
  plugins/hitsplat-tracker
Labels: plugin added

#4227 Add lizardman-shaman-minion-alert plugin
  plugins/lizardman-shaman-minion-alert
Labels: plugin added

#4229 Updated Dynamic inventory tags (v1.1.0)
  plugins/dynamic-inventory-tags
Labels: plugin change

#4240 Update nylo-death-indicators to v1.0.7
  plugins/nylo-death-indicators
Labels: plugin change

#4244 Update animation-transmog to v2.1.0
  plugins/animation-transmog
Labels: plugin change

#4242 Update PC Rewards; Crash Fix
  plugins/pcrewards
Labels: plugin change

#4248 Wilderness Player Alarm version 1.1.0
  plugins/wilderness-player-alarm
Labels: plugin change

#4249 Update ba-minigame to 1.69
  plugins/ba-minigame
Labels: plugin change

#4247 Weapon animation replacer 3.2.1 - bug fixes, data fixes, add tumeken's shadow projectile.
  plugins/weapon-animation-replacer
Labels: plugin change

#4250 Update combat-roll
  plugins/combat-roll
Labels: plugin change

#4252 Update pet-info
  plugins/pet-info
Labels: plugin change

#4253 Update instant-inventory to 1.1.1
  plugins/instant-inventory
Labels: plugin change

#4243 Update bot-detector to v1.3.9.2
  plugins/bot-detector
Labels: plugin change

#4254 Update pvp-performance-tracker to v1.5.7
  plugins/pvp-performance-tracker
Labels: plugin change

#4167 Dry streak
  plugins/dry-streak
Labels: plugin added

#4270 Update visual-sounds
  plugins/visual-sounds
Labels: plugin change

#4234 Create gemtracker
  plugins/gemtracker
Labels: plugin added

#4236 Create Companion Pet Plugin
  plugins/companion-pet
Labels: plugin added

#4259 Update Unranked KC Tracker
  plugins/unranked-kc-tracker
Labels: plugin change

#4260 Update tick-timestamp to v1.1
  plugins/tick-timestamp
Labels: plugin change

#4261 Update fashionscape to 1.2.0
  plugins/fashionscape
Labels: plugin change

#4262 Update World Finder
  plugins/world-finder
Labels: plugin change

#4263 Update health-notifications plugin
  plugins/health-notifications
Labels: plugin change

#4264 Update Notification Panel to 1.0.4
  plugins/notification-panel
Labels: plugin change

#4231 Dmwatch 1.3
  plugins/dmwatch
Labels: plugin change

#4273 Update quest-helper to 4.0.3
  plugins/quest-helper
Labels: plugin change

#4267 Update Collection to v3.0.0
  plugins/collection-log
Labels: plugin change

#4272 Bank Tag Layouts 1.4.21 - Fix for profile changes losing data, remove some log-spamming NPEs.
  plugins/bank-tag-layouts
Labels: plugin change

#4266 Update Dink to v1.4.1
  plugins/dink
Labels: plugin change

#4291 Update improved-tile-indicators
  plugins/improved-tile-indicators
Labels: plugin change
