Repository runelite/plugin-hub, pull requests merged in 2023-07, with the labels that each got.

#4523 Create Trouver Parchment Alerts plugin
  plugins/trouver-parchment-alerts
Labels: plugin added

#4537 Watchdog: v2.12.0 - Fix export alert and add text color config to overlay
  plugins/watchdog
Labels: plugin change

#4538 Update Arceuus Timers 1.2
  plugins/arceuus-timers
Labels: plugin change

#4540 Update no-new-items
  plugins/no-new-items
Labels: plugin change

#4541 DMWatch 1.6b
  plugins/dmwatch
Labels: plugin change

#4511 Update sound-swapper
  plugins/sound-swapper
Labels: plugin change

#4547 Watson clue tracker 1.2.0 - item overlay improvements.
  plugins/watson-clue-tracker
Labels: plugin change

#4548 Update emotes to 0.0.4
  plugins/emotes
Labels: plugin change

#4549 Fix music-replacer after changed widget IDs
  plugins/music-replacer
Labels: plugin change

#4552 Vital issue with low-value drops for clan events
  plugins/droptracker
Labels: plugin change

#4557 Update cc-watcher to v1.4
  plugins/cc-watcher
Labels: plugin change

#4560 Update loot-lookup to v1.1.9
  plugins/loot-lookup
Labels: plugin change

#4553 Create cbow-animation-stall
  plugins/cbow-animation-stall
Labels: plugin added

#4559 Add Frost HP & Run
  plugins/frost-hp-run
Labels: plugin added

#4545 Update 117HD to v1.2.9.1
  plugins/117hd
Labels: plugin change, hold for release

#4516 Update region-locker to v2.3
  plugins/region-locker
Labels: plugin change, hold for release

#4563 Update model-exporter
  plugins/model-exporter
Labels: plugin change

#4569 Update 117HD to v1.2.9.2
  plugins/117hd
Labels: plugin change

#4570 Update 117HD to v1.2.9.3
  plugins/117hd
Labels: plugin change

#4571 fix group-ironmen-tracker Overall skill removal
  plugins/group-ironmen-tracker
Labels: plugin change

#4573 Update customizable-xp-drops to v1.7.3.2
  plugins/customizable-xp-drops
Labels: plugin change

#4574 Random Event Analytics: Remove Deprecated `Skill.OVERALL` & Timer Enhancements
  plugins/random-event-analytics
Labels: plugin change

#4586 update tombs-of-amascut to v2.4.1
  plugins/tombs-of-amascut
Labels: plugin change

#4536 Update supplies-tracker to v3.0.2
  plugins/supplies-tracker
Labels: plugin change

#4517 Create log-master
  plugins/log-master
Labels: plugin added

#4495 Motherlode profit tracker
  plugins/motherlode-profit-tracker
Labels: plugin added

#4572 Watchdog: v2.13.0 - Fix exceptions, increase debounce, and remove tags
  plugins/watchdog
Labels: plugin change

#4578 Update model-exporter
  plugins/model-exporter
Labels: plugin change

#4579 Update Dink to v1.5.3
  plugins/dink
Labels: plugin change

#4580 Update blindfold
  plugins/blindfold
Labels: plugin change

#4581 Update bingo-event-automated
  plugins/bingo-event-automated
Labels: plugin change

#4582 Update random-event-hider
  plugins/random-event-hider
Labels: plugin change

#4583 Rainbow rave 1.2.7 - fix ground item loot beams getting reset.
  plugins/rainbow-rave
Labels: plugin change

#4591 Update quest-helper to 4.0.6
  plugins/quest-helper
Labels: plugin change

#4594 Update instant-damage-calculator
  plugins/instant-damage-calculator
Labels: plugin change

#4565 Update RHUD
  plugins/rasta-hud
Labels: plugin change

#4558 Create boaty-Hype-Man Plugin
  plugins/boaty-hype-man
Labels: plugin added

#4584 Update better-npc-highlight
  plugins/better-npc-highlight
Labels: plugin change

#4588 Update clan-chat-webhook
  plugins/clan-chat-webhook
Labels: plugin change

#4592 Ultimate vm
  plugins/ultimate-vm
Labels: plugin change

#4597 Update 117HD to v1.2.9.4
  plugins/117hd
Labels: plugin change

#4600 Update better-npc-highlight
  plugins/better-npc-highlight
Labels: plugin change

#4593 Update bingo-event-automated
  plugins/bingo-event-automated
Labels: plugin change

#4368 Update effective-level to v1.3
  plugins/effective-level
Labels: plugin change

#4587 Create forestrycc
  plugins/forestrycc
Labels: plugin added

#4577 Create AColdOne Clogging
  plugins/acoldone-clogging
Labels: plugin added

#4590 Prestige
  plugins/prestige
Labels: plugin change

#4602 update visual-metronome to v1.4.5.2
  plugins/visual-metronome
Labels: plugin change

#4585 Create runecost
  plugins/runecost
Labels: plugin added

#4611 update tombs-of-amascut to v2.4.2
  plugins/tombs-of-amascut
Labels: plugin change

#4615 update tombs-of-amascut to v2.4.3
  plugins/tombs-of-amascut
Labels: plugin change

#4616 Update blindfold
  plugins/blindfold
Labels: plugin change

#4595 Create empty-forestry-basket
  plugins/empty-forestry-basket
Labels: plugin added

#4605 Update Better Discord Loot Logger
  plugins/better-discord-loot-logger
Labels: plugin change

#4535 Create reword-manager
  plugins/reword-manager
Labels: plugin added

#4568 Create highlight-stackable-items
  plugins/highlight-stackable-items
Labels: plugin added

#4596 Create Autocasting
  plugins/autocast-utilities
Labels: plugin change

#4606 Update gauntlet map
  plugins/gauntlet-map
Labels: plugin change

#4607 Update forestrycc
  plugins/forestrycc
Labels: plugin change

#4608 Update Dude Where's My Stuff? to v2.3.0
  plugins/dude-wheres-my-stuff
Labels: plugin change

#4610 Update maple-xp-bar
  plugins/maple-xp-bar
Labels: plugin change

#4613 Update Party Panel (v3.2.6)
  plugins/party-panel
Labels: plugin change

#4614 Update pickpocket-guardian
  plugins/pickpocket-guardian
Labels: plugin change

#4601 Great guardian hider
  plugins/great-guardian-hider
Labels: plugin added

#4609 Update equipment-inspector
  plugins/equipment-inspector
Labels: plugin change

#4542 Create translation-plugin
  plugins/translation-plugin
Labels: plugin added

#4603 Update boss health indicators
  plugins/boss-health-indicators
Labels: plugin change

#4626 Update autocasting
  plugins/autocast-utilities
Labels: plugin change

#4628 Update ba role randomizer v2.3.0
  plugins/ba-role-randomizer
Labels: plugin change

#4629 Update Great guardian hider
  plugins/great-guardian-hider
Labels: plugin change

#4630 Update max-hit-calculator to v1.1.5
  plugins/max-hit-calculator
Labels: plugin change

#4631 Update discord-notifications to v1.7.0
  plugins/discord-notifications
Labels: plugin change

#4632 update fairy ring butterflies. Add import/export and update default configs
  plugins/fairy-ring-butterflies
Labels: plugin change

#4633 Update friends-exporter to latest commit.
  plugins/friends-exporter
Labels: plugin change

#4640 Update spamfilter
  plugins/spamfilter
Labels: plugin change

#4651 Update shortest-path to v1.10
  plugins/shortest-path
Labels: plugin change

#4634 Update Twitch Live Loadout to v2.1.0
  plugins/twitch-live-loadout
Labels: plugin change

#4617 Create wilderness-boss-peek
  plugins/wilderness-boss-peek
Labels: plugin added

#4624 Create ranged-guild-minigame plugin folder
  plugins/ranged-guild-minigame
Labels: plugin added

#4636 Update quest-helper to 4.0.7
  plugins/quest-helper
Labels: plugin change, hold for release

#4625 Added ring-of-forging-helper plugin
  plugins/ring-of-forging-helper
Labels: plugin added

#4642 update Ba call highlight to v1.1
  plugins/ba-call-highlight
Labels: plugin change

#4643 Update reword-manager to 1.0.3
  plugins/reword-manager
Labels: plugin change

#4649 Update maple-xp-bar
  plugins/maple-xp-bar
Labels: plugin change

#4660 Update turael-skipping
  plugins/turael-skipping
Labels: plugin change

#4654 Update region-locker
  plugins/region-locker
Labels: plugin change

#4663 Chompy hunter
  plugins/chompy-hunter
Labels: plugin change

#4645 Update identificator to v1.1
  plugins/identificator
Labels: plugin change

#4635 [Taskman] Overlay performance increase
  plugins/taskman
Labels: plugin change

#4652 Update Collection log plugin to v3.1.0
  plugins/collection-log
Labels: plugin change

#4644 Update tictac7x-charges
  plugins/tictac7x-charges
Labels: plugin change

#4656 Update nylo-death-indicators to v1.0.8
  plugins/nylo-death-indicators
Labels: plugin change

#4657 update Forestrycc
  plugins/forestrycc
Labels: plugin change

#4623 Add Bone Luck
  plugins/bone-luck
Labels: plugin added

#4662 Trouver parchment alerts feature updates
  plugins/trouver-parchment-alerts
Labels: plugin change

#4639 Add charge calc
  plugins/charge-calc
Labels: plugin added

#4683 Fix Dude, Where's My Stuff? for RL 1.10.9
  plugins/dude-wheres-my-stuff
Labels: plugin change

#4655 Update description with home world
  plugins/global-chat
Labels: plugin change

#4658 Update konar-milestone-reminder with slayer master hiding
  plugins/konar-milestone-reminder
Labels: plugin change

#4665 Update maple-xp-bar
  plugins/maple-xp-bar
Labels: plugin change

#4666 Update Dink to v1.6.0
  plugins/dink
Labels: plugin change

#4669 Update consumable-cooldowns to 1.1.0
  plugins/consumable-cooldowns
Labels: plugin change

#4671 Update osrsprofile
  plugins/osrsprofile
Labels: plugin change

#4673 Update Inventory Setups to v1.16
  plugins/inventory-setups
Labels: plugin change

#4675 alch-blocker: v1.3 update
  plugins/alch-blocker
Labels: plugin change

#4676 Update herblorerecipes to v1.7.1
  plugins/herblorerecipes
Labels: plugin change

#4677 update crate-limiter to v1.2
  plugins/crate-limiter
Labels: plugin change

#4678 Custom Menu Swaps 2.1.0 - small changes.
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#4681 Update spamfilter to 1.0.1
  plugins/spamfilter
Labels: plugin change

#4684 Update identificator to v1.2
  plugins/identificator
Labels: plugin change

#4685 Rainbow Rave 1.2.8 - Compatibility with runelite update.
  plugins/rainbow-rave
Labels: plugin change

#4690 Added soul runes to magic guild shop
  plugins/runecost
Labels: plugin change

#4693 Update max-hit-calculator to v1.1.6
  plugins/max-hit-calculator
Labels: plugin change

#4694 update Fairy-Ring-Butterflies to add new BLS ring to biome map
  plugins/fairy-ring-butterflies
Labels: plugin change

#4696 Update lazy-farming
  plugins/lazy-farming
Labels: plugin change

#4697 Update action-progress
  plugins/action-progress
Labels: plugin change

#4698 Update ranged-guild-minigame
  plugins/ranged-guild-minigame
Labels: plugin change

#4668 Ultimate vm
  plugins/ultimate-vm
Labels: plugin change

#4661 Update shortest-path to v1.11
  plugins/shortest-path
Labels: plugin change

#4686 Update examine-tooltip for itemLayer getBottom/Top change
  plugins/examine-tooltip
Labels: plugin change, hold for release

#4701 Update radius-markers to v1.8
  plugins/radius-markers
Labels: plugin change
