Repository runelite/plugin-hub, pull requests merged in 2023-06, with the labels that each got.

#4383 Add Pickpocket Guardian Plugin
  plugins/pickpocket-guardian
Labels: plugin added

#4398 Update herblorerecipes to v1.7
  plugins/herblorerecipes
Labels: plugin change

#4404 Update group-ironmen-tracker to 1.5.1
  plugins/group-ironmen-tracker
Labels: plugin change

#4408 Update tictac7x-rooftops
  plugins/tictac7x-rooftops
Labels: plugin change

#4366 Prestige, making 92-99 more fun
  plugins/prestige
Labels: plugin added

#4437 Update crop-circle-tracker to 1.2.1
  plugins/crop-circle-tracker
Labels: plugin change

#4414 Updated PartyPoints to 1.1
  plugins/party-points
Labels: plugin change

#4411 Update clan-chat-webhook
  plugins/clan-chat-webhook
Labels: plugin change

#4415 Tick counter: Add missing weapons and animations
  plugins/tick-counter
Labels: plugin change

#4409 Update Dude Where's My Stuff? to v2.2.0
  plugins/dude-wheres-my-stuff
Labels: plugin change

#4420 Update c-engineer-completed to v1.0.5
  plugins/c-engineer-completed
Labels: plugin change

#4418 Added pre-ge
  plugins/pre-ge
Labels: plugin added

#4412 Update - Osrskillboard - Lootkeys and Maintenance
  plugins/osrskillboard
Labels: plugin change

#4381 Add consumable-cooldowns plugin
  plugins/consumable-cooldowns
Labels: plugin added

#4423 Update visual-sounds
  plugins/visual-sounds
Labels: plugin change

#4424 Rainbow rave 1.2.6 - restore settings on client shutdown.
  plugins/rainbow-rave
Labels: plugin change

#4425 SoundSwapper Performance Improvements
  plugins/sound-swapper
Labels: plugin change

#4430 Tithe Farm Improved v0.4
  plugins/tictac7x-tithe
Labels: plugin change

#4403 Update PC Rewards 1.2.2
  plugins/pcrewards
Labels: plugin change

#4436 Disable magic-secateurs plugin
  plugins/magic-secateurs
Labels: plugin change

#4406 Update max-hit-calculator to v1.1.0
  plugins/max-hit-calculator
Labels: plugin change

#4440 Update star-calling-assist
  plugins/star-calling-assist
Labels: plugin change

#4365 Add Rasta HUD plugin
  plugins/rasta-hud
Labels: plugin added

#4429 Stardust per hour Plugin
  plugins/stardust-per-hour
Labels: plugin added

#4444 Update consumable-cooldowns to 1.0.1
  plugins/consumable-cooldowns
Labels: plugin change

#4405 Add Damage Taken Logger
  plugins/damage-taken-logger
Labels: plugin added

#4441 Ultimate vm
  plugins/ultimate-vm
Labels: plugin change

#4439 Create worn-equip-viewer
  plugins/worn-equip-viewer
Labels: plugin added

#4431 Add Xp Goalz
  plugins/xp-goalz
Labels: plugin added

#4449 tobqol - v.1.10.15 api patch
  plugins/tobqol
Labels: plugin change

#4450 Update phillip-hue-integration
  plugins/phillip-hue-integration
Labels: plugin change

#4442 Update tedious collection log
  plugins/tedious-collection-log
Labels: plugin change

#4443 Watchdog: v2.11.0 - Clone alert and drag to reorder
  plugins/watchdog
Labels: plugin change

#4384 Add Osrs Profile plugin
  plugins/osrsprofile
Labels: plugin added

#4446 Update PartyPoints
  plugins/party-points
Labels: plugin change

#4447 preGE: fixed crucial typo
  plugins/pre-ge
Labels: plugin change

#4448 (small change) Remove duplicate clue scrolls from item hunter
  plugins/item-hunter
Labels: plugin change

#4445 Update action-progress
  plugins/action-progress
Labels: plugin change

#4451 Update Xp Goalz
  plugins/xp-goalz
Labels: plugin change

#4452 Update max-hit-calculator to v1.1.1
  plugins/max-hit-calculator
Labels: plugin change

#4417 Create DropTracker plugin
  package/verification-template/build.gradle
  plugins/droptracker
Labels: dependency change, plugin added

#4454 Update consumable-cooldowns to 1.0.2
  plugins/consumable-cooldowns
Labels: plugin change

#4456 DropTracker bugfixes (v1.0.1)
  plugins/droptracker
Labels: plugin change

#4466 Updated Emote Clue Items to v4.2.1.
  plugins/emote-clue-items
Labels: plugin change

#4465 Update basqh
  plugins/basqh
Labels: plugin change

#4463 Update mini-bars
  plugins/mini-bars
Labels: plugin change

#4477 add area-mute plugin
  plugins/area-mute
Labels: plugin added

#4469 Updated Osrs Profile to latest commit
  plugins/osrsprofile
Labels: plugin change

#4471 BA Role Randomizer v2.2.1
  plugins/ba-role-randomizer
Labels: plugin change

#4472 Update Did I Compost to include two more patches
  plugins/did-i-compost
Labels: plugin change

#4474 Update pickpocket-info
  plugins/pickpocket-info
Labels: plugin change

#4475 Update max-hit-calculator to v1.1.2
  plugins/max-hit-calculator
Labels: plugin change

#4478 Update spamfilter
  plugins/spamfilter
Labels: plugin change

#4467 Herblorerecipes: fix Shift/Ctrl keybinds
  plugins/herblorerecipes
Labels: plugin change

#4473 Update Standalone ToA Points tracker
  plugins/toa-points-tracker
Labels: plugin change

#4485 update one-click-summer-garden to v2.3.0
  plugins/one-click-summer-garden
Labels: plugin change

#4481 Update action-progress
  plugins/action-progress
Labels: plugin change

#4461 Update rasta-hud
  plugins/rasta-hud
Labels: plugin change

#4459 Create nex-splits
  plugins/nex-splits
Labels: plugin added

#4468 Add OldSchoolSnitch plugin
  plugins/old-school-snitch
Labels: plugin added

#4479 Update max-hit-calculator to v1.1.3
  plugins/max-hit-calculator
Labels: plugin change

#4480 Impling saver - Added 1 tic cooldown option
  plugins/impling-saver
Labels: plugin change

#4488 Update quest-helper 4.0.6
  plugins/quest-helper
Labels: plugin change

#4487 Update the-gauntlet
  plugins/the-gauntlet
Labels: plugin change

#4505 Update 117HD to v1.2.9
  plugins/117hd
Labels: plugin change

#4510 Update world-hider
  plugins/world-hider
Labels: plugin change

#4521 Update the-gauntlet
  plugins/the-gauntlet
Labels: plugin change

#4486 Update loot-lookup to v1.1.8
  plugins/loot-lookup
Labels: plugin change

#4489 Update 3D Weather to v1.2.1
  plugins/3d-weather
Labels: plugin change

#4490 Update clan-tracker
  plugins/clan-tracker
Labels: plugin change

#4491 Update Dink to v1.5.2
  plugins/dink
Labels: plugin change

#4493 Update party-points
  plugins/party-points
Labels: plugin change

#4494 Update Discord collection logger
  plugins/discord-collection-logger
Labels: plugin change

#4497 Fixed pet chance
  plugins/toa-points-tracker
Labels: plugin change

#4501 Update chompy-hunter
  plugins/chompy-hunter
Labels: plugin change

#4503 Update emotes to 0.0.3
  plugins/emotes
Labels: plugin change

#4507 Update time-tracking-reminder to 1.7.0
  plugins/time-tracking-reminder
Labels: plugin change

#4512 Update wintertodt-scouter
  plugins/wintertodt-scouter
Labels: plugin change

#4513 Update no-new-items
  plugins/no-new-items
Labels: plugin change

#4514 Update pvmtickcounter
  plugins/pvmtickcounter
Labels: plugin change

#4515 Update customizable-xp-drops to v1.7.3.1
  plugins/customizable-xp-drops
Labels: plugin change

#4519 Prestige - Config changes
  plugins/prestige
Labels: plugin change

#4522 Impling saver
  plugins/impling-saver
Labels: plugin change

#4524 Update MonsterHP plugin
  plugins/monster-hp-percentage
Labels: plugin change

#4526 Update Crab Solver (v1.3)
  plugins/crab-solver
Labels: plugin change

#4525 Update skilling-notifications
  plugins/skilling-notifications
Labels: plugin change

#4499 (Small change)Add dialog confirmation option to item-hunter
  plugins/item-hunter
Labels: plugin change

#4498 Update Xp Goalz
  plugins/xp-goalz
Labels: plugin change

#4528 Add Random Screenshot plugin
  plugins/random-screenshot
Labels: plugin added

#4530 Update no-new-items
  plugins/no-new-items
Labels: plugin change

#4529 Update Hub Party Panel (v3.2.5)
  plugins/party-panel
Labels: plugin change

#4464 Add Jingle Jingle plugin
  plugins/jingle-jingle
Labels: plugin added

#4400 Create Chrono Plugin
  plugins/chrono
Labels: plugin added

#4462 DMWatch 1.6
  plugins/dmwatch
Labels: plugin change

#4484 Update droptracker to v1.1
  plugins/droptracker
Labels: plugin change

#4502 Update influxdb-stats
  plugins/influxdb-stats
Labels: plugin change

#4504 Update model-exporter
  plugins/model-exporter
Labels: plugin change

#4531 DMWatch 1.6a - Update discord link
  plugins/dmwatch
Labels: plugin change

#4476 Create bingo-event-automated
  plugins/bingo-event-automated
Labels: plugin added

#4518 Update max-hit-calculator to v1.1.4
  plugins/max-hit-calculator
Labels: plugin change

#4509 Add gauntlet map
  plugins/gauntlet-map
Labels: plugin added

#4506 Add Fun Reminders
  plugins/fun-reminders
Labels: plugin added

#4546 Update brewing to version 3.1
  plugins/brewing
Labels: plugin change

#4544 Update gauntlet-map
  plugins/gauntlet-map
Labels: plugin change

#4492 Pre-GE Code Overhaul
  plugins/pre-ge
Labels: plugin change

#4556 Create cannon-be-gone
  plugins/cannon-be-gone
Labels: plugin added
