Repository runelite/plugin-hub, pull requests merged in 2023-09, with the labels that each got.

#4755 Update visual-sounds (Disable plugin at leviathan, TOA etc.)
  plugins/visual-sounds
Labels: plugin change

#4839 update force-recolor to v1.3.1
  plugins/force-recolor
Labels: plugin change

#4834 Updated pyramid-plunder-counter
  plugins/pyramid-plunder-counter
Labels: plugin change

#4812 Update Afk Hellrat Behemoth
  plugins/afk-hellrat-behemoth
Labels: plugin change

#4814 Update gim-plugin to 2.7
  plugins/gim-plugin
Labels: plugin change

#4821 Subtle agility shortcuts
  plugins/subtle-agility-shortcuts
Labels: plugin added

#4827 Update acoldone-clogging
  plugins/acoldone-clogging
Labels: plugin change

#4828 Add Corner Tile Indicators.
  plugins/corner-tile-indicators
Labels: plugin added

#4832 Adding the fake protection plugin for DMM
  plugins/dmm-fake-protection
Labels: plugin added

#4744 Watchdog: v2.14.1 - Remove SoundFiredAlerts, alert filter, mp3 support, and eleven labs tts
  plugins/watchdog
Labels: plugin change

#4854 update dps-calculator to v2.3.2
  plugins/dps-calculator
Labels: plugin change

#4853 Update 117HD to v1.2.10
  plugins/117hd
Labels: plugin change

#4806 Update quest-helper to 4.1.1
  plugins/quest-helper
Labels: plugin change

#4859 Update 117HD to v1.2.10.1
  plugins/117hd
Labels: plugin change

#4784 Add creators-kit
  plugins/creators-kit
Labels: plugin added

#4797 Updated plugin to use player tiles instead of last selected tile
  plugins/salve-amulet-checker
Labels: plugin change

#4855 Update 117HD to v1.2.10.2
  plugins/117hd
Labels: plugin change, hold for release

#4864 Update region-locker
  plugins/region-locker
Labels: plugin change

#4865 Update region-locker
  plugins/region-locker
Labels: plugin change

#4866 Update 117HD to v1.2.10.3
  plugins/117hd
Labels: plugin change

#4868 Update 117HD to v1.2.10.4
  plugins/117hd
Labels: plugin change

#4871 Update 117HD to v1.2.10.5
  plugins/117hd
Labels: plugin change

#4875 Update region-locker
  plugins/region-locker
Labels: plugin change

#4798 Update arceuus-timers
  plugins/arceuus-timers
Labels: plugin change

#4796 Custom Menu Swaps 2.2.0 - Simple Ground Item Reorder.
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#4802 Update skilling-notifications
  plugins/skilling-notifications
Labels: plugin change

#4804 Update action-progress
  plugins/action-progress
Labels: plugin change

#4807 Update osrsprofile
  plugins/osrsprofile
Labels: plugin change

#4823 Update friend-finder - v1.2.2
  plugins/friend-finder
Labels: plugin change

#4825 Update rseye-connector
  plugins/rseye-connector
Labels: plugin change

#4836 Update better-npc-highlight
  plugins/better-npc-highlight
Labels: plugin change

#4837 Update dialogue-extractor
  plugins/dialogue-extractor
Labels: plugin change

#4843 Update tictac7x-daily
  plugins/tictac7x-daily
Labels: plugin change

#4846 Added Cosmic, Mind Packs and Nature runes to shops
  plugins/runecost
Labels: plugin change

#4838 Update clan-chat-webhook
  plugins/clan-chat-webhook
Labels: plugin change

#4879 Update quest-helper to 4.1.1.1
  plugins/quest-helper
Labels: plugin change

#4880 Update 117HD to v1.2.10.6
  plugins/117hd
Labels: plugin change

#4881 update 117hd
  plugins/117hd
Labels: plugin change, non-author plugin change

#4882 Update region-locker
  plugins/region-locker
Labels: plugin change

#4884 Update 117HD
  plugins/117hd
Labels: plugin change

#4867 Update blindfold
  plugins/blindfold
Labels: plugin change

#4850 Update raid-player-names
  plugins/raid-player-names
Labels: plugin change

#4842 Update tictac7x-charges
  plugins/tictac7x-charges
Labels: plugin change

#4856 Update collapsible-modern-chat
  plugins/collapsible-modern-chat
Labels: plugin change

#4857 Update zeahrctracker
  plugins/zeahrctracker
Labels: plugin change

#4858 Update sound-swapper
  plugins/sound-swapper
Labels: plugin change

#4861 Update clear-unsent-messages
  plugins/clear-unsent-messages
Labels: plugin change

#4847 Weapon Animation Replacer 3.4.1 add soulreaper axe.
  plugins/weapon-animation-replacer
Labels: plugin change

#4887 Update Twitch Live Loadout to v2.1.1
  plugins/twitch-live-loadout
Labels: plugin change

#4888 Update stronghold-of-security -> Updated icon to match same as in wiki
  plugins/stronghold-of-security
Labels: plugin change

#4891 Update 117HD
  plugins/117hd
Labels: plugin change

#4898 Update 117HD to v1.2.10.8
  plugins/117hd
Labels: plugin change

#4901 Update 117HD
  plugins/117hd
Labels: plugin change

#4906 update quest-helper
  plugins/quest-helper
Labels: plugin change, non-author plugin change

#4900 update wintertodt-scouter
  plugins/wintertodt-scouter
Labels: plugin change

#4908 fix wintertodt-scouter
  plugins/wintertodt-scouter
Labels: plugin change

#4890 Update Not Enough Runes to 1.2
  plugins/not-enough-runes
Labels: plugin change

#4835 Add Shade Chest Highlighter
  plugins/shade-chests
Labels: plugin added

#4840 add bank-value-overlay
  plugins/bank-value-overlay
Labels: plugin added

#4873 Update no-bad-alchs 1.1.1
  plugins/no-bad-alchs
Labels: plugin change

#4874 Ignore List alerter update
  plugins/zom-ignore-list-updater
Labels: plugin change

#4877 Update Tile Packs
  plugins/tile-packs
Labels: plugin change

#4878 Update line-markers and radius-markers
  plugins/line-markers
  plugins/radius-markers
Labels: plugin change

#4885 Update customizable-xp-drops to v1.7.5
  plugins/customizable-xp-drops
Labels: plugin change

#4892 Create focus-mute
  plugins/focus-mute
Labels: plugin added

#4893 Update zeahrctracker
  plugins/zeahrctracker
Labels: plugin change

#4895 Update spirit-tree-menu
  plugins/spirit-tree-menu
Labels: plugin change

#4897 Annoyance mute update
  plugins/annoyance-mute
Labels: plugin change

#4899 Add CcClogSpamHider
  plugins/ccclogspamhider
Labels: plugin added

#4902 Update Random Hopper
  plugins/random-hopper
Labels: plugin change

#4896 Update max-hit-calculator to v1.1.9
  plugins/max-hit-calculator
Labels: plugin change

#4903 Add essence-pouch-health plugin
  plugins/essence-pouch-health
Labels: plugin added

#4914 Update zeahrctracker
  plugins/zeahrctracker
Labels: plugin change

#4913 Weapon Charges 0.5.3 - add Warped Sceptre
  plugins/weapon-charges-2
Labels: plugin change

#4922 Update annoyance-mute to v1.8.5
  plugins/annoyance-mute
Labels: plugin change

#4938 Update supplies-tracker - Fix compile error
  plugins/supplies-tracker
Labels: plugin change

#4933 readme: add client version outdated info
  README.md
Labels: package change

#4948 Fix Annoyance Mute Teleport (Only others)
  plugins/annoyance-mute
Labels: plugin change

#4945 Updated Meme Effects to 1.1
  plugins/meme-effects
Labels: plugin change

#4944 Update nex-splits
  plugins/nex-splits
Labels: plugin change

#4943 Update party-heartbeat
  plugins/party-heartbeat
Labels: plugin change

#4935 Update random-event-hider
  plugins/random-event-hider
Labels: plugin change

#4886 Update Dink to v1.6.3
  plugins/dink
Labels: plugin change

#4869 Add the pleae plugin
  plugins/pleae
Labels: plugin added

#4950 Update customizable-xp-drops to v1.8
  plugins/customizable-xp-drops
Labels: plugin change

#4934 readme: remove references to support
  README.md
Labels: package change

#4929 Update skilling-notifications
  plugins/skilling-notifications
Labels: plugin change

#4936 Update default-minimap-zoom
  plugins/default-minimap-zoom
Labels: plugin change

#4926 Update Not Enough Runes to 1.3
  plugins/not-enough-runes
Labels: plugin change

#4953 update not-enough-runes
  plugins/not-enough-runes
Labels: plugin change, non-author plugin change

#4957 update tombs-of-amascut to v2.4.6
  plugins/tombs-of-amascut
Labels: plugin change

#4872 Update Instant Inventory to v1.1.2
  plugins/instant-inventory
Labels: plugin change

#4870 Update log-master
  plugins/log-master
Labels: plugin change

#4894 Update npc-id to v1.3
  plugins/npc-id
Labels: plugin change

#4904 Update account-chat-filter
  plugins/account-chat-filter
Labels: plugin change, non-author plugin change

#4917 Update Lazy Farming
  plugins/lazy-farming
Labels: plugin change

#4927 Disable zeahrctracker
  plugins/zeahrctracker
Labels: plugin change

#4921 Watchdog: v2.14.2 - Queued sound fix and images in overlay
  plugins/watchdog
Labels: plugin change

#4924 Update no-new-items
  plugins/no-new-items
Labels: plugin change

#4925 Update Creator's Kit to v1.1.0
  plugins/creators-kit
Labels: plugin change

#4958 Update Creator's Kit to v1.1.1
  plugins/creators-kit
Labels: plugin change

#4961 Update log-master
  plugins/log-master
Labels: plugin change

#4962 update tombs-of-amascut to v2.4.7
  plugins/tombs-of-amascut
Labels: plugin change

#4826 Add Canvas plugin
  plugins/canvas
Labels: plugin added

#4788 Create tk swamp helper
  plugins/tk-swamp-helper
Labels: plugin added

#4845 Market Watcher Plugin
  plugins/market-watcher
Labels: plugin added

#4967 Update osrs-wiki-crowdsourcing
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#4955 Update reword-manager to 1.2.0
  plugins/reword-manager
Labels: plugin change

#4928 Update 117HD to v1.2.10.9
  plugins/117hd
Labels: plugin change

#4937 Update quest-helper to 4.1.2
  plugins/quest-helper
Labels: plugin change

#4970 Update 117HD to v1.2.10.9
  plugins/117hd
Labels: plugin change

#4973 update debug
  plugins/debug
Labels: plugin change

#4975 Update 117HD to v1.2.10.10
  plugins/117hd
Labels: plugin change

#4911 Update Dynamic inventory tags to make compatible
  plugins/dynamic-inventory-tags
Labels: plugin change

#4940 Update Shooting Star Info
  plugins/startierindicator
Labels: plugin change

#4912 Update tictac7x-charges
  plugins/tictac7x-charges
Labels: plugin change

#4831 Trouver parchment alerts
  plugins/trouver-parchment-alerts
Labels: plugin change

#4942 Update cox-qol
  plugins/cox-qol
Labels: plugin change

#4963 disable gauntlet
  plugins/gauntlet
Labels: plugin change

#4849 Create easy-arceuus-runecrafting
  plugins/easy-arceuus-runecrafting
Labels: plugin added

#4852 Add tree-despawn-timer plugin
  plugins/tree-despawn-timer
Labels: plugin added

#4851 Create altered-stats
  plugins/altered-stats
Labels: plugin added

#4979 Update log-master
  plugins/log-master
Labels: plugin change
