Repository runelite/plugin-hub, pull requests merged in 2024-03, with the labels that each got.

#5627 Update fullscreen
  plugins/fullscreen
Labels: plugin change

#5578 Update goal-tracker to v1.1.0
  plugins/goal-tracker
Labels: plugin change

#5611 Bank Tag Layouts 1.4.25 - bugfix.
  plugins/bank-tag-layouts
Labels: plugin change

#5606 Update combat-logger to v0.0.6
  plugins/combat-logger
Labels: plugin change

#5644 Clue scroll juggling 1.0.3 - 1 hour clue fix.
  plugins/clue-scroll-juggling
Labels: plugin change

#5620 Update easy-giantsfoundry
  plugins/easy-giantsfoundry
Labels: plugin change

#5613 Update chat-logger plugin - 1.7.0 - sololegends
  plugins/chat-logger
Labels: plugin change

#5614 Update customizable-xp-drops to v1.8.4
  plugins/customizable-xp-drops
Labels: plugin change

#5618 Removed renaming in collection log view, since it clashed with the collection log plugin
  plugins/funnybossnames
Labels: plugin change

#5619 Update party-defence-tracker
  plugins/party-defence-tracker
Labels: plugin change

#5621 Updates random-event-analytics | Potential fix for old profiles
  plugins/random-event-analytics
Labels: plugin change

#5615 Update Instant Inventory to v1.2.1
  plugins/instant-inventory
Labels: plugin change

#5626 Update max-hit-calculator to v1.12.2
  plugins/max-hit-calculator
Labels: plugin change

#5632 Updated Advanced Mining to v1.0.4
  plugins/advanced-mining
Labels: plugin change

#5636 Update basqh
  plugins/basqh
Labels: plugin change

#5638 Update drop-log
  plugins/drop-log
Labels: plugin change

#5629 Update ruby-counter
  plugins/ruby-counter
Labels: plugin change

#5645 Update GP-Per-Hour to 1.4
  plugins/gp-per-hour
Labels: plugin change

#5543 New plugin: Improved Context Menu
  plugins/improved-context-menu
Labels: plugin added

#5560 Create Party Special Tracker
  plugins/party-special-tracker
Labels: plugin added

#5579 Create easylootsell
  plugins/easylootsell
Labels: plugin added

#5608 add attack-types plugin v1
  plugins/attack-types
Labels: plugin added

#5582 global-chat: Filter messages better to reduce spam + fix bugs
  plugins/global-chat
Labels: plugin change

#5649 hot-fix: global chat: fix spam duplicate messages
  plugins/global-chat
Labels: plugin change

#5651 Update fullscreen
  plugins/fullscreen
Labels: plugin change

#5444 Update npc-dialogue
  plugins/npc-dialogue
Labels: plugin change

#5537 Submit PR for Embargo Clan Plugin
  plugins/embargo-clan-plugin
Labels: plugin added

#5604 Create odablock plugin
  plugins/odablock
Labels: plugin added

#5568 Create pest-control-points
  plugins/pest-control-points
Labels: plugin added

#5617 Wintertodt idle
  plugins/wintertodt-idle
Labels: plugin added

#5625 Release of Milestone levels
  plugins/milestone-levels
Labels: plugin added

#5662 Update odablock Readme
  plugins/odablock
Labels: plugin change

#5666 Update Embargo plugin (bug fix + version bump)
  plugins/embargo-clan-plugin
Labels: plugin change

#5663 Update Milestone Levels to v1.0.1
  plugins/milestone-levels
Labels: plugin change

#5640 Create advanced-raid-tracker
  plugins/advanced-raid-tracker
Labels: plugin added

#5600 Update Polywoof
  plugins/polywoof
Labels: plugin change

#5653 Update Automatic Low Detail to v1.1.2
  plugins/low-detail-raids
Labels: plugin change

#5654 Update combat-logger to v1.0.0
  plugins/combat-logger
Labels: plugin change

#5657 Update Chat Panel to v1.7
  plugins/chatpanel
Labels: plugin change

#5659 Updated Advanced Mining to v1.0.5
  plugins/advanced-mining
Labels: plugin change

#5660 global chat: fixes bug that causes chat messages to be hidden
  plugins/global-chat
Labels: plugin change

#5658 Renamed ruby-counter plugin to bolt-proc-counter plugin. Also updated the plugin
  plugins/ruby-counter
Labels: plugin change

#5661 Update easylootsell
  plugins/easylootsell
Labels: plugin change

#5668 Update max-hit-calculator to v1.12.3
  plugins/max-hit-calculator
Labels: plugin change

#5674 Update advanced-raid-tracker
  plugins/advanced-raid-tracker
Labels: plugin change

#5669 Update Banked Experience (v2.4.3)
  plugins/banked-experience
Labels: plugin change

#5670 Bugfixes for odablock plugin
  plugins/odablock
Labels: plugin change

#5671 Update ba minigame to 1.71
  plugins/ba-minigame
Labels: plugin change

#5678 Item Charges Improved - v0.5.3
  plugins/tictac7x-charges
Labels: plugin change

#5679 Update Milestone levels to v1.0.2
  plugins/milestone-levels
Labels: plugin change

#5682 Update Polywoof
  plugins/polywoof
Labels: plugin change

#5677 Update quest-helper to 4.3.1
  plugins/quest-helper
Labels: plugin change

#5686 Update quest-helper to 4.3.1.1
  plugins/quest-helper
Labels: plugin change

#5655 Update taskjingle
  plugins/taskjingle
Labels: plugin change

#5648 Update clan-chat-warnings to 1.3.1
  plugins/clan-chat-warnings
Labels: plugin change

#5630 Create key-remapping-plus
  plugins/key-remapping-plus
Labels: plugin added

#5544 Create naturalspeech
  plugins/naturalspeech
Labels: plugin added

#5642 Create csvexport
  plugins/csvexport
Labels: plugin added

#5701 Update fuzzy-bank-search and re-enable it
  plugins/fuzzy-bank-search
Labels: plugin change

#5694 Update wikisync to v3 and add jayden/lezed as authors
  plugins/wikisync
Labels: plugin change

#5717 Update to v1.5.3 - Fix unable to build + remove debug log
  plugins/treecount
Labels: plugin change

#5718 Update quest-helper to 4.3.1.2
  plugins/quest-helper
Labels: plugin change

#5719 add fortis-colosseum v1.0.0
  plugins/fortis-colosseum
Labels: plugin added

#5722 Update tree-despawn-timer to 1.4.2
  plugins/tree-despawn-timer
Labels: plugin change

#5723 update fortis-colosseum to v1.1.1
  plugins/fortis-colosseum
Labels: plugin change

#5725 update fortis-colosseum to v1.1.2
  plugins/fortis-colosseum
Labels: plugin change

#5680 Updated trouver parchment alerts
  plugins/trouver-parchment-alerts
Labels: plugin change

#5681 Embargo plugin - Update side panel to contain missing requirements, bump ver, update desc
  plugins/embargo-clan-plugin
Labels: plugin change

#5683 Global chat: Add read-only setting
  plugins/global-chat
Labels: plugin change

#5684 Update inferno-stats to v2.1.5
  plugins/inferno-stats
Labels: plugin change

#5689 Update thelerune-updater to v1.1
  plugins/thelerune-updater
Labels: plugin change

#5690 Update Dink to v1.9.0
  plugins/dink
Labels: plugin change

#5693 Update Banked Experience (v2.4.4)
  plugins/banked-experience
Labels: plugin change

#5698 Update skilling-notifications
  plugins/skilling-notifications
Labels: plugin change

#5699 Update old-school-snitch to 1.1.1
  plugins/old-school-snitch
Labels: plugin change

#5700 Update JebScape to v0.2.6
  plugins/jebscape
Labels: plugin change

#5702 Item Charges Improved v0.5.4
  plugins/tictac7x-charges
Labels: plugin change

#5703 Update Market Watcher to V1.1.5
  plugins/market-watcher
Labels: plugin change

#5704 Update advanced-raid-tracker
  plugins/advanced-raid-tracker
Labels: plugin change

#5705 Update Inventory Setups to v1.18 and Bank Tag Layouts
  plugins/bank-tag-layouts
  plugins/inventory-setups
Labels: plugin change, non-author plugin change

#5706 Update clan-chat-warnings to 1.3.2
  plugins/clan-chat-warnings
Labels: plugin change

#5707 Custom Menu Swaps 2.4.0 - sort by price
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#5709 Updated Advanced Mining to v1.0.6
  plugins/advanced-mining
Labels: plugin change

#5710 Update naturalspeech
  plugins/naturalspeech
Labels: plugin change

#5715 Update tick-fixer-for-mac
  plugins/tick-fixer-for-mac
Labels: plugin change

#5716 Clue scroll juggling 2.0.0 - 1 hour timer usability improvements.
  plugins/clue-scroll-juggling
Labels: plugin change

#5724 update fairy-ring-butterflies version - adding varlamore ring
  plugins/fairy-ring-butterflies
Labels: plugin change

#5726 update attack types to v1.1
  plugins/attack-types
Labels: plugin change

#5728 Update Dink to v1.9.1
  plugins/dink
Labels: plugin change

#5731 add champions-log plugin
  plugins/champions-log
Labels: plugin added, non-author plugin change

#5734 update fortis-colosseum to v1.1.3
  plugins/fortis-colosseum
Labels: plugin change

#5755 update fortis-colosseum to v1.1.4
  plugins/fortis-colosseum
Labels: plugin change

#5736 Update dynamic-inventory-tags
  plugins/dynamic-inventory-tags
Labels: plugin change

#5758 update fortis-colosseum to v1.2.0
  plugins/fortis-colosseum
Labels: plugin change

#5732 Bump shooting stars to support varlamore
  plugins/shooting-stars
Labels: plugin change

#5735 Update tree-despawn-timer to 1.4.3
  plugins/tree-despawn-timer
Labels: plugin change

#5737 Update max-hit-calculator to v1.12.4
  plugins/max-hit-calculator
Labels: plugin change

#5739 Update Star Miners
  plugins/star-calling-assist
Labels: plugin change

#5741 Update shortest-path to v1.12.3
  plugins/shortest-path
Labels: plugin change

#5742 Added Baba Yaga and Magic Emporium
  plugins/runecost
Labels: plugin change

#5743 Update FlippingUtilities
  plugins/flipping-utilities
Labels: plugin change

#5745 Adding Valamore Patches
  plugins/did-i-compost
Labels: plugin change

#5744 Clue Scroll Juggling 2.0.1 - bugfix
  plugins/clue-scroll-juggling
Labels: plugin change

#5750 Update Escape Crystal (v1.2)
  plugins/escape-crystal
Labels: plugin change

#5753 Update wikisync
  plugins/wikisync
Labels: plugin change

#5754 Updating Crondis Cap to 20k for solos
  plugins/toa-points-tracker
Labels: plugin change

#5730 Updated Advanced Mining to v1.0.7
  plugins/advanced-mining
Labels: plugin change

#5760 Update named-pets commit hash to 1.0.2
  plugins/named-pets
Labels: plugin change

#5752 Update qolting to 1.4
  plugins/qolting
Labels: plugin change

#5751 Update wom-utils
  plugins/wom-utils
Labels: plugin change

#5691 Update ruby-counter
  plugins/ruby-counter
Labels: plugin change

#5721 [Update] Friend Finder v1.4.0 - Sololegends
  plugins/friend-finder
Labels: plugin change

#5685 Update milestone levels to v1.0.4
  plugins/milestone-levels
Labels: plugin change

#5729 Update osrs-wiki-crowdsourcing
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#5768 update fortis-colosseum to v1.2.1
  plugins/fortis-colosseum
Labels: plugin change

#5770 update fortis-colosseum to v1.3.0
  plugins/fortis-colosseum
Labels: plugin change

#5771 update fortis-colosseum to v1.3.1
  plugins/fortis-colosseum
Labels: plugin change

#5714 Update Home Improvement to v1.1
  plugins/home-improvement
Labels: plugin change

#5610 Add cox-drink plugin
  plugins/cox-drink
Labels: plugin added

#5652 Create Boost Performance
  plugins/boost-performance
Labels: plugin added

#5765 Update quest-helper to 4.4.0
  plugins/quest-helper
Labels: plugin change
