Repository runelite/plugin-hub, pull requests merged in 2024-04, with the labels that each got.

#5797 Update wom-utils to v1.3.18
  plugins/wom-utils
Labels: plugin change

#5566 Move profiles repo from spedwards to jzomdev
  plugins/profiles-panel
Labels: plugin change

#5807 update fortis-colosseum to v1.3.2
  plugins/fortis-colosseum
Labels: plugin change

#5746 Update naturalspeech to 1.2.0
  plugins/naturalspeech
Labels: plugin change

#5766 [Update] Friend Finder - v1.4.2 - Sololegends
  plugins/friend-finder
Labels: plugin change

#5664 Add party tob xp drops plugin
  plugins/party-tob-xp-drops
Labels: plugin added

#5672 Create steps-per-clue
  plugins/steps-per-clue
Labels: plugin added

#5696 Create hunllef-projectiles
  plugins/hunllef-projectiles
Labels: plugin added

#5711 Create No Steven plugin
  plugins/no-steven
Labels: plugin added

#5756 Add dt2-mistake-tracker
  plugins/dt2-mistake-tracker
Labels: plugin added

#5763 Weapon Animation Replacer 3.7.0 - sound swaps.
  plugins/weapon-animation-replacer
Labels: plugin change

#5811 update fortis-colosseum to v1.4.0
  plugins/fortis-colosseum
Labels: plugin change

#5764 Custom Menu Swaps 2.4.1 - Seed vault and price checker swaps
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#5772 Update default-minimap-zoom
  plugins/default-minimap-zoom
Labels: plugin change

#5774 [Varlamore] - Updates Emote Clue Items to v4.3.0.
  plugins/emote-clue-items
Labels: plugin change

#5775 Update client-resizer
  plugins/client-resizer
Labels: plugin change

#5776 Update odablock
  plugins/odablock
Labels: plugin change

#5762 Update max-hit-calculator to latest
  plugins/max-hit-calculator
Labels: plugin change

#5738 [New Plugin] House Thieving Varlamore - v1.0.1 - Sololegends
  plugins/varlamore-house-thieving
Labels: plugin added

#5748 Update Polywoof
  plugins/polywoof
Labels: plugin change

#5777 Update animation-transmog to V2.1.2
  plugins/animation-transmog
Labels: plugin change

#5688 New plugin - Tostky Tracker.
  plugins/tostky-tracker
Labels: plugin added

#5778 Added Baba Yaga and Magic Emporium into drop down box within plugin
  plugins/runecost
Labels: plugin change

#5779 Update identificator to v1.7
  plugins/identificator
Labels: plugin change

#5782 Update inferno-stats to v2.1.6
  plugins/inferno-stats
Labels: plugin change

#5784 Update combat-roll to v1.2
  plugins/combat-roll
Labels: plugin change

#5785 Update `custom-item-hovers` to `1.1.3`
  plugins/custom-item-hovers
Labels: plugin change

#5786 Update poisoned-npcs to v0.2.0: detect enchanted emerald bolts
  plugins/poisoned-npcs
Labels: plugin change

#5787 Update banked-experience to v2.5
  plugins/banked-experience
Labels: plugin change

#5788 Update named-pets
  plugins/named-pets
Labels: plugin change

#5792 Update video-recorder to v1.1
  plugins/video-recorder
Labels: plugin change

#5794 Update Random Event Analytics | Old / null profile record NPE fix
  plugins/random-event-analytics
Labels: plugin change

#5795 Watchdog v3.3.0
  plugins/watchdog
Labels: plugin change

#5624 DropTracker re-write
  plugins/droptracker
Labels: plugin change

#5798 Weapon Charges 0.6.5
  plugins/weapon-charges-2
Labels: plugin change

#5783 Item Charges Improved - v0.5.5
  plugins/tictac7x-charges
Labels: plugin change

#5800 Update party-defence-tracker
  plugins/party-defence-tracker
Labels: plugin change

#5801 Update tzhaar-hp-tracker
  plugins/tzhaar-hp-tracker
Labels: plugin change

#5802 Update tree-despawn-timer to 1.4.4
  plugins/tree-despawn-timer
Labels: plugin change

#5780 Update World Heatmap
  plugins/world-heatmap
Labels: plugin change

#5803 Update herb-farm-calculator
  plugins/herb-farm-calculator
Labels: plugin change

#5804 Update time-tracking-reminder
  plugins/time-tracking-reminder
Labels: plugin change

#5808 3d weather to v1.2.5
  plugins/3d-weather
Labels: plugin change

#5810 Update dynamic-inventory-tags - fixes some weapons not highlighting correctly
  plugins/dynamic-inventory-tags
Labels: plugin change

#5806 Update gauntlet-map
  plugins/gauntlet-map
Labels: plugin change

#5773 add razor-kebbit-tracking
  plugins/razor-kebbit-tracking
Labels: plugin added

#5789 Create ImmersiveGroundMarkers
  plugins/immersive-ground-markers
Labels: plugin added

#5796 Create ba-tiles
  plugins/ba-tiles
Labels: plugin added

#5676 Create NPC taunts
  plugins/npctaunts
Labels: plugin added

#5749 Create rumour-reminder
  plugins/rumour-reminder
Labels: plugin added

#5805 Create target-true-tile plugin
  plugins/target-true-tile
Labels: plugin added

#5823 Update gauntlet-map -- bug fix
  plugins/gauntlet-map
Labels: plugin change

#5812 Update Jingle Jingle
  plugins/jingle-jingle
Labels: plugin change

#5815 Update wom-utils
  plugins/wom-utils
Labels: plugin change

#5818 Update dt2-mistake-tracker
  plugins/dt2-mistake-tracker
Labels: plugin change

#5819 Update World Heatmap - Super minor fix
  plugins/world-heatmap
Labels: plugin change

#5824 Update runeprofile to v1.0.3
  plugins/runeprofile
Labels: plugin change

#5829 Watchdog v3.3.1 - Region Restriction
  plugins/watchdog
Labels: plugin change

#5831 update fortis-colosseum to v1.4.1
  plugins/fortis-colosseum
Labels: plugin change

#5834 disable fortis-colosseum
  plugins/fortis-colosseum
Labels: plugin change

#5836 update fortis-colosseum to v1.4.2
  plugins/fortis-colosseum
Labels: plugin change

#5830 Update 117HD to v1.3.3
  plugins/117hd
Labels: plugin change

#5793 Update taskjingle
  plugins/taskjingle
Labels: plugin change

#5747 Add `hunter-rumours` v1.0.0
  plugins/hunter-rumours
Labels: plugin added

#5828 update champions-log
  plugins/champions-log
Labels: plugin change

#5813 Add Unbalanced Trade Prevention plugin
  plugins/unbalanced-trade-prevention
Labels: plugin added

#5816 Update creators-kit to v1.4.0
  plugins/creators-kit
Labels: plugin change

#5631 Create displaynamedisguiser
  plugins/displaynamedisguiser
Labels: plugin added

#5757 Create varlamorethieving
  plugins/varlamorethieving
Labels: plugin added

#5817 Custom Menu Swaps 2.5.0 - hotkey swaps.
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#5814 Update action-progress
  plugins/action-progress
Labels: plugin change

#5826 Update Rumour Reminder V1.1 - Temporary Rumours & Equivalent Items
  plugins/rumour-reminder
Labels: plugin change

#5827 Update runeprofile v1.0.4
  plugins/runeprofile
Labels: plugin change

#5835 Update radius-markers to v1.9.3
  plugins/radius-markers
Labels: plugin change

#5799 Add "No Player Use" plugin
  plugins/no-player-use
Labels: plugin added

#5820 Create bingo-team-indicators
  plugins/bingo-team-indicators
Labels: plugin added

#5822 add CoX Scouting QoL
  plugins/cox-scouting-qol
Labels: plugin added

#5825 Create Runepouch Loadouts Plugin
  plugins/runepouch-loadouts
Labels: plugin added

#5833 added better-tile-exporter
  plugins/better-tile-exporter
Labels: plugin added

#5837 Update shortest-path to v1.12.4
  plugins/shortest-path
Labels: plugin change

#5839 Update gauntlet-map
  plugins/gauntlet-map
Labels: plugin change

#5842 Update region-locker
  plugins/region-locker
Labels: plugin change

#5847 Update unbalanced trade prevention (v1.1)
  plugins/unbalanced-trade-prevention
Labels: plugin change

#5843 Create rogues-chest plugin v1.0.0
  plugins/rogues-chest
Labels: plugin added

#5844 Clue Scroll Juggling 2.0.2 - Bug fixes
  plugins/clue-scroll-juggling
Labels: plugin change

#5845 Update xp goalz
  plugins/xp-goalz
Labels: plugin change

#5848 Update cox-scouting-qol
  plugins/cox-scouting-qol
Labels: plugin change

#5850 Update Chat Icon for DisplayNameDisguiser
  plugins/displaynamedisguiser
Labels: plugin change

#5846 Slotless Plugin
  plugins/slotless
Labels: plugin added

#5840 Add cam torum mining plugin
  plugins/cam-torum-mining
Labels: plugin added

#5832 Updating Immersive Ground Markers
  plugins/immersive-ground-markers
Labels: plugin change

#5851 Update Dink to v1.10.0
  plugins/dink
Labels: plugin change

#5852 Update `custom-item-hovers` to `1.2.0`
  plugins/custom-item-hovers
Labels: plugin change

#5860 Custom Menu Swaps 2.5.1 - fix equipment being swapped due to bank swaps. oopsie.
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#5858 Update immersive-ground-markers
  plugins/immersive-ground-markers
Labels: plugin change

#5864 Update immersive-ground-markers
  plugins/immersive-ground-markers
Labels: plugin change

#5855 Update the WikiSync plugin and use a new version of a dependency.
  package/verification-template/build.gradle
  package/verification-template/gradle/verification-metadata.xml
  plugins/wikisync
Labels: plugin change, dependency change

#5849 Update region-locker
  plugins/region-locker
Labels: plugin change, hold for release

#5883 Watchdog v3.3.2
  plugins/watchdog
Labels: plugin change

#5853 Update displaynamedisguiser
  plugins/displaynamedisguiser
Labels: plugin change

#5856 update visual-metronome to V1.4.5.3
  plugins/visual-metronome
Labels: plugin change

#5884 Custom Menu Swaps 2.5.2 - jagex update.
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#5857 Update pokescape-pvm to V0.0.2
  plugins/pokescape-pvm
Labels: plugin change

#5859 Update runeprofile to v1.0.5
  plugins/runeprofile
Labels: plugin change

#5861 Update Monster Menu HP to 1.1.5
  plugins/menuhp
Labels: plugin change

#5865 Global chat: Bug fix when turning on plugin + lower cost
  plugins/global-chat
Labels: plugin change

#5868 Update immersive-ground-markers
  plugins/immersive-ground-markers
Labels: plugin change

#5869 Update `hunter-rumours` to `1.0.1`
  plugins/hunter-rumours
Labels: plugin change

#5873 Update 3D Weather to v1.2.6
  plugins/3d-weather
Labels: plugin change

#5874 Bugfixes for Taskjingle
  plugins/taskjingle
Labels: plugin change

#5875 Update abc-alchemy to latest version, fixing major issue.
  plugins/abc-alch
Labels: plugin change

#5867 Update line-markers to v1.3.3
  plugins/line-markers
Labels: plugin change

#5879 Update target-true-tile to 1.1.0
  plugins/target-true-tile
Labels: plugin change

#5880 Update Duck duck goose to 1.0.3
  plugins/duck-duck-goose
Labels: plugin change

#5881 Update shortest-path to v1.12.5
  plugins/shortest-path
Labels: plugin change

#5882 Updated Advanced Mining to v1.0.8
  plugins/advanced-mining
Labels: plugin change

#5871 Update `custom-item-hovers` to `1.2.2`
  plugins/custom-item-hovers
Labels: plugin change

#5878 Update Creators Kit to v1.4.1
  plugins/creators-kit
Labels: plugin change

#5886 update visual-metronome to V1.4.5.4
  plugins/visual-metronome
Labels: plugin change

#5887 Make Dude, Where's My Stuff? compatible with 1.10.27.1
  plugins/dude-wheres-my-stuff
Labels: plugin change

#5888 Custom Menu Swaps 2.5.3 - do not remove submenu options to prevent wealth transfer to black chin pkers.
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#5895 Update Bitwarden: don't snarf valid results
  plugins/bitwarden-plugin
Labels: plugin change

#5916 [Hotfix] Updates Emote Clue Items to v4.3.1.
  plugins/emote-clue-items
Labels: plugin change

#5891 Update Creators Kit to v1.4.2
  plugins/creators-kit
Labels: plugin change

#5896 Update identificator to v1.8
  plugins/identificator
Labels: plugin change

#5898 Update customizable-xp-drops 1.8.7
  plugins/customizable-xp-drops
Labels: plugin change

#5900 Update advanced-raid-tracker
  plugins/advanced-raid-tracker
Labels: plugin change

#5902 Patch natural speech
  plugins/naturalspeech
Labels: plugin change

#5906 Update animation-transmog to v2.1.3
  plugins/animation-transmog
Labels: plugin change

#5909 Update Crop Circle Tracker to 1.3.0
  plugins/crop-circle-tracker
Labels: plugin change

#5913 Update party-defence-tracker
  plugins/party-defence-tracker
Labels: plugin change

#5914 Update attack-sound-notifications
  plugins/attack-sound-notifications
Labels: plugin change

#5917 update cox-scouting-qol
  plugins/cox-scouting-qol
Labels: plugin change

#5919 Update barrows-potential
  plugins/barrows-potential
Labels: plugin change

#5921 Update fixed-mode-hide-chat
  plugins/fixed-mode-hide-chat
Labels: plugin change

#5643 Create flipping-copilot
  plugins/flipping-copilot
Labels: plugin added

#5925 Odablock Plugin Temporarily Unavailable
  plugins/odablock
Labels: plugin change

#5926 [HOTFIX] Update Odablock Report Player
  plugins/odablock
Labels: plugin change

#5931 Update fixed-mode-hide-chat
  plugins/fixed-mode-hide-chat
Labels: plugin change

#5933 Update collection-log-luck plugin
  plugins/collection-log-luck
Labels: plugin change

#5923 Update radius-markers to v1.9.4
  plugins/radius-markers
Labels: plugin change

#5922 Patch naturalspeech
  plugins/naturalspeech
Labels: plugin change

#5927 Update 3D Weather to v1.2.7
  plugins/3d-weather
Labels: plugin change

#5945 Update the WikiSync plugin
  plugins/wikisync
Labels: plugin change

#5941 Update quest-helper to 4.4.1
  plugins/quest-helper
Labels: plugin change

#5942 Update creators-kit to v1.4.3
  plugins/creators-kit
Labels: plugin change

#5944 Update action-progress
  plugins/action-progress
Labels: plugin change

#5946 Update tree-despawn-timer to 1.4.5
  plugins/tree-despawn-timer
Labels: plugin change

#5936 Update Loot Logger to v4.2
  plugins/loot-logger
Labels: plugin change

#5955 add umer-rs to list of maintainers of dey0's plugins
  plugins/cox-additions
  plugins/loading-lines
  plugins/miasma-tiles
  plugins/nightmare-timers
Labels: plugin change
