Repository runelite/plugin-hub, pull requests merged in 2024-07, with the labels that each got.

#6187 Update first-person to 1.0.1
  plugins/first-person
Labels: plugin change

#6194 Update Chat Panel to v1.9
  plugins/chatpanel
Labels: plugin change

#6198 Update log master
  plugins/log-master
Labels: plugin change

#6199 Update JebScape to 0.2.7
  plugins/jebscape
Labels: plugin change

#6202 Updated Pre-GE (Runeman Mode)
  plugins/pre-ge
Labels: plugin change

#6149 Update world-finder
  plugins/world-finder
Labels: plugin change

#6217 Update quest-helper to 4.4.4
  plugins/quest-helper
Labels: plugin change

#6203 Weapon Charges 0.6.6 blazing blowpipe and tome of fire fixes.
  plugins/weapon-charges-2
Labels: plugin change

#6219 Update click-to-minimize
  plugins/click-to-minimize
Labels: plugin change

#6133 cg-recolor
  plugins/cg-recolor
Labels: plugin added

#6229 Update Embargo-Plugin to version 1.1.1
  plugins/embargo-clan-plugin
Labels: plugin change

#6231 Update bank-equipment-stat-filter
  plugins/bank-equipment-stat-filter
Labels: plugin change

#6232 [Update] - Varlamore House Thieving - v1.3.0 - Sololegends
  plugins/varlamore-house-thieving
Labels: plugin change

#6234 Update c-engineer-completed to v1.1.1
  plugins/c-engineer-completed
Labels: plugin change

#6206 Custom Menu Swaps 2.5.5 - seed vault and bank swap fixes
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#6238 Custom Menu Swaps 2.5.6 - 2 line bug fix.
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#6040 Create camera keyframe plugin
  plugins/keyframecamera
Labels: plugin added

#6243 Update ironclad-clan-goals
  plugins/ironclad-clan-goals
Labels: plugin change

#6189 fix charge calc bug
  plugins/charge-calc
Labels: plugin change

#6047 Create combat-details plugin
  plugins/combat-details
Labels: plugin added

#6126 Create closed-door-highlighter
  plugins/closed-door-highlighter
Labels: plugin added

#6130 Create clue-details plugin
  plugins/clue-details
Labels: plugin added

#6262 Revert "add closed-door-highlighter (#6126)"
  plugins/closed-door-highlighter
Labels: plugin removed, non-author plugin change

#6134 added level-celebrator.txt to plugins
  plugins/level-celebrator
Labels: plugin added

#6135 Create monsterstats
  plugins/monsterstats
Labels: plugin added

#6263 re-fix keybinds
  plugins/charge-calc
Labels: plugin change

#6237 Update Embargo Plugin to 1.1.2
  plugins/embargo-clan-plugin
Labels: plugin change

#6196 Update raidshamer
  plugins/raidshamer
Labels: plugin change

#6139 Add tick-manipulation-helper plugin
  plugins/tick-manipulation-helper
Labels: plugin added

#6213 [Hold for release] Bank Tag Layouts 1.4.28 - deconfliction with vanilla
  plugins/bank-tag-layouts
Labels: plugin change, hold for release

#6265 Update to 4.4.6
  plugins/quest-helper
Labels: plugin change

#6266 Update Party Panel to 3.2.7
  plugins/party-panel
Labels: plugin change

#6267 Bank tag layouts 1.4.29 - fix inventory setups.
  plugins/bank-tag-layouts
Labels: plugin change

#6256 Update emotes to 0.0.5
  plugins/emotes
Labels: plugin change

#6259 Update no-bad-alchs to 1.1.3
  plugins/no-bad-alchs
Labels: plugin change

#6261 Update GP-Per-Hour to 1.6
  plugins/gp-per-hour
Labels: plugin change

#6264 Bugfix Combat details
  plugins/combat-details
Labels: plugin change

#6269 Update action-progress
  plugins/action-progress
Labels: plugin change

#6268 Update tostky-tracker
  plugins/tostky-tracker
Labels: plugin change

#6242 Update Stardust Per Hour
  plugins/stardust-per-hour
Labels: plugin change

#6239 Update wilderness-player-alarm
  plugins/wilderness-player-alarm
Labels: plugin change

#6246 Update combat-logger to v1.0.2
  plugins/combat-logger
Labels: plugin change

#6248 Update "Resizable Chat" to v1.1.0
  plugins/resizable-chat
Labels: plugin change

#6247 Update boost-performance
  plugins/boost-performance
Labels: plugin change

#6218 Tile Packs Update
  plugins/tile-packs
Labels: plugin change

#6273 Watson Clue Tracker 1.2.1 - fix for variation items update.
  plugins/watson-clue-tracker
Labels: plugin change

#6253 Update quest-helper to 4.4.7
  plugins/quest-helper
Labels: plugin change

#6271 Update customizable-xp-drops to v1.8.9
  plugins/customizable-xp-drops
Labels: plugin change

#6276 Update wilderness player alarm
  plugins/wilderness-player-alarm
Labels: plugin change

#6272 Update google-form-submitter
  plugins/google-form-submitter
Labels: plugin change

#6279 disable the champions log plugin
  plugins/champions-log
Labels: plugin change

#6255 Multi Lines plugin for non-wilderness Multi Lines
  plugins/multi-lines
Labels: plugin added

#6282 Update quest-helper to 4.7.7.1
  plugins/quest-helper
Labels: plugin change

#6283 Update clue-details to 1.0.1
  plugins/clue-details
Labels: plugin change

#6292 tobqol - v1.2.2
  plugins/tobqol
Labels: plugin change

#6287 Update customizable-xp-drops to v1.8.10
  plugins/customizable-xp-drops
Labels: plugin change

#6288 Update animation-transmog to v2.1.4
  plugins/animation-transmog
Labels: plugin change

#6289 Update `hunter-rumours` to `1.2.1`
  plugins/hunter-rumours
Labels: plugin change

#6290 Update turael-skipping to v1.0.7
  plugins/turael-skipping
Labels: plugin change

#6291 Update purchase-progress to v1.2.2
  plugins/purchase-progress
Labels: plugin change

#6270 add CODEOWNERS
  .github/CODEOWNERS
Labels: package change

#6274 Update wintertodt-scouter
  plugins/wintertodt-scouter
Labels: plugin change

#6140 Add RsPaint plugin
  plugins/rspaint
Labels: plugin added

#6137 Create: skull-prevention-reminder
  plugins/skull-prevention-reminder
Labels: plugin added

#6163 Create Drop despawn notifier
  plugins/dropdespawnnotifier
Labels: plugin added

#6295 update chinbompa
  plugins/chinbompa
Labels: plugin change

#6197 Create pest-control-notifications
  plugins/pest-control-notifications
Labels: plugin added

#6299 Update `hunter-rumours` to `1.3.0`
  plugins/hunter-rumours
Labels: plugin change

#6305 Update customizable-xp-drops to v1.8.11
  plugins/customizable-xp-drops
Labels: plugin change

#6306 Weapon Charges 0.6.7 - add dizanas quiver id and prettify menus.
  plugins/weapon-charges-2
Labels: plugin change

#6308 Update `hunter-rumours` to `1.3.1`
  plugins/hunter-rumours
Labels: plugin change

#6286 Update Monsterstats to v1.1.0
  plugins/monsterstats
Labels: plugin change

#6250 Update dt2-mistake-tracker
  plugins/dt2-mistake-tracker
Labels: plugin change

#6212 Adding Quest Voiceover Plugin
  package/verification-template/build.gradle
  package/verification-template/gradle/verification-metadata.xml
  plugins/quest-voiceover
Labels: dependency change, plugin added

#6310 Update konar-milestone-reminder for While Guthix Sleeps masters
  plugins/konar-milestone-reminder
Labels: plugin change

#6309 Update random-event-hider
  plugins/random-event-hider
Labels: plugin change

#6277 Update tile packs
  plugins/tile-packs
Labels: plugin change

#6300 Update attacktimer
  plugins/attacktimer
Labels: plugin change

#6316 Watchdog v3.4.2 - Block KQ
  plugins/watchdog
Labels: plugin change

#6317 update corp-ffa07
  plugins/corp-ffa07
Labels: plugin change

#6313 Update costume-room-highlighter
  plugins/costume-room-highlighter
Labels: plugin change

#6121 Create limpwurt-login
  plugins/limpwurt-login
Labels: plugin added

#6129 Create clue-scroll-notifier
  plugins/clue-scroll-notifier
Labels: plugin added

#6205 Added gauntlet performance tracker plugin
  plugins/gauntlet-performance-tracker
Labels: plugin added

#6225 Create linux-custom-cursor
  plugins/linux-custom-cursor
Labels: plugin added

#6227 Create Prison Sentence
  plugins/prison-sentence
Labels: plugin added

#6230 Create zoom-keybinding
  plugins/zoom-keybinding
Labels: plugin added

#6240 Create gg-hammer-reminder
  plugins/gg-hammer-reminder
Labels: plugin added

#6245 Update Tick Fixer for Mac to v1.1.0
  plugins/tick-fixer-for-mac
Labels: plugin change

#6314 Update wilderness-player-alarm
  plugins/wilderness-player-alarm
Labels: plugin change

#6311 Update GP-Per-Hour to 1.7
  plugins/gp-per-hour
Labels: plugin change

#6302 Update another-bronzeman-mode
  plugins/another-bronzeman-mode
Labels: plugin change

#6244 Update first-person to 1.0.2
  plugins/first-person
Labels: plugin change

#6258 Add Prayer or Restore plugin.
  plugins/prayer-or-restore
Labels: plugin added

#6321 Update banked-experience to v2.6
  plugins/banked-experience
Labels: plugin change

#6327 Update limpwurt-login
  plugins/limpwurt-login
Labels: plugin change

#6324 Update slayer-additions
  plugins/slayer-additions
Labels: plugin change

#6323 Update empty-forestry-basket
  plugins/empty-forestry-basket
Labels: plugin change

#6328 Update invalid-movement to v1.1
  plugins/invalid-movement
Labels: plugin change

#6334 Update invalid-movement
  plugins/invalid-movement
Labels: plugin change

#6333 Update clue-steps
  plugins/clue-steps
Labels: plugin change

#6341 update tombs-of-amascut to v2.8.0
  plugins/tombs-of-amascut
Labels: plugin change

#6344 Update skills-tab-progress-bars to 1.3.3
  plugins/skills-tab-progress-bars
Labels: plugin change

#6342 Update cox-additions
  plugins/cox-additions
Labels: plugin change

#6345 Updating plugin to use latest runelite version and fixes for text matching
  plugins/stronghold-of-security
Labels: plugin change

#6338 Update max-hit-calculator to v1.13.1
  plugins/max-hit-calculator
Labels: plugin change

#6301 Create friends-house
  plugins/friends-house
Labels: plugin added

#6347 Update Multi Lines to differentiate between normal worlds and DMM
  plugins/multi-lines
Labels: plugin change

#6348 Update friends-house
  plugins/friends-house
Labels: plugin change

#6349 Update Multi Lines to fix login behaviour with loading
  plugins/multi-lines
Labels: plugin change

#6352 [Update] - Varlamore House Thieving - v1.3.1 - Sololegends
  plugins/varlamore-house-thieving
Labels: plugin change

#6278 update nex nostalgia
  plugins/nexnostalgia
Labels: plugin change

#6356 Update shortest-path to v1.13
  plugins/shortest-path
Labels: plugin change

#6143 Add auto-tags plugin
  plugins/autotags
Labels: plugin added

#6360 Update friends-house
  plugins/friends-house
Labels: plugin change

#6359 Update click-minimap-orbs
  plugins/click-minimap-orbs
Labels: plugin change

#6361 Update agility-pyramid-slider-block-timer
  plugins/agility-pyramid-slider-block-timer
Labels: plugin change

#6012 Create recommended-equipment
  plugins/recommended-equipment
Labels: plugin added

#6364 Update shortest-path to v1.14
  plugins/shortest-path
Labels: plugin change

#6350 Bank slot/multisearch 1.0.2
  plugins/bank-multisearch
Labels: plugin change

#6365 Update Unpotted reminder to v1.0.5
  plugins/unpotted-reminder
Labels: plugin change

#6366 Update list of animations to check for when idle
  plugins/afk-threshold
Labels: plugin change

#6369 Update konar-milestone-reminder: Add customizable reminder message
  plugins/konar-milestone-reminder
Labels: plugin change

#6370 Update friends-house
  plugins/friends-house
Labels: plugin change

#6157 Create SpectralClanMgmt plugin
  plugins/spectralclanmgmt
Labels: plugin added

#6188 Add chunk-tasks plugin
  plugins/chunk-tasks
Labels: plugin added

#6210 Create nature-runecraft-utilities
  plugins/nature-runecraft-utilities
Labels: plugin added

#6236 Update bot-detector to v1.3.9.5
  plugins/bot-detector
Labels: plugin change

#6280 Update collection-log-luck
  plugins/collection-log-luck
Labels: plugin change

#6284 Update combat-logger to v1.1.0
  plugins/combat-logger
Labels: plugin change

#6296 Update action-progress
  plugins/action-progress
Labels: plugin change

#6297 Update ruby-counter
  plugins/ruby-counter
Labels: plugin change

#6304 Update embargo-clan-plugin to 1.2.0
  plugins/embargo-clan-plugin
Labels: plugin change

#6312 Support multiple webhook URLs in Discord Death Notifications
  plugins/discord-death-notifications
Labels: plugin change

#6318 Update google-form-submitter
  plugins/google-form-submitter
Labels: plugin change

#6320 Update Linux custom cursor
  plugins/linux-custom-cursor
Labels: plugin change

#6335 Update limpwurt-login
  plugins/limpwurt-login
Labels: plugin change

#6337 Update csvexport
  plugins/csvexport
Labels: plugin change

#6351 Update Dink to v1.10.3
  plugins/dink
Labels: plugin change

#6371 Revert "Create SpectralClanMgmt plugin"
  plugins/spectralclanmgmt
Labels: plugin change

#6374 Update Smart Chat Input Color to 1.5.1
  plugins/input-recolor
Labels: plugin change

#6377 Disable wintertodt-scouter
  plugins/wintertodt-scouter
Labels: plugin change

#6379 Update c-engineer-completed to v1.1.2
  plugins/c-engineer-completed
Labels: plugin change
