Repository runelite/plugin-hub, pull requests merged in 2024-09, with the labels that each got.

#6543 Updated some some boss names and added sol/araxxor
  plugins/funnybossnames
Labels: plugin change

#6544 Address NPE causing plugin to fail
  plugins/herblorerecipes
Labels: plugin change

#6547 Update inventory total
  plugins/inventory-total
Labels: plugin change

#6546 Update clue-details to 1.1.0
  plugins/clue-details
Labels: plugin change

#6548 Update Unbalanced Trade Prevention to v1.2.1
  plugins/unbalanced-trade-prevention
Labels: plugin change

#6474 Update discord-rare-drop-notificater
  plugins/discord-rare-drop-notificater
Labels: plugin change

#6532 Update collection-log-luck to support Araxxor
  plugins/collection-log-luck
Labels: plugin change

#6533 Update chat-translator
  plugins/chat-translator
Labels: plugin change

#6531 Update JebScape to v0.2.11
  plugins/jebscape
Labels: plugin change

#6537 Update google-form-submitter
  plugins/google-form-submitter
Labels: plugin change

#6539 Update Dink to v1.10.7
  plugins/dink
Labels: plugin change

#6541 Update pyramid-plunder-counter
  plugins/pyramid-plunder-counter
Labels: plugin change

#6542 Update maxhitplugin
  plugins/maxhitplugin
Labels: plugin change

#6545 [Update] - Chat Logger - v1.8.1 - Sololegends
  plugins/chat-logger
Labels: plugin change

#6518 Rewrite of Pneck Reminder
  plugins/pneck-reminder
Labels: plugin change

#6550 Update quest-helper to 4.5.4
  plugins/quest-helper
Labels: plugin change

#6551 Update cox-scouting-qol
  plugins/cox-scouting-qol
Labels: plugin change

#6554 Disable citizens
  plugins/citizens
Labels: plugin change, non-author plugin change

#6555 Disable bog plugins
  plugins/temple-trek-bog-helper
  plugins/tk-swamp-helper
Labels: plugin change, non-author plugin change

#6557 Update quest-helper to 4.5.4.1
  plugins/quest-helper
Labels: plugin change

#6562 Update clue-details to 1.1.1
  plugins/clue-details
Labels: plugin change

#6571 Update wasted-bank-space
  plugins/wasted-bank-space
Labels: plugin change

#6578 Update target-true-tile to 1.3.0
  plugins/target-true-tile
Labels: plugin change

#6506 Update pokescape-pvm to v0.6.0
  plugins/pokescape-pvm
Labels: plugin change

#6568 Update cox-scouting-qol
  plugins/cox-scouting-qol
Labels: plugin change

#6570 Updated gauntlet performance tracker to fix melee attack bug
  plugins/gauntlet-performance-tracker
Labels: plugin change

#6572 Update Itemdespawnnotifier
  plugins/dropdespawnnotifier
Labels: plugin change

#6573 Update click-to-minimize
  plugins/click-to-minimize
Labels: plugin change

#6577 [Update] - Varlamore House Thieving - v1.3.2 - Sololegends
  plugins/varlamore-house-thieving
Labels: plugin change

#6579 Update attack-ranges to 1.2.3
  plugins/attack-ranges
Labels: plugin change

#6580 Update Dink to v1.10.9
  plugins/dink
Labels: plugin change

#6582 update plank-sack to v1.3.3
  plugins/plank-sack
Labels: plugin change

#6594 Update 117HD to v1.3.3.7
  plugins/117hd
Labels: plugin change

#6595 Update region-locker
  plugins/region-locker
Labels: plugin change

#6596 Hotfix "Dude, Where's My Stuff?" to stop client crashes
  plugins/dude-wheres-my-stuff
Labels: plugin change

#6592 Add Tool Required
  plugins/tool-required
Labels: plugin added

#6513 Add legacy-escape plugin
  plugins/legacy-escape
Labels: plugin added

#6597 Update 117HD to v1.3.3.8
  plugins/117hd
Labels: plugin change

#6607 Update legacy-escape to v0.2
  plugins/legacy-escape
Labels: plugin change

#6510 Update GP-Per-Hour to 1.8
  plugins/gp-per-hour
Labels: plugin change

#6448 Added Town Crier's Cries
  plugins/town-criers-cries
Labels: plugin added

#6489 Create cooking-buddy
  plugins/cooking-buddy
Labels: plugin added

#6503 Worldhop counter
  plugins/worldhop-counter
Labels: plugin added

#6508 Create Action Logger
  plugins/action-logger
Labels: plugin added

#6429 New plugin - ectoplasmator reminder
  plugins/ectoplasmator-reminder
Labels: plugin added

#6606 Update chat-success-rates to v1.2.2
  plugins/chat-success-rates
Labels: plugin change

#6514 Special Attack Notifier plugin
  plugins/special-attack-notifier
Labels: plugin added

#6610 Update xp-drop-notify v1.0.1 (one liner bug fix)
  plugins/xp-drop-notify
Labels: plugin change

#6613 Update on-screen-notes to v1.1
  plugins/on-screen-notes
Labels: plugin change

#6599 readme: reword step for successful or failed ci check
  README.md
Labels: package change

#6614 Update GP-Per-Hour to 1.9
  plugins/gp-per-hour
Labels: plugin change

#6275 Create tictac7x-deposit-worn-items
  plugins/tictac7x-deposit-worn-items
Labels: plugin added

#6620 Urgent Fix - Cooking Buddy
  plugins/cooking-buddy
Labels: plugin change

#6621 update tick-counter
  plugins/tick-counter
Labels: plugin change

#6618 Update examine-log
  plugins/examine-log
Labels: plugin change

#6619 update tog-crowdsourcing
  plugins/tog-crowdsourcing
Labels: plugin change

#6608 update easy-giantsfoundry to v1.0.7
  plugins/easy-giantsfoundry
Labels: plugin change

#6603 update nyloer
  plugins/nyloer
Labels: plugin change

#6598 update varlamore-house-thieving to v1.4.0
  plugins/varlamore-house-thieving
Labels: plugin change

#6616 Update chat-success-rates to v1.2.3
  plugins/chat-success-rates
Labels: plugin change

#6612 update entrana to v1.0.1
  plugins/entrana
Labels: plugin change

#6611 update tick-manipulation-helper to v1.0.1
  plugins/tick-manipulation-helper
Labels: plugin change

#6584 Update Mahogany Homes to v1.7.1
  plugins/mahogany-homes
Labels: plugin change

#6586 update friend-list-viewer to v2.2
  plugins/friend-list-viewer
Labels: plugin change

#6516 Update and transfer pickpocket-helper
  plugins/pickpocket-helper
Labels: plugin change

#6553 Update JebScape to 0.3.0
  plugins/jebscape
Labels: plugin change

#6591 Update c-engineer-completed to v1.2.0
  plugins/c-engineer-completed
Labels: plugin change

#6631 Update Dink to v1.10.10
  plugins/dink
Labels: plugin change

#6645 Update InventorySetups to v1.19.3
  plugins/inventory-setups
Labels: plugin change

#6646 Disable GE Calc plugin
  plugins/gecalc
Labels: plugin change

#6653 Update tictac7x-deposit-worn-items
  plugins/tictac7x-deposit-worn-items
Labels: plugin change

#6650 tobqol - v1.2.3
  plugins/tobqol
Labels: plugin change

#6622 Update inventory total
  plugins/inventory-total
Labels: plugin change

#6626 Update chat-success-rates to v1.2.4
  plugins/chat-success-rates
Labels: plugin change

#6629 Update dt2-mistake-tracker
  plugins/dt2-mistake-tracker
Labels: plugin change

#6633 update skilling-notifications
  plugins/skilling-notifications
Labels: plugin change

#6648 Update shortest-path to v1.14.1
  plugins/shortest-path
Labels: plugin change

#6655 Create mastering-mixology
  plugins/mastering-mixology
Labels: plugin added

#6656 Update decimal-prices
  plugins/decimal-prices
Labels: plugin change

#6651 Update attack-ranges to 1.2.4
  plugins/attack-ranges
Labels: plugin change

#6664 Update placeholders-warning to 1.1
  plugins/placeholders-warning
Labels: plugin change

#6657 Update marks-of-grace-counter to 1.2.1
  plugins/marks-of-grace-counter
Labels: plugin change

#6425 Update world-heatmap
  plugins/world-heatmap
Labels: plugin change

#6666 update mastering-mixology to v1.1.0
  plugins/mastering-mixology
Labels: plugin change

#6414 Create hide-and-seek-tracker
  plugins/hide-and-seek-tracker
Labels: plugin added

#6668 Update Mahogany Homes to v1.7.2
  plugins/mahogany-homes
Labels: plugin change

#6671 Update wom-utils
  plugins/wom-utils
Labels: plugin change

#6672 update mastering-mixology to v1.2.0
  plugins/mastering-mixology
Labels: plugin change

#6673 update tostky-tracker
  plugins/tostky-tracker
Labels: plugin change

#6669 Update quest-helper to 4.5.4.2
  plugins/quest-helper
Labels: plugin change

#6667 Create LITE Regen meters
  plugins/lite-regen-meter
Labels: plugin added

#6676 Update lite-regen-meter
  plugins/lite-regen-meter
Labels: plugin change

#6680 Update wiki crowdsourcing to latest
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#6683 Ectoplasmator reminder plugin update - Varlamore Part 2 creatures
  plugins/ectoplasmator-reminder
Labels: plugin change
