Repository runelite/plugin-hub, pull requests merged in 2024-10, with the labels that each got.

#6685 Update lite-regen-meter
  plugins/lite-regen-meter
Labels: plugin change

#6560 Update tictac7x-charges to v0.5.10
  plugins/tictac7x-charges
Labels: plugin change

#6634 Update rseye-connector
  plugins/rseye-connector
Labels: plugin change

#6624 Update clue-details to 1.2.0
  plugins/clue-details
Labels: plugin change

#6642 Update flipping-copilot to v1.4.0
  plugins/flipping-copilot
Labels: plugin change

#6682 Update Party Panel to v3.3
  plugins/party-panel
Labels: plugin change

#6679 Update shortest-path to v1.15
  plugins/shortest-path
Labels: plugin change

#6636 Update quest-helper to 4.6.0
  plugins/quest-helper
Labels: plugin change

#6687 update tile packs
  plugins/tile-packs
Labels: plugin change

#6690 Update lite-regen-meter
  plugins/lite-regen-meter
Labels: plugin change

#6407 Update combat-logger to v1.1.2
  plugins/combat-logger
Labels: plugin change

#6587 Update escape-crystal-notify (v1.6)
  plugins/escape-crystal-notify
Labels: plugin change

#6406 Add menu-highlighting plugin
  plugins/menu-highlighting
Labels: plugin added

#6670 Update Star Miners
  plugins/star-calling-assist
Labels: plugin change

#6663 Update influxdb-stats
  plugins/influxdb-stats
Labels: plugin change

#6658 Update clan-activity-tracker
  plugins/clan-activity-tracker
Labels: plugin change

#6697 Update shortest-path to v1.15.1
  plugins/shortest-path
Labels: plugin change

#6675 Update marks-of-grace-counter to v1.3
  plugins/marks-of-grace-counter
Labels: plugin change

#6590 Add multi-metronome plugin
  plugins/multi-metronome
Labels: plugin added

#6684 Update target true tile
  plugins/target-true-tile
Labels: plugin change

#6644 Create hide-chat-buttons
  plugins/hide-chat-buttons
Labels: plugin added

#6699 update white-knight-rank to 1.0.2
  plugins/white-knight-rank
Labels: plugin change

#6701 Update local-consciousness to V1.1
  plugins/local-consciousness
Labels: plugin change

#6702 Update marks-of-grace-counter to v1.3.1
  plugins/marks-of-grace-counter
Labels: plugin change

#6704 Update optimal-quest-guide
  plugins/optimal-quest-guide
Labels: plugin change

#6691 Update Hub Party Panel to v3.3.1
  plugins/party-panel
Labels: plugin change

#6698 FIX: Cooking buddy
  plugins/cooking-buddy
Labels: plugin change

#6378 Update Chunk Tasks plugin
  plugins/chunk-tasks
Labels: plugin change

#6703 Update Wasted Bank Space Plugin
  plugins/wasted-bank-space
Labels: plugin change

#6710 update mastering-mixology to v1.3.0
  plugins/mastering-mixology
Labels: plugin change

#6713 Update Hub Party Panel to v3.3.2
  plugins/party-panel
Labels: plugin change

#6714 Update shortest-path to v1.15.2
  plugins/shortest-path
Labels: plugin change

#6709 Update distraction-reducer
  plugins/distraction-reducer
Labels: plugin change

#6707 templateplugin: add shadow jar task
  templateplugin/build.gradle
Labels: package change

#6720 Update shortest-path to v1.15.3
  plugins/shortest-path
Labels: plugin change

#6718 Update marks-of-grace-counter to v1.3.2
  plugins/marks-of-grace-counter
Labels: plugin change

#6722 update mastering-mixology to v1.4.0
  plugins/mastering-mixology
Labels: plugin change

#6723 update mastering-mixology to v1.4.1
  plugins/mastering-mixology
Labels: plugin change

#6724 add gpue
  plugins/gpu-experimental
Labels: plugin change

#6729 inventory-count: v1.0.2 update
  plugins/inventory-count
Labels: plugin change

#6725 Chompy hunter redux
  plugins/chompy-hunter
Labels: plugin change

#6581 Updated afk marks canifis to marks cooldown
  plugins/afk-marks-canafis
Labels: plugin change

#6604 Create tile-grid plugin
  plugins/tile-grid
Labels: plugin added

#6674 Update Dink to v1.10.11
  plugins/dink
Labels: plugin change

#6689 Bank Tag Layouts 1.4.30 - potion storage fix.
  plugins/bank-tag-layouts
Labels: plugin change

#6730 Update inventory-count
  plugins/inventory-count
Labels: plugin change

#6736 transfer ownership of the-gauntlet
  plugins/the-gauntlet
Labels: plugin change

#6733 Update pickpocket-helper to v1.0.1
  plugins/pickpocket-helper
Labels: plugin change

#6706 Update quest-helper to 4.7.0.1
  plugins/quest-helper
Labels: plugin change

#6738 Disable altered-stats
  plugins/altered-stats
Labels: plugin change

#6715 Update Loot Logger to v4.2.4
  plugins/loot-logger
Labels: plugin change

#6721 Update - OSRSKillboard - Add support for new skull Ids
  plugins/osrskillboard
Labels: plugin change

#6743 Update action-progress
  plugins/action-progress
Labels: plugin change

#6746 update white-knight-rank to 1.0.3
  plugins/white-knight-rank
Labels: plugin change

#6742 Update shortest-path to v1.16
  plugins/shortest-path
Labels: plugin change

#6748 update gpue
  plugins/gpu-experimental
Labels: plugin change

#6739 Update pickpocket-helper to v1.0.2
  plugins/pickpocket-helper
Labels: plugin change

#6747 Update emblem-trader-skull-timer
  plugins/emblem-trader-skull-timer
Labels: plugin change

#6752 Update bank-heatmap
  plugins/bank-heatmap
Labels: plugin change

#6753 update mastering-mixology to v1.5.0
  plugins/mastering-mixology
Labels: plugin change

#6744 Update clear-unsent-messages
  plugins/clear-unsent-messages
Labels: plugin change

#6751 Add vmrecolor
  plugins/vmrecolor
Labels: plugin added

#6716 Update lite-regen-meter
  plugins/lite-regen-meter
Labels: plugin change

#6750 Rainbow Rave 1.3.5 - make plugin compile again.
  plugins/rainbow-rave
Labels: plugin change

#6630 Update acoldone-clogging
  plugins/acoldone-clogging
Labels: plugin change

#6623 Update examine-log
  plugins/examine-log
Labels: plugin change

#6659 Updated GECalc to fix reported issues
  plugins/gecalc
Labels: plugin change

#6727 Discord collection logger
  plugins/discord-collection-logger
Labels: plugin change

#6726 Update discord-chat-logger
  plugins/discord-chat-logger
Labels: plugin change

#6740 Update bot-detector (small README changes)
  plugins/bot-detector
Labels: plugin change

#6600 Adds new Wintertodt-Scouter repo.
  plugins/wintertodt-scouter
Labels: plugin change

#6754 Update crop-circle-tracker to v1.4.0
  plugins/crop-circle-tracker
Labels: plugin change

#6749 Update inventory-count
  plugins/inventory-count
Labels: plugin change

#6756 Update: FIX: Issue in Modern Resize Mode
  plugins/lite-regen-meter
Labels: plugin change

#6588 Create onlyree
  plugins/onlyree
Labels: plugin added

#6593 Create sgs-savings-tracker
  plugins/sgs-savings-tracker
Labels: plugin added

#6605 Create missing-pet-notifier
  plugins/missing-pet-notifier
Labels: plugin added

#6373 Update SpectralClanMgmt plugin
  plugins/spectralclanmgmt
Labels: plugin change

#6472 Price graph opener
  plugins/price-graph-opener
Labels: plugin change

#6637 Update max-hit-calculator to v2.0.0
  plugins/max-hit-calculator
Labels: plugin change

#6777 Update: lite-regen-meter (Config setting)
  plugins/lite-regen-meter
Labels: plugin change

#6774 Update inventory total
  plugins/inventory-total
Labels: plugin change

#6770 Update wintertodt-scouter
  plugins/wintertodt-scouter
Labels: plugin change

#6759 update ba-tiles: use createSubMenu instead of setParent
  plugins/ba-tiles
Labels: plugin change

#6476 submission of custom-vital-bars plugin
  plugins/custom-vital-bars
Labels: plugin added

#6583 Update health-notifications
  plugins/health-notifications
Labels: plugin change

#6641 Ban list export
  plugins/ban-list-export
Labels: plugin added

#6686 🔥 Custom Emoji Plugin Submission
  plugins/custom-emoji
Labels: plugin added

#6705 Create skilling-boost-reminder
  plugins/skilling-boost-reminder
Labels: plugin added

#6781 Update action-progress
  plugins/action-progress
Labels: plugin change

#6411 npc-timer
  plugins/npc-timer
Labels: plugin added

#6778 license: fix typo
  LICENSE.templateplugin
Labels: package change

#6475 Added POHTreasureChestGEValue plugin.
  plugins/poh-treasure-chest-ge-value
Labels: plugin added

#6485 Update recommended-equipment
  plugins/recommended-equipment
Labels: plugin change

#6628 Watchdog - update build incrementer to not run on deploy
  plugins/watchdog
Labels: plugin change

#6635 Update DropTracker to v3.0
  plugins/droptracker
Labels: plugin change

#6660 Update pet-to-npc-transmog
  plugins/pet-to-npc-transmog
Labels: plugin change

#6717 Create six-hour-reminder
  plugins/six-hour-reminder
Labels: plugin added

#6735 Add scythe-crush-warning plugin
  plugins/scythe-crush-warning
Labels: plugin added

#6758 Update roof-toggle
  plugins/roof-toggle
Labels: plugin change

#6769 Update acoldone-clogging
  plugins/acoldone-clogging
Labels: plugin change

#6785 UPDATE: Extra placement option - LITE Regen Meters
  plugins/lite-regen-meter
Labels: plugin change

#6784 Update missing-pet-notifier
  plugins/missing-pet-notifier
Labels: plugin change

#6779 Update `custom-item-hovers` to `1.2.3`
  plugins/custom-item-hovers
Labels: plugin change

#6788 Disable slayer addtions
  plugins/slayer-additions
Labels: plugin change, non-author plugin change

#6235 adds bingo helper
  plugins/bingo-helper
Labels: plugin added

#6346 Create Equipment Lock
  plugins/equipment-lock
Labels: plugin added

#6496 Create bank-highlighter
  plugins/bank-highlighter
Labels: plugin added

#6771 Add music-favourites plugin
  plugins/music-favourites
Labels: plugin added

#6786 Tile packs update
  plugins/tile-packs
Labels: plugin change

#6787 Update gim-plugin to v2.9.1
  plugins/gim-plugin
Labels: plugin change

#6783 Create damage-sounds
  plugins/damage-sounds
Labels: plugin added

#6790 Update inventory-count
  plugins/inventory-count
Labels: plugin change

#6791 Update bank-tag-generation
  plugins/bank-tag-generation
Labels: plugin change

#6792 Update music-favourites to v1.1.0
  plugins/music-favourites
Labels: plugin change

#6789 Update Equipment-Lock
  plugins/equipment-lock
Labels: plugin change

#6795 Update music-favourites to v1.1.1
  plugins/music-favourites
Labels: plugin change

#6796 Update shortest-path to v1.16.1
  plugins/shortest-path
Labels: plugin change

#6800 Update music-favourites to v1.1.2
  plugins/music-favourites
Labels: plugin change

#6802 Fix issue with Spectralclanmgmt
  plugins/spectralclanmgmt
Labels: plugin change

#6776 Update ge-filters to v1.1.2
  plugins/ge-filters
Labels: plugin change

#6797 Update Equipment_Lock
  plugins/equipment-lock
Labels: plugin change

#6798 custom-emoji: tracked previously untracked example sound resource.
  plugins/custom-emoji
Labels: plugin change

#6804 Update for Skilling Boost Reminder
  plugins/skilling-boost-reminder
Labels: plugin change

#6805 Update inventory-count
  plugins/inventory-count
Labels: plugin change

#6793 Update damage-sounds
  plugins/damage-sounds
Labels: plugin change

#6807 Update shortest-path to v1.16.2
  plugins/shortest-path
Labels: plugin change

#6810 Update slayer-additions
  plugins/slayer-additions
Labels: plugin change

#6813 update tick-counter to v1.2.0
  plugins/tick-counter
Labels: plugin change

#6688 Update Twitch Live Loadout to v2.2.0
  plugins/twitch-live-loadout
Labels: plugin change

#6799 Update Chat Panel to v2.0
  plugins/chatpanel
Labels: plugin change

#6806 Add chugging-barrel v1.0.0
  plugins/chugging-barrel
Labels: plugin added

#6808 Update OnlyRee
  plugins/onlyree
Labels: plugin change

#6809 Update Loot Logger to v4.2.5
  plugins/loot-logger
Labels: plugin change

#6811 Update six-hour-reminder
  plugins/six-hour-reminder
Labels: plugin change

#6816 Update chugging-barrel to v1.0.1
  plugins/chugging-barrel
Labels: plugin change

#6815 Update inventory total
  plugins/inventory-total
Labels: plugin change

#6817 Updated barrows-potential
  plugins/barrows-potential
Labels: plugin change

#6801 Update examine-log UI overhaul
  plugins/examine-log
Labels: plugin change

#6819 Update quest-helper to 4.7.1
  plugins/quest-helper
Labels: plugin change

#6820 Update frost bars
  plugins/frost-hp-run
Labels: plugin change

#6822 Update firstperson to 2.0.1
  plugins/first-person
Labels: plugin change

#6824 Update Equipment_Lock (Minor config change)
  plugins/equipment-lock
Labels: plugin change

#6826 update tombs-of-amascut to v2.10.0
  plugins/tombs-of-amascut
Labels: plugin change

#6825 Upated GECalc to 1.2.1
  plugins/gecalc
Labels: plugin change

#6773 Update random-hopper to v1.3
  plugins/random-hopper
Labels: plugin change

#6830 update tombs-of-amascut to v2.10.1
  plugins/tombs-of-amascut
Labels: plugin change

#6827 Add new plugin compass-camera-control
  plugins/compass-camera-control
Labels: plugin added

#6505 Create monster-monitor
  plugins/monster-monitor
Labels: plugin added

#6823 Update pet-to-npc-transmog
  plugins/pet-to-npc-transmog
Labels: plugin change
