Repository runelite/plugin-hub, pull requests merged in 2024-08, with the labels that each got.

#6191 Create local-consciousness
  plugins/local-consciousness
Labels: plugin added

#6389 Update resource-packs
  plugins/resource-packs
Labels: plugin change

#6193 Create boss_voicer
  plugins/boss-voicer
Labels: plugin added

#6390 Create `Odablock DMM Finale` plugin
  plugins/odablock-dmm-finale
Labels: plugin added

#6393 Update odablock-dmm-finale
  plugins/odablock-dmm-finale
Labels: plugin change

#6395 Disable `Odablock DMM Finale` plugin
  plugins/odablock-dmm-finale
Labels: plugin change

#6387 Update Tile Packs
  plugins/tile-packs
Labels: plugin change

#6392 Update no-bad-alchs to 1.1.4
  plugins/no-bad-alchs
Labels: plugin change

#6391 Update costume-room-highlighter
  plugins/costume-room-highlighter
Labels: plugin change

#6396 Poisoned NPCs v0.3.0
  plugins/poisoned-npcs
Labels: plugin change

#6376 Create dimmer
  plugins/dimmer
Labels: plugin added

#6400 Update Dink to v1.10.4
  plugins/dink
Labels: plugin change

#6384 Fix autotags config group name
  plugins/autotags
Labels: plugin change

#6386 Create attack-ranges
  plugins/attack-ranges
Labels: plugin added

#6385 Update Embargo to 1.2.1
  plugins/embargo-clan-plugin
Labels: plugin change

#6388 Update Pneck reminder to add necklace of faith
  plugins/pneck-reminder
Labels: plugin change

#6398 Updated Advanced Mining to v1.0.10
  plugins/advanced-mining
Labels: plugin change

#6401 Update attack-ranges to 1.0.1
  plugins/attack-ranges
Labels: plugin change

#6357 Update Multi lines
  plugins/multi-lines
Labels: plugin change

#6358 Update discord-chat-logger
  plugins/discord-chat-logger
Labels: plugin change

#6368 Update supplies-tracker v3.0.4
  plugins/supplies-tracker
Labels: plugin change

#6372 Updated Linux custom cursor
  plugins/linux-custom-cursor
Labels: plugin change

#6375 Update combat-logger to v1.1.1
  plugins/combat-logger
Labels: plugin change

#6404 Update quest-helper to 4.5.0
  plugins/quest-helper
Labels: plugin change

#6417 Update slayer-wiki
  plugins/slayer-wiki
Labels: plugin change

#6412 Update Smart Chat Input Color to 1.5.2
  plugins/input-recolor
Labels: plugin change

#6421 Update frost hp & run
  plugins/frost-hp-run
Labels: plugin change

#6319 [Update] Quest Voiceover Plugin - v1.0
  plugins/quest-voiceover
Labels: plugin change

#6422 Watchdog v3.4.3
  plugins/watchdog
Labels: plugin change

#6420 Update xp goalz
  plugins/xp-goalz
Labels: plugin change

#6419 Update inventory total
  plugins/inventory-total
Labels: plugin change

#6405 Update attack-ranges to 1.1.0
  plugins/attack-ranges
Labels: plugin change

#6424 Update tob-damage-counter plugin to version 1.3
  plugins/tob-damage-counter
Labels: plugin change

#6402 Update Slayer Assistant v1.2.0
  plugins/slayer-assistant
Labels: plugin change

#6408 Update seaweed-spore-notifier to v1.1.2
  plugins/seaweed-spore-notifier
Labels: plugin change

#6434 Update sound-alerts
  plugins/sound-alerts
Labels: plugin change

#6428 Update c-engineer-completed to v1.1.4
  plugins/c-engineer-completed
Labels: plugin change

#6436 update inventory-setups to v1.19.2
  plugins/inventory-setups
Labels: plugin change, hold for release, non-author plugin change

#6438 Update quest-helper to 4.5.1
  plugins/quest-helper
Labels: plugin change

#6440 Update on-screen-notes
  plugins/on-screen-notes
Labels: plugin change

#6441 Update quest-helper to 4.5.2
  plugins/quest-helper
Labels: plugin change

#6442 Update Loot Logger to v4.2.2
  plugins/loot-logger
Labels: plugin change

#6443 Updated Banked Experience to v2.6.1
  plugins/banked-experience
Labels: plugin change

#6449 Update better-npc-highlight
  plugins/better-npc-highlight
Labels: plugin change

#6453 Menu updates for price-graph-opener - version 1.0.1
  plugins/price-graph-opener
Labels: plugin change

#6446 Hotfix Dude, Where's My Stuff? to work with 1.10.36
  plugins/dude-wheres-my-stuff
Labels: plugin change

#6447 Update wasted-bank-space
  plugins/wasted-bank-space
Labels: plugin change

#6454 Update Creator's Kit to v1.5.2
  plugins/creators-kit
Labels: plugin change

#6445 Patch naturalspeech
  plugins/naturalspeech
Labels: plugin change

#6455 update
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#6456 submenuEntry -> submenu x 100
  plugins/weapon-charges-2
Labels: plugin change

#6451 Update Jebscape to v0.2.8
  plugins/jebscape
Labels: plugin change

#6452 Update marks-of-grace-counter to v1.2
  plugins/marks-of-grace-counter
Labels: plugin change

#6457 Weapon animation replacer 3.7.2 fix for jagex female bears.
  plugins/weapon-animation-replacer
Labels: plugin change

#6144 Create Ent-trimmer plugin
  plugins/ent-trimmer
Labels: plugin added

#6465 Update Pet the capybara
  plugins/pet-the-capybara
Labels: plugin change

#6464 Update customizable-xp-drops to v1.8.12
  plugins/customizable-xp-drops
Labels: plugin change

#6460 Custom Menu Swaps 2.5.9 - regression fix.
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#6470 Update dt2-mistake-tracker
  plugins/dt2-mistake-tracker
Labels: plugin change

#6471 CMS 2.5.10 - bug fix.
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#6462 update chat-logger to v1.8.0
  plugins/chat-logger
Labels: plugin change

#6480 Update fashionscape to 1.3.0
  plugins/fashionscape
Labels: plugin change

#6463 Update JebScape to v0.2.9
  plugins/jebscape
Labels: plugin change

#6481 update tombs-of-amascut to v2.9.0
  plugins/tombs-of-amascut
Labels: plugin change

#6482 Update Banked Experience to v2.6.2
  plugins/banked-experience
Labels: plugin change

#6468 Update konar-milestone-reminder - WGS masters fix again
  plugins/konar-milestone-reminder
Labels: plugin change

#6479 Update customizable-xp-drops to v1.8.13
  plugins/customizable-xp-drops
Labels: plugin change

#6491 Update clue-details to 1.0.3
  plugins/clue-details
Labels: plugin change

#6492 Update quest-helper to 4.5.3
  plugins/quest-helper
Labels: plugin change

#6294 Create pet-to-npc-transmog
  plugins/pet-to-npc-transmog
Labels: plugin added

#6486 Update tictac7x-charges
  plugins/tictac7x-charges
Labels: plugin change

#6487 Update nature-runecraft-utilities
  plugins/nature-runecraft-utilities
Labels: plugin change

#6490 Update pvp-performance-tracker to v1.5.9
  plugins/pvp-performance-tracker
Labels: plugin change

#6509 Update c-engineer-completed to v1.1.5
  plugins/c-engineer-completed
Labels: plugin change

#6484 Update JebScape to v0.2.10
  plugins/jebscape
Labels: plugin change

#6478 Update attack-ranges to 1.2.0
  plugins/attack-ranges
Labels: plugin change

#6504 Update dynamic-inventory-tags - fixes plugin
  plugins/dynamic-inventory-tags
Labels: plugin change

#6515 Update thrall-helper to v1.9
  plugins/thrall-helper
Labels: plugin change

#6380 Add Obelisk Reminder plugin
  plugins/obelisk-reminder
Labels: plugin added

#6519 Update thrall-helper to v1.9.1
  plugins/thrall-helper
Labels: plugin change

#6522 Update customizable-xp-drops to v1.8.14
  plugins/customizable-xp-drops
Labels: plugin change

#6521 Update attack-ranges to 1.2.1
  plugins/attack-ranges
Labels: plugin change

#6526 Update time-tracking-reminder
  plugins/time-tracking-reminder
Labels: plugin change

#6528 Update clue-details 1.0.4
  plugins/clue-details
Labels: plugin change

#6529 Update wom-utils
  plugins/wom-utils
Labels: plugin change

#6409 Update shift-remapping to v1.0.2
  plugins/shift-remapping
Labels: plugin change

#6426 Update reword-manager to 1.4.0
  plugins/reword-manager
Labels: plugin change

#6432 Update tictac7x-rooftops
  plugins/tictac7x-rooftops
Labels: plugin change

#6435 Update Dink to v1.10.6
  plugins/dink
Labels: plugin change

#6473 Update sound-alerts
  plugins/sound-alerts
Labels: plugin change

#6497 Update health-notifications
  plugins/health-notifications
Labels: plugin change

#6499 Update line-markers to v1.3.4
  plugins/line-markers
Labels: plugin change

#6502 Acoldone clogging
  plugins/acoldone-clogging
Labels: plugin change

#6501 Update no-examine to v1.5
  plugins/no-examine
Labels: plugin change

#6488 Update delayed-healing
  plugins/delayed-healing
Labels: plugin change

#6500 Update sandstone-buckets-counter
  plugins/sandstone-buckets-counter
Labels: plugin change

#6477 Bank black list: add Shift click menu to add/remove feature
  plugins/bank-black-list
Labels: plugin change

#6511 Update Embargo plugin to v1.2.2
  plugins/embargo-clan-plugin
Labels: plugin change

#6527 Update - Entity masker
  plugins/entity-masker
Labels: plugin change

#6495 Update Resting to v1.1.5
  plugins/resting
Labels: plugin change

#6354 Update flipping-copilot
  plugins/flipping-copilot
Labels: plugin change

#6530 Update turael-skipping to v1.0.8
  plugins/turael-skipping
Labels: plugin change

#6536 Update time-tracking-reminder
  plugins/time-tracking-reminder
Labels: plugin change

#6535 Update Unbalanced Trade Prevention (v1.2)
  plugins/unbalanced-trade-prevention
Labels: plugin change

#6525 Update wasted-bank-space
  plugins/wasted-bank-space
Labels: plugin change

#6538 Update target-true-tile to 1.2.1
  plugins/target-true-tile
Labels: plugin change

#6540 Update attack-ranges to 1.2.2
  plugins/attack-ranges
Labels: plugin change
