Repository runelite/plugin-hub, pull requests merged in 2024-02, with the labels that each got.

#5466 bump tray notifications to v1.2
  plugins/tray-notifications
Labels: plugin change

#5467 Nyloer logo change
  plugins/nyloer
Labels: plugin change

#5464 Update Dink to v1.8.4
  plugins/dink
Labels: plugin change

#5471 Bank tag layouts 1.4.23 - bank tags plugin rewrite fix.
  plugins/bank-tag-layouts
Labels: plugin change

#5363 Update 3D Weather to v1.2.2
  plugins/3d-weather
Labels: plugin change

#5372 Update tick-fixer-for-mac
  plugins/tick-fixer-for-mac
Labels: plugin change

#5472 Update no-bad-alchs to 1.1.2
  plugins/no-bad-alchs
Labels: plugin change

#5468 added big fish probability plugin
  plugins/big-fish-probability
Labels: plugin added

#5474 add on-screen-notes
  plugins/on-screen-notes
Labels: plugin added

#5475 Update area-mute to v1.1
  plugins/area-mute
Labels: plugin change

#5477 Update Hide widgets
  plugins/hide-widgets
Labels: plugin change

#5328 Updated DropTracker to v2.3
  plugins/droptracker
Labels: plugin change

#5340 Add escape crystal
  plugins/escape-crystal
Labels: plugin added

#5244 Create Collection Log Luck plugin
  package/verification-template/build.gradle
  package/verification-template/gradle/verification-metadata.xml
  plugins/collection-log-luck
Labels: dependency change, plugin added

#5346 Add combat-logger plugin
  plugins/combat-logger
Labels: plugin added

#5353 Create pneck-reminder
  plugins/pneck-reminder
Labels: plugin added

#5357 Create player-numeric-stats
  plugins/player-numeric-stats
Labels: plugin added

#5378 Create ToA Spellbook Reminder
  plugins/toa-spellbook-reminder
Labels: plugin added

#5476 update Translator plugin
  plugins/translator
Labels: plugin change

#5479 Update Creators Kit to v1.3.2
  plugins/creators-kit
Labels: plugin change

#5486 Update Collection log plugin to v3.1.3
  plugins/collection-log
Labels: plugin change

#5488 update fairy-ring-butterflies to fix an issue with scurrius' lair breaking ring recolour
  plugins/fairy-ring-butterflies
Labels: plugin change

#5489 Add alert notification to Escape Crystal (v1.1)
  plugins/escape-crystal
Labels: plugin change

#5490 Update Combat Logger to v0.0.2
  plugins/combat-logger
Labels: plugin change

#5491 Update equipment-inspector
  plugins/equipment-inspector
Labels: plugin change

#5495 Update nex-split-tracker
  plugins/nex-split-tracker
Labels: plugin change

#5392 add google-form-submitter
  plugins/google-form-submitter
Labels: plugin added

#5399 CombatStyleIcons Plugin v1
  plugins/combatstyleicons
Labels: plugin added

#5506 Bank Tag Layouts 1.4.24 - fix button not showing up.
  plugins/bank-tag-layouts
Labels: plugin change

#5507 Combat level mutin
  plugins/zom-combat-level-muting
Labels: plugin change

#5512 Update bank-screenshot to v3.2
  plugins/bank-screenshot
Labels: plugin change

#5418 Update Stealing Artefacts to v1.3
  plugins/stealing-artefacts
Labels: plugin change

#5356 Update JebScape to v0.2.4
  plugins/jebscape
Labels: plugin change

#5508 Update toa-mistake-tracker to v1.5
  plugins/toa-mistake-tracker
Labels: plugin change

#5405 Create pokescape-pvm
  plugins/pokescape-pvm
Labels: plugin added

#5525 Update JebScape
  plugins/jebscape
Labels: plugin change

#5523 update bank value tracker
  plugins/bank-value-tracker
Labels: plugin change

#5501 Update collapsible-modern-chat
  plugins/collapsible-modern-chat
Labels: plugin change

#5492 Update gim-plugin to v2.8.1
  plugins/gim-plugin
Labels: plugin change

#5493 Update action-progress
  plugins/action-progress
Labels: plugin change

#5503 Update radius-markers to v1.9.2
  plugins/radius-markers
Labels: plugin change

#5513 Update client-resizer
  plugins/client-resizer
Labels: plugin change

#5419 Add visual-npc-dialogue
  plugins/visual-npc-dialogue
Labels: plugin added

#5422 Add ecumenical-key-tracker
  plugins/ecumenical-key-tracker
Labels: plugin added

#5430 Create placeholders-warning
  plugins/placeholders-warning
Labels: plugin added

#5426 Added Audible loot notification plugin
  plugins/audiblelootnotification
Labels: plugin added

#5442 Create ModifiedLeftClickDropper
  plugins/modified-left-click-dropper
Labels: plugin added

#5465 Update OldSchoolSnitch to 1.1.0
  plugins/old-school-snitch
Labels: plugin change

#5478 added picklechicken plugin
  plugins/pickle-chicken
Labels: plugin added

#5483 Create inner-zoom-limit
  plugins/inner-zoom-limit
Labels: plugin added

#5497 Home Improvement Plugin
  plugins/home-improvement
Labels: plugin added

#5500 Update xp goalz
  plugins/xp-goalz
Labels: plugin change

#5504 Watchdog v3.2.0
  plugins/watchdog
Labels: plugin change

#5515 Update arceuus-timers
  plugins/arceuus-timers
Labels: plugin change

#5516 Update nylo-death-indicators to v1.0.11
  plugins/nylo-death-indicators
Labels: plugin change

#5514 Update instant inventory to v1.2.0
  plugins/instant-inventory
Labels: plugin change

#5510 Update collection-log-luck with visual overlay
  plugins/collection-log-luck
Labels: plugin change

#5502 Update Chat Panel to v1.5
  plugins/chatpanel
Labels: plugin change

#5524 Update Inventory Setups to v1.17
  plugins/inventory-setups
Labels: plugin change

#5527 Update Bossing Info- Add Scurrius boss.
  plugins/kph-tracker
Labels: plugin change

#5556 Audible loot notification
  plugins/audiblelootnotification
Labels: plugin change

#5530 update lootbag utilities to 1.3.2
  plugins/lootbag-utilities
Labels: plugin change

#5531 Update party-hotkeys
  plugins/party-hotkeys
Labels: plugin change

#5534 Update Reword manager to 1.3.0
  plugins/reword-manager
Labels: plugin change

#5518 Update google-form-submitter
  plugins/google-form-submitter
Labels: plugin change

#5519 Update escape-crystal-notify
  plugins/escape-crystal-notify
Labels: plugin change

#5540 Update line-markers to v1.3.2
  plugins/line-markers
Labels: plugin change

#5536 Update max-hit-calculator to latest
  plugins/max-hit-calculator
Labels: plugin change

#5511 Create drop-log
  plugins/drop-log
Labels: plugin added

#5520 Create Ruby counter
  plugins/ruby-counter
Labels: plugin added

#5547 Default Tab - Fix - v1.0.2
  plugins/defaulttab
Labels: plugin change

#5565 Update InventorySetups rune pouch loadouts patch
  plugins/inventory-setups
Labels: plugin change

#5517 Update Polywoof
  plugins/polywoof
Labels: plugin change

#5532 Create Poisoned NPCs plugin
  plugins/poisoned-npcs
Labels: plugin added

#5533 Create spec-dialogue
  plugins/spec-dialogue
Labels: plugin added

#5550 Update log-master
  plugins/log-master
Labels: plugin change

#5549 Update frost hp and run
  plugins/frost-hp-run
Labels: plugin change

#5552 Update action-progress
  plugins/action-progress
Labels: plugin change

#5553 Update pvmtickcounter
  plugins/pvmtickcounter
Labels: plugin change

#5554 Update JebScape to v0.2.5
  plugins/jebscape
Labels: plugin change

#5557 Update audiblelootnotification
  plugins/audiblelootnotification
Labels: plugin change

#5558 v0.5.1 - hotfix snapdragon name
  plugins/tictac7x-charges
Labels: plugin change

#5559 Update creators-kit to v1.3.3
  plugins/creators-kit
Labels: plugin change

#5562 Update shortest-path
  plugins/shortest-path
Labels: plugin change

#5564 Update escape-crystal-notify
  plugins/escape-crystal-notify
Labels: plugin change

#5569 update tombs-of-amascut to v2.6.3
  plugins/tombs-of-amascut
Labels: plugin change

#5570 Update Mahogany Homes (v1.7)
  plugins/mahogany-homes
Labels: plugin change

#5572 Update Spec Dialogue
  plugins/spec-dialogue
Labels: plugin change

#5573 Update 3D Weather to v1.2.4
  plugins/3d-weather
Labels: plugin change

#5574 Update combat-logger to v0.0.4
  plugins/combat-logger
Labels: plugin change

#5575 v0.5.2 - fix ash sanctifier
  plugins/tictac7x-charges
Labels: plugin change

#5580 Update Market Watcher to V1.1.0
  plugins/market-watcher
Labels: plugin change

#5581 Update PartyHealthStatus to v1.4
  plugins/party-health-status
Labels: plugin change

#5584 Updated Advanced Mining v1.0.2
  plugins/advanced-mining
Labels: plugin change

#5587 Update action-progress
  plugins/action-progress
Labels: plugin change

#5588 collection-log-luck: Update README and luck display text
  plugins/collection-log-luck
Labels: plugin change

#5590 Update shortest-path to v1.12.2
  plugins/shortest-path
Labels: plugin change

#5596 tob qol - v1.2.2
  plugins/tobqol
Labels: plugin change

#5595 Update looting-bag-value to v2.0.1
  plugins/looting-bag-value
Labels: plugin change

#5597 Update cox-qol
  plugins/cox-qol
Labels: plugin change

#5598 Update impolite-slayer to v1.1
  plugins/impolite-slayer
Labels: plugin change

#5601 Updated Advanced Mining to v1.0.3
  plugins/advanced-mining
Labels: plugin change

#5602 Update ecumenical-key-tracker
  plugins/ecumenical-key-tracker
Labels: plugin change

#5605 Update combat-logger to v0.0.5
  plugins/combat-logger
Labels: plugin change

#5607 Fix username loading when using the Jagex launcher
  plugins/bank-value-tracker
Labels: plugin change
