Repository runelite/plugin-hub, pull requests merged in 2024-01, with the labels that each got.

#5193 Update default-minimap-zoom
  plugins/default-minimap-zoom
Labels: plugin change

#5192 Update random-event-hider
  plugins/random-event-hider
Labels: plugin change

#5215 Update identificator to v1.5
  plugins/identificator
Labels: plugin change

#5323 Update instant-damage-calculator
  plugins/instant-damage-calculator
Labels: plugin change

#5333 Update tree-despawn-timer to 1.3.2
  plugins/tree-despawn-timer
Labels: plugin change

#5296 Update calculator-pro
  plugins/calculator-pro
Labels: plugin change

#5283 Update Dink to v1.8.1
  plugins/dink
Labels: plugin change

#5316 Update OSRSProfile Plugin
  plugins/osrsprofile
Labels: plugin change

#5309 [Update] Sololegends Friend Finder - v1.3.1
  plugins/friend-finder
Labels: plugin change

#5302 Update Automatic Low Detail to v1.1.1
  plugins/low-detail-raids
Labels: plugin change

#5303 Weapon animation replacer 3.6.0
  plugins/weapon-animation-replacer
Labels: plugin change

#5306 Update not-enough-runes to v1.5
  plugins/not-enough-runes
Labels: plugin change

#5310 Update Pvmtickcounter
  plugins/pvmtickcounter
Labels: plugin change

#5315 Update customizable-xp-drops to v1.8.3
  plugins/customizable-xp-drops
Labels: plugin change

#5318 Update herbi-afk to v2.0
  plugins/herbi-afk
Labels: plugin change

#5321 Update boss-health-indicators to 1.2
  plugins/boss-health-indicators
Labels: plugin change

#5322 tobqol: fix overlays
  plugins/tobqol
Labels: plugin change

#5324 Update region-locker
  plugins/region-locker
Labels: plugin change

#5330 Update effective-level
  plugins/effective-level
Labels: plugin change

#5331 Update JebScape to v0.2.1
  plugins/jebscape
Labels: plugin change

#5335 Update herb-farm-calculator
  plugins/herb-farm-calculator
Labels: plugin change

#5336 Update npc-id to v1.3.1
  plugins/npc-id
Labels: plugin change

#5190 Updated ChatPanel to v1.1
  plugins/chatpanel
Labels: plugin change

#5347 Update identificator to v1.6
  plugins/identificator
Labels: plugin change

#5348 Update Dude Where's My Stuff? (minor, adds a disclaimer)
  plugins/dude-wheres-my-stuff
Labels: plugin change

#4830 Add Tick Fixer for Mac plugin
  plugins/tick-fixer-for-mac
Labels: plugin added

#4981 adding lowest xp plugin
  plugins/lowest-xp-order
Labels: plugin added

#5092 Create tzhaar-hp-tracker
  plugins/tzhaar-hp-tracker
Labels: plugin added

#5106 Create escape-crystal-notify
  plugins/escape-crystal-notify
Labels: plugin added

#5137 Add tob notification plugin
  plugins/tob-notification
Labels: plugin added

#5142 Here's Trouble Plugin
  plugins/heres-trouble
Labels: plugin added

#5153 This plugin recolors herb seeds to they match their respective herb
  plugins/recolored-herb-seeds
Labels: plugin added

#5184 Party World Map Pin
  plugins/party-map-pin
Labels: plugin added

#5247 Update wilderness-player-alarm
  plugins/wilderness-player-alarm
Labels: plugin change

#5298 Adding font settings
  plugins/npc-idle-timer-plugin
Labels: plugin change

#5339 Update goal-tracker to v1.0.4
  plugins/goal-tracker
Labels: plugin change

#5350 Pre-GE rebrand (now Rune Man Mode)
  plugins/pre-ge
Labels: plugin change

#5351 Update Dude Where's My Stuff? (minor, adds a toggle to a disclaimer)
  plugins/dude-wheres-my-stuff
Labels: plugin change

#5354 Update identificator to v1.6.1
  plugins/identificator
Labels: plugin change

#5360 Undying retribution timer
  plugins/undying-retribution-timer
Labels: plugin change

#5367 Update quest-helper to 4.2.2
  plugins/quest-helper
Labels: plugin change

#5368 Update/fix level-up-quest-requirements
  plugins/level-up-quest-requirements
Labels: plugin change

#5358 Update snake to v2.0
  plugins/snake
Labels: plugin change

#5369 Update quest-helper to 4.2.3
  plugins/quest-helper
Labels: plugin change

#5370 update to pull in new hosidius vinery fairy ring
  plugins/fairy-ring-butterflies
Labels: plugin change

#5371 Update Dink to v1.8.2
  plugins/dink
Labels: plugin change

#5345 Create item-xp plugin v0.1
  plugins/item-xp
Labels: plugin added

#5375 Update easy-blastfurnace to v1.4.5
  plugins/easy-blastfurnace
Labels: plugin change

#5376 Update funnybossnames
  plugins/funnybossnames
Labels: plugin change

#5359 readme: add CI build failed step
  README.md
Labels: documentation, package change

#5304 [flatlaf] Update wom-utils
  plugins/wom-utils
Labels: plugin change

#5305 [flatlaf] Update chat-success-rates, line-markers, radius-markers
  plugins/chat-success-rates
  plugins/line-markers
  plugins/radius-markers
Labels: plugin change

#5308 [flatlaf] Update not-enough-runes
  plugins/not-enough-runes
Labels: plugin change

#5311 [flatlaf] InventorySetups flatlaf migration
  plugins/inventory-setups
Labels: plugin change

#5312 [flatlaf] Update zulrah-helper
  plugins/zulrah-helper
Labels: plugin change

#5329 [flatlaf] Star Miners
  plugins/star-calling-assist
Labels: plugin change

#5338 [flatlaf] quest helper
  plugins/quest-helper
Labels: plugin change

#5352 [flatlaf] Update chatpanel to v1.2
  plugins/chatpanel
Labels: plugin change

#5211 Add Scouting plugin
  plugins/event-scouting
Labels: plugin added

#5377 Update inventory total
  plugins/inventory-total
Labels: plugin change

#5384 update tombs-of-amascut to v2.6.2
  plugins/tombs-of-amascut
Labels: plugin change

#5382 Update bot-detector to v1.3.9.3 (FlatLaf)
  plugins/bot-detector
Labels: plugin change

#5385 update resource-packs to v1.4.9 (Flatlaf)
  plugins/resource-packs
Labels: plugin change

#5386 [flatlaf] Update elysiumevents-plugin
  plugins/elysiumevents-plugin
Labels: plugin change

#5381 FlippingUtilities
  plugins/flipping-utilities
Labels: plugin change

#5387 update keepassxc to 1.2.1
  plugins/keepassxc
Labels: plugin change

#5390 Update Banked Experience (v2.4.2)
  plugins/banked-experience
Labels: plugin change

#5391 [flatlaf] Update equipment-inspector
  plugins/equipment-inspector
Labels: plugin change

#5299 Update herblorerecipes to load cache on LOGGED_IN
  plugins/herblorerecipes
Labels: plugin change

#5388 Update shop-calculator
  plugins/shop-calculator
Labels: plugin change

#5389 Update Player Pronouns
  plugins/player-pronouns
Labels: plugin change

#5393 Add shift click option to equipment-inspector config
  plugins/equipment-inspector
Labels: plugin change

#5398 Update focus-mute
  plugins/focus-mute
Labels: plugin change

#5406 Update Event-Scouting plugin
  plugins/event-scouting
Labels: plugin change

#5396 [flatlaf] Update hunllef-helper to v1.4.1
  plugins/hunllef-helper
Labels: plugin change

#5232 added TombsOfAmascutStats plugin
  plugins/tombs-of-amascut-stats
Labels: plugin added

#5239 Create Click Confirm
  plugins/click-confirm
Labels: plugin added

#5245 Add animation-skipper
  plugins/animation-skipper
Labels: plugin added

#5261 Update Creators-Kit to v1.3.0
  plugins/creators-kit
Labels: plugin change

#5433 update dps-calculator to v2.4.0
  plugins/dps-calculator
Labels: plugin change

#5434 [Hotfix] Updates Emote Clue Items to v4.2.2.
  plugins/emote-clue-items
Labels: plugin change

#5395 [Equipment-inspector] Adding members icons when inspecting in f2p
  plugins/equipment-inspector
Labels: plugin change

#5435 Fix another-bronzeman-mode incompatibilty.
  plugins/another-bronzeman-mode
Labels: plugin change

#5437 Update virtual-level-ups
  plugins/virtual-level-ups
Labels: plugin change

#5436 update gp per hour to 1.3
  plugins/gp-per-hour
Labels: plugin change

#5415 Update client-resizer
  plugins/client-resizer
Labels: plugin change

#5400 Update pvp-performance-tracker to v1.5.8 (Flatlaf fix)
  plugins/pvp-performance-tracker
Labels: plugin change

#5413 Update fashionscape to 1.2.4
  plugins/fashionscape
Labels: plugin change

#5394 Updates WOM endpoint
  plugins/name-change-detector
Labels: plugin change

#5402 Update altered-stats
  plugins/altered-stats
Labels: plugin change

#5403 Update collapsible-modern-chat
  plugins/collapsible-modern-chat
Labels: plugin change

#5404 Update quest-helper to 4.2.5
  plugins/quest-helper
Labels: plugin change

#5407 Update item-xp to v0.2
  plugins/item-xp
Labels: plugin change

#5409 Custom menu swaps 2.3.0 - add max cape swaps.
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#5411 Update frost hp and run
  plugins/frost-hp-run
Labels: plugin change

#5412 Update toa-gear-check
  plugins/toa-gear-check
Labels: plugin change

#5414 Update Collection log plugin to v3.1.2
  plugins/collection-log
Labels: plugin change

#5420 Update max-hit-calculator to v1.10.3
  plugins/max-hit-calculator
Labels: plugin change

#5421 Update event-scouting
  plugins/event-scouting
Labels: plugin change

#5410 Update tree-despawn-timer to 1.4.0
  plugins/tree-despawn-timer
Labels: plugin change

#5429 alch-blocker: v1.5 update
  plugins/alch-blocker
Labels: plugin change

#5439 Fix Keris Cam
  plugins/zom-keris-cam
Labels: plugin change

#5448 Update Plugin Presets to v2.8.1
  plugins/plugin-presets
Labels: plugin change

#5443 WastedBankSpace newly storrable Items
  plugins/wasted-bank-space
Labels: plugin change

#5276 translator
  plugins/translator
Labels: plugin added

#5284 Create Panel Scroller
  plugins/panel-scroller
Labels: plugin added

#5277 Add combat level muting plugin
  plugins/zom-combat-level-muting
Labels: plugin added

#5293 Game tick information
  plugins/game-tick-information
Labels: plugin added

#5313 Create ctc3
  plugins/ctc3
Labels: plugin added

#5196 Added nyloer side panel
  plugins/nyloer
Labels: plugin change

#5320 add/Slayer-Helper-Plugin
  plugins/slayer-helper
Labels: plugin added

#5457 bump tray notifications to v1.1
  plugins/tray-notifications
Labels: plugin change

#5459 readme: add a link to the Rejected/Rolledback Features
  README.md
Labels: package change

#5397 Teleport Maps plugin - v1.0.05
  plugins/spirit-tree-map
Labels: plugin change

#5428 Not Ranked support
  plugins/trackscape-connector
Labels: plugin change

#5431 Update creators-kit to v1.3.1
  plugins/creators-kit
Labels: plugin change

#5187 Item Charges Improved v0.5
  plugins/tictac7x-charges
Labels: plugin change

#5432 update wom-utils
  plugins/wom-utils
Labels: plugin change, hold for release

#5317 Uri random dialogue replacer plugin
  plugins/npc-dialogue-replacer
Labels: plugin added

#5225 Watchdog v3.1.0
  plugins/watchdog
Labels: plugin change

#5445 Update loot-lookup to v1.1.10
  plugins/loot-lookup
Labels: plugin change

#5327 Create valuable-drop-recolor
  plugins/valuable-drop-recolor
Labels: plugin added

#5461 Hotfix "Teleport Maps" to fix Xeric's Talisman Map
  plugins/spirit-tree-map
Labels: plugin change

#5463 Boss Kicker
  plugins/bosskicker
Labels: plugin change

#5455 Update bank-memory to v1.3.0
  plugins/bank-memory
Labels: plugin change

#5438 Update temple-osrs
  plugins/temple-osrs
Labels: plugin change

#5440 Update thrall-helper to v1.8
  plugins/thrall-helper
Labels: plugin change

#5441 Update Chat Panel to v1.3
  plugins/chatpanel
Labels: plugin change

#5449 Update FlippingUtilities
  plugins/flipping-utilities
Labels: plugin change

#5451 Update bot-detector to v1.3.9.4
  plugins/bot-detector
Labels: plugin change

#5453 Translator plugin
  plugins/translator
Labels: plugin change

#5447 Update toa-puzzle-helper
  plugins/toa-puzzle-helper
Labels: plugin change

#5454 Update Dink to v1.8.3
  plugins/dink
Labels: plugin change

#5456 Update animation-skipper
  plugins/animation-skipper
Labels: plugin change

#5462 Update quest-helper to 4.2.5.1
  plugins/quest-helper
Labels: plugin change
