Repository runelite/plugin-hub, pull requests merged in 2024-11, with the labels that each got.

#6916 Update compass-camera-control to v1.1.5
  plugins/compass-camera-control
Labels: plugin change

#6920 Update hide-widgets to include option to automatically hide during cutscenes
  plugins/hide-widgets
Labels: plugin change

#6921 Update inventory total
  plugins/inventory-total
Labels: plugin change

#6923 Update wilderness-player-alarm
  plugins/wilderness-player-alarm
Labels: plugin change

#6922 Update line-markers to v1.3.5
  plugins/line-markers
Labels: plugin change

#6924 [Update] Valuable drop prices
  plugins/valuable-drop-prices
Labels: plugin change

#6925 Update Essence Pouch Tracker to v1.5.9 & Update repo URL
  plugins/essence-pouch-tracking
Labels: plugin change

#6899 Edit Equipment-Lock
  plugins/equipment-lock
Labels: plugin change

#6902 Add Plugin 'Vineyard Helper'
  plugins/vineyard-helper
Labels: plugin added

#6903 Update combat-logger to v1.2.0
  plugins/combat-logger
Labels: plugin change

#6914 Update Key Remapping Plus to include Ignore Interfaces config option
  plugins/key-remapping-plus
Labels: plugin change

#6919 Update monster-monitor to 1.3.3
  plugins/monster-monitor
Labels: plugin change

#6904 Create party-status-bars-overlay
  plugins/party-status-bars-overlay
Labels: plugin added

#6913 Update Creator's Kit to v1.5.6
  plugins/creators-kit
Labels: plugin change

#6930 Update Essence Pouch Tracker to v1.5.10
  plugins/essence-pouch-tracking
Labels: plugin change

#6933 update visual-metronome to v1.4.6
  plugins/visual-metronome
Labels: plugin change

#6935 Hotfix Dude, Where's My Stuff? to work with RL 1.10.43
  plugins/dude-wheres-my-stuff
Labels: plugin change

#6936 Update Inventory Setups to v1.20.0 and update Bank Tag Layouts to 1.4.33 (Core BTL Migration)
  plugins/bank-tag-layouts
  plugins/inventory-setups
Labels: plugin change, non-author plugin change

#6939 [Hotfix] Updates Emote Clue Items to v4.3.2.
  plugins/emote-clue-items
Labels: plugin change

#6931 Update combat-logger to v1.2.1
  plugins/combat-logger
Labels: plugin change

#6934 Update Essence Pouch Tracker to v1.5.11
  plugins/essence-pouch-tracking
Labels: plugin change

#6938 Update monster-monitor to v1.3.4
  plugins/monster-monitor
Labels: plugin change

#6941 Update Inventory Setups to v1.20.1
  plugins/inventory-setups
Labels: plugin change

#6932 Update Hide and seek tracker
  plugins/hide-and-seek-tracker
Labels: plugin change

#6944 Update shortest-path to 1.16.5
  plugins/shortest-path
Labels: plugin change

#6942 Update resource-packs to v1.6.2
  plugins/resource-packs
Labels: plugin change

#6950 Update frost bars
  plugins/frost-hp-run
Labels: plugin change

#6947 Update Teleport Maps Plugin (spirit-tree-map) to version 1.0.07
  plugins/spirit-tree-map
Labels: plugin change

#6952 update tombs-of-amascut to v2.10.2
  plugins/tombs-of-amascut
Labels: plugin change

#6927 Added Soul Wars Plugin
  plugins/soul-wars
Labels: plugin added

#6937 Update Creator's Kit to v1.5.7
  plugins/creators-kit
Labels: plugin change

#6943 Update wom-utils
  plugins/wom-utils
Labels: plugin change

#6949 update monster-monitor to v1.3.5
  plugins/monster-monitor
Labels: plugin change

#6954 Update Monter HP percentage
  plugins/monster-hp-percentage
Labels: plugin change

#6946 Create Soulreaper Axe QoL
  plugins/soulreaper-axe-qol
Labels: plugin added

#6957 Update potion-storage-bars
  plugins/potion-storage-bars
Labels: plugin change

#6963 Update customizable-xp-drops to v1.8.15
  plugins/customizable-xp-drops
Labels: plugin change

#6955 Updating Did I compost to version 1.1.1
  plugins/did-i-compost
Labels: plugin change

#6951 Update pickpocket-helper to v1.0.3
  plugins/pickpocket-helper
Labels: plugin change

#6960 Add Spec Jingle plugin
  plugins/spec-jingle
Labels: plugin added

#6962 Update monster-monitor to v1.4.0
  plugins/monster-monitor
Labels: plugin change

#6965 Update Soul Wars Plugin to v1.1.0
  plugins/soul-wars
Labels: plugin change

#6967 Update Bossing Info - v1.9.5
  plugins/kph-tracker
Labels: plugin change

#6968 Update custom-vital-bars to 1.1.0
  plugins/custom-vital-bars
Labels: plugin change

#6971 Update resource-packs to v1.6.3
  plugins/resource-packs
Labels: plugin change

#6974 Update brewing to v3.2
  plugins/brewing
Labels: plugin change

#6973 Update nylo-death-indicators to v1.0.13
  plugins/nylo-death-indicators
Labels: plugin change

#6977 Update shortest-path to v1.16.6
  plugins/shortest-path
Labels: plugin change

#6381 Update Global Chat
  plugins/global-chat
Labels: plugin change

#6969 Update clear-unsent-messages
  plugins/clear-unsent-messages
Labels: plugin change

#6970 Update Essence Pouch Tracker to v1.6.0
  plugins/essence-pouch-tracking
Labels: plugin change

#6975 readme: add git steps to plugin update section
  README.md
Labels: package change

#6980 Update chat-success-rates to v1.2.5
  plugins/chat-success-rates
Labels: plugin change

#6986 Update max-hit-calculator to v2.0.2
  plugins/max-hit-calculator
Labels: plugin change

#6990 Update ba-minigame to 1.72
  plugins/ba-minigame
Labels: plugin change

#6996 update mastering mixology to v1.7.0
  plugins/mastering-mixology
Labels: plugin change

#6984 Update spec-jingle
  plugins/spec-jingle
Labels: plugin change

#7005 Chompy hunter redux
  plugins/chompy-hunter
Labels: plugin change

#7006 Update tick-counter
  plugins/tick-counter
Labels: plugin change

#7002 Tooltip visibility fix for seed vault & inventory
  plugins/herblorerecipes
Labels: plugin change

#7004 Update nexus-map to 1.0.4
  plugins/nexus-map
Labels: plugin change

#7010 Updated Soul Wars Plugin to v1.2.0
  plugins/soul-wars
Labels: plugin change

#7011 Update nexus-map (Codestyle changes)
  plugins/nexus-map
Labels: plugin change

#7008 [Update] - Varlamore House Thieving - v1.5.0 - Sololegends
  plugins/varlamore-house-thieving
Labels: plugin change

#7009 Potion storage bars
  plugins/potion-storage-bars
Labels: plugin change

#6978 wilderness-course-ticket-reminder plugin
  plugins/wilderness-course-ticket-reminder
Labels: plugin added

#6979 Update Creator's Kit to v1.5.8
  plugins/creators-kit
Labels: plugin change

#6983 Update party-map-pin
  plugins/party-map-pin
Labels: plugin change

#6988 Update line-markers to v1.3.6 and npc-id to v1.3.4
  plugins/line-markers
  plugins/npc-id
Labels: plugin change

#6987 update monster-monitor to v1.4.1
  plugins/monster-monitor
Labels: plugin change

#6992 Update Dink to v1.10.13
  plugins/dink
Labels: plugin change

#7000 Update quest-helper to 4.7.2
  plugins/quest-helper
Labels: plugin change

#7001 Creating plugin to display average total level
  plugins/average-total-level
Labels: plugin added

#7007 Updated GECalc to 1.2.2
  plugins/gecalc
Labels: plugin change

#6994 Guardians of the Rift Helper Update v1.1
  plugins/guardians-of-the-rift-helper
Labels: plugin change

#7014 Update InventorySetups to v1.20.2
  plugins/inventory-setups
Labels: plugin change

#7015 Inventory Setups v1.20.2 revert tag prefix
  plugins/inventory-setups
Labels: plugin change

#7016 Skilling boost reminder update
  plugins/skilling-boost-reminder
Labels: plugin change

#7021 Annoyance Mute: Add muting to trail blazer alchemy
  plugins/annoyance-mute
Labels: plugin change

#6985 Add clan-halls-plugin
  plugins/clan-halls-plugin
Labels: plugin added

#6772 [New Plugin] - What Pet is that Anyway - v1.0.0 - Sololegends
  plugins/what-pet-is-that-anyway
Labels: plugin added

#6989 add block-tracker
  plugins/block-tracker
Labels: plugin added

#6997 Create: Obelisk protection
  plugins/obelisk-protection
Labels: plugin added

#7003 Update combat-logger to v1.3.0
  plugins/combat-logger
Labels: plugin change

#7012 Update Creator's Kit to v1.5.9
  plugins/creators-kit
Labels: plugin change

#7013 Update easy-giantsfoundry v1.0.8
  plugins/easy-giantsfoundry
Labels: plugin change

#7020 Updated Soul Wars Plugin to v1.3.0
  plugins/soul-wars
Labels: plugin change

#7024 Update average-total-level plugin to add option for decimal places
  plugins/average-total-level
Labels: plugin change

#7023 Update easy-giantsfoundry
  plugins/easy-giantsfoundry
Labels: plugin change

#6993 Update attacktimer
  plugins/attacktimer
Labels: plugin change

#7031 Update tool-required
  plugins/tool-required
Labels: plugin change

#7022 Update: Obelisk protection
  plugins/obelisk-protection
Labels: plugin change

#7048 update scythe-crush-warning to v1.1.1
  plugins/scythe-crush-warning
Labels: plugin change

#7047 Update looting-bag-value
  plugins/looting-bag-value
Labels: plugin change

#7025 Guardians of the Rift Helper v1.2
  plugins/guardians-of-the-rift-helper
Labels: plugin change

#7028 Add Underwater Agility Plugin
  plugins/underwateragility
Labels: plugin added

#7029 Update quest-helper to 4.7.3.
  plugins/quest-helper
Labels: plugin change

#7032 Update world-cycle
  plugins/world-cycle
Labels: plugin change

#7033 Update boaty-hype-man
  plugins/boaty-hype-man
Labels: plugin change

#7034 Update wom-utils
  plugins/wom-utils
Labels: plugin change

#7041 Update Action Logger to v0.1.2
  plugins/action-logger
Labels: plugin change

#7044 Update Dink to v1.10.15
  plugins/dink
Labels: plugin change

#7051 Update Chat Panel to v2.1
  plugins/chatpanel
Labels: plugin change

#7052 Update amulet of chemistry alerter
  plugins/amulet-of-chemistry-alerter
Labels: plugin change

#6958 Aerial Fishing Pearl Luck Update to Version 1.2
  plugins/aerial-fishing-pearl-luck
Labels: plugin change

#7036 Update monster-monitor to v1.4.2
  plugins/monster-monitor
Labels: plugin change

#7053 Update c-engineer-completed to v1.2.1 (add leagues tasks)
  plugins/c-engineer-completed
Labels: plugin change

#7045 Add fixed-resizable-hybrid to plugin hub
  plugins/fixed-resizable-hybrid
Labels: plugin added

#7055 Update Underwater Agility to v1.1
  plugins/underwateragility
Labels: plugin change

#7057 Update examine-log
  plugins/examine-log
Labels: plugin change

#7040 Create goblin-scape-clan-plugin
  plugins/goblin-scape-clan-plugin
Labels: plugin added

#7063 Update quest-helper to 4.7.3.1
  plugins/quest-helper
Labels: plugin change

#7066 update tombs-of-amascut to v2.10.2
  plugins/tombs-of-amascut
Labels: plugin change

#7060 Update examine-log
  plugins/examine-log
Labels: plugin change

#7062 Update Dodgy Deals
  plugins/dodgy-deals
Labels: plugin change

#7061 Update chugging-barrel to v1.0.2
  plugins/chugging-barrel
Labels: plugin change

#7058 add poison-moo
  plugins/poison-moo
Labels: plugin added

#7067 update attack-ranges
  plugins/attack-ranges
Labels: plugin change

#7068 Update acoldone-clogging
  plugins/acoldone-clogging
Labels: plugin change

#7069 Update acoldone-clogging
  plugins/acoldone-clogging
Labels: plugin change

#7070 Update tzhaar-hp-tracker
  plugins/tzhaar-hp-tracker
Labels: plugin change

#7076 Update tool-required
  plugins/tool-required
Labels: plugin change

#7082 Update Teleport Maps Plugin v1.0.08
  plugins/spirit-tree-map
Labels: plugin change

#7085 Update Twitch Live Loadout to v2.2.1
  plugins/twitch-live-loadout
Labels: plugin change

#7081 Update Essence Pouch Tracker to v1.6.1
  plugins/essence-pouch-tracking
Labels: plugin change

#7071 Update Dink to v1.10.17
  plugins/dink
Labels: plugin change

#7077 v1.2.0 release - Fight Caves Spawn Predictor
  plugins/spawnpredictor
Labels: plugin change

#7018 Update tasks-tracker (Leagues 5 prep)
  plugins/tasks-tracker
Labels: plugin change

#7072 Update nexus-map to 1.1.0
  plugins/nexus-map
Labels: plugin change

#7074 Update chugging-barrel to v1.1.0
  plugins/chugging-barrel
Labels: plugin change

#7084 Update maple-xp-bar
  plugins/maple-xp-bar
Labels: plugin change

#7078 update Custom Vital Bars to v1.2.0
  plugins/custom-vital-bars
Labels: plugin change

#7086 Fight Caves Spawn Predictor - v1.3.1
  plugins/spawnpredictor
Labels: plugin change

#7088 Updated Clan Spam Filter to include League 5 broadcast messages
  plugins/guild-spam-filter
Labels: plugin change

#7079 Update casket-saver to 1.0.0
  plugins/casket-saver
Labels: plugin change
