Repository runelite/plugin-hub, pull requests merged in 2024-05, with the labels that each got.

#5959 Claiming raid-data-tracker.
  plugins/raid-data-tracker
Labels: plugin change

#5905 Update c-engineer-completed to v1.0.8
  plugins/c-engineer-completed
Labels: plugin change

#5904 Update slotless
  plugins/slotless
Labels: plugin change

#5920 Updated ClanSpamFilter
  plugins/guild-spam-filter
Labels: plugin change

#5910 Update odablock to v1.1.0
  plugins/odablock
Labels: plugin change

#5929 update flipping-copilot to v1.1.0
  plugins/flipping-copilot
Labels: plugin change

#5899 Update displaynamedisguiser
  plugins/displaynamedisguiser
Labels: plugin change

#5935 Patch naturalspeech
  plugins/naturalspeech
Labels: plugin change

#5939 Update identificator to v1.8.1
  plugins/identificator
Labels: plugin change

#5948 Update action-progress
  plugins/action-progress
Labels: plugin change

#5956 Update low-detail-chambers
  plugins/low-detail-chambers
Labels: plugin change

#5957 add umer-rs as maintainer to object-hider
  plugins/object-hider
Labels: plugin change

#5951 Custom Menu Swaps 2.5.4
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#5967 Updated Clan Spam Filter (The plugin doesn't work at all without this fix)
  plugins/guild-spam-filter
Labels: plugin change

#5966 Bank Tag Layouts 1.4.27 - bugfix.
  plugins/bank-tag-layouts
Labels: plugin change

#5969 Updated Clan Spam Filter (Plugin doesn't work without this change)
  plugins/guild-spam-filter
Labels: plugin change

#5908 Update slayer-wiki
  plugins/slayer-wiki
Labels: plugin change

#5932 Update barrows-potential
  plugins/barrows-potential
Labels: plugin change

#5978 Update zulrah-helper to v1.5.0
  plugins/zulrah-helper
Labels: plugin change

#5976 Update wom-utils
  plugins/wom-utils
Labels: plugin change

#5975 Update action-progress
  plugins/action-progress
Labels: plugin change

#5988 item-stats-banking: add warning
  plugins/item-stats-banking
Labels: plugin change, non-author plugin change

#5146 Archipelago Multiworld Randomizer Plugin
  package/verification-template/build.gradle
  package/verification-template/gradle/verification-metadata.xml
  plugins/osrs-archipelago
Labels: dependency change, plugin added

#5993 Update zulrah-helper to v2.0.0
  plugins/zulrah-helper
Labels: plugin change

#5968 update object hider to 1.1.1
  plugins/object-hider
Labels: plugin change

#5965 [Update] Varlamore House Thieving - v1.1.0 - Sololegends
  plugins/varlamore-house-thieving
Labels: plugin change

#5901 Update InventorySetups to v1.19
  plugins/inventory-setups
Labels: plugin change

#5977 Update target-true-tile
  plugins/target-true-tile
Labels: plugin change

#5980 Update mlm-upper-level-markers to 1.4
  plugins/mlm-upper-level-markers
Labels: plugin change

#5995 Rainbow Rave 1.3.3. - Runelite API compatibility, plugin will not start.
  plugins/rainbow-rave
Labels: plugin change

#5994 Update Archipelago - Removes gson 2.8.6+ dependency
  plugins/osrs-archipelago
Labels: plugin change

#5996 Clue Scroll Juggling 2.1.1 - runelite API update.
  plugins/clue-scroll-juggling
Labels: plugin change

#5998 Update zulrah-helper
  plugins/zulrah-helper
Labels: plugin change

#5963 Update charge calculator
  plugins/charge-calc
Labels: plugin change

#5915 Update Item Charges Improved to v0.5.7
  plugins/tictac7x-charges
Labels: plugin change

#5999 Fix manually entering amounts
  plugins/charge-calc
Labels: plugin change

#5983 Update flipping-copilot to v1.1.1
  plugins/flipping-copilot
Labels: plugin change

#6002 Update zulrah-helper
  plugins/zulrah-helper
Labels: plugin change

#5984 Update Dink to v1.10.1
  plugins/dink
Labels: plugin change

#5981 Update herbi-afk
  plugins/herbi-afk
Labels: plugin change

#5930 Create pet-the-capybara
  plugins/pet-the-capybara
Labels: plugin added

#5962 Add Supply Depot plugin
  plugins/supply-depot
Labels: plugin added

#6003 Update InventorySetups to v1.19.1
  plugins/inventory-setups
Labels: plugin change

#5872 Coffee lover
  plugins/coffee-lover
Labels: plugin added

#5866 Cry-Alchemy Plugin
  plugins/cry-alchemy
Labels: plugin added

#5894 Sound Alerts
  plugins/sound-alerts
Labels: plugin added

#5953 new bank-black-list plugin
  plugins/bank-black-list
Labels: plugin added

#5862 Create Venom Timer Plugin
  plugins/venom-timer
Labels: plugin added

#5952 Item Processing Warner plugin
  plugins/item-processing-warner
Labels: plugin added

#6018 Update quest-helper to 4.4.2
  plugins/quest-helper
Labels: plugin change

#6022 Update resource-packs to v1.4.10
  plugins/resource-packs
Labels: plugin change

#6024 [Archipelago Randomizer] Updates Item APIs for Group Ironman Gear
  plugins/osrs-archipelago
Labels: plugin change

#6027 Update resource-packs to v1.4.11
  plugins/resource-packs
Labels: plugin change

#5997 Update runepouch-loadouts to `v1.0.1`
  plugins/runepouch-loadouts
Labels: plugin change

#6008 Update c-engineer-completed to v1.0.9
  plugins/c-engineer-completed
Labels: plugin change

#6000 fix visual bug
  plugins/charge-calc
Labels: plugin change

#5897 Create Construction QOL
  plugins/zom-con-qol
Labels: plugin added

#6030 Update resource-packs to v1.4.11-2
  plugins/resource-packs
Labels: plugin change

#6005 Update cox-additions
  plugins/cox-additions
Labels: plugin change

#5990 Patch naturalspeech
  plugins/naturalspeech
Labels: plugin change

#6031 Change swap location to not be a client tick late
  plugins/zom-con-qol
Labels: plugin change

#6017 Update CryAlchemy
  plugins/cry-alchemy
Labels: plugin change

#6016 Update herbi-afk
  plugins/herbi-afk
Labels: plugin change

#6015 Update Bank Black List
  plugins/bank-black-list
Labels: plugin change

#6004 Update csvexport
  plugins/csvexport
Labels: plugin change

#5918 NPC Animator Plugin
  plugins/npc-animator
Labels: plugin added

#5954 Update tick-fixer-for-mac
  plugins/tick-fixer-for-mac
Labels: plugin change

#6032 Update resource-packs to v1.5.0
  plugins/resource-packs
Labels: plugin change

#5943 Add ironclad clan goals
  plugins/ironclad-clan-goals
Labels: plugin added

#6035 hotfix for cox-additions
  plugins/cox-additions
Labels: plugin change

#5947 Update NPC taunts
  plugins/npctaunts
Labels: plugin change

#5854 Update npc-id to v1.3.2
  plugins/npc-id
Labels: plugin change

#5870 Update world-location to v1.4
  plugins/world-location
Labels: plugin change

#5973 Watchdog v3.4.0
  plugins/watchdog
Labels: plugin change

#5982 Update MonsterHPpercentage 1.3
  plugins/monster-hp-percentage
Labels: plugin change

#5889 Update `hunter-rumours` to `1.1.2`
  plugins/hunter-rumours
Labels: plugin change

#5991 Update pokescape-pvm to v0.5.3
  plugins/pokescape-pvm
Labels: plugin change

#6010 Updated Advanced Mining to v1.0.9
  plugins/advanced-mining
Labels: plugin change

#6013 Update Motherlode Mine Improved to v0.4
  plugins/tictac7x-motherlode
Labels: plugin change

#6009 Update `odablock-sounds` to `v1.1.1`
  plugins/odablock
Labels: plugin change

#6025 Update steps-per-clue
  plugins/steps-per-clue
Labels: plugin change

#6026 Update Custom Drop sounds with pickpocket sounds
  plugins/custom-drop-sounds
Labels: plugin change

#6028 Ultimate Volcanic Mine - Solo Updates
  plugins/ultimate-vm
Labels: plugin change

#6034 Chat filter updater - Update
  plugins/chat-filter-updater
Labels: plugin change

#5934 Create click-to-minimize
  plugins/click-to-minimize
Labels: plugin added

#5972 Create spiderhider
  plugins/spiderhider
Labels: plugin added

#5974 Create timers-ca
  plugins/timers-ca
Labels: plugin added

#5986 Create time-zone-clocks
  plugins/time-zone-clocks
Labels: plugin added

#6001 Create blast-mine-dynamite-restriction
  plugins/blast-mine-dynamite-restriction
Labels: plugin added

#6029 Hotfix switching-trainer
  plugins/switching-trainer
Labels: plugin change

#6038 Update tog-crowdsourcing: Add backoff retries, US E, W icons
  plugins/tog-crowdsourcing
Labels: plugin change

#6037 Update cox-scouting-qol
  plugins/cox-scouting-qol
Labels: plugin change

#6055 Update 117HD to v1.3.3.2
  plugins/117hd
Labels: plugin change

#6057 HOTFIX: Update flipping-copilot to v1.1.2
  plugins/flipping-copilot
Labels: plugin change

#6060 Update resource-packs
  plugins/resource-packs
Labels: plugin change

#6061 Update LineOfSight to 2024.05.1
  plugins/line-of-sight
Labels: plugin change

#6058 Update Path marker to 1.0.4
  plugins/path-marker
Labels: plugin change

#6063 Update Twitch Live Loadout to v2.1.2
  plugins/twitch-live-loadout
Labels: plugin change

#6062 [HOTFIX] Update `hunter-rumours` to `v1.1.3`
  plugins/hunter-rumours
Labels: plugin change

#6042 Update reword-manager to 1.3.1
  plugins/reword-manager
Labels: plugin change

#6044 Update escape-crystal-notify
  plugins/escape-crystal-notify
Labels: plugin change

#6064 Update Motherlode Mine Improved to v0.4.1
  plugins/tictac7x-motherlode
Labels: plugin change

#6066 Update FlippingUtilities
  plugins/flipping-utilities
Labels: plugin change

#6045 Update step-counter plugin
  plugins/step-counter
Labels: plugin change

#6067 Watchdog v3.4.1 - Fix create alerts issue
  plugins/watchdog
Labels: plugin change

#6011 Add partial-sets
  plugins/partial-sets
Labels: plugin added

#6023 Added Entity Masker
  plugins/entity-masker
Labels: plugin added

#6048 Update client-resizer
  plugins/client-resizer
Labels: plugin change

#6070 Update resource-packs to v1.5.1
  plugins/resource-packs
Labels: plugin change

#6072 Update statussocket
  plugins/statussocket
Labels: plugin change

#6082 Update "Improved context menu" to fix submenus
  plugins/improved-context-menu
Labels: plugin change

#6087 update blindfold for rev 222 api changes
  plugins/blindfold
Labels: plugin change

#6088 Update morghttpclient
  plugins/morghttpclient
Labels: plugin change

#6089 Update resource-packs to v1.5.2
  plugins/resource-packs
Labels: plugin change

#6091 Update Loot Logger to v4.2.1
  plugins/loot-logger
Labels: plugin change

#6106 Update resource-packs
  plugins/resource-packs
Labels: plugin change

#6049 Weapon Animation Replacer 3.7.1 - blazing blowpipe.
  plugins/weapon-animation-replacer
Labels: plugin change

#6053 Update gim-plugin to v2.9
  plugins/gim-plugin
Labels: plugin change
