Repository runelite/plugin-hub, pull requests merged in 2024-06, with the labels that each got.

#6052 Update slotless to v1.0.0
  plugins/slotless
Labels: plugin change

#6101 Update Creator's Kit to v1.5.0
  plugins/creators-kit
Labels: plugin change

#6097 hotfix:natural speech windows-1252 process stream crash
  plugins/naturalspeech
Labels: plugin change

#6099 Update tictac7x-rooftops to v0.5.3.1
  plugins/tictac7x-rooftops
Labels: plugin change

#6094 Update shooting-stars-tracking to v1.0.3
  plugins/shooting-stars-tracking
Labels: plugin change

#6103 Update nylo-death-indicators to v1.0.12
  plugins/nylo-death-indicators
Labels: plugin change

#6100 Update Hold your ground
  plugins/hold-your-ground
Labels: plugin change

#6073 Update inventory total
  plugins/inventory-total
Labels: plugin change

#6074 Update influxdb-stats
  plugins/influxdb-stats
Labels: plugin change

#6054 Update the-gauntlet
  plugins/the-gauntlet
Labels: plugin change

#6085 Update partial sets
  plugins/partial-sets
Labels: plugin change

#6116 Update party-defence-tracker
  plugins/party-defence-tracker
Labels: plugin change

#6115 con qol update - prevent from working outside of POH
  plugins/zom-con-qol
Labels: plugin change

#6069 Update path-marker 1.05
  plugins/path-marker
Labels: plugin change

#6108 Update max-hit-calculator to v1.13.0
  plugins/max-hit-calculator
Labels: plugin change

#6090 Rainbow rave 1.3.4 - bug fix.
  plugins/rainbow-rave
Labels: plugin change

#6092 Update rogues-chest to v1.0.1
  plugins/rogues-chest
Labels: plugin change

#6093 Update startierindicator / Star Info to v1.3.0
  plugins/startierindicator
Labels: plugin change

#6105 Update xp goalz
  plugins/xp-goalz
Labels: plugin change

#6112 Update npc-id and identificator
  plugins/identificator
  plugins/npc-id
Labels: plugin change

#6113 Update corp-ffa07
  plugins/corp-ffa07
Labels: plugin change

#6102 Tombsofamascutstats
  plugins/tombs-of-amascut-stats
Labels: plugin change

#6117 Update radius-markers to v1.9.5
  plugins/radius-markers
Labels: plugin change

#5912 Update Last Man Standing to 1.7.1
  plugins/lms-start-notifier
Labels: plugin change

#6138 Update quest-helper to 4.4.3
  plugins/quest-helper
Labels: plugin change

#6081 Updated afk canafis marks
  plugins/afk-marks-canafis
Labels: plugin change

#6148 Update 117HD to v1.3.3.3
  plugins/117hd
Labels: plugin change

#6150 Update region-chat to 1.0.3
  plugins/region-chat
Labels: plugin change

#6154 Update world-hider
  plugins/world-hider
Labels: plugin change

#6086 Update bank-tab-names - Minor Fixes, Removed Deprecated APIs, Added LICENSE
  plugins/bank-tab-names
Labels: plugin change

#6084 Update c-engineer-completed to v1.1.0
  plugins/c-engineer-completed
Labels: plugin change

#6109 Update Pet info
  plugins/pet-info
Labels: plugin change

#6110 Update Custom Drop Sounds
  plugins/custom-drop-sounds
Labels: plugin change

#6111 Update timers-ca
  plugins/timers-ca
Labels: plugin change

#6096 Update `odablock` add config for emotes
  plugins/odablock
Labels: plugin change

#6114 Update clan-member-list-sort
  plugins/clan-member-list-sort
Labels: plugin change

#6118 Update flipping-copilot to v1.2.0
  plugins/flipping-copilot
Labels: plugin change

#6107 Update Item Charges Improved to v0.5.8
  plugins/tictac7x-charges
Labels: plugin change

#6007 Create guilt-tripper
  plugins/guilt-tripper
Labels: plugin added

#6123 charge calc bug fixes
  plugins/charge-calc
Labels: plugin change

#5964 Create death-inventory
  plugins/death-inventory
Labels: plugin added

#6119 Update wasted-bank-space
  plugins/wasted-bank-space
Labels: plugin change

#6036 Create First Person perspective plugin
  plugins/first-person
Labels: plugin added

#6128 Update wiz-smart-lights
  plugins/wiz-smart-lights
Labels: plugin change

#6046 Create Price Graph Opener plugin
  plugins/price-graph-opener
Labels: plugin added

#6165 Update 117HD to v1.3.3.4
  plugins/117hd
Labels: plugin change

#6167 update tombs-of-amascut to v2.7.0
  plugins/tombs-of-amascut
Labels: plugin change

#6166 Update 117HD to v1.3.3.5
  plugins/117hd
Labels: plugin change, hold for release

#6160 Update better-npc-highlight
  plugins/better-npc-highlight
Labels: plugin change, hold for release

#6172 Update Twitch Live Loadout to v2.1.3
  plugins/twitch-live-loadout
Labels: plugin change

#6136 Update Creator's Kit to v1.5.1
  plugins/creators-kit
Labels: plugin change

#6173 Update 117HD to v1.3.3.6
  plugins/117hd
Labels: plugin change

#6174 Update improved-tile-indicators
  plugins/improved-tile-indicators
Labels: plugin change

#6175 Update region-locker
  plugins/region-locker
Labels: plugin change

#6176 Update model-exporter
  plugins/model-exporter
Labels: plugin change

#6177 Update Old School Snitch to 1.1.2
  plugins/old-school-snitch
Labels: plugin change

#6164 Update resource-packs to v1.6.0
  package/verification-template/build.gradle
  package/verification-template/gradle/verification-metadata.xml
  plugins/resource-packs
Labels: plugin change, dependency change

#6179 Fix target true tile
  plugins/target-true-tile
Labels: plugin change

#6161 Update Companion Pet Plugin- Update for compatibility with WorldView.
  plugins/companion-pet
Labels: plugin change

#6185 Update resource-packs to v1.6.1
  plugins/resource-packs
Labels: plugin change

#6186 Update `Odablock Plugin` to `v1.1.2`
  plugins/odablock
Labels: plugin change

#6192 Readd config for emotes `Odablock`
  plugins/odablock
Labels: plugin change

#6204 Update Dink to v1.10.2
  plugins/dink
Labels: plugin change

#6131 Update visual ticks.
  plugins/visual-ticks
Labels: plugin change

#6132 Update `hunter-rumours` to `v1.2.0`
  plugins/hunter-rumours
Labels: plugin change

#6079 Update click-to-minimize
  plugins/click-to-minimize
Labels: plugin change

#6208 Update brush-markers to v1.4
  plugins/brush-markers
Labels: plugin change

#6209 Update brush-markers
  plugins/brush-markers
Labels: plugin change

#6141 Update Escape Crystal (v1.3)
  plugins/escape-crystal
Labels: plugin change

#6155 Update ironclad-clan-goals
  plugins/ironclad-clan-goals
Labels: plugin change

#6142 Update partial sets
  plugins/partial-sets
Labels: plugin change

#6152 Tile Packs update - Internal refactor
  plugins/tile-packs
Labels: plugin change

#6153 Update GP-Per-Hour to 1.5
  plugins/gp-per-hour
Labels: plugin change

#6151 Update escape-crystal-notify
  plugins/escape-crystal-notify
Labels: plugin change

#6159 Update flipping-copilot to v1.2.1
  plugins/flipping-copilot
Labels: plugin change

#6162 Update party-defence-tracker
  plugins/party-defence-tracker
Labels: plugin change

#6168 [Update] - Varlamore House Thieving - v1.2.0 - Sololegends
  plugins/varlamore-house-thieving
Labels: plugin change

#6169 [Update] - Temple Trek Bog Helper - v1.0.1 - Sololegends
  plugins/temple-trek-bog-helper
Labels: plugin change

#6178 Update cox-scouting-qol
  plugins/cox-scouting-qol
Labels: plugin change

#6180 Update amulet-of-chemistry-alerter
  plugins/amulet-of-chemistry-alerter
Labels: plugin change

#6181 Update player-pronouns
  plugins/player-pronouns
Labels: plugin change

#6182 Update boost-performance
  plugins/boost-performance
Labels: plugin change

#6184 Update RuneProfile to v1.0.6
  plugins/runeprofile
Labels: plugin change

#6158 Update action-progress
  plugins/action-progress
Labels: plugin change

#6170 [Update] - Friend Finder - v1.4.4 - Sololegends
  plugins/friend-finder
Labels: plugin change

#6214 Update OSRSProfile to 1.0.2
  plugins/osrsprofile
Labels: plugin change

#6215 Update Greenscreen plugin to version 1.1
  plugins/green-screen
Labels: plugin change

#6216 Update quest-helper to 4.4.3.1
  plugins/quest-helper
Labels: plugin change

#6220 Update "Dude, Where's My Stuff?" to v2.6.0
  plugins/dude-wheres-my-stuff
Labels: plugin change

#6221 Update wasted-bank-space
  plugins/wasted-bank-space
Labels: plugin change

#6043 Create `delayed-healing` plugin
  plugins/delayed-healing
Labels: plugin added

#6059 Create DialogueOptionRebinder Plugin
  plugins/dialogueoptionrebinder
Labels: plugin added

#6075 Create Teleport Zoom
  plugins/teleport-zoom
Labels: plugin added

#6226 Update raid-data-tracker to 1.4.3
  plugins/raid-data-tracker
Labels: plugin change
