Repository runelite/plugin-hub, pull requests merged in 2025-02, with the labels that each got.

#7327 Update slayer-wiki
  plugins/slayer-wiki
Labels: plugin change

#7330 Update loot-filters plugin
  plugins/loot-filters
Labels: plugin change

#7312 add mlm-despawn-timer
  plugins/mlm-despawn-timer
Labels: plugin added

#7317 Update fixed-resizable-hybrid
  plugins/fixed-resizable-hybrid
Labels: plugin change

#7320 Update thelerune-updater to v1.2
  plugins/thelerune-updater
Labels: plugin change

#7321 Update Log Locked to work with new Log interface.
  plugins/loglocked
Labels: plugin change

#7323 Update quest-helper to 4.7.6
  plugins/quest-helper
Labels: plugin change

#7325 Update you missed that one
  plugins/you-missed-that-one
Labels: plugin change

#7329 Update Loot Logger (v4.2.6)
  plugins/loot-logger
Labels: plugin change

#7331 update tombs-of-amascut to v1.5.0
  plugins/fortis-colosseum
Labels: plugin change

#7333 mark dps-calculator unavailable
  plugins/dps-calculator
Labels: plugin change

#7334 Update reword-manager to 1.5.1
  plugins/reword-manager
Labels: plugin change

#7335 NPC menu HP 1.1.6
  plugins/menuhp
Labels: plugin change

#7337 update force-recolor to v1.3.2
  plugins/force-recolor
Labels: plugin change

#7339 Update resource-packs to v1.6.4
  plugins/resource-packs
Labels: plugin change

#7343 Update no-player-use
  plugins/no-player-use
Labels: plugin change

#7346 Update razor-backed-kebbits: fix failing build
  plugins/razor-kebbit-tracking
Labels: plugin change

#7351 Update tool-required to v1.1.4
  plugins/tool-required
Labels: plugin change

#7356 disable bankers-note-helper
  plugins/bankers-note-helper
Labels: plugin change, non-author plugin change

#7358 Update zom-afk-gotr to use new 300 point threshold
  plugins/zom-afk-gotr
Labels: plugin change

#7357 Update chat-success-rates
  plugins/chat-success-rates
Labels: plugin change

#7348 Update spec-jingle
  plugins/spec-jingle
Labels: plugin change

#7359 Update 1-5-woodcutting
  plugins/1-5-woodcutting
Labels: plugin change

#7361 Update tictac7x-charges to v0.5.15
  plugins/tictac7x-charges
Labels: plugin change

#7360 update scythe-crush-warning to v1.3.0
  plugins/scythe-crush-warning
Labels: plugin change

#7355 Update clue-details to 2.2.1.1
  plugins/clue-details
Labels: plugin change

#7362 Update duck-duck-goose to 1.0.4
  plugins/duck-duck-goose
Labels: plugin change

#7363 update fortis-colosseum to v1.5.1
  plugins/fortis-colosseum
Labels: plugin change

#7353 Bump wikisync to include clog support
  plugins/wikisync
Labels: plugin change, hold for release

#7354 Bump wiki crowdsourcing to fix up deprecated apis and add new message tracking
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#7365 Update tictac7x-charges to v0.5.15.1
  plugins/tictac7x-charges
Labels: plugin change

#7364 Update fixed-resizable-hybrid
  plugins/fixed-resizable-hybrid
Labels: plugin change

#7341 Added uniqe item jingle in sound selection
  plugins/audiblelootnotification
Labels: plugin change

#7367 Update customizable-xp-drops to v1.8.16
  plugins/customizable-xp-drops
Labels: plugin change

#7370 Update resource-packs to v1.6.5
  plugins/resource-packs
Labels: plugin change

#6252 Update "Dude, Where's My Stuff?" to v2.7.0
  package/verification-template/build.gradle
  package/verification-template/gradle/verification-metadata.xml
  plugins/dude-wheres-my-stuff
Labels: plugin change, dependency change

#7371 Update wikisync
  plugins/wikisync
Labels: plugin change

#7338 Update another-bronzeman-mode to include the new sidepanel.
  plugins/another-bronzeman-mode
Labels: plugin change

#7340 Update radius-markers
  plugins/radius-markers
Labels: plugin change

#7342 Update c-engineer-completed to v1.2.2 (strip tags for CA messages)
  plugins/c-engineer-completed
Labels: plugin change

#7344 update flipping-copilot to v1.6.3
  plugins/flipping-copilot
Labels: plugin change

#7347 Update TileMarkerMetronome
  plugins/tile-marker-metronome
Labels: plugin change

#7349 Update shortest-path to v1.16.9
  plugins/shortest-path
Labels: plugin change

#7366 Update Dink to v1.10.21
  plugins/dink
Labels: plugin change

#7368 Update instant inventory to 1.2.2
  plugins/instant-inventory
Labels: plugin change

#7369 Update customizable-xp-drops to v1.9.2
  plugins/customizable-xp-drops
Labels: plugin change

#7223 Create Stopwatch and Timer plugin
  plugins/stopwatch-timer
Labels: plugin added

#7229 Add raids death indicator
  plugins/raids-death-indicator
Labels: plugin added

#7328 Create dorgeshkaan-agility-course
  plugins/dorgeshkaan-agility-course
Labels: plugin added

#7373 Update Dude, Where's My Stuff? to v2.7.1
  plugins/dude-wheres-my-stuff
Labels: plugin change

#7378 Update loot-filters: cherrypick fix for memory leak
  plugins/loot-filters
Labels: plugin change

#7381 Update loot-filters: fix leaking worldpoint index
  plugins/loot-filters
Labels: plugin change

#7377 Update wom-utils
  plugins/wom-utils
Labels: plugin change

#7375 Update stopwatch-timer plugin
  plugins/stopwatch-timer
Labels: plugin change

#7385 Update loot-filters
  plugins/loot-filters
Labels: plugin change

#7376 Update easylootsell to v1.0.1
  plugins/easylootsell
Labels: plugin change, non-author plugin change

#7387 Bump WikiSync - Hopefully fix the null pointer exceptions that cause the wikisync button to silently fail
  plugins/wikisync
Labels: plugin change

#7389 Update fixed-mode-hide-chat
  plugins/fixed-mode-hide-chat
Labels: plugin change

#7390 Public chat and npc overhead remover update
  plugins/public-chat-and-npc-overhead-remover
Labels: plugin change

#7352 update imbued-fart to 1.3.0
  plugins/imbued-fart
Labels: plugin change

#7380 update flipping-copilot to v1.6.4
  plugins/flipping-copilot
Labels: plugin change

#7392 Update Annoyance Mute
  plugins/annoyance-mute
Labels: plugin change

#7395 Update steps-per-clue
  plugins/steps-per-clue
Labels: plugin change

#7397 Update Raids Death Indicator
  plugins/raids-death-indicator
Labels: plugin change

#7398 Bump wikisync - add missing return
  plugins/wikisync
Labels: plugin change

#7393 Update soulreaper-axe-qol
  plugins/soulreaper-axe-qol
Labels: plugin change

#7396 Update tictac7x-charges to v0.5.16
  plugins/tictac7x-charges
Labels: plugin change

#7403 Update tictac7x-charges to v0.5.16.1
  plugins/tictac7x-charges
Labels: plugin change

#7405 Update resource-packs
  plugins/resource-packs
Labels: plugin change

#7402 [clan-halls-plugin] Update README.md
  plugins/clan-halls-plugin
Labels: plugin change

#7336 Update Creators Kit to v1.5.17
  plugins/creators-kit
Labels: plugin change

#7388 Update monster-monitor tp v1.4.4
  plugins/monster-monitor
Labels: plugin change

#7394 Update clear-unsent-messages
  plugins/clear-unsent-messages
Labels: plugin change

#7399 DropTracker 3.6
  plugins/droptracker
Labels: plugin change

#7404 Update radius-markers
  plugins/radius-markers
Labels: plugin change

#7406 Annoyance Mute update
  plugins/annoyance-mute
Labels: plugin change

#7407 Update loot-filters
  plugins/loot-filters
Labels: plugin change

#7408 Update raids death indicator
  plugins/raids-death-indicator
Labels: plugin change

#7409 Update loot-filters
  plugins/loot-filters
Labels: plugin change

#7410 Update fixed-resizable-hybrid
  plugins/fixed-resizable-hybrid
Labels: plugin change

#7411 Update customizable-xp-drops to v1.9.3
  plugins/customizable-xp-drops
Labels: plugin change

#7415 update scythe-crush-warning to v1.4.0
  plugins/scythe-crush-warning
Labels: plugin change

#7416 update quick-prayer-preview to v1.1
  plugins/quick-prayer-preview
Labels: plugin change

#7413 Update loot-filters
  plugins/loot-filters
Labels: plugin change

#7420 Update Raids Death Indicator
  plugins/raids-death-indicator
Labels: plugin change

#7422 [no-op]: Update loot-filters: point release commit back to main branch
  plugins/loot-filters
Labels: plugin change

#7430 Update model-exporter
  plugins/model-exporter
Labels: plugin change

#7283 Update cox-analytics
  plugins/cox-analytics
Labels: plugin change

#7374 Create dizana-alert
  plugins/dizana-alert
Labels: plugin added

#7384 Create removeupperfloorstob
  plugins/removeupperfloorstob
Labels: plugin added

#7417 Update clan-halls-plugin
  plugins/clan-halls-plugin
Labels: plugin change

#7418 2/0 bug fix weapon animation replacer 3.7.4
  plugins/weapon-animation-replacer
Labels: plugin change

#7419 Update combat-logger to v1.3.2
  plugins/combat-logger
Labels: plugin change

#7423 update visualmetronome to V1.4.7
  plugins/visual-metronome
Labels: plugin change

#7424 Update consumable-cooldowns to 1.2.0
  plugins/consumable-cooldowns
Labels: plugin change

#7427 Update tictac7x-charges to v0.5.18
  plugins/tictac7x-charges
Labels: plugin change

#7428 Update loot-filters
  plugins/loot-filters
Labels: plugin change

#7433 Update you-missed-that-one
  plugins/you-missed-that-one
Labels: plugin change

#7434 Update examine-tooltip to 1.4.7
  plugins/examine-tooltip
Labels: plugin change

#7435 rainbow rave api compatibility
  plugins/rainbow-rave
Labels: plugin change

#7436 Update improved-tile-indicators
  plugins/improved-tile-indicators
Labels: plugin change

#7439 Update nylo-death-indicators to v1.0.14
  plugins/nylo-death-indicators
Labels: plugin change

#7437 Update loot-filters
  plugins/loot-filters
Labels: plugin change

#7441 Minimap Bug Fixes
  plugins/fixed-resizable-hybrid
Labels: plugin change

#7443 Raids Death Indicator additional kephri fixes
  plugins/raids-death-indicator
Labels: plugin change

#7445 Potion storage bars
  plugins/potion-storage-bars
Labels: plugin change

#7448 Update Party Health Status : Readme & resolve deprecated APIs
  plugins/party-health-status
Labels: plugin change

#7438 Update fashionscape to 1.3.1
  plugins/fashionscape
Labels: plugin change

#7446 Update loot-lookup to v1.1.11
  plugins/loot-lookup
Labels: plugin change

#7440 Update you-missed-that-one
  plugins/you-missed-that-one
Labels: plugin change

#7449 Update loot-filters
  plugins/loot-filters
Labels: plugin change

#7447 Update tictac7x-charges to v0.5.19
  plugins/tictac7x-charges
Labels: plugin change

#7457 Update loot-filters
  plugins/loot-filters
Labels: plugin change

#7454 Update party-defence-tracker
  plugins/party-defence-tracker
Labels: plugin change

#7460 [Update] - Varlamore House Thieving - v1.5.1 - Sololegends
  plugins/varlamore-house-thieving
Labels: plugin change

#7461 [Update] - What pet is that anyway - v1.0.2 - Sololegends
  plugins/what-pet-is-that-anyway
Labels: plugin change

#7462 Update herbi-afk
  plugins/herbi-afk
Labels: plugin change

#7465 Update quest-helper to 4.7.6.1
  plugins/quest-helper
Labels: plugin change

#7468 patch naturalspeech
  plugins/naturalspeech
Labels: plugin change

#7469 Update equipment-inspector
  plugins/equipment-inspector
Labels: plugin change

#7466 Update Party Health Status : Readme
  plugins/party-health-status
Labels: plugin change

#7471 1 line fix for weapon animation replacer.
  plugins/weapon-animation-replacer
Labels: plugin change

#6430 Updates OSRS Archipelago Plugin to v2.0.0
  package/verification-template/build.gradle
  plugins/osrs-archipelago
Labels: plugin change, dependency change

#7472 Update Twitch Live Loadout to v2.2.2
  plugins/twitch-live-loadout
Labels: plugin change

#7473 readme: update step for failed ci check
  README.md
Labels: package change

#7467 Update tts to v1.08
  plugins/tts
Labels: plugin change

#7470 Update patch-payment
  plugins/patch-payment
Labels: plugin change

#7475 Update tool-required to v1.1.5
  plugins/tool-required
Labels: plugin change

#7476 Update guest-indicators - Fix disabled plugin deprecated api
  plugins/guest-indicators
Labels: plugin change

#7453 Tzhaarhp 1.0.3
  plugins/tzhaar-hp-tracker
Labels: plugin change

#7477 update flipping-copilot to v1.6.5
  plugins/flipping-copilot
Labels: plugin change

#7479 Hold your ground
  plugins/hold-your-ground
Labels: plugin change

#7482 zulrah-helper: update to v2.0.1
  plugins/zulrah-helper
Labels: plugin change

#7487 update gnome childify to 0.2.1
  plugins/gnomechildify
Labels: plugin change

#7480 Update optimal-quest-guide
  plugins/optimal-quest-guide
Labels: plugin change

#7481 Update attack-sound-notifications
  plugins/attack-sound-notifications
Labels: plugin change

#7488 disable thenwefight
  plugins/thenwefight
Labels: plugin change

#7489 disable bingo-helper
  plugins/bingo-helper
Labels: plugin change, non-author plugin change

#7455 update mastering-mixology to v1.8.0
  plugins/mastering-mixology
Labels: plugin change

#7464 Update bot-detector to v1.3.9.6
  plugins/bot-detector
Labels: plugin change

#7483 runewatch: update to v2.5.0
  plugins/runewatch
Labels: plugin change

#7485 Update world-cycle : Bugfixes
  plugins/world-cycle
Labels: plugin change

#7486 Update tictac7x-charges to v0.5.20
  plugins/tictac7x-charges
Labels: plugin change

#7484 Update temple-osrs
  plugins/temple-osrs
Labels: plugin change

#7490 Update npc-accessibility-tagger
  plugins/npc-accessibility-tagger
Labels: plugin change

#7463 Update loot-filters
  plugins/loot-filters
Labels: plugin change

#7499 Update resource-packs to v1.7.0
  plugins/resource-packs
Labels: plugin change

#7500 Update resource-packs to v1.7.0
  plugins/resource-packs
Labels: plugin change

#7495 Update loot-filters to 1.0.0
  plugins/loot-filters
Labels: plugin change

#7492 Update xp goalz
  plugins/xp-goalz
Labels: plugin change
