Repository runelite/plugin-hub, pull requests merged in 2025-08, with the labels that each got.

#8538 Update flipping-copilot to v1.7.4
  plugins/flipping-copilot
Labels: plugin change

#8653 Update chance-man to v2.5.0
  plugins/chance-man
Labels: plugin change

#8656 update demonic-larva-tracker to v1.3.1
  plugins/demonic-larva-tracker
Labels: plugin change

#8541 Takeover cox-special-loot-hider
  plugins/cox-special-loot-hider
Labels: plugin change, plugin repo changed

#8658 Update Creator's Kit to v2.0.11
  plugins/creators-kit
Labels: plugin change

#8659 update guardians-of-the-rift-optimizer to v1.0.6.4
  plugins/guardians-of-the-rift-optimizer
Labels: plugin change

#8664 Update shortest-path to v1.17.6
  plugins/shortest-path
Labels: plugin change

#8057 Updates osrs-archipelago to be compatible with Archipelago API 0.6.2
  package/verification-template/build.gradle
  package/verification-template/gradle/verification-metadata.xml
  plugins/osrs-archipelago
Labels: plugin change, dependency change, waiting for author

#8665 Update cox-special-loot-hider
  plugins/cox-special-loot-hider
Labels: plugin change

#8675 Bump to include dom crowdsourcing
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#8679 fix exception during install/startup preventing proper plugin start
  plugins/guardians-of-the-rift-optimizer
Labels: plugin change

#8678 Update shortest-path to v1.17.7
  plugins/shortest-path
Labels: plugin change

#8681 Add irit tar support
  plugins/herblorerecipes
Labels: plugin change

#8647 Update gemstone-crab-timer
  plugins/gemstone-crab-timer
Labels: plugin change

#8672 Update ping-grapher to 1.6.1
  plugins/ping-grapher
Labels: plugin change

#8680 Updated Clan Spam Filter
  plugins/guild-spam-filter
Labels: plugin change

#8651 Create PetTheAlpaca
  plugins/pet-the-alpaca
Labels: plugin added

#8684 Update Clue Saver to 2.1.3
  plugins/clue-saver
Labels: plugin change

#8669 Storage interactions
  plugins/storage-interactions
Labels: plugin change

#8688 Storage Interactions - fixed crash
  plugins/storage-interactions
Labels: plugin change

#8695 Update Gemstone Crab to v1.1.1
  plugins/gemstone-crab-timer
Labels: plugin change

#8619 Add projectile-override v1.0.0
  plugins/projectile-override
Labels: plugin added

#8670 Update ba-world-scouter
  plugins/ba-world-scouter
Labels: plugin change

#8673 Create tictac7x-camera-pitch-limiter
  plugins/tictac7x-camera-pitch-limiter
Labels: plugin added

#8683 Update runelingual
  plugins/runelingual
Labels: plugin change

#8685 update demonic-larva-tracker to v1.4
  plugins/demonic-larva-tracker
Labels: plugin change

#8692 Doom fixes
  plugins/monster-hp-percentage
Labels: plugin change

#8696 Update hot-cold-helper v1.1.3
  plugins/hot-cold-helper
Labels: plugin change

#8697 Fix analogue-timestamps
  plugins/analogue-timestamps
Labels: plugin change

#8698 Update Totem-Fletching to v1.1.0
  plugins/totem-fletching
Labels: plugin change

#8691 Update flipping-copilot to v1.7.5
  plugins/flipping-copilot
Labels: plugin change

#8690 Create telegram-notifier
  plugins/telegram-notifier
Labels: plugin added

#8663 update 117hd
  plugins/117hd
Labels: plugin change, hold for release

#8705 Average Total Level: Moving plugin repo and fixing deprecated function
  plugins/average-total-level
Labels: plugin change

#8718 Average Total Level: Moving repo
  plugins/average-total-level
Labels: plugin change, plugin repo changed

#8715 Update tick-counter
  plugins/tick-counter
Labels: plugin change

#8730 Update attacktimer
  plugins/attacktimer
Labels: plugin change

#8732 Update click-to-minimize
  plugins/click-to-minimize
Labels: plugin change

#8733 Updated empty-hands-indicator plugin
  plugins/empty-hands-indicator
Labels: plugin change

#8731 Update Gemstone-Crab
  plugins/gemstone-crab-timer
Labels: plugin change

#8737 Update world-location to v1.5
  plugins/world-location
Labels: plugin change

#8735 Update clue-saver to 2.1.4
  plugins/clue-saver
Labels: plugin change

#8741 Update vanced-barrows
  plugins/vanced-barrows
Labels: plugin change

#8755 Update Creator's Kit to v2.0.12
  plugins/creators-kit
Labels: plugin change

#8750 Add none option in animation config
  plugins/doom-of-mokhaiotl-colorblind-helper
Labels: plugin change

#8751 Update poison-moo to v1.1.0
  plugins/poison-moo
Labels: plugin change

#8752 update demonic-larva-tracker to v1.5.1
  plugins/demonic-larva-tracker
Labels: plugin change

#8703 Global Chat - Bug Fixes
  plugins/global-chat
Labels: plugin change

#8712 Update Not Enough Runes to 1.7
  plugins/not-enough-runes
Labels: plugin change

#8745 Update visual-timer
  plugins/visual-timer
Labels: plugin change

#8767 Update Gemstone Crab to v2.0.1
  plugins/gemstone-crab-timer
Labels: plugin change

#8766 Update max-hit-calculator to v2.1.1
  plugins/max-hit-calculator
Labels: plugin change

#8759 Update Vitality
  plugins/vitality
Labels: plugin change

#8760 Update chat-success-rates to v1.2.8
  plugins/chat-success-rates
Labels: plugin change

#8738 Update runelingual
  plugins/runelingual
Labels: plugin change

#8763 Update `hunter-rumours` to `1.3.4`
  plugins/hunter-rumours
Labels: plugin change

#8749 Update vanced-barrows
  plugins/vanced-barrows
Labels: plugin change

#8145 Add Tick Beats Metronome Plugin
  plugins/tick-beats-metronome
Labels: plugin added

#8654 Add project-xeric to plugin-hub
  plugins/project-xeric
Labels: plugin added

#8666 update log-master to 1.2.0
  plugins/log-master
Labels: plugin change

#8667 Add land-surveyor
  plugins/land-surveyor
Labels: plugin added

#8706 Adding "Hide Prayer Descriptions" plugin
  plugins/hide-prayer-descriptions
Labels: plugin added

#8709 Update chance-man to v2.6.0
  plugins/chance-man
Labels: plugin change

#8754 Bug fix temple-osrs
  plugins/temple-osrs
Labels: plugin change

#8758 Update onepassword-plugin
  plugins/onepassword-plugin
Labels: plugin change

#8770 Update personalcurrencytracker to v1.2
  plugins/personalcurrencytracker
Labels: plugin change

#8764 Update Metrics Tracker to v1.0.4
  plugins/metrics-tracker
Labels: plugin change

#8771 Update afk-overlay
  plugins/afk-overlay
Labels: plugin change

#8773 Update shortest-path to v1.17.10
  plugins/shortest-path
Labels: plugin change

#8775 Update fixed-resizable-hybrid
  plugins/fixed-resizable-hybrid
Labels: plugin change

#8776 Create restore-tranquility-statues
  plugins/restore-tranquility-statues
Labels: plugin added

#8779 Update ba-heal-codes to 1.1
  plugins/ba-heal-codes
Labels: plugin change

#8780 Update clickertraining
  plugins/clickertraining
Labels: plugin change

#8782 Update `easy teleports` to `v2.4.0`
  plugins/easy-pharaoh-sceptre
Labels: plugin change

#8784 Update projectile-override to v1.0.1
  plugins/projectile-override
Labels: plugin change

#8788 Add Cough Syrup Plugin
  plugins/cough-syrup
Labels: plugin added

#8790 Distraction reducer
  plugins/distraction-reducer
Labels: plugin change

#8795 [hotfix] update generate-task with 1.2.0 hotfix
  plugins/log-master
Labels: plugin change

#8799 Update shooting-stars-tracking
  plugins/shooting-stars-tracking
Labels: plugin change

#8801 update repository: custom-emoji
  plugins/custom-emoji
Labels: plugin change, plugin repo changed

#8802 update custom-emoji
  plugins/custom-emoji
Labels: plugin change

#8796 Update Forestry Spawn Helper
  plugins/forestry-spawn-helper
Labels: plugin change

#8804 Update fairy-ring-butterflies: Bugfix for Null pointer exceptions after POH rework
  plugins/fairy-ring-butterflies
Labels: plugin change

#8810 Update shortest-path to v1.17.11
  plugins/shortest-path
Labels: plugin change

#8814 Update aerial-fishing-pearl-luck
  plugins/aerial-fishing-pearl-luck
Labels: plugin change

#8817 update fortis-colosseum to v1.6.1
  plugins/fortis-colosseum
Labels: plugin change

#8815 Update Metrics Tracker to 1.0.5
  plugins/metrics-tracker
Labels: plugin change

#8821 update fortis-colosseum to v1.7.2
  plugins/fortis-colosseum
Labels: plugin change

#8827 Update clean-chat to v2.3.0
  plugins/clean-chat
Labels: plugin change

#8840 Upgrade clean-chat to v2.3.1
  plugins/clean-chat
Labels: plugin change

#8844 Update easy-giantsfoundry to v1.0.9
  plugins/easy-giantsfoundry
Labels: plugin change

#8848 Update farming guild overview to v1.1.0
  plugins/farming-guild-overview
Labels: plugin change

#8872 Tiny bug fix temple-osrs
  plugins/temple-osrs
Labels: plugin change

#8873 Update Chat Name Colors
  plugins/chat-name-colors
Labels: plugin change

#8841 Update elysiumevents-plugin
  plugins/elysiumevents-plugin
Labels: plugin change

#8837 update loot-logger (v4.3.3)
  plugins/loot-logger
Labels: plugin change

#8887 Did i compost Update for valamore patches
  plugins/did-i-compost
Labels: plugin change

#8881 update big-fish-probability-plugin
  plugins/big-fish-probability
Labels: plugin change

#8892 update fish-barrel to v1.3.0
  plugins/fish-barrel
Labels: plugin change

#8898 Update bracelet-reminder
  plugins/bracelet-reminder
Labels: plugin change

#8878 Update public-chat-and-npc-overhead-remover
  plugins/public-chat-and-npc-overhead-remover
Labels: plugin change

#8910 Update treecount plugin v1.5.4
  plugins/treecount
Labels: plugin change

#8902 Update shortest-path to v1.17.12
  plugins/shortest-path
Labels: plugin change

#8897 Add Chest Kicker plugin
  plugins/chest-kicker
Labels: plugin added

#8918 Update tictac7x-charges to v0.6.9
  plugins/tictac7x-charges
Labels: plugin change

#8923 Update resource-packs to v1.7.6
  plugins/resource-packs
Labels: plugin change

#8896 Update barbarian-assault-pbs
  plugins/barbarian-assault-pbs
Labels: plugin change

#8904 RuneProfile v2.2.0
  plugins/runeprofile
Labels: plugin change

#8912 Create hopper
  plugins/hopper
Labels: plugin added

#8936 Update & Rename boss-hp-reorder (v2.0)
  plugins/boss-hp-reorder
Labels: plugin change

#8945 Update Goggles reminder
  plugins/goggles-reminder
Labels: plugin change

#8941 Slayer Task Sorter
  plugins/slayer-task-sorter
Labels: plugin added

#8948 update visual-metronome to V1.5
  plugins/visual-metronome
Labels: plugin change

#8951 Update escape-crystal-notify (v1.7)
  plugins/escape-crystal-notify
Labels: plugin change

#8957 Update Dink to v1.11.13
  plugins/dink
Labels: plugin change

#8955 Update sound-alerts-expanded
  plugins/sound-alerts-expanded
Labels: plugin change

#8960 Update Chest-Kicker
  plugins/chest-kicker
Labels: plugin change

#8963 Update customizable-xp-drops to v1.9.10
  plugins/customizable-xp-drops
Labels: plugin change

#8961 Update escape-crystal-notify (v1.8)
  plugins/escape-crystal-notify
Labels: plugin change
