Repository runelite/plugin-hub, pull requests merged in 2025-03, with the labels that each got.

#7491 Update nekos
  plugins/nekos
Labels: plugin change

#7501 Create fallen-tree-sound
  plugins/fallen-tree-sound
Labels: plugin added

#7520 Update inventory-notifier
  plugins/inventory-notifier
Labels: plugin change, waiting for author

#7539 Update fixed-resizable-hybrid
  plugins/fixed-resizable-hybrid
Labels: plugin change

#7556 Update slayer-wiki
  plugins/slayer-wiki
Labels: plugin change

#7557 Annoyance Mute update
  plugins/annoyance-mute
Labels: plugin change

#7511 Update BAS Queue Helper
  plugins/basqh
Labels: plugin change

#7496 update tob-notice-board repository
  plugins/tob-notice-board
Labels: plugin change

#7543 Update raids death indicator with chambers support
  plugins/raids-death-indicator
Labels: plugin change

#7546 Update loot-filters to v1.4.0
  plugins/loot-filters
Labels: plugin change

#7554 Create Unmuted Jingles
  plugins/unmutedjingles
Labels: plugin added

#7558 Update fixed-resizable-hybrid
  plugins/fixed-resizable-hybrid
Labels: plugin change

#7560 Toa gear check
  plugins/toa-gear-check
Labels: plugin change

#7563 Update Equipment Lock
  plugins/equipment-lock
Labels: plugin change

#7565 Update Loot Logger (v4.3)
  plugins/loot-logger
Labels: plugin change

#7564 Create npc-contact-filter
  plugins/npc-contact-filter
Labels: plugin added

#7566 Update loot-filters to v1.4.1
  plugins/loot-filters
Labels: plugin change

#7567 Raids death indicator bugfix
  plugins/raids-death-indicator
Labels: plugin change

#7568 update tob-notice-board to v1.2.0
  plugins/tob-notice-board
Labels: plugin change

#7571 Raids death indicator party bugfix
  plugins/raids-death-indicator
Labels: plugin change

#7570 Update Banked Experience (v2.7)
  plugins/banked-experience
Labels: plugin change

#7577 Update clan-chat-webhook
  plugins/clan-chat-webhook
Labels: plugin change

#7576 Update shortest-path to v1.17.1
  plugins/shortest-path
Labels: plugin change

#7580 Update tob-predicted-hit
  plugins/tob-predicted-hit
Labels: plugin change

#7584 Update chat-success-rates to v1.2.6
  plugins/chat-success-rates
Labels: plugin change

#7585 Raids death indicator bugfix
  plugins/raids-death-indicator
Labels: plugin change

#7591 Custom Menu Swaps 2.5.14 "Munging" bugfix.
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#7574 Update loot-filters to v1.5.0
  plugins/loot-filters
Labels: plugin change

#7592 Update looting-bag-value v2.1.1
  plugins/looting-bag-value
Labels: plugin change

#7561 Update Dink to v1.11.3
  plugins/dink
Labels: plugin change

#7569 README: Note that dependency changes add significantly to review time
  README.md
Labels: package change

#7575 update Custom Vital Bars to v1.3
  plugins/custom-vital-bars
Labels: plugin change

#7583 Update tictac7x-charges to v0.5.21
  plugins/tictac7x-charges
Labels: plugin change

#7586 Update gim-plugin to v2.9.2
  plugins/gim-plugin
Labels: plugin change

#7587 Update Embargo clan plugin
  plugins/embargo-clan-plugin
Labels: plugin change

#7589 Update prop-hunt
  plugins/prop-hunt
Labels: plugin change

#7593 Update duck-duck-goose to 1.0.5
  plugins/duck-duck-goose
Labels: plugin change

#7594 Update toa-gear-check to V1.3
  plugins/toa-gear-check
Labels: plugin change

#7326 Ectoplasmator reminder
  plugins/ectoplasmator-reminder
Labels: plugin change

#7559 Bingo Plugin
  plugins/betterbingo
Labels: plugin added

#7562 Create special-attack-infobox
  plugins/special-attack-infobox
Labels: plugin added

#7590 Create player-status-highlight
  plugins/player-status-highlight
Labels: plugin added

#7595 Added empty-hands-indicator
  plugins/empty-hands-indicator
Labels: plugin added

#7598 Update Party Panel (v3.4)
  plugins/party-panel
Labels: plugin change

#7596 Add Missed Clues plugin
  plugins/missed-clues
Labels: plugin added

#7597 Create tictac7x-capslock v0.1
  plugins/tictac7x-capslock
Labels: plugin added

#7599 Update instant-damage-calculator
  plugins/instant-damage-calculator
Labels: plugin change

#7608 Update tictac7x-charges to v0.5.21.1
  plugins/tictac7x-charges
Labels: plugin change

#7613 update tob-notice-board to 1.2.1
  plugins/tob-notice-board
Labels: plugin change

#7610 tob qol - v1.2.6
  plugins/tobqol
Labels: plugin change

#7601 Update temple-osrs
  plugins/temple-osrs
Labels: plugin change

#7612 Update fixed-resizable-hybrid
  plugins/fixed-resizable-hybrid
Labels: plugin change

#7616 patch naturalspeech
  plugins/naturalspeech
Labels: plugin change

#7609 Update missed-clues v1.1
  plugins/missed-clues
Labels: plugin change

#7625 Update temple-osrs tiny bug fix
  plugins/temple-osrs
Labels: plugin change

#7626 Update preventsgm
  plugins/preventsgm
Labels: plugin change

#7603 Update chugging-barrel to v1.2.0
  plugins/chugging-barrel
Labels: plugin change

#7606 Update prop-hunt to v1.2
  plugins/prop-hunt
Labels: plugin change

#7618 Update goading helper to 1.0.4
  plugins/goading-helper
Labels: plugin change

#7619 Update loot-filters to v1.6.0
  plugins/loot-filters
Labels: plugin change

#7621 tobqol - v.1.3.0
  plugins/tobqol
Labels: plugin change

#7627 Delete plugins/ironclad-clan-goals
  plugins/ironclad-clan-goals
Labels: plugin change

#7630 Update Creator's Kit to v1.5.18
  plugins/creators-kit
Labels: plugin change

#7631 Update clue-details to 2.3.0
  plugins/clue-details
Labels: plugin change

#7632 Update Mahogany Homes (v1.8)
  plugins/mahogany-homes
Labels: plugin change

#7633 Update local-consciousness to version 2.0
  plugins/local-consciousness
Labels: plugin change

#7604 Amulet of bounty alerter
  plugins/amulet-of-bounty-alerter
Labels: plugin added

#7605 Create nightmare-fade-remover
  plugins/nightmare-fade-remover
Labels: plugin added

#7620 Add Unmovable Plugin
  plugins/unmovable
Labels: plugin added

#7628 Create current-spellbook
  plugins/current-spellbook
Labels: plugin added

#7629 Update autocasting plugin
  plugins/autocast-utilities
Labels: plugin change

#7639 Update amulet-of-bounty-alerter to 1.1
  plugins/amulet-of-bounty-alerter
Labels: plugin change

#7638 Update clue-details to 2.3.1
  plugins/clue-details
Labels: plugin change

#7641 Update local-consciousness to 2.1
  plugins/local-consciousness
Labels: plugin change

#7648 tobqol - v1.3.1 - Spectator Dry Streak Loot Fix (Quick)
  plugins/tobqol
Labels: plugin change

#7622 update tob-notice-board to 1.3.0
  plugins/tob-notice-board
Labels: plugin change

#7643 Update prop-hunt 1.2.1
  plugins/prop-hunt
Labels: plugin change

#7644 update SoundSwapper
  plugins/sound-swapper
Labels: plugin change, non-author plugin change

#7645 Update loot-filters to v1.6.1
  plugins/loot-filters
Labels: plugin change

#7646 Watchdog v3.8.0
  plugins/watchdog
Labels: plugin change

#7649 Update temple-osrs
  plugins/temple-osrs
Labels: plugin change

#7650 tobqol - v1.3.2
  plugins/tobqol
Labels: plugin change

#7652 Update unmovable to v1.1.1
  plugins/unmovable
Labels: plugin change

#7647 Update Resizable Chat to v1.2.0
  plugins/resizable-chat
Labels: plugin change

#7654 Update Stealing Artefacts to v1.5
  plugins/stealing-artefacts
Labels: plugin change

#7656 Update author list for fixed-mode-hide-chat plugin
  plugins/fixed-mode-hide-chat
Labels: plugin change

#7657 Update Missed Clues v1.2
  plugins/missed-clues
Labels: plugin change

#7658 Update trouble-brewing
  plugins/trouble-brewing
Labels: plugin change

#7659 Update prop-hunt 1.2.2
  plugins/prop-hunt
Labels: plugin change

#7660 Splashing helper plugin
  plugins/splashing-helper
Labels: plugin added

#7662 Update current-spellbook
  plugins/current-spellbook
Labels: plugin change

#7665 Update fixed-resizable-hybrid
  plugins/fixed-resizable-hybrid
Labels: plugin change

#7669 Update optimal-quest-guide
  plugins/optimal-quest-guide
Labels: plugin change

#7671 Updated empty-hands-indicator
  plugins/empty-hands-indicator
Labels: plugin change

#7653 Updated Compsot Helper to 1.1
  plugins/compost-helper
Labels: plugin change

#7677 Update Visual Sounds - Add label customisation
  plugins/visual-sounds
Labels: plugin change

#7685 Update amulet-of-bounty-alerter to v1.2
  plugins/amulet-of-bounty-alerter
Labels: plugin change

#7687 Update clan-chat-warnings
  plugins/clan-chat-warnings
Labels: plugin change

#7688 Bump to increase whitelists for sailing alpha npcs/items
  plugins/osrs-wiki-crowdsourcing
Labels: plugin change

#7666 Update commit sha
  plugins/fixed-mode-hide-chat
Labels: plugin change

#7670 Update Creator's Kit to v1.5.19
  plugins/creators-kit
Labels: plugin change

#7674 Update compass-camera-control to v1.1.8
  plugins/compass-camera-control
Labels: plugin change

#7664 Add Quick Search plugin
  plugins/quick-search
Labels: plugin added

#7675 Add minimap
  plugins/chathighlightplayer
Labels: plugin change

#7676 Updated empty-hands-indicator plugin
  plugins/empty-hands-indicator
Labels: plugin change

#7678 Update tictac7x-charges to v0.5.22
  plugins/tictac7x-charges
Labels: plugin change

#7663 Create chance-man
  plugins/chance-man
Labels: plugin added

#7679 Update tictac7x-rooftops to v0.6.2
  plugins/tictac7x-rooftops
Labels: plugin change

#7681 Update 1.2.3
  plugins/prop-hunt
Labels: plugin change

#7683 Death Dotter Plugin
  plugins/deathdotter
Labels: plugin added

#7690 Update tictac7x-capslock to v0.2
  plugins/tictac7x-capslock
Labels: plugin change

#7691 Update Vitality
  plugins/vitality
Labels: plugin change

#7692 Update maple-xp-bar
  plugins/maple-xp-bar
Labels: plugin change

#7693 Update loot-filters to v1.6.3
  plugins/loot-filters
Labels: plugin change

#7695 Update server address to utilize EIP
  plugins/prop-hunt
Labels: plugin change

#7696 Update chance-man to 1.1.1
  plugins/chance-man
Labels: plugin change

#7686 Update emojiscape
  package/verification-template/build.gradle
  plugins/emojiscape
Labels: plugin change, dependency change

#7673 Update Hide and seek tracker
  plugins/hide-and-seek-tracker
Labels: plugin change

#7680 Added bingoscape-companion
  plugins/bingoscape-companion
Labels: plugin added

#7697 Update Hub Party Panel (v3.5)
  plugins/party-panel
Labels: plugin change

#7698 Update amulet-of-bounty-alerter to 1.3
  plugins/amulet-of-bounty-alerter
Labels: plugin change

#7699 tobqol - v1.3.3
  plugins/tobqol
Labels: plugin change

#7701 Update chance-man to 1.1.2
  plugins/chance-man
Labels: plugin change

#7702 Update loot-filters to v1.7.0
  plugins/loot-filters
Labels: plugin change

#7703 Update missed clues - add runelite message sender
  plugins/missed-clues
Labels: plugin change

#7705 Update Dink to v1.11.4
  plugins/dink
Labels: plugin change

#7704 Update easylootsell to v1.1.0 and add authors
  plugins/easylootsell
Labels: plugin change

#7708 update - fix missed command rename
  plugins/quick-search
Labels: plugin change

#7709 Update no-new-items
  plugins/no-new-items
Labels: plugin change

#7714 Update emojiscape
  plugins/emojiscape
Labels: plugin change

#7713 disable collection-log
  plugins/collection-log
Labels: plugin change, non-author plugin change

#7715 Update bracelet-reminder
  plugins/bracelet-reminder
Labels: plugin change

#7706 Update attacktimer
  plugins/attacktimer
Labels: plugin change

#7707 Update prop-hunt
  plugins/prop-hunt
Labels: plugin change

#7711 Update loot-filters to v1.7.1
  plugins/loot-filters
Labels: plugin change

#7716 Updated to commit id ededb2d03561a9a0074ab9852e3ea0b3173d083c
  plugins/salve-amulet-checker
Labels: plugin change

#7717 Update Plugin Presets to v2.9
  plugins/plugin-presets
Labels: plugin change

#7718 Update first-person to 2.0.3
  plugins/first-person
Labels: plugin change

#7720 Update imadrum-money
  plugins/imadrum-money
Labels: plugin change

#7721 Update visual-sounds
  plugins/visual-sounds
Labels: plugin change

#7722 Update chance-man to 1.1.5
  plugins/chance-man
Labels: plugin change

#7350 Raid data tracker 1.6.0 update. The ToA update.
  plugins/raid-data-tracker
Labels: plugin change

#7719 Update sound-swapper
  plugins/sound-swapper
Labels: plugin change, non-author plugin change

#7474 Update IRC to v1.0.2 (9ef5d8d)
  plugins/irc
Labels: plugin change

#7728 Update imadrum-money
  plugins/imadrum-money
Labels: plugin change

#7726 Update Creator's Kit to v1.5.20
  plugins/creators-kit
Labels: plugin change

#7733 Disable snowplow
  plugins/snowplow
Labels: plugin change, non-author plugin change

#7689 Update flipper v1.0.1
  plugins/flipper
Labels: plugin change

#7710 Update Embargo
  plugins/embargo-clan-plugin
Labels: plugin change

#7712 Add npc-max-hit
  plugins/npc-max-hit
Labels: plugin added
