Repository runelite/plugin-hub, pull requests merged in 2025-09, with the labels that each got.

#8793 Create rich-text-notes
  plugins/rich-text-notes
Labels: plugin added

#8811 Delve calculator
  plugins/delve-calculator
Labels: plugin added

#8938 RuneProfile v2.2.1
  plugins/runeprofile
Labels: plugin change

#8967 Update tempoross to 1.7
  plugins/tempoross
Labels: plugin change

#8966 Update projectile-override to v1.0.2
  plugins/projectile-override
Labels: plugin change

#8972 update no-bad-alchs 1.2.1
  plugins/no-bad-alchs
Labels: plugin change

#8979 Update fairy-ring-butterflies: enhance logic to handle recycled gameObject IDs
  plugins/fairy-ring-butterflies
Labels: plugin change

#8971 Update escape-crystal-notify (v1.9)
  plugins/escape-crystal-notify
Labels: plugin change

#8986 [minor] fix null ptr error in RDI
  plugins/raids-death-indicator
Labels: plugin change

#8985 [Update] Group storage reminder - Only show if player is a group ironman
  plugins/group-storage-reminder
Labels: plugin change

#8854 Create afk-dimmer
  plugins/afk-dimmer
Labels: plugin added

#8783 Item Requirements Plugin
  plugins/item-requirements
Labels: plugin added

#8989 [Update] - Varlamore House Thieving - v1.5.5 - Sololegnds
  plugins/varlamore-house-thieving
Labels: plugin change

#8993 Update no-bad-alchs 1.2.3 critical bugfix
  plugins/no-bad-alchs
Labels: plugin change

#8994 project-xeric: side panel task filtering
  plugins/project-xeric
Labels: plugin change

#8953 Add overhead-alarm plugin repository information
  plugins/overhead-alarm
Labels: plugin added

#8940 Add Accidental Teleport Blocker
  plugins/accidental-teleport-blocker
Labels: plugin added

#8974 Update clear-unsent-messages
  plugins/clear-unsent-messages
Labels: plugin change

#9007 Update clean-chat to v2.3.2
  plugins/clean-chat
Labels: plugin change

#9000 Update Fixed Resizable Hybrid
  plugins/fixed-resizable-hybrid
Labels: plugin change

#9017 Update one-tick-flick to 1.0.6
  plugins/one-tick-flick
Labels: plugin change

#9006 Updated item-requirements
  plugins/item-requirements
Labels: plugin change

#8523 Update DropTracker to v5.0.1
  plugins/droptracker
Labels: plugin change

#9020 Update escape-crystal-notify (v1.10)
  plugins/escape-crystal-notify
Labels: plugin change

#9023 Fix bug with prevent misclicks
  plugins/preventsgm
Labels: plugin change

#9021 Update Clue Details to 2.6.1
  plugins/clue-details
Labels: plugin change

#9022 Update target true tile to 1.3.2
  plugins/target-true-tile
Labels: plugin change

#9027 Update Tile Packs
  plugins/tile-packs
Labels: plugin change

#9016 Update Bank highlighter
  plugins/bank-highlighter
Labels: plugin change

#9037 Update wom-utils to 1.4.14
  plugins/wom-utils
Labels: plugin change

#9047 Update shortest-path to v1.17.14
  plugins/shortest-path
Labels: plugin change

#9056 Update wom-utils to 1.4.15
  plugins/wom-utils
Labels: plugin change

#8875 translate game messages with local translation files
  plugins/runelingual
Labels: plugin change

#8976 Update aqp-finder
  plugins/aqp-finder
Labels: plugin change

#8949 deprecate log-master
  plugins/log-master
Labels: plugin change

#8990 Update flipping-copilot to v1.7.7
  plugins/flipping-copilot
Labels: plugin change

#8996 project-xeric: task detection fixes
  plugins/project-xeric
Labels: plugin change

#9009 Update "Dude, Where's My Stuff?" to v2.9.0
  plugins/dude-wheres-my-stuff
Labels: plugin change

#9025 Update tts to v1.09
  plugins/tts
Labels: plugin change

#9069 update ba-tiles
  plugins/ba-tiles
Labels: plugin change

#9077 rspaint 1.0.2 actually remove applet
  plugins/rspaint
Labels: plugin change, size-xs

#9073 Update fashionscape to 1.4.1
  plugins/fashionscape
Labels: plugin change, size-m

#9044 Update tile marker metronome
  plugins/tile-marker-metronome
Labels: plugin change

#9080 update relative-tile-markers
  plugins/relative-tile-markers
Labels: plugin change, size-s

#9090 update 117hd
  plugins/117hd
Labels: plugin change, size-xs

#9085 chore: Updating Tree Count plugin config wording
  plugins/treecount
Labels: plugin change, size-xs

#9089 Update slayer-additions
  plugins/slayer-additions
Labels: plugin change, size-s

#9088 Upgrade clean-chat to v2.4.1
  plugins/clean-chat
Labels: plugin change, size-xs

#9094 update 117hd
  plugins/117hd
Labels: plugin change, size-s

#9098 update 117hd
  plugins/117hd
Labels: plugin change, size-s

#9102 Bump instant inventory to v1.3.1
  plugins/instant-inventory
Labels: plugin change, size-m

#9092 Update tilemanmode authors and point to latest
  plugins/tilemanmode
Labels: plugin change, non-author plugin change, size-s

#9107 update 117hd
  plugins/117hd
Labels: plugin change

#9074 Update bh-pages v1.2 - images
  plugins/bh-pages
Labels: plugin change, size-0

#9111 Update escape-crystal-notify (v1.12)
  plugins/escape-crystal-notify
Labels: plugin change, size-s

#9122 Update world-heatmap (fix failure to build)
  plugins/world-heatmap
Labels: plugin change, size-s

#9035 Watchdog v3.14.0
  plugins/watchdog
Labels: plugin change, size-l

#9051 Update easy-blastfurnace to v1.5.0
  plugins/easy-blastfurnace
Labels: plugin change, size-l

#9124 Watchdog v3.14.1 - fix oom
  plugins/watchdog
Labels: plugin change, size-xs

#9132 update big-fish-probability to v1.0.1
  plugins/big-fish-probability
Labels: plugin change, size-xs

#9133 update push-notifications
  plugins/push-notifications
Labels: plugin change, size-m

#9137 update big-fish-probability to v1.0.2
  plugins/big-fish-probability
Labels: plugin change, size-xs

#9070 Update flipping-copilot to v1.7.8
  plugins/flipping-copilot
Labels: plugin change, size-xs

#9119 update LimeyTileMan
  plugins/limeytileman
Labels: plugin change, size-xs

#9129 Update GIM Bank Ex: Authentication
  plugins/gim-bank-ex
Labels: plugin change, size-xs

#9072 Update Project Xeric to 1.1.1
  plugins/project-xeric
Labels: plugin change, size-s

#9081 Update vanced-barrows
  plugins/vanced-barrows
Labels: plugin change, size-s

#9110 Update InventorySetups v1.22.0
  plugins/inventory-setups
Labels: plugin change, size-s

#9115 update Runelingual: interface fixes
  plugins/runelingual
Labels: plugin change, size-s

#9121 Update rich-text-notes
  plugins/rich-text-notes
Labels: plugin change, size-s

#9082 Update Ground Item Sounds
  plugins/ground-item-sounds
Labels: plugin change, size-m

#9138 Update Hot Cold Helper (v1.2.0)
  plugins/hot-cold-helper
Labels: plugin change, size-m

#9151 Watchdog v3.14.2
  plugins/watchdog
Labels: plugin change, size-xs

#9159 Update quest-helper to 4.10.1
  plugins/quest-helper
Labels: plugin change, size-l

#9171 update 117hd
  plugins/117hd
Labels: plugin change, size-m
