Repository runelite/plugin-hub, pull requests merged in 2025-05, with the labels that each got.

#7824 Collection tracker
  plugins/collection-tracker
Labels: plugin added

#7917 Update Creator's Kit to v1.5.28
  plugins/creators-kit
Labels: plugin change

#7922 Update chance-man to v2.1.5
  plugins/chance-man
Labels: plugin change

#7930 Update monsterstats
  plugins/monsterstats
Labels: plugin change

#7929 Update npc-max-hit to 1.2.1
  plugins/npc-max-hit
Labels: plugin change

#7141 Create RuneLingual
  plugins/runelingual
Labels: plugin added

#7910 Create EventTools-Attendance
  plugins/eventtools-attendance
Labels: plugin added

#7919 Update log master
  plugins/log-master
Labels: plugin change

#7920 Update tictac7x-charges to v0.6.3
  plugins/tictac7x-charges
Labels: plugin change

#7924 Update Embargo to 1.4.1
  plugins/embargo-clan-plugin
Labels: plugin change

#7925 Add Forestry-Spawn-Helper plugin
  plugins/forestry-spawn-helper
Labels: plugin added

#7926 Create hide-chat
  plugins/hide-chat
Labels: plugin added

#7928 Collection Tracker Update
  plugins/collection-tracker
Labels: plugin change

#7951 update action-logger to v0.1.3
  plugins/action-logger
Labels: plugin change

#7956 update attack-ranges to 1.3.1
  plugins/attack-ranges
Labels: plugin change

#7931 Update loot-filters to v1.9.1
  plugins/loot-filters
Labels: plugin change

#7938 Update wom-utils to 1.4.3
  plugins/wom-utils
Labels: plugin change

#7957 Update tick-manipulation-helper v1.0.2
  plugins/tick-manipulation-helper
Labels: plugin change

#7958 Update tictac7x-storage to v0.6.1
  plugins/tictac7x-storage
Labels: plugin change

#7960 Update identificator to 1.8.4
  plugins/identificator
Labels: plugin change

#7848 add guardians-of-the-rift-optimizer
  plugins/guardians-of-the-rift-optimizer
Labels: plugin added

#7934 Update ToB Utilities to 1.0.2
  plugins/tob-utilities
Labels: plugin change

#7935 Update chance-man to v2.1.6
  plugins/chance-man
Labels: plugin change

#7940 Update RuneProfile v2.0.4
  plugins/runeprofile
Labels: plugin change

#7941 Update skill-data-exporter fix output path logic
  plugins/skill-data-exporter
Labels: plugin change

#7942 Update npc-max-hit to 1.2.2
  plugins/npc-max-hit
Labels: plugin change

#7948 Update runelingual v0.5.1
  plugins/runelingual
Labels: plugin change

#7949 Add Untrimmed Slayer Cape Helper Plugin
  plugins/untrimmed-slayer-cape-helper
Labels: plugin added

#7952 Update Embargo plugin to 1.4.3
  plugins/embargo-clan-plugin
Labels: plugin change

#7953 Update 1.1 Collection-Tracker
  plugins/collection-tracker
Labels: plugin change

#7963 DropTracker webhook fixes
  plugins/droptracker
Labels: plugin change

#7964 Update clogged-me to v1.1.1
  plugins/clogged-me
Labels: plugin change

#7959 Update shortest-path to v1.17.2
  plugins/shortest-path
Labels: plugin change

#7969 Update tool required to v1.1.6
  plugins/tool-required
Labels: plugin change

#7970 Update loot-filters to v1.9.2
  plugins/loot-filters
Labels: plugin change

#7973 Update Dink to v1.11.6
  plugins/dink
Labels: plugin change

#7974 Update npc-contact-filter
  plugins/npc-contact-filter
Labels: plugin change

#7968 Update tictac7x-charges to v0.6.4
  plugins/tictac7x-charges
Labels: plugin change

#7979 Update clue-details to 2.3.5
  plugins/clue-details
Labels: plugin change

#7982 Collection tracker Alias update
  plugins/collection-tracker
Labels: plugin change

#7984 Update Dink to v1.11.7
  plugins/dink
Labels: plugin change

#7967 quick fix chance-man
  plugins/chance-man
Labels: plugin change

#7977 Update droptracker to v3.83
  plugins/droptracker
Labels: plugin change

#7921 This is a plugin takeover request for [GE-Filters]
  plugins/ge-filters
Labels: plugin change, plugin repo changed

#7936 Update clean-chat to 1.0.7
  plugins/clean-chat
Labels: plugin change

#7950 Create special-attack-orb-hider
  plugins/special-attack-orb-hider
Labels: plugin added

#7954 Update auto-retaliate-warning
  plugins/auto-retaliate-warning
Labels: plugin change

#7966 update guardians-of-the-rift-optimizer to 1.0.1
  plugins/guardians-of-the-rift-optimizer
Labels: plugin change

#7971 Update Creator's Kit to v1.5.29
  plugins/creators-kit
Labels: plugin change

#7972 Update Missed Clues
  plugins/missed-clues
Labels: plugin change

#7975 Update Embargo to 1.4.4
  plugins/embargo-clan-plugin
Labels: plugin change

#7937 Implemented Metrics Tracker to track monster kph
  plugins/metrics-tracker
Labels: plugin added

#7985 Update ToB Utilities to 1.0.3
  plugins/tob-utilities
Labels: plugin change

#7986 Upgrade clean-chat to 1.0.9
  plugins/clean-chat
Labels: plugin change

#7987 runelingual v0.5.2
  plugins/runelingual
Labels: plugin change

#7990 Update push notifications
  plugins/push-notifications
Labels: plugin change

#7989 Update: ScaleUp - Added missing icon
  plugins/scaleup
Labels: plugin change

#7994 Update godbook to v1.0.3
  plugins/godbook
Labels: plugin change

#7997 Update quest-helper to 4.9.2
  plugins/quest-helper
Labels: plugin change

#8009 update dink to v1.11.8
  plugins/dink
Labels: plugin change

#8015 Watchdog v3.9.0 - Bye Bye Yama
  plugins/watchdog
Labels: plugin change

#8013 Update wom-utils to 1.4.4
  plugins/wom-utils
Labels: plugin change

#8012 Update customizable-xp-drops to v1.9.5
  plugins/customizable-xp-drops
Labels: plugin change

#8016 update skilling-notifications
  plugins/skilling-notifications
Labels: plugin change

#8019 Monster-hp-varbits
  plugins/monster-hp-percentage
Labels: plugin change

#8023 Update death-charge-reminder to v1.0.1
  plugins/death-charge-reminder
Labels: plugin change

#7992 [Plugin Update] GE-Filters to version 1.14
  plugins/ge-filters
Labels: plugin change

#8027 Update resource-packs to v1.7.2
  plugins/resource-packs
Labels: plugin change

#7998 Update clue-details to 2.3.5.1
  plugins/clue-details
Labels: plugin change

#8000 Update godbook to v1.0.4
  plugins/godbook
Labels: plugin change

#8030 Bossing info
  plugins/kph-tracker
Labels: plugin change

#8034 update the inventory cost tracker plugin to fix critical bugs
  plugins/inventory-cost-tracker
Labels: plugin change

#8029 Update monsterstats
  plugins/monsterstats
Labels: plugin change

#8036 Update time-tracking-reminder
  plugins/time-tracking-reminder
Labels: plugin change

#7943 Create Glassman
  plugins/glassman
Labels: plugin added

#7999 Update creators-kit to v1.5.30
  plugins/creators-kit
Labels: plugin change

#7988 Update Metrics Tracker to v1.0.1
  plugins/metrics-tracker
Labels: plugin change

#7991 Update schboop
  plugins/schboop
Labels: plugin change

#7939 Add Kill Count Viewer plugin
  plugins/kill-count-viewer
Labels: plugin added

#8040 Update Untrimmed Slayer Cape Helper
  plugins/untrimmed-slayer-cape-helper
Labels: plugin change

#8042 Update arceuus-timers 2.0
  plugins/arceuus-timers
Labels: plugin change

#8001 Update Embargo to 1.4.5
  plugins/embargo-clan-plugin
Labels: plugin change

#7995 Update ca-export to 1.2.0
  plugins/ca-export
Labels: plugin change

#8006 Update chunk-tasks to v1.0.3
  plugins/chunk-tasks
Labels: plugin change

#8007 Update skills-organizer
  plugins/skills-organizer
Labels: plugin change

#8008 Update lfghelper
  plugins/lfghelper
Labels: plugin change

#8011 add location-display plugin
  plugins/location-display
Labels: plugin added

#8041 Update Loot Logger (v4.3.1)
  plugins/loot-logger
Labels: plugin change

#8044 Update Dink to v1.11.9
  plugins/dink
Labels: plugin change

#8049 FC Spawn Predictor - v1.3.2
  plugins/spawnpredictor
Labels: plugin change

#8052 Public chat and npc overhead remover
  plugins/public-chat-and-npc-overhead-remover
Labels: plugin change

#8031 Upgrade gauntlet-chest-popup to 1.2.0
  plugins/gauntlet-chest-popup
Labels: plugin change

#8043 Update clue-details to 2.4.0
  plugins/clue-details
Labels: plugin change

#8055 Update Skills-Organizer
  plugins/skills-organizer
Labels: plugin change

#8058 [Update] - Varlamore House Thieving - v1.5.2 - Sololegends
  plugins/varlamore-house-thieving
Labels: plugin change

#8059 Update maple-xp-bar
  plugins/maple-xp-bar
Labels: plugin change

#8063 Update Loot Logger v4.3.2
  plugins/loot-logger
Labels: plugin change

#7887 Add ToB Death Sound Plugin
  plugins/tobdeathsound
Labels: plugin added

#7908 Add time to max plugin information
  plugins/time-to-max
Labels: plugin added

#8003 Simple kill statistics / kills per hour plugin
  plugins/simple-kill-stats
Labels: plugin added

#8005 Update pvp performance tracker to v1.6.2
  plugins/pvp-performance-tracker
Labels: plugin change

#8076 Update Creator's Kit to v1.5.31
  plugins/creators-kit
Labels: plugin change

#8004 Update temple-osrs
  plugins/temple-osrs
Labels: plugin change

#8075 Update glassman to v1d
  plugins/glassman
Labels: plugin change

#8065 Update Ground Marker Profiles
  plugins/ground-marker-profiles
Labels: plugin change

#8082 Update tictac7x-charges to v0.6.5
  plugins/tictac7x-charges
Labels: plugin change

#8081 update attack-ranges to 1.3.2
  plugins/attack-ranges
Labels: plugin change

#8069 Update ToB Death Sounds Plugin
  plugins/tobdeathsound
Labels: plugin change

#7765 Create homeassistant
  plugins/homeassistant
Labels: plugin added

#8014 Update flipper to v1.0.4
  plugins/flipper
Labels: plugin change

#8021 Update clogged-me to v1.1.2
  plugins/clogged-me
Labels: plugin change

#8024 Adding warmth alert plugin to plugin hub
  plugins/warmth-alert
Labels: plugin added

#8026 Adding overhead-notifications to pluginhub
  plugins/overhead-notifications
Labels: plugin added

#8032 [New Plugin] Mark of Darkness Helper
  plugins/markofdarknesshelper
Labels: plugin added

#8093 Update calculator-pro
  plugins/calculator-pro
Labels: plugin change

#8096 Update max-hit-calculator to v2.0.2
  plugins/max-hit-calculator
Labels: plugin change

#8100 Update tictac7x-storage to v0.6.2
  plugins/tictac7x-storage
Labels: plugin change

#8103 Update calculator-pro
  plugins/calculator-pro
Labels: plugin change

#8115 update gotr optimizer with aether runes and a minor bugfix
  plugins/guardians-of-the-rift-optimizer
Labels: plugin change

#8113 Update Metrics Tracker to v1.0.3
  plugins/metrics-tracker
Labels: plugin change

#8087 Update Yama and varbits
  plugins/monster-hp-percentage
Labels: plugin change

#8116 Update clean-chat to 1.0.10
  plugins/clean-chat
Labels: plugin change

#8119 ONE LINE HOTFIX - update flipping-copilot to v1.6.7
  plugins/flipping-copilot
Labels: plugin change

#8120 Flipping Utilities: Updated constants for new tax value
  plugins/flipping-utilities
Labels: plugin change, non-author plugin change

#8124 Fix missing heealth
  plugins/monster-hp-percentage
Labels: plugin change

#8122 Update time-to-max to v1.0.4
  plugins/time-to-max
Labels: plugin change

#8091 Update homeassistant
  plugins/homeassistant
Labels: plugin change

#8033 Update DropTracker to v3.9
  plugins/droptracker
Labels: plugin change
