Repository runelite/plugin-hub, pull requests merged in 2025-04, with the labels that each got.

#7637 Introduce Valiance Clan plugin
  plugins/valiance-clan
Labels: plugin added

#7738 Update loot-filters to v1.7.3
  plugins/loot-filters
Labels: plugin change

#7739 Update commit SHA for fixed-mode-hide-chat plugin
  plugins/fixed-mode-hide-chat
Labels: plugin change

#7741 Update wom-utils
  plugins/wom-utils
Labels: plugin change

#7742 Update chance-man to 1.2.0
  plugins/chance-man
Labels: plugin change

#7743 Update npc-max-hit to 1.0.1
  plugins/npc-max-hit
Labels: plugin change

#7744 Updated empty-hands-indicator plugin
  plugins/empty-hands-indicator
Labels: plugin change

#7745 Update gauntlet-chest-popup to 1.1.0
  plugins/gauntlet-chest-popup
Labels: plugin change

#7747 update Custom Vital Bars to v1.4
  plugins/custom-vital-bars
Labels: plugin change

#7757 [minor] Update raids death indicator
  plugins/raids-death-indicator
Labels: plugin change

#7758 Update tile marker metronome
  plugins/tile-marker-metronome
Labels: plugin change

#7761 update visual-metronome to 1.4.7.1
  plugins/visual-metronome
Labels: plugin change

#7767 Update Hub Party Panel to v3.5.2
  plugins/party-panel
Labels: plugin change

#7748 Update clue-details to 2.3.3
  plugins/clue-details
Labels: plugin change

#7773 Update xp-drop-notify
  plugins/xp-drop-notify
Labels: plugin change

#7766 Update Creator's Kit to v1.5.21
  plugins/creators-kit
Labels: plugin change

#7740 Create ca-export
  plugins/ca-export
Labels: plugin added

#7749 Update loot-filters to v1.7.4
  plugins/loot-filters
Labels: plugin change

#7751 Update prop-hunt
  plugins/prop-hunt
Labels: plugin change

#7752 Update npc-max-hit to 1.1.0
  plugins/npc-max-hit
Labels: plugin change

#7753 Add dont-telegrab-npcs
  plugins/dont-telegrab-npcs
Labels: plugin added

#7754 Update flipper to 1.0.2
  plugins/flipper
Labels: plugin change

#7759 Update crabman-group-bronzeman-plugin
  plugins/crabman-group-bronzeman-plugin
Labels: plugin change

#7756 Create party-emotes
  plugins/party-emotes
Labels: plugin added

#7763 Update visual-ticks.
  plugins/visual-ticks
Labels: plugin change

#7768 Create thumbs-up
  plugins/thumbs-up
Labels: plugin added

#7769 Raid data tracker
  plugins/raid-data-tracker
Labels: plugin change

#7772 Update startierindicator to v1.3.1
  plugins/startierindicator
Labels: plugin change

#7774 Update google-form-submitter
  plugins/google-form-submitter
Labels: plugin change

#7776 [minor] Fix stats on raids death indicator
  plugins/raids-death-indicator
Labels: plugin change

#7777 Add party potion tracker
  plugins/party-potion-tracker
Labels: plugin added

#7760 Add Cannon Damage plugin metadata
  plugins/cannon-damage
Labels: plugin added

#7780 [minor] Fix annoyance in raids death indicator
  plugins/raids-death-indicator
Labels: plugin change

#7785 Update flipper to v1.0.3
  plugins/flipper
Labels: plugin change

#7783 Party potion tracker
  plugins/party-potion-tracker
Labels: plugin change

#7789 Update identificator to v1.8.3
  plugins/identificator
Labels: plugin change

#7797 update quest-helper to v4.7.6.3
  plugins/quest-helper
Labels: plugin change, non-author plugin change

#7794 Update pickpocket-guardian to v1.1.0
  plugins/pickpocket-guardian
Labels: plugin change

#7799 update 117hd
  plugins/117hd
Labels: plugin change

#7796 Update combat-logger to v1.3.4
  plugins/combat-logger
Labels: plugin change

#7800 Update autocast-utilities
  plugins/autocast-utilities
Labels: plugin change

#7798 Update quest-helper to 4.7.7
  plugins/quest-helper
Labels: plugin change

#7810 Update quest-helper to 4.8.0
  plugins/quest-helper
Labels: plugin change

#7811 Update quest-helper to 4.8.1
  plugins/quest-helper
Labels: plugin change

#7784 Update Creator's Kit to v1.5.22
  plugins/creators-kit
Labels: plugin change

#7779 Update ca-export
  plugins/ca-export
Labels: plugin change

#7734 screen-marker-groups
  plugins/screen-marker-groups
Labels: plugin added

#7781 UI Reworks, pinning bingo boards, fixed UI glitches
  plugins/bingoscape-companion
Labels: plugin change

#7782 Updates Visual Ticks.
  plugins/visual-ticks
Labels: plugin change

#7787 Added a few new functions
  plugins/custom-drop-sounds
Labels: plugin change

#7788 Update loot-filters to v1.8.0
  plugins/loot-filters
Labels: plugin change

#7791 Update pvp-performance-tracker to v1.6.0
  plugins/pvp-performance-tracker
Labels: plugin change

#7792 Update party emotes to v1.0.1
  plugins/party-emotes
Labels: plugin change

#7795 Feature/potion tracker
  plugins/party-potion-tracker
Labels: plugin change

#7803 pageless-things submission
  plugins/pageless-things
Labels: plugin added

#7804 update thumbs-up
  plugins/thumbs-up
Labels: plugin change

#7805 Update TrayIndicators to v1.4
  plugins/tray-indicators
Labels: plugin change

#7820 update pageless-things
  plugins/pageless-things
Labels: plugin change

#7822 Update better-npc-highlight
  plugins/better-npc-highlight
Labels: plugin change

#7755 Update time-zone-clocks to 1.5
  plugins/time-zone-clocks
Labels: plugin change

#7771 DropTracker - Adventure Log support
  plugins/droptracker
Labels: plugin change

#7778 Update chance-man to 2.1.0
  plugins/chance-man
Labels: plugin change

#7807 Update combat-logger to v1.3.5
  plugins/combat-logger
Labels: plugin change

#7814 Create Hot Cold Helper
  plugins/hot-cold-helper
Labels: plugin added

#7815 Update Creator's Kit to v1.5.23
  plugins/creators-kit
Labels: plugin change

#7818 Update calculator-pro
  plugins/calculator-pro
Labels: plugin change

#7819 RuneProfile v2.0.0
  plugins/runeprofile
Labels: plugin change

#7823 Update reword-manager to v1.5.2
  plugins/reword-manager
Labels: plugin change

#7825 Add clue saver v1.0.0
  plugins/clue-saver
Labels: plugin added

#7830 Update chance-man, quick fix
  plugins/chance-man
Labels: plugin change

#7829 Update cannon-damage
  plugins/cannon-damage
Labels: plugin change

#7832 Update loot-filters to v1.8.1
  plugins/loot-filters
Labels: plugin change

#7839 Update Dink to v1.11.5
  plugins/dink
Labels: plugin change

#7840 Update chance-man, quick fix 2
  plugins/chance-man
Labels: plugin change

#7831 Update RuneProfile v2.0.1
  plugins/runeprofile
Labels: plugin change

#7834 update attack-ranges to 1.3
  plugins/attack-ranges
Labels: plugin change

#7842 Update quest-helper to 4.9.1
  plugins/quest-helper
Labels: plugin change

#7846 update thumbs-up
  plugins/thumbs-up
Labels: plugin change

#7845 Update loot-filters to v1.8.2
  plugins/loot-filters
Labels: plugin change

#7851 Update tree-despawn-timer to 1.4.8
  plugins/tree-despawn-timer
Labels: plugin change

#7850 Update nature-runecraft-utilities
  plugins/nature-runecraft-utilities
Labels: plugin change

#7853 update abexs-idle-notifier
  plugins/abexs-idle-notifier
Labels: plugin change

#7835 Update Hot Cold Helper v1.1
  plugins/hot-cold-helper
Labels: plugin change

#7854 update fortis-colosseum to v1.6.0
  plugins/fortis-colosseum
Labels: plugin change

#7833 Screen Marker Groups v.1.0.1
  plugins/screen-marker-groups
Labels: plugin change

#7837 Create world-map-runes 0.1.3
  plugins/world-map-runes
Labels: plugin added

#7838 Update tictac7x-charges to v0.6
  plugins/tictac7x-charges
Labels: plugin change

#7841 Add Polygon limiter
  plugins/polygon-limiter
Labels: plugin added

#7843 Update pvp-performance-tracker to v1.6.1
  plugins/pvp-performance-tracker
Labels: plugin change

#7844 Add clean-chat
  plugins/clean-chat
Labels: plugin added

#7847 Update Creator's Kit to v1.5.24
  plugins/creators-kit
Labels: plugin change

#7849 RuneProfile v2.0.2 bugfix
  plugins/runeprofile
Labels: plugin change

#7852 Update chance-man to v2.1.2
  plugins/chance-man
Labels: plugin change

#7859 add ardougne-cooldown-timer
  plugins/ardougne-cooldown-timer
Labels: plugin added

#7861 Update dont-telegrab-npcs to 1.0.1
  plugins/dont-telegrab-npcs
Labels: plugin change

#7828 Create Balloon Hider 1.0
  plugins/balloon-hider
Labels: plugin added

#7856 Add Gymlocked Tracker plugin
  plugins/gymlocked-tracker
Labels: plugin added

#7860 Update gauntlet-chest-popup to 1.1.1
  plugins/gauntlet-chest-popup
Labels: plugin change

#7862 Update Creator's Kit to v1.5.25
  plugins/creators-kit
Labels: plugin change

#7868 Disable equipment-lock
  plugins/equipment-lock
Labels: plugin change, non-author plugin change

#7870 update fortis-colosseum to v1.6.1
  plugins/fortis-colosseum
Labels: plugin change

#7875 update tombs-of-amascut to v2.11.1
  plugins/tombs-of-amascut
Labels: plugin change

#7878 Update quest-helper to 4.9.1.1
  plugins/quest-helper
Labels: plugin change

#7863 Update customizable-xp-drops to v1.9.4
  plugins/customizable-xp-drops
Labels: plugin change

#7865 Update clean-chat to 1.0.1
  plugins/clean-chat
Labels: plugin change

#7871 Update polygon-limiter
  plugins/polygon-limiter
Labels: plugin change

#7874 Update balloon-hider
  plugins/balloon-hider
Labels: plugin change

#7883 Update sgs-savings-tracker
  plugins/sgs-savings-tracker
Labels: plugin change

#7827 Update = Custom Sounds fixed sound issues
  plugins/custom-drop-sounds
Labels: plugin change

#7750 Add Lucky Clan Bingo plugin
  plugins/lucky-clan-bingo
Labels: plugin added

#7775 Create plugin Tob utilities
  plugins/tob-utilities
Labels: plugin added

#7864 Update chance-man to 2.1.3
  plugins/chance-man
Labels: plugin change

#7869 Update Creator's Kit to v1.5.26
  plugins/creators-kit
Labels: plugin change

#7876 Update loot-filters to v1.9.0
  plugins/loot-filters
Labels: plugin change

#7879 Update examine-log
  plugins/examine-log
Labels: plugin change

#7888 Improves Connection Process of Archipelago Plugin
  plugins/osrs-archipelago
Labels: plugin change

#7884 Update IRC to v1.1.2 (f956734)
  plugins/irc
Labels: plugin change

#7889 Update prop-hunt
  plugins/prop-hunt
Labels: plugin change

#7892 Update Creator's Kit to v1.5.27
  plugins/creators-kit
Labels: plugin change

#7891 Move from deprecated ids to gamevals
  plugins/wikisync
Labels: plugin change

#7885 Update tictac7x-charges to v0.6.1
  plugins/tictac7x-charges
Labels: plugin change

#7895 Add Ground Marker Profiles plugin
  plugins/ground-marker-profiles
Labels: plugin added

#7896 Update RuneProfile v2.0.3
  plugins/runeprofile
Labels: plugin change

#7897 Update clue-details to 2.3.4
  plugins/clue-details
Labels: plugin change

#7898 Update npc-max-hit to 1.2.0
  plugins/npc-max-hit
Labels: plugin change

#7899 Update ToB Utilities to 1.0.1
  plugins/tob-utilities
Labels: plugin change

#7900 Update chance-man to v2.1.4
  plugins/chance-man
Labels: plugin change

#7903 Update preventsgm to 2.0.0
  plugins/preventsgm
Labels: plugin change

#7906 Update zulrah-helper
  plugins/zulrah-helper
Labels: plugin change

#7904 Added Varlamore hops patch to Farmpatches
  plugins/did-i-compost
Labels: plugin change

#7905 Update tictac7x-charges to v0.6.2
  plugins/tictac7x-charges
Labels: plugin change

#7882 Update Embargo plugin to 1.4.0
  plugins/embargo-clan-plugin
Labels: plugin change

#7902 Create clogged-me
  plugins/clogged-me
Labels: plugin added

#7909 Update and rename Hide and seek tracker
  plugins/hide-and-seek-tracker
Labels: plugin change

#7918 Preventsgm
  plugins/preventsgm
Labels: plugin change
