Repository runelite/plugin-hub, pull requests merged in 2025-06, with the labels that each got.

#8071 99 Notifier plugin
  plugins/99-notifier
Labels: plugin added

#8073 Update combat-logger to v1.3.6
  plugins/combat-logger
Labels: plugin change

#8135 Update death-inventory
  plugins/death-inventory
Labels: plugin change

#8136 update banked-experience to v2.7.1
  plugins/banked-experience
Labels: plugin change

#8146 Update player-status-highlight to v1.2.1
  plugins/player-status-highlight
Labels: plugin change

#8140 Update clue-saver to 1.0.1
  plugins/clue-saver
Labels: plugin change

#8156 hotfix - update flipping-copilot to v1.6.8
  plugins/flipping-copilot
Labels: plugin change

#8151 Upgrade clean-chat to 1.0.12
  plugins/clean-chat
Labels: plugin change

#8168 update Preventsgm
  plugins/preventsgm
Labels: plugin change

#8165 Update xp goalz
  plugins/xp-goalz
Labels: plugin change

#8169 update attack-ranges to 1.3.3
  plugins/attack-ranges
Labels: plugin change

#8173 Update preventsgm to v2.1.0
  plugins/preventsgm
Labels: plugin change

#8171 Update named-pets
  plugins/named-pets
Labels: plugin change

#8176 Update party-defence-tracker
  plugins/party-defence-tracker
Labels: plugin change

#8181 Update preventsgm to v2.1.1
  plugins/preventsgm
Labels: plugin change

#8060 Update `custom-item-hovers` to `1.3.0`
  plugins/custom-item-hovers
Labels: plugin change

#8187 disable rs3-music
  plugins/rs3-music
Labels: plugin change, non-author plugin change

#8188 Update loot-filters to v1.9.5
  plugins/loot-filters
Labels: plugin change

#8129 update 117hd
  plugins/117hd
Labels: plugin change, hold for release

#8118 Update Creator's Kit to v1.5.32
  plugins/creators-kit
Labels: plugin change

#8189 Update hide-chat
  plugins/hide-chat
Labels: plugin change

#8205 Fix Teleport Maps compatibility issue v1.0.09
  plugins/spirit-tree-map
Labels: plugin change

#8184 Update auto-retaliate-warning
  plugins/auto-retaliate-warning
Labels: plugin change

#8177 update time-to-max to v1.1.2
  plugins/time-to-max
Labels: plugin change

#8179 Update max-hit-calculator to v2.0.3
  plugins/max-hit-calculator
Labels: plugin change

#8203 Update pickpocket-helper to v1.0.6
  plugins/pickpocket-helper
Labels: plugin change

#8210 Compatibility update for SpectralClanMgmt plugin
  plugins/spectralclanmgmt
Labels: plugin change

#8209 update banked-experience to v2.7.3
  plugins/banked-experience
Labels: plugin change

#8217 Update taskman plugin
  plugins/taskman
Labels: plugin change

#8216 hotfix: Update flipping-copilot to v1.6.10
  plugins/flipping-copilot
Labels: plugin change

#8226 Update dt2 boss utilities
  plugins/dt2-mistake-tracker
Labels: plugin change

#8221 bank multisearch 1.0.3 3-line fix for API change.
  plugins/bank-multisearch
Labels: plugin change

#8224 Update max-hit-calculator
  plugins/max-hit-calculator
Labels: plugin change

#8227 Update wom-utils to 1.4.6
  plugins/wom-utils
Labels: plugin change

#8228 Update Twitch Live Loadout to v2.2.4
  plugins/twitch-live-loadout
Labels: plugin change

#8231 update dink to v1.11.11
  plugins/dink
Labels: plugin change

#8183 Update c-engineer-completed to v1.2.4
  plugins/c-engineer-completed
Labels: plugin change

#8223 Update fuzzy-bank-search
  plugins/fuzzy-bank-search
Labels: plugin change

#8101 Update gauntlet-chest-popup to 1.1.3
  plugins/gauntlet-chest-popup
Labels: plugin change

#8240 Update Tile Packs
  plugins/tile-packs
Labels: plugin change

#8099 Added the GogglesReminder plugin
  plugins/goggles-reminder
Labels: plugin added

#8246 Update partial-sets
  plugins/partial-sets
Labels: plugin change

#8254 [Update] - Varlamore House Thieving - v1.5.3 - Sololegnds
  plugins/varlamore-house-thieving
Labels: plugin change

#8072 Add Shortest Clue plugin
  plugins/shortest-clue
Labels: plugin added

#8086 Update Embargo to 1.4.6
  plugins/embargo-clan-plugin
Labels: plugin change

#8095 Create mastering_mixology_strategy
  plugins/mastering-mixology-strategy
Labels: plugin added

#8148 Update schboop
  plugins/schboop
Labels: plugin change

#8257 update godwars-prot plugin to latest version
  plugins/godwars-protection-overlay
Labels: plugin change

#8265 Update skills-tab-progress-bars to v1.5.0
  plugins/skills-tab-progress-bars
Labels: plugin change

#8270 Update dt2-mistake-tracker
  plugins/dt2-mistake-tracker
Labels: plugin change

#8237 Update hide-chat
  plugins/hide-chat
Labels: plugin change

#8235 Update spec-overlay
  plugins/spec-overlay
Labels: plugin change

#8271 Update Yama Utilities - Bug Fix
  plugins/yama-utilities
Labels: plugin change

#8147 Create BH Pages
  plugins/bh-pages
Labels: plugin added

#8149 Update Custom Sounds, added teleport and custom spec sounds
  plugins/custom-drop-sounds
Labels: plugin change

#8150 Update action-progress
  plugins/action-progress
Labels: plugin change

#8152 Update location-display
  plugins/location-display
Labels: plugin change

#8159 Create relative-tile-markers
  plugins/relative-tile-markers
Labels: plugin added

#8161 Update GP-Per-Hour to 1.11
  plugins/gp-per-hour
Labels: plugin change

#8164 Update OldSchoolSnitch to 1.1.3
  plugins/old-school-snitch
Labels: plugin change

#8170 Companion pet plugin
  plugins/companion-pet
Labels: plugin change

#8172 RuneProfile v2.0.5
  plugins/runeprofile
Labels: plugin change

#8279 Bump dialogue to fix some issues with tbox being recorded when it shouldn't and add gamevals
  plugins/npc-dialogue
Labels: plugin change, non-author plugin change

#8282 Update Spell Reminder to v1.9.3
  plugins/thrall-helper
Labels: plugin change

#8283 Update preventsgm to v2.1.2
  plugins/preventsgm
Labels: plugin change

#8286 [minor] fix toa npc stats
  plugins/raids-death-indicator
Labels: plugin change

#8166 Collection tracker is getting Removed
  plugins/collection-tracker
Labels: plugin change

#8285 [HOTFIX] Update `odablock-sounds` to play sounds again
  plugins/odablock
Labels: plugin change

#8288 Update arceus-timers
  plugins/arceuus-timers
Labels: plugin change

#8295 Update large-logout
  plugins/large-logout
Labels: plugin change

#8243 Update basqh
  plugins/basqh
Labels: plugin change

#8263 Add Minimap hider Plugin
  plugins/minimaphider
Labels: plugin added

#8302 Update large-logout
  plugins/large-logout
Labels: plugin change

#8304 Update large-logout
  plugins/large-logout
Labels: plugin change

#8163 Update temple-osrs
  plugins/temple-osrs
Labels: plugin change

#8190 Update chugging-barrel to v1.3.0
  plugins/chugging-barrel
Labels: plugin change

#8198 Update linux-custom-cursor
  plugins/linux-custom-cursor
Labels: plugin change

#8199 Complete overhaul of clean-chat
  plugins/clean-chat
Labels: plugin change

#8204 feat: Add disable cancel plugin
  plugins/disable-cancel
Labels: plugin added

#8207 Update homeassistant
  plugins/homeassistant
Labels: plugin change

#8258 Update profit-tracker to latest commit
  plugins/profit-tracker
Labels: plugin change

#8309 Update attacktimer
  plugins/attacktimer
Labels: plugin change

#8276 Update Kill Count Viewer
  plugins/kill-count-viewer
Labels: plugin change

#8301 Update tick-counter
  plugins/tick-counter
Labels: plugin change

#8306 Small fix for clean-chat
  plugins/clean-chat
Labels: plugin change

#8185 Create rogue-silencer
  plugins/rogue-silencer
Labels: plugin added

#8202 adding dry-rate-tracker plugin
  plugins/dry-rate-tracker
Labels: plugin added

#8211 Update combat-logger to v1.3.7
  plugins/combat-logger
Labels: plugin change

#8212 Update log-master
  plugins/log-master
Labels: plugin change

#8218 Create entity-render-distance
  plugins/entity-render-distance
Labels: plugin added

#8219 Add 'No Run Hotkey' plugin
  plugins/no-run-hotkey
Labels: plugin added

#8234 Update pet-info to v6.1.0
  plugins/pet-info
Labels: plugin change

#8239 add lair-entry-alarm
  plugins/lair-entry-alarm
Labels: plugin added

#8245 New Plugin Account Value Overlay
  plugins/account-value-overlay
Labels: plugin added

#8260 Upgrade gauntlet-chest-popup to 1.2.0
  plugins/gauntlet-chest-popup
Labels: plugin change

#8088 Update chance-man to 2.2.0
  package/verification-template/build.gradle
  plugins/chance-man
Labels: plugin change

#8314 Update visual-sounds
  plugins/visual-sounds
Labels: plugin change

#8321 Update ardougne-cooldown-timer
  plugins/ardougne-cooldown-timer
Labels: plugin change

#8324 update tombs-of-amascut to v2.12.0
  plugins/tombs-of-amascut
Labels: plugin change

#8313 Deathdotter
  plugins/deathdotter
Labels: plugin change

#8332 update tombs-of-amascut to v2.12.2
  plugins/tombs-of-amascut
Labels: plugin change

#8262 update flipping-copilot to v1.7.1
  plugins/flipping-copilot
Labels: plugin change

#8264 Update c-engineer-completed to v1.2.6
  plugins/c-engineer-completed
Labels: plugin change

#8277 Update wom-utils to 1.4.7
  plugins/wom-utils
Labels: plugin change

#8281 Update tasks-tracker
  plugins/tasks-tracker
Labels: plugin change

#8293 Update Twitch Live Loadout to v2.3.0
  plugins/twitch-live-loadout
Labels: plugin change

#8305 Update Creator's Kit to v2.0
  plugins/creators-kit
Labels: plugin change

#8307 Update recommended-equipment
  plugins/recommended-equipment
Labels: plugin change

#8312 Update homeassistant
  plugins/homeassistant
Labels: plugin change

#8320 Update pyramid-plunder-counter
  plugins/pyramid-plunder-counter
Labels: plugin change

#8322 Add menu-stones-hider
  plugins/menu-stones-hider
Labels: plugin added

#8303 feat: :sparkles: Add POH Portal Labels plugin
  plugins/poh-portal-labels
Labels: plugin added

#8317 Update advanced-raid-tracker
  plugins/advanced-raid-tracker
Labels: plugin change
