Repository runelite/plugin-hub, pull requests merged in 2025-07, with the labels that each got.

#8333 Update entity-render-distance
  plugins/entity-render-distance
Labels: plugin change

#8339 Update chance-man to v2.2.1
  plugins/chance-man
Labels: plugin change

#8340 Update gauntlet-chest-popup to 1.2.1
  plugins/gauntlet-chest-popup
Labels: plugin change

#8344 RuneProfile v2.0.6
  plugins/runeprofile
Labels: plugin change

#8345 [Update] - Varlamore House Thieving - v1.5.4 - Sololegnds
  plugins/varlamore-house-thieving
Labels: plugin change

#8349 Update Vitality
  plugins/vitality
Labels: plugin change

#8350 Update ImaDrum Money
  plugins/imadrum-money
Labels: plugin change

#8354 Update pet-info - Fix critical bug
  plugins/pet-info
Labels: plugin change

#8355 Update Lucky Clan Bingo
  plugins/lucky-clan-bingo
Labels: plugin change

#8356 Hotfixes for Dude, Where's My Stuff? v2.8.0
  plugins/dude-wheres-my-stuff
Labels: plugin change

#8359 Update chance-man to v2.2.2
  plugins/chance-man
Labels: plugin change

#8360 Create mage-animation-replacer
  plugins/mage-animation-replacer
Labels: plugin added

#8362 Update Vitality (bugfix)
  plugins/vitality
Labels: plugin change

#8343 update flipping-copilot to v1.7.2
  plugins/flipping-copilot
Labels: plugin change

#8366 Update Creator's Kit to v2.0.9
  plugins/creators-kit
Labels: plugin change

#8351 feat(poh-portal-labels): update to v1.0.0
  plugins/poh-portal-labels
Labels: plugin change

#8370 fix: resolve issue where icon was incorrect filetype
  plugins/poh-portal-labels
Labels: plugin change

#8369 Update hide-chat
  plugins/hide-chat
Labels: plugin change

#8371 Update bh-pages
  plugins/bh-pages
Labels: plugin change

#8374 Fix Imadrum Money
  plugins/imadrum-money
Labels: plugin change

#8373 update scythe-crush-warning to v1.5.0
  plugins/scythe-crush-warning
Labels: plugin change

#8252 Create visual-timer
  plugins/visual-timer
Labels: plugin added

#8253 Create overall-tob-timer
  plugins/overall-tob-timer
Labels: plugin added

#8375 Create generic-autosplitter
  plugins/generic-autosplitter
Labels: plugin added

#8376 Update chance-man to v2.3.1
  plugins/chance-man
Labels: plugin change

#8378 Update vanced-barrows
  plugins/vanced-barrows
Labels: plugin change

#8377 weapon animation replacer 3.7.7
  plugins/weapon-animation-replacer
Labels: plugin change

#8381 update tombs-of-amascut to v2.13.2
  plugins/tombs-of-amascut
Labels: plugin change

#8383 update tombs-of-amascut to v2.14.0
  plugins/tombs-of-amascut
Labels: plugin change

#8382 weapon animaiton replacer 3.7.8 3-line fix
  plugins/weapon-animation-replacer
Labels: plugin change

#8385 Update advanced-raid-tracker
  plugins/advanced-raid-tracker
Labels: plugin change

#8390 watson clue tracker 1.2.2
  plugins/watson-clue-tracker
Labels: plugin change

#8387 Update Line of Sight plug-in to version 2025.07.1
  plugins/line-of-sight
Labels: plugin change

#8386 Update Imadrum Money
  plugins/imadrum-money
Labels: plugin change

#8388 Update vanced-barrows 2
  plugins/vanced-barrows
Labels: plugin change

#8393 rainbow rave 1.3.7 - bug fix
  plugins/rainbow-rave
Labels: plugin change

#8394 Update chance-man v2.3.2
  plugins/chance-man
Labels: plugin change

#8396 Update Log Master
  plugins/log-master
Labels: plugin change

#8399 Update clean-chat to 2.0.2
  plugins/clean-chat
Labels: plugin change

#8402 [Update] - What Pet is That Anyway - v1.0.3 - Sololegnds
  plugins/what-pet-is-that-anyway
Labels: plugin change

#8395 Update tictac7x-daily to v0.3.1
  plugins/tictac7x-daily
Labels: plugin change

#8022 Update Chat Panel to v2.2
  plugins/chatpanel
Labels: plugin change

#8384 Update flipping-copilot to v1.7.3
  plugins/flipping-copilot
Labels: plugin change

#8392 Create Surge potion notifier
  plugins/surge-potion-notifier
Labels: plugin added

#8398 Update ba-world-scouter to 0.2
  plugins/ba-world-scouter
Labels: plugin change

#8405 Update Vitality (feature addition)
  plugins/vitality
Labels: plugin change

#8417 Update quest-helper to 4.9.3
  plugins/quest-helper
Labels: plugin change

#8418 Update loot-filters to v1.10.2.1
  plugins/loot-filters
Labels: plugin change

#8422 update attack-ranges to 1.3.4
  plugins/attack-ranges
Labels: plugin change

#8139 Update wintertodt-scouter
  plugins/wintertodt-scouter
Labels: plugin change

#8425 Update log-master
  plugins/log-master
Labels: plugin change

#8404 update visual-metronome to V1.4.8
  plugins/visual-metronome
Labels: plugin change

#8412 Update Yama Utilities to v1.2
  plugins/yama-utilities
Labels: plugin change

#8428 Update delayed-healing
  plugins/delayed-healing
Labels: plugin change

#8389 Update and rename entity-render-distance into fog-of-war
  plugins/entity-render-distance
Labels: plugin change, plugin repo changed

#8406 update imbued fart to 1.3.1
  plugins/imbued-fart
Labels: plugin change

#8408 Update Dry Rate Tracker Plugin
  plugins/dry-rate-tracker
Labels: plugin change, waiting for author

#8411 Create scrollboxcounter
  plugins/scrollboxcounter
Labels: plugin added

#8434 Weapon animation replacer fix for new API to make plugin compatible.
  plugins/weapon-animation-replacer
Labels: plugin change

#8426 Update easy teleports
  plugins/easy-pharaoh-sceptre
Labels: plugin change

#8433 Update chance-man to v2.3.3
  plugins/chance-man
Labels: plugin change

#8427 Update log-master
  plugins/log-master
Labels: plugin change

#8429 Update acoldone-clogging
  plugins/acoldone-clogging
Labels: plugin change

#8436 Update wom-utils to 1.4.8
  plugins/wom-utils
Labels: plugin change

#8438 Update resource-packs to v1.7.4
  plugins/resource-packs
Labels: plugin change

#8437 Create pet-spell-blocker
  plugins/pet-spell-blocker
Labels: plugin added

#8440 Update clean chat to 2.0.3
  plugins/clean-chat
Labels: plugin change

#8444 Update/revert wintertodt-scouter
  plugins/wintertodt-scouter
Labels: plugin change

#8442 Update Smart Chat Input Color to 1.6.0
  plugins/input-recolor
Labels: plugin change

#8446 update action-logger to v0.1.5
  plugins/action-logger
Labels: plugin change

#8447 Weapon charges 0.6.9 - bug fixes.
  plugins/weapon-charges-2
Labels: plugin change

#8449 Update chance-man to v2.3.4
  plugins/chance-man
Labels: plugin change

#8445 Update Clue scroll notifier
  plugins/clue-scroll-notifier
Labels: plugin change

#8448 Update Inventory Setups to v1.21.0
  plugins/inventory-setups
Labels: plugin change

#8451 update guardian-of-the-rift-optimizer to version 1.0.5
  plugins/guardians-of-the-rift-optimizer
Labels: plugin change

#8454 Watchdog v3.12.0
  plugins/watchdog
Labels: plugin change

#8401 Create ore-highlighter
  plugins/ore-highlighter
Labels: plugin added

#8465 Update Clue, Casket, and Impling Savers
  plugins/casket-saver
  plugins/clue-saver
  plugins/impling-saver
Labels: plugin change

#8456 Update fog-of-war
  plugins/entity-render-distance
Labels: plugin change

#8461 Update max-hit-calculator to v2.1.0
  plugins/max-hit-calculator
Labels: plugin change

#8470 Update Imadrum Money
  plugins/imadrum-money
Labels: plugin change

#8459 Update wom-utils to 1.4.10
  plugins/wom-utils
Labels: plugin change

#8479 Update prestige plugin repo
  plugins/prestige
Labels: plugin change, plugin repo changed

#8432 Update global-chat v2
  plugins/global-chat
Labels: plugin change

#8457 update imbued-fart to 1.3.2
  plugins/imbued-fart
Labels: plugin change

#8458 Update loot-filters to v1.10.3
  plugins/loot-filters
Labels: plugin change

#8468 Add one-tick-flick plugin
  plugins/one-tick-flick
Labels: plugin added

#8462 Update temple-osrs
  plugins/temple-osrs
Labels: plugin change

#8473 Update pyramid-plunder-counter
  plugins/pyramid-plunder-counter
Labels: plugin change

#8482 Update clean-chat to 2.1.0
  plugins/clean-chat
Labels: plugin change

#8486 Update Prestige
  plugins/prestige
Labels: plugin change

#8489 Update chat-success-rates to v1.2.7
  plugins/chat-success-rates
Labels: plugin change

#8483 Add Burner Alarm Plugin
  plugins/burner-alarm
Labels: plugin added

#8492 Small fix for clean chat
  plugins/clean-chat
Labels: plugin change

#8490 Global Chat - Hotfix, fix broken navbar (simple change)
  plugins/global-chat
Labels: plugin change

#8491 Update ca-export to 1.2.1
  plugins/ca-export
Labels: plugin change

#8493 Update gim-plugin to v2.9.3
  plugins/gim-plugin
Labels: plugin change

#8494 Update one-tick-flick to v1.0.1
  plugins/one-tick-flick
Labels: plugin change

#8496 Small fix for clean-chat
  plugins/clean-chat
Labels: plugin change

#8481 Update runelingual
  plugins/runelingual
Labels: plugin change

#8501 Update wom-utils to 1.4.11
  plugins/wom-utils
Labels: plugin change

#8503 Update clean-chat to 2.1.3
  plugins/clean-chat
Labels: plugin change

#8499 Update nylo-death-indicators to v1.1.0
  plugins/nylo-death-indicators
Labels: plugin change

#8512 Update loot-filters to v1.10.4
  plugins/loot-filters
Labels: plugin change

#8507 RuneProfile v2.1.0
  plugins/runeprofile
Labels: plugin change

#8504 Update one-tick-flick to v1.0.2
  plugins/one-tick-flick
Labels: plugin change

#8509 Update Line of Sight to version 2025.07.2
  plugins/line-of-sight
Labels: plugin change

#8517 Update gauntlet-chest-popup to v1.2.2
  plugins/gauntlet-chest-popup
Labels: plugin change

#8513 Log master
  plugins/log-master
Labels: plugin change

#8519 Update essence-running
  plugins/essence-running
Labels: plugin change

#8532 Update clean-chat to v2.1.4
  plugins/clean-chat
Labels: plugin change

#8549 bump guardian-of-the-rift-optimizer to version 1.0.6.2, minor fix
  plugins/guardians-of-the-rift-optimizer
Labels: plugin change

#8551 Update one-tick-flick to v1.0.4
  plugins/one-tick-flick
Labels: plugin change

#8550 Update clean-chat to v2.2.0
  plugins/clean-chat
Labels: plugin change

#8545 update snow tracker
  plugins/snow-tracker
Labels: plugin change

#8544 Update Clue Saver to 2.1.0
  plugins/clue-saver
Labels: plugin change

#8498 Hp above head
  plugins/hpabovehead
Labels: plugin added

#8560 update attack-ranges to 1.3.5
  plugins/attack-ranges
Labels: plugin change

#8529 Weapon charges 0.6.10 - Blade of saeldor.
  plugins/weapon-charges-2
Labels: plugin change

#8542 update zoom-keybinding
  plugins/zoom-keybinding
Labels: plugin change

#8557 Bump shooting stars plugin
  plugins/shooting-stars
Labels: plugin change

#8562 Update combat-logger to v1.4.1
  plugins/combat-logger
Labels: plugin change

#8497 Update bank-tab-names to 2.0
  plugins/bank-tab-names
Labels: plugin change

#8561 Transfer scrollboxcounter
  plugins/scrollboxcounter
Labels: plugin change, plugin repo changed

#8568 HOTFIX: Update mastering-mixology-strategy (single line of code changed)
  plugins/mastering-mixology-strategy
Labels: plugin change

#8567 update and enable pleae
  plugins/pleae
Labels: plugin change

#8575 Update one-tick-flick to v1.0.5
  plugins/one-tick-flick
Labels: plugin change

#8581 Update nylo-death-indicators to v1.1.1
  plugins/nylo-death-indicators
Labels: plugin change

#8587 Update clean-chat to v2.2.1
  plugins/clean-chat
Labels: plugin change

#8592 Update clue-saver to 2.1.1
  plugins/clue-saver
Labels: plugin change

#8589 Watchdog v3.13.0
  plugins/watchdog
Labels: plugin change

#8526 Create bank-value-changes
  plugins/bank-value-changes
Labels: plugin added

#8533 Create afk-overlay
  plugins/afk-overlay
Labels: plugin added

#8537 Add raid-spell-checker plugin
  plugins/raid-spell-checker
Labels: plugin added

#8553 Add the new varlamore totem fletching
  plugins/totem-fletching
Labels: plugin added

#8559 Colorblind Helper for Doom of Mokhaiotl
  plugins/doom-of-mokhaiotl-colorblind-helper
Labels: plugin added

#8569 Add Gemstone Crab Timer
  plugins/gemstone-crab-timer
Labels: plugin added

#8573 Overhaul scrollboxcounter
  plugins/scrollboxcounter
Labels: plugin change

#8604 Update Gemstone Crab Timer
  plugins/gemstone-crab-timer
Labels: plugin change

#8593 Add AFK Crab Helper plugin
  plugins/afk-crab-helper
Labels: plugin added

#8597 Update c-engineer-completed to v1.3.0
  plugins/c-engineer-completed
Labels: plugin change

#8599 Update prop-hunt
  plugins/prop-hunt
Labels: plugin change

#8601 Update wom-utils to 1.4.13
  plugins/wom-utils
Labels: plugin change

#8602 Update tile-grid to 1.2
  plugins/tile-grid
Labels: plugin change

#8586 update log-master to v1.1
  plugins/log-master
Labels: plugin change

#8552 Add LimeyTileMan
  plugins/limeytileman
Labels: plugin added

#8606 Update specbar-utilities
  plugins/specbar-utilities
Labels: plugin change

#8614 Update Clue Details to 2.4.2
  plugins/clue-details
Labels: plugin change

#8628 update mastering-mixology to v1.8.1
  plugins/mastering-mixology
Labels: plugin change

#8624 Update polygon-limiter to v1.1
  plugins/polygon-limiter
Labels: plugin change
