Repository runelite/plugin-hub, pull requests merged in 2025-01, with the labels that each got.

#7201 Update sgs-savings-tracker
  plugins/sgs-savings-tracker
Labels: plugin change

#7204 Update prevent-sgm to v1.0.1
  plugins/preventsgm
Labels: plugin change

#7202 Prison sentence
  plugins/prison-sentence
Labels: plugin change

#7210 Update tree-despawn-timer to 1.4.6
  plugins/tree-despawn-timer
Labels: plugin change

#7199 Update npc-id to v1.3.5
  plugins/npc-id
Labels: plugin change

#7212 update tombs-of-amascut to v2.11.0
  plugins/tombs-of-amascut
Labels: plugin change

#7182 Create music-track-display
  plugins/music-track-display
Labels: plugin added

#7187 Create bonk-messages
  plugins/bonk-messages
Labels: plugin added

#7191 Watchdog v3.7.0
  plugins/watchdog
Labels: plugin change

#7192 [Taskman] Update Taskman plugin
  plugins/taskman
Labels: plugin change

#7194 Update Dink to v1.10.20
  plugins/dink
Labels: plugin change

#7195 Update google-form-submitter
  plugins/google-form-submitter
Labels: plugin change

#7197 Create area sound whitelist plugin
  plugins/area-sound-whitelist
Labels: plugin added

#7196 Update action-progress
  plugins/action-progress
Labels: plugin change

#7198 Added icon.png to world-heatmap
  plugins/world-heatmap
Labels: plugin change

#7203 DropTracker 2.3.1 (Bug Fixes)
  plugins/droptracker
Labels: plugin change

#7205 Update tictac7x-charges to v0.5.12
  plugins/tictac7x-charges
Labels: plugin change

#7209 Update crabman-group-bronzeman-plugin
  plugins/crabman-group-bronzeman-plugin
Labels: plugin change

#7206 Update Last Man Standing v1.7.2
  plugins/lms-start-notifier
Labels: plugin change

#7177 Update tasks-tracker
  plugins/tasks-tracker
Labels: plugin change, non-author plugin change

#7217 update stealing-artefacts to v1.4
  plugins/stealing-artefacts
Labels: plugin change

#7213 Fix Bosses without Time
  plugins/droptracker
Labels: plugin change

#7216 Update tictac7x-tithe to v0.4.1
  plugins/tictac7x-tithe
Labels: plugin change

#7225 update tick-counter
  plugins/tick-counter
Labels: plugin change

#7228 Update tool-required to v1.1.2
  plugins/tool-required
Labels: plugin change

#7220 update scythe-crush-warning to v1.2.0
  plugins/scythe-crush-warning
Labels: plugin change

#7224 Update barrows-potential
  plugins/barrows-potential
Labels: plugin change

#7180 Drop party chest version 1.0
  plugins/drop-party-chest
Labels: plugin added

#7230 Update drop-party-chest to v1.0.1
  plugins/drop-party-chest
Labels: plugin change

#7232 Update tool-required to v1.1.3
  plugins/tool-required
Labels: plugin change

#7231 update star-lore to v1.1
  plugins/star-lore
Labels: plugin change

#7236 Update quest-helper to 4.7.4.1
  plugins/quest-helper
Labels: plugin change

#7238 Disable Essence Pouch Tracker
  plugins/essence-pouch-tracking
Labels: plugin change

#7241 Update tictac7x-charges to v0.5.13
  plugins/tictac7x-charges
Labels: plugin change

#7240 Update pickpocket-helper to v1.0.4
  plugins/pickpocket-helper
Labels: plugin change

#7244 Update Banked Experience (v2.6.3)
  plugins/banked-experience
Labels: plugin change

#7252 Update Companion Pet Plugin for full animation scaling support.
  plugins/companion-pet
Labels: plugin change

#7251 Update Banked Experience (v2.6.4)
  plugins/banked-experience
Labels: plugin change

#7247 Update shortest-path to v1.16.8
  plugins/shortest-path
Labels: plugin change

#7256 Enable Essence Pouch Tracker and update to v1.6.2
  plugins/essence-pouch-tracking
Labels: plugin change

#7219 impling-saver takeover
  plugins/impling-saver
Labels: plugin change

#7221 Update sound-alerts-expanded
  plugins/sound-alerts-expanded
Labels: plugin change

#7226 Update tictac7x-balloon to v0.7
  plugins/tictac7x-balloon
Labels: plugin change

#7237 Update 117HD to v1.3.3.10
  plugins/117hd
Labels: plugin change

#7262 Update onlyree
  plugins/onlyree
Labels: plugin change

#7264 Updated party points to work with newest runelite version
  plugins/party-points
Labels: plugin change

#7260 tasks-tracker: Add co-owner to authors
  plugins/tasks-tracker
Labels: plugin change

#7265 Update raid-points-overlay
  plugins/raid-points-overlay
Labels: plugin change, non-author plugin change

#7266 Update customizable-xp-drops to v1.8.15.1
  plugins/customizable-xp-drops
Labels: plugin change

#7258 Update regex item counter
  plugins/item-counter
Labels: plugin change

#7267 Fixes crab-stun-timers for the latest RL update
  plugins/crab-stun-timers
Labels: plugin change, non-author plugin change

#7270 Transfer ownership of easy teleports
  plugins/easy-pharaoh-sceptre
Labels: plugin change

#7273 Custom Menu Swaps 2.5.12 - fix for high menuaction id menus.
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#7249 Update basqh
  plugins/basqh
Labels: plugin change

#7259 update attack-ranges to 1.2.6
  plugins/attack-ranges
Labels: plugin change

#7261 Update impling-saver to 2.0.0
  plugins/impling-saver
Labels: plugin change

#7275 Version 3.5 DropTracker
  plugins/droptracker
Labels: plugin change

#7276 Update tictac7x-charges to v0.5.14
  plugins/tictac7x-charges
Labels: plugin change

#7255 Update quest-helper to 4.7.5
  plugins/quest-helper
Labels: plugin change

#7184 Update flipping-copilot to v1.6.0
  plugins/flipping-copilot
Labels: plugin change

#7233 Create ba-heal-codes
  plugins/ba-heal-codes
Labels: plugin added

#7214 Submit tile marker metronome
  plugins/tile-marker-metronome
Labels: plugin added

#7227 Update/fix world-heatmap
  plugins/world-heatmap
Labels: plugin change

#7254 Update clue-details to 2.2.0
  plugins/clue-details
Labels: plugin change

#7235 feat: remaining amethyst plugin
  plugins/remaining-amethyst
Labels: plugin added

#7248 Add remove-chat-options plugin
  plugins/remove-chat-options
Labels: plugin added

#7234 Update Creator's Kit to v1.5.12
  plugins/creators-kit
Labels: plugin change

#7278 Update Creator's Kit to v1.5.13
  plugins/creators-kit
Labels: plugin change

#7284 Update cox-qol
  plugins/cox-qol
Labels: plugin change

#7281 Update crop-circle-tracker to 1.6.0
  plugins/crop-circle-tracker
Labels: plugin change

#7280 update remove-menu-options
  plugins/remove-chat-options
Labels: plugin change

#7279 Update acoldone-clogging
  plugins/acoldone-clogging
Labels: plugin change

#7290 Update impling saver to 2.0.1
  plugins/impling-saver
Labels: plugin change

#7285 Update slash-swapper
  plugins/slash-swapper
Labels: plugin change

#7287 Adds Goading potion, Prayer regeneration, Extended antivenom
  plugins/herblorerecipes
Labels: plugin change

#7292 update remove-chat-options
  plugins/remove-chat-options
Labels: plugin change

#7294 Update impling saver to 2.0.2
  plugins/impling-saver
Labels: plugin change

#7296 CMS 2.5.13 small change to support jagex's slot locking.
  plugins/hotkeyable-menu-swaps
Labels: plugin change

#7245 Update combat-logger to v1.3.1
  plugins/combat-logger
Labels: plugin change

#7246 Create 1.5 Woodcutting
  plugins/1-5-woodcutting
Labels: plugin added

#7286 Update maple-xp-bar
  plugins/maple-xp-bar
Labels: plugin change

#7295 fixed bug for not identifying all salve amulet ids https://github.com…
  plugins/salve-amulet-checker
Labels: plugin change

#7269 add chatbox-scroll-to-zoom plugin
  plugins/chatbox-scroll-to-zoom
Labels: plugin added

#7288 Update Creator's Kit to v1.5.14
  plugins/creators-kit
Labels: plugin change

#7289 Update "Easy Teleports" plugin to v2.3.1
  plugins/easy-pharaoh-sceptre
Labels: plugin change

#7298 Update tree-despawn-timer to 1.4.7
  plugins/tree-despawn-timer
Labels: plugin change

#7257 add loot-filters plugin
  plugins/loot-filters
Labels: plugin added

#7291 update monster-monitor to v1.4.3
  plugins/monster-monitor
Labels: plugin change

#7293 Update Equipment_Lock
  plugins/equipment-lock
Labels: plugin change

#7299 Update flipping-copilot to v1.6.1
  plugins/flipping-copilot
Labels: plugin change

#7300 Create public-chat-and-npc-overhead-remover
  plugins/public-chat-and-npc-overhead-remover
Labels: plugin added

#7243 Takeover request for dynamic-inventory-tags
  plugins/dynamic-inventory-tags
Labels: plugin change

#7305 Update quest-helper to 4.7.5.1
  plugins/quest-helper
Labels: plugin change

#7306 Update dynamic-inventory-tags
  plugins/dynamic-inventory-tags
Labels: plugin change

#7308 Update 1password plugin
  plugins/onepassword-plugin
Labels: plugin change

#7297 Create `wilderness-map-locations` plugin
  plugins/wilderness-map-locations
Labels: plugin added

#7301 Update Nature Runecraft Utilities
  plugins/nature-runecraft-utilities
Labels: plugin change

#7302 Create vorkath-run-warning
  plugins/vorkath-run-warning
Labels: plugin added

#7303 Snowplow
  plugins/snowplow
Labels: plugin added

#7304 Update flipping-copilot to v1.6.2
  plugins/flipping-copilot
Labels: plugin change

#7307 Update Collection Log Plugin to v3.1.4
  plugins/collection-log
Labels: plugin change

#7309 Update another-bronzeman-mode commit sha
  plugins/another-bronzeman-mode
Labels: plugin change

#7310 Update GP-Per-Hour to 1.10
  plugins/gp-per-hour
Labels: plugin change

#7314 update chatbox-scroll-to-zoom
  plugins/chatbox-scroll-to-zoom
Labels: plugin change

#7318 Update resource-packs
  plugins/resource-packs
Labels: plugin change

#7268 Create YouMissedThatOne
  plugins/you-missed-that-one
Labels: plugin added

#7315 Update Creator's Kit to v1.5.15
  plugins/creators-kit
Labels: plugin change

#7316 Update log-master
  plugins/log-master
Labels: plugin change

#7319 Update reword-manager to 1.5.0
  plugins/reword-manager
Labels: plugin change

#7322 Update Creator's Kit to v1.5.16
  plugins/creators-kit
Labels: plugin change

#7324 Update clue-details to 2.2.1
  plugins/clue-details
Labels: plugin change
