Repository runelite/plugin-hub, pull requests merged in 2025-10, with the labels that each got.

#9178 ToB QoL - v1.3.4
  plugins/tobqol
Labels: plugin change, size-s

#9180 Update monsterstats
  plugins/monsterstats
Labels: plugin change, size-xl

#9175 update brimhaven-agility
  plugins/brimhaven-agility
Labels: plugin change, size-m

#9191 [hotfix] update collection-log-master to 1.2.2
  plugins/collection-log-master
Labels: plugin change, size-xl

#9192 Update spec-regen-timer
  plugins/spec-regen-timer
Labels: plugin change, size-m

#9194 Update resource-packs to v1.7.7
  plugins/resource-packs
Labels: plugin change, size-s

#9198 fix(README.md): fix grammatical error
  README.md
Labels: package change, size-0

#9200 Update time-played
  plugins/time-played
Labels: plugin change, size-xs

#9169 Update maxhitplugin to 4.0.1
  plugins/maxhitplugin
Labels: plugin change, size-s

#9125 Update escape-crystal-notify (v1.13)
  plugins/escape-crystal-notify
Labels: plugin change, size-m

#9181 Update Totem Fletching to v1.2.0
  plugins/totem-fletching
Labels: plugin change

#9209 Update Totem-Fletching to v1.2.1
  plugins/totem-fletching
Labels: plugin change, size-xs

#8983 add wine-of-zamorak-helper-plugin
  plugins/wine-of-zamorak-helper
Labels: plugin added
